stateless_agent_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-start",
        "options": {}
      },
      "id": "start-webhook",
      "name": "Webhook - Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "options": {}
      },
      "id": "answer-webhook",
      "name": "Webhook - Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\nreturn { sessionId: data.sessionId, email: data.email };"
      },
      "id": "init-start",
      "name": "Init Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $node[\"Init Start\"].json.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "fetch-data-start",
      "name": "Fetch Session Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a Technical Recruiter Agent. \nTask: Generate the FIRST surgical technical question for this candidate based on their profile.\nReturn ONLY the question text in JSON format: { \"question\": \"...\" }"
        }
      },
      "id": "agent-start",
      "name": "AI Agent - Start",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile"
      },
      "id": "groq-model-1",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        650,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"AI Agent - Start\"].json.output }}",
        "options": {}
      },
      "id": "respond-start",
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $input.first().json.body.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        600
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an Expert Technical Interviewer.\nRules:\n1. Review the candidate's latest answer: {{ $node[\"Webhook - Answer\"].json.body.answer }}\n2. If less than 5 questions have been asked, provide the NEXT challenging technical question.\n3. If 5 questions are completed, provide a final summary with a SCORE (0-100) and RESULT (PASS/FAIL).\n\nOutput Format (JSON ONLY):\n{\n  \"nextQuestion\": \"...\",\n  \"feedback\": \"...\",\n  \"isFinal\": false,\n  \"score\": 0,\n  \"result\": \"\"\n}"
        }
      },
      "id": "agent-answer",
      "name": "AI Agent - Answer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile"
      },
      "id": "groq-model-2",
      "name": "Groq Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        500,
        750
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"AI Agent - Answer\"].json.output }}",
        "options": {}
      },
      "id": "respond-answer",
      "name": "Respond Answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        600
      ]
    }
  ],
  "connections": {
    "Webhook - Start": {
      "main": [
        [
          {
            "node": "Init Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Start": {
      "main": [
        [
          {
            "node": "Fetch Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Session Data": {
      "main": [
        [
          {
            "node": "AI Agent - Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Start": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Start",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Answer": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "AI Agent - Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Answer": {
      "main": [
        [
          {
            "node": "Respond Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
