stateless_agent_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-start",
        "options": {}
      },
      "id": "start-webhook",
      "name": "Webhook - Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "options": {}
      },
      "id": "answer-webhook",
      "name": "Webhook - Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\nreturn { sessionId: data.sessionId, email: data.email };"
      },
      "id": "init-start",
      "name": "Init Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $node[\"Init Start\"].json.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "fetch-data-start",
      "name": "Fetch Session Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a Technical Recruiter Agent. \nTask: Generate the FIRST surgical technical question for this candidate based on their profile.\nReturn ONLY the question text in JSON format: { \"question\": \"...\" }"
        }
      },
      "id": "agent-start",
      "name": "AI Agent - Start",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile"
      },
      "id": "groq-model-1",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        650,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"AI Agent - Start\"].json.output }}",
        "options": {}
      },
      "id": "respond-start",
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $input.first().json.body.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        600
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an Expert Technical Interviewer. \n\nINTERVIEW CONTEXT:\n- Target Role: {{ $('CFG - Workflow configuration2').first().json.config.requisition_title }}\n- Job Requirements (JD): {{ $('CFG - Workflow configuration2').first().json.config.requisition_requirements }}\n- Candidate CV: {{ $('Fetch History').first().json.cv_plaintext }}\n- Candidate's Latest Answer: {{ $('Webhook - Answer').first().json.body.answer }}\n\nGOAL: Conduct a rigorous technical assessment. \nYou must balance your questions between:\n1. CV Verification: Drill down into specific projects and skills mentioned in the CV.\n2. JD Alignment: Test if the candidate has the mandatory skills required for the role (e.g. .NET 8/9, C#, React as per JD).\n\nSTRICT RULES:\n1. NO REPETITIVE GREETINGS. No \"Hello\" or \"Great job\". Dive straight into the next technical question.\n2. If the candidate fails 3 consecutive technical questions, set isFinal to true and result to FAIL.\n\nOUTPUT FORMAT (JSON ONLY):\nReturn a JSON object with these exact keys:\nnextQuestion: (Your next technical question text)\nfeedback: (Internal reasoning)\nisFinal: (boolean, true if test ends)\nscore: (number 0-100)\nresult: (string \"PASS\", \"FAIL\", or null)"
        }
      },
      "id": "agent-answer",
      "name": "AI Agent - Answer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile"
      },
      "id": "groq-model-2",
      "name": "Groq Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        500,
        750
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"AI Agent - Answer\"].json.output }}",
        "options": {}
      },
      "id": "respond-answer",
      "name": "Respond Answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        600
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_questions?session_id=eq.{{ $('Webhook - Answer').first().json.body.sessionId }}&phase=eq.{{ $('Webhook - Answer').first().json.body.phase }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ answer_text: $('Webhook - Answer').first().json.body.answer, received_at: new Date().toISOString() }) }}"
      },
      "id": "update-answer-db",
      "name": "Update Answer in DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_questions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $('Webhook - Answer').first().json.body.sessionId, phase: $('Webhook - Answer').first().json.body.phase + 1, question_text: $('AI Agent - Answer').first().json.output.nextQuestion || $('AI Agent - Answer').first().json.output.question || '', sent_at: new Date().toISOString() }) }}"
      },
      "id": "insert-question-db",
      "name": "Insert Next Question in DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        750
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $('Webhook - Answer').first().json.body.sessionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'completed', score: $('AI Agent - Answer').first().json.output.score || 0, result: $('AI Agent - Answer').first().json.output.result || 'FAIL', updated_at: new Date().toISOString() }) }}"
      },
      "id": "update-session-db",
      "name": "Update Session in DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('AI Agent - Answer').first().json.output.isFinal === true || $('AI Agent - Answer').first().json.output.result !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-if-final",
      "name": "If Final Phase",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        950
      ]
    }
  ],
  "connections": {
    "Webhook - Start": {
      "main": [
        [
          {
            "node": "Init Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Start": {
      "main": [
        [
          {
            "node": "Fetch Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Session Data": {
      "main": [
        [
          {
            "node": "AI Agent - Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Start": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Start",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Answer": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "AI Agent - Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Answer": {
      "main": [
        [
          {
            "node": "Respond Answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Answer in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Answer in DB": {
      "main": [
        [
          {
            "node": "If Final Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Final Phase": {
      "main": [
        [
          {
            "node": "Update Session in DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Next Question in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}