Talent Acquisition — Live Speech.json
{
  "name": "Talent Acquisition — Live Speech",
  "nodes": [
    {
      "parameters": {
        "content": "## Live Speech — START\nPortal / relay calls **POST /webhook/talent/live-speech-start** with `session_id` + `email`.\nReturns Gemini Live system prompt + session context.\n\nSet **live_relay_url** in CFG to your WebSocket relay.",
        "height": 200,
        "width": 420
      },
      "id": "ls-note-start",
      "name": "NOTE - Live Speech Start",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Live Speech — COMPLETE\nRelay posts **POST /webhook/talent/live-speech-complete** with `turns[]`, scores, optional `session_audio_url`.\nPATCHes session → result mail if PASS/FAIL.\n\n**Connect:** Disable old per-phase speech branch in Assessment workflow when using live mode.",
        "height": 220,
        "width": 440
      },
      "id": "ls-note-complete",
      "name": "NOTE - Live Speech Complete",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/live-speech-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ls-trg-start",
      "name": "TRG - Live Speech Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "webhookId": "live-speech-start-webhook-01"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/live-speech-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ls-trg-complete",
      "name": "TRG - Live Speech Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        680
      ],
      "webhookId": "live-speech-complete-webhook-01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ls-cfg-1",
              "name": "supabase_url",
              "value": "https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "ls-cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "ls-cfg-3",
              "name": "gemini_live_model",
              "value": "gemini-2.0-flash-live-001",
              "type": "string"
            },
            {
              "id": "ls-cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "ls-cfg-5",
              "name": "live_speech_turns",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-6",
              "name": "speech_phases",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-7",
              "name": "technical_weight",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "ls-cfg-8",
              "name": "speech_weight",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "ls-cfg-9",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "ls-cfg-10",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "ls-cfg-11",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "ls-cfg-12",
              "name": "interviewer_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ls-cfg-13",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            },
            {
              "id": "ls-cfg-14",
              "name": "n8n_public_url",
              "value": "https://randy-gaunt-bradley.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "ls-cfg-15",
              "name": "live_relay_url",
              "value": "wss://YOUR-LIVE-RELAY.example.com/live",
              "type": "string"
            },
            {
              "id": "ls-cfg-16",
              "name": "live_complete_webhook",
              "value": "={{ $json.n8n_public_url }}/webhook/talent/live-speech-complete",
              "type": "string"
            },
            {
              "id": "ls-cfg-17",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ls-cfg-start",
      "name": "CFG - Live Speech Config (start)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ls-cfg-1",
              "name": "supabase_url",
              "value": "https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "ls-cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "ls-cfg-3",
              "name": "gemini_live_model",
              "value": "gemini-2.0-flash-live-001",
              "type": "string"
            },
            {
              "id": "ls-cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "ls-cfg-5",
              "name": "live_speech_turns",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-6",
              "name": "speech_phases",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-7",
              "name": "technical_weight",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "ls-cfg-8",
              "name": "speech_weight",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "ls-cfg-9",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "ls-cfg-10",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "ls-cfg-11",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "ls-cfg-12",
              "name": "interviewer_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ls-cfg-13",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            },
            {
              "id": "ls-cfg-14",
              "name": "n8n_public_url",
              "value": "https://randy-gaunt-bradley.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "ls-cfg-15",
              "name": "live_relay_url",
              "value": "wss://YOUR-LIVE-RELAY.example.com/live",
              "type": "string"
            },
            {
              "id": "ls-cfg-16",
              "name": "live_complete_webhook",
              "value": "={{ $json.n8n_public_url }}/webhook/talent/live-speech-complete",
              "type": "string"
            },
            {
              "id": "ls-cfg-17",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ls-cfg-complete",
      "name": "CFG - Live Speech Config (complete)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Normalize Live Speech Start\n// After: TRG - Live Speech Start → CFG - Live Speech Config\n\nfunction safeEnv(name) {\n  try {\n    return String($env[name] || '').trim();\n  } catch (_) {\n    return '';\n  }\n}\n\nconst item = $input.first().json;\nconst body = item.body || item || {};\nconst cfg = {\n  ...(typeof item.config === 'object' && item.config ? item.config : {}),\n  ...item,\n};\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(\n  body.session_id || body.sessionId || body.session_db_id || ''\n).trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email);\n\nif (!session_id) throw new Error('live-speech-start: session_id required');\nif (!candidate_email) throw new Error('live-speech-start: email required');\n\nreturn [\n  {\n    json: {\n      flow: 'live_speech_start',\n      session_id,\n      candidate_email,\n      assessment_mode: 'live_speech',\n      config: {\n        supabase_url: String(\n          cfg.supabase_url || safeEnv('SUPABASE_URL') || ''\n        ).trim(),\n        supabase_key: String(\n          cfg.supabase_key ||\n            safeEnv('SUPABASE_SERVICE_ROLE_KEY') ||\n            safeEnv('SUPABASE_KEY') ||\n            ''\n        ).trim(),\n        max_questions: Number(cfg.max_questions ?? 5),\n        speech_phases: Number(cfg.live_speech_turns ?? cfg.speech_phases ?? 5),\n        speech_answer_seconds: Number(cfg.speech_answer_seconds ?? 120),\n        technical_weight: Number(cfg.technical_weight ?? 0.7),\n        speech_weight: Number(cfg.speech_weight ?? 0.3),\n        pass_score_threshold: Number(cfg.pass_score_threshold ?? 60),\n        fail_score_threshold: Number(cfg.fail_score_threshold ?? 30),\n        organization_name: String(cfg.organization_name || 'CONVO'),\n        portal_base_url: String(cfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\n        n8n_public_url: String(cfg.n8n_public_url || '').replace(/\\/+$/, ''),\n        live_relay_url: String(cfg.live_relay_url || ''),\n        live_complete_webhook: String(\n          cfg.live_complete_webhook ||\n            (cfg.n8n_public_url\n              ? `${String(cfg.n8n_public_url).replace(/\\/+$/, '')}/webhook/talent/live-speech-complete`\n              : '')\n        ),\n        gemini_live_model: String(\n          cfg.gemini_live_model || 'gemini-2.0-flash-live-001'\n        ),\n        table_assessment_sessions: String(cfg.table_assessment_sessions || 'assessment_sessions'),\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-norm-start",
      "name": "CODE - Normalize Live Speech Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Normalize Live Speech Complete\n// After: TRG - Live Speech Complete → CFG - Live Speech Config\n\nconst item = $input.first().json;\nconst body = item.body || item || {};\nconst cfg = item.config || item;\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(\n  body.session_id || body.sessionId || body.session_db_id || ''\n).trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email);\nconst turns = Array.isArray(body.turns) ? body.turns : [];\nconst partial = body.partial === true;\n\nif (!session_id) throw new Error('live-speech-complete: session_id required');\nif (!candidate_email) throw new Error('live-speech-complete: email required');\nif (!turns.length) throw new Error('live-speech-complete: turns[] required');\n\nreturn [\n  {\n    json: {\n      flow: partial ? 'live_speech_turn' : 'live_speech_complete',\n      partial,\n      session_id,\n      candidate_email,\n      assessment_mode: 'live_speech',\n      turns,\n      combined_speech_score:\n        body.combined_speech_score != null ? Number(body.combined_speech_score) : null,\n      session_audio_url: String(body.session_audio_url || body.audio_url || '').trim(),\n      duration_seconds: Number(body.duration_seconds || 0),\n      final_feedback: String(body.final_feedback || body.feedback || '').trim(),\n      live_session_summary: String(body.live_session_summary || '').trim(),\n      tab_switches: Number(body.tab_switches ?? body.tabSwitches ?? 0),\n      config: {\n        supabase_url: String(cfg.supabase_url || '').trim(),\n        supabase_key: String(cfg.supabase_key || '').trim(),\n        max_questions: Number(cfg.max_questions ?? 5),\n        speech_phases: Number(cfg.live_speech_turns ?? cfg.speech_phases ?? 5),\n        technical_weight: Number(cfg.technical_weight ?? 0.7),\n        speech_weight: Number(cfg.speech_weight ?? 0.3),\n        pass_score_threshold: Number(cfg.pass_score_threshold ?? 60),\n        fail_score_threshold: Number(cfg.fail_score_threshold ?? 30),\n        organization_name: String(cfg.organization_name || 'CONVO'),\n        portal_base_url: String(cfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\n        interviewer_email: String(cfg.interviewer_email || ''),\n        table_assessment_sessions: String(cfg.table_assessment_sessions || 'assessment_sessions'),\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-norm-complete",
      "name": "CODE - Normalize Live Speech Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        680
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.config.supabase_url }}/rest/v1/{{ $json.config.table_assessment_sessions || 'assessment_sessions' }}?id=eq.{{ encodeURIComponent($json.session_id) }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.config.supabase_key }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ls-fetch-start",
      "name": "HTTP - Fetch Session Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_url }}/rest/v1/{{ $('CODE - Normalize Live Speech Complete').first().json.config.table_assessment_sessions || 'assessment_sessions' }}?id=eq.{{ encodeURIComponent($('CODE - Normalize Live Speech Complete').first().json.session_id) }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_key }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ls-fetch-complete",
      "name": "HTTP - Fetch Session Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        680
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build Live Speech Relay Context\n// After: HTTP - Fetch Session (start branch)\n// Returns system instructions + session context for Gemini Live relay server.\n\nfunction parseJson(raw, fallback) {\n  if (raw == null) return fallback;\n  if (typeof raw === 'object') return raw;\n  try {\n    return JSON.parse(raw);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction safeEnv(name) {\n  try {\n    return String($env[name] || '').trim();\n  } catch (_) {\n    return '';\n  }\n}\n\nconst norm = $('CODE - Normalize Live Speech Start').first().json;\nconst cfg = norm.config || {};\nconst fetchRaw = $input.first().json;\nconst session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\nif (!session?.id) throw new Error('Session not found for live speech start');\n\nconst sessCfg = { ...parseJson(session.config, {}), ...cfg };\nconst screening = parseJson(session.screening, {});\nconst jdTitle = String(\n  sessCfg.requisition_title || screening.requisition_title || 'Open role'\n).trim();\nconst jdReq = String(\n  sessCfg.requisition_requirements || screening.requisition_requirements || ''\n).trim();\nconst cvText = String(session.cv_plaintext || screening.cv_plaintext || '').slice(0, 12000);\nconst maxQ = Number(sessCfg.max_questions || cfg.max_questions || 5);\nconst speechTurns = Number(cfg.speech_phases || sessCfg.speech_phases || 5);\n\nconst systemInstruction = `You are a professional English voice interviewer for ${jdTitle} at ${cfg.organization_name || 'CONVO'}.\n\nLANGUAGE (critical):\n- Speak ONLY in clear professional English.\n- The candidate MUST answer in English. Transcription is configured for English (en-US) only.\n- If the candidate speaks in Urdu, Hindi, Arabic, or any other language, politely say: \"Please continue in English.\"\n- Do NOT transcribe or accept non-English candidate speech as a valid answer.\n- Never output internal notes, markdown, headings, bullet reasoning, partial words, or meta commentary. Speak only complete, polished interview sentences.\n\nTURN-TAKING (critical — this is a strict push-to-talk interview):\n- This is NOT a free-flowing chat. The candidate uses a button to speak; you only hear them during their turn.\n- YOU speak first. Greet in ONE short sentence, then ask question 1.\n- Ask exactly ONE question, then STOP talking completely and wait. Do not add filler, do not keep talking, do not repeat the question.\n- After the candidate's turn ends, briefly acknowledge in at most a few words (optional), then ask the next single question.\n- Keep every question to 1-2 sentences. Be concise and clear.\n\nSESSION FLOW (critical):\n- Ask exactly ${speechTurns} questions total, one at a time, in order.\n- Questions 1 through ${speechTurns - 1}: after each answer, ask the NEXT numbered question only. Never thank or close early.\n- ONLY after the candidate finishes answering question ${speechTurns} (the last question) may you thank them in one sentence and say the voice interview is complete. Then stop speaking.\n- Until question ${speechTurns} is asked AND answered, never say the interview is complete, never say goodbye, and never say \"we will be in touch\".\n- Do NOT ask a question beyond number ${speechTurns}. Do NOT continue chatting after the closing thank-you.\n\nSCORING (internal only — never say scores aloud):\n- After each answer, mentally score 0-100 on relevance, clarity, confidence, professionalism.\n\nQUESTION STYLE:\n- Conceptual, scenario, and behavioural questions relevant to the role. Avoid yes/no questions.\n- Spread across these themes (one per question): communication under pressure, motivation for this role, collaboration and teamwork, handling setbacks or conflict, growth mindset and self-reflection.\n\nJOB CONTEXT:\n${jdReq.slice(0, 4000)}\n\nCANDIDATE CV (reference silently — never say \"on your CV\"):\n${cvText.slice(0, 6000) || '(limited CV context)'}`;\n\nconst kickoffPrompt = `Begin the interview now in English. In the SAME single response: greet the candidate in one short sentence, then immediately ask question 1 of ${speechTurns} for the ${jdTitle} role. Ask only that one question, then stop talking and wait for the candidate. Do not number the question aloud and do not say anything after it.`;\n\nconst completeWebhook = String(\n  cfg.live_complete_webhook ||\n    (cfg.n8n_public_url\n      ? `${String(cfg.n8n_public_url).replace(/\\/+$/, '')}/webhook/talent/live-speech-complete`\n      : '')\n).trim();\nconst relayUrl = String(cfg.live_relay_url || sessCfg.live_relay_url || '').trim();\nconst supabaseUrl = String(\n  cfg.supabase_url ||\n    sessCfg.supabase_url ||\n    safeEnv('SUPABASE_URL') ||\n    ''\n).trim();\nconst supabaseKey = String(\n  cfg.supabase_key ||\n    sessCfg.supabase_key ||\n    safeEnv('SUPABASE_SERVICE_ROLE_KEY') ||\n    safeEnv('SUPABASE_KEY') ||\n    ''\n).trim();\nconst portalBase = String(\n  cfg.portal_base_url || sessCfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'\n).replace(/\\/+$/, '');\n\nreturn [\n  {\n    json: {\n      ok: true,\n      flow: 'live_speech_start',\n      session_id: session.id,\n      candidate_email: norm.candidate_email || session.candidate_email,\n      assessment_mode: 'live_speech',\n      max_questions: maxQ,\n            speech_phases: speechTurns,\n      speech_answer_seconds: Number(cfg.speech_answer_seconds || sessCfg.speech_answer_seconds || 120),\n      current_phase: Number(session.current_phase || maxQ + 1),\n      requisition_title: jdTitle,\n      system_instruction: systemInstruction,\n      kickoff_prompt: kickoffPrompt,\n      gemini_live_model: String(\n        cfg.gemini_live_model || 'gemini-2.0-flash-live-001'\n      ),\n      live_relay_url: relayUrl,\n      live_complete_webhook: completeWebhook,\n      portal_base_url: portalBase,\n      live_save_url: `${portalBase}/api/live-speech-save`,\n      // Supabase creds at top-level so the relay can save directly without n8n.\n      supabase_url: supabaseUrl,\n      supabase_key: supabaseKey,\n      config: {\n        ...sessCfg,\n        supabase_url: supabaseUrl,\n        supabase_key: supabaseKey,\n        portal_base_url: portalBase,\n        n8n_public_url: String(cfg.n8n_public_url || sessCfg.n8n_public_url || '').replace(/\\/+$/, ''),\n        live_complete_webhook: completeWebhook,\n      },\n      n8n_public_url: String(cfg.n8n_public_url || '').replace(/\\/+$/, ''),\n      session,\n    },\n  },\n];\n"
      },
      "id": "ls-relay-ctx",
      "name": "CODE - Build Live Speech Relay Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse Live Speech Result\n// WORKFLOW: Talent Acquisition — Live Speech ONLY\n// NODE: CODE - Parse Live Speech Result (after HTTP - Fetch Session Complete)\n// DO NOT paste into Assessment workflow \"CODE - Build LLM context\" — use n8n_code_build_llm_context.js there.\n\nfunction parseJson(raw, fallback) {\n  if (raw == null) return fallback;\n  if (typeof raw === 'object') return raw;\n  try {\n    return JSON.parse(raw);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction pickNodeJson(name) {\n  try {\n    const raw = $(name).first().json;\n    if (raw && typeof raw === 'object') return raw;\n  } catch (_) {}\n  return null;\n}\n\nfunction cleanEmail(raw) {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n}\n\nfunction buildConfig(cfg) {\n  const c = cfg || {};\n  return {\n    supabase_url: String(c.supabase_url || '').trim(),\n    supabase_key: String(c.supabase_key || '').trim(),\n    max_questions: Number(c.max_questions ?? 5),\n    speech_phases: Number(c.live_speech_turns ?? c.speech_phases ?? 5),\n    technical_weight: Number(c.technical_weight ?? 0.7),\n    speech_weight: Number(c.speech_weight ?? 0.3),\n    pass_score_threshold: Number(c.pass_score_threshold ?? 60),\n    fail_score_threshold: Number(c.fail_score_threshold ?? 30),\n    organization_name: String(c.organization_name || 'CONVO'),\n    portal_base_url: String(c.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\n    interviewer_email: String(c.interviewer_email || ''),\n    table_assessment_sessions: String(c.table_assessment_sessions || 'assessment_sessions'),\n  };\n}\n\nfunction resolveLiveSpeechNorm() {\n  const normalized = pickNodeJson('CODE - Normalize Live Speech Complete');\n  if (normalized?.session_id && Array.isArray(normalized.turns) && normalized.turns.length) {\n    return normalized;\n  }\n\n  const triggerRaw = pickNodeJson('TRG - Live Speech Complete');\n  const cfgNode = pickNodeJson('CFG - Live Speech Config (complete)');\n  const body = triggerRaw?.body || triggerRaw || {};\n  const cfg = buildConfig(normalized?.config || cfgNode?.config || cfgNode);\n\n  const session_id = String(\n    body.session_id || body.sessionId || body.session_db_id || normalized?.session_id || ''\n  ).trim();\n  const candidate_email = cleanEmail(\n    body.email || body.candidate_email || normalized?.candidate_email\n  );\n  const turns = Array.isArray(body.turns)\n    ? body.turns\n    : Array.isArray(normalized?.turns)\n      ? normalized.turns\n      : [];\n\n  if (!session_id) {\n    throw new Error(\n      'live-speech-complete: session_id required — run from TRG - Live Speech Complete (not assessment-answer webhook).'\n    );\n  }\n  if (!candidate_email) throw new Error('live-speech-complete: email required');\n  if (!turns.length) {\n    throw new Error(\n      'live-speech-complete: turns[] required — relay must POST scored Q&A pairs to this webhook.'\n    );\n  }\n\n  return {\n    flow: normalized?.partial ? 'live_speech_turn' : 'live_speech_complete',\n    partial: normalized?.partial === true || body.partial === true,\n    session_id,\n    candidate_email,\n    assessment_mode: 'live_speech',\n    turns,\n    combined_speech_score:\n      body.combined_speech_score != null\n        ? Number(body.combined_speech_score)\n        : normalized?.combined_speech_score ?? null,\n    session_audio_url: String(\n      body.session_audio_url || body.audio_url || normalized?.session_audio_url || ''\n    ).trim(),\n    duration_seconds: Number(body.duration_seconds || normalized?.duration_seconds || 0),\n    final_feedback: String(\n      body.final_feedback || body.feedback || normalized?.final_feedback || ''\n    ).trim(),\n    live_session_summary: String(\n      body.live_session_summary || normalized?.live_session_summary || ''\n    ).trim(),\n    tab_switches: Number(body.tab_switches ?? body.tabSwitches ?? normalized?.tab_switches ?? 0),\n    config: cfg,\n  };\n}\n\nfunction computeTechnicalAverage(rows, maxQ) {\n  const scores = rows\n    .filter((row) => {\n      const phase = Number(row.phase);\n      return phase >= 1 && phase <= maxQ && row.score != null;\n    })\n    .map((row) => Number(row.score))\n    .filter((n) => Number.isFinite(n));\n  if (!scores.length) return null;\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\n}\n\nfunction computeSpeechAverage(rows, maxQ, speechPhases) {\n  const scores = rows\n    .filter((row) => {\n      const phase = Number(row.phase);\n      return phase > maxQ && phase <= maxQ + speechPhases && row.score != null;\n    })\n    .map((row) => Number(row.score))\n    .filter((n) => Number.isFinite(n));\n  if (!scores.length) return null;\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\n}\n\nconst norm = resolveLiveSpeechNorm();\nconst cfg = norm.config || {};\nconst fetchRaw = $input.first().json;\nconst session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\nif (!session?.id) throw new Error('Session not found for live speech complete');\n\nconst sessionCfg = parseJson(session.config, {});\nconst sessCfg = { ...sessionCfg, ...cfg };\n// JD intake stores interviewer on session.config — do not let blank n8n CFG wipe it.\nconst sessionInterviewer = String(sessionCfg.interviewer_email || '').trim();\nif (sessionInterviewer) sessCfg.interviewer_email = sessionInterviewer;\nconst maxQ = Number(sessCfg.max_questions || cfg.max_questions || 5);\nconst speechPhases = Number(cfg.speech_phases || sessCfg.speech_phases || 5);\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\nconst techWeight = Number(cfg.technical_weight ?? 0.7);\nconst speechWeight = Number(cfg.speech_weight ?? 0.3);\nconst iso = new Date().toISOString();\n\nlet history = session.interview_history;\nhistory = parseJson(history, []);\nif (!Array.isArray(history)) history = [];\n\nconst turns = Array.isArray(norm.turns) ? norm.turns : [];\nfor (const turn of turns) {\n  const ph = Number(turn.phase);\n  if (!Number.isFinite(ph) || ph <= maxQ) continue;\n\n  const idx = history.findIndex((x) => Number(x.phase) === ph);\n  const existing = idx >= 0 ? history[idx] : {};\n\n  const incomingQ = String(turn.question_text || turn.question || '').trim();\n  const incomingA = String(turn.answer_text || turn.transcript || turn.answer || '').trim();\n  const hasNewScore = turn.score != null && Number.isFinite(Number(turn.score));\n  const score = hasNewScore\n    ? Math.max(0, Math.min(100, Math.round(Number(turn.score))))\n    : (existing.score ?? null);\n\n  const patch = {\n    phase: ph,\n    mode: 'live_speech',\n    voice_question_number:\n      Number(turn.voice_question_number || ph - maxQ) || existing.voice_question_number || null,\n    question_text: incomingQ || String(existing.question_text || existing.question || '').trim(),\n    answer_text: incomingA || String(existing.answer_text || '').trim(),\n    received_at: turn.received_at || existing.received_at || iso,\n    sent_at: turn.sent_at || existing.sent_at || iso,\n    feedback: turn.feedback || existing.feedback || null,\n    score,\n    soft_skills: turn.soft_skills || (hasNewScore\n      ? {\n          clarity: Math.round(Number(turn.clarity ?? turn.score ?? 0)),\n          confidence: Math.round(Number(turn.confidence ?? turn.score ?? 0)),\n          professionalism: Math.round(Number(turn.professionalism ?? turn.score ?? 0)),\n          relevance: Math.round(Number(turn.relevance ?? turn.score ?? 0)),\n        }\n      : (existing.soft_skills ?? null)),\n    speech_metrics: turn.speech_metrics || existing.speech_metrics || {},\n    answer_audio_url: turn.audio_url || norm.session_audio_url || existing.answer_audio_url || null,\n    stt_source: turn.stt_source || 'gemini_live',\n    scoring_source: turn.scoring_source || 'gemini_live',\n  };\n\n  if (idx >= 0) history[idx] = { ...existing, ...patch };\n  else history.push(patch);\n}\n\nconst b = String(cfg.supabase_url || sessCfg.supabase_url || '').replace(/\\/+$/, '');\nif (!b || !/^https?:\\/\\//i.test(b)) {\n  throw new Error(\n    'live-speech save: supabase_url missing/invalid. Set supabase_url in CFG - Live Speech Config (complete) (e.g. https://xxx.supabase.co) so voice turns persist.'\n  );\n}\nconst patchUrl = `${b}/rest/v1/${cfg.table_assessment_sessions || 'assessment_sessions'}?id=eq.${encodeURIComponent(String(session.id))}`;\n\n// Incremental save after each voice Q&A — do not finalize the session yet.\nif (norm.partial === true) {\n  const lastTurn = turns[turns.length - 1] || {};\n  const currentPhase = Number(lastTurn.phase || maxQ + 1);\n  const partialBody = {\n    interview_history: history,\n    updated_at: iso,\n    assessment_stage: 'live_speech',\n    current_phase: currentPhase,\n    status: 'assessment',\n  };\n\n  return [\n    {\n      json: {\n        partial: true,\n        ok: true,\n        isFinal: false,\n        session_id: session.id,\n        candidate_email: norm.candidate_email || session.candidate_email,\n        phase: currentPhase,\n        turns_saved: turns.length,\n        assessment_mode: 'live_speech',\n        config: sessCfg,\n        _session_patch_url: patchUrl,\n        _session_patch_body: partialBody,\n      },\n    },\n  ];\n}\n\nconst techAvg =\n  Number(session.technical_score) || computeTechnicalAverage(history, maxQ) || 0;\nlet speechAvg =\n  norm.combined_speech_score != null && Number.isFinite(Number(norm.combined_speech_score))\n    ? Math.round(Number(norm.combined_speech_score))\n    : computeSpeechAverage(history, maxQ, speechPhases);\n\nif (speechAvg == null) {\n  const turnScores = turns\n    .map((t) => Number(t.score))\n    .filter((n) => Number.isFinite(n));\n  speechAvg = turnScores.length\n    ? Math.round(turnScores.reduce((a, b) => a + b, 0) / turnScores.length)\n    : 0;\n}\n\nconst combinedScore = Math.round(techAvg * techWeight + speechAvg * speechWeight);\nconst finalResult = combinedScore >= passThreshold ? 'PASS' : 'FAIL';\nconst lastPhase = maxQ + speechPhases;\n\nconst finalFeedback = [\n  norm.final_feedback || norm.live_session_summary || '',\n  `Technical: ${techAvg}/100 | Live communication: ${speechAvg}/100 | Combined: ${combinedScore}/100 (pass ${passThreshold}).`,\n]\n  .filter(Boolean)\n  .join(' ');\n\nconst body = {\n  interview_history: history,\n  updated_at: iso,\n  assessment_stage: 'completed',\n  current_phase: lastPhase,\n  status: 'completed',\n  technical_score: techAvg,\n  speech_score: speechAvg,\n  score: combinedScore,\n  result: finalResult,\n  live_speech_audio_url: norm.session_audio_url || null,\n  live_speech_duration_seconds: norm.duration_seconds || null,\n  tab_switches: norm.tab_switches || 0,\n};\n\nconst lastTurn = turns[turns.length - 1] || {};\nconst phaseScore = Math.round(Number(lastTurn.score ?? speechAvg));\n\nreturn [\n  {\n    json: {\n      score: combinedScore,\n      phase_score: phaseScore,\n      soft_skills: lastTurn.soft_skills || null,\n      feedback: finalFeedback,\n      nextQuestion: '',\n      time_limit_seconds: null,\n      deadline_at: null,\n      complexity_tier: null,\n      isFinal: true,\n      assessment_mode: 'live_speech',\n      speech_phases: speechPhases,\n      result: finalResult,\n      average_score: combinedScore,\n      candidate_email: norm.candidate_email || session.candidate_email,\n      session_id: session.id,\n      current_phase: lastPhase,\n      config: sessCfg,\n      gmail_thread_id: session.gmail_thread_id || null,\n      gmail_message_id: session.gmail_message_id || null,\n      mail_subject: session.mail_subject || null,\n      _session_patch_url: patchUrl,\n      _session_patch_body: body,\n    },\n  },\n];\n"
      },
      "id": "ls-parse",
      "name": "CODE - Parse Live Speech Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Pick Parse Result (live speech)\nfunction pickParseJson() {\n  const names = [\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Technical Result',\n  ];\n  for (const name of names) {\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object' && raw.session_id) return raw;\n    } catch (_) {}\n  }\n  const inp = $input.first().json;\n  if (inp && inp.session_id) return inp;\n  throw new Error('No parse result found.');\n}\nreturn [{ json: pickParseJson() }];"
      },
      "id": "ls-pick",
      "name": "CODE - Pick Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        680
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $(\"CODE - Pick Parse Result\").first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $(\"CODE - Pick Parse Result\").first().json._session_patch_body }}",
        "options": {}
      },
      "id": "ls-patch",
      "name": "HTTP - SB PATCH session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  session_id: $json.session_id,\n  candidate_email: $json.candidate_email,\n  system_instruction: $json.system_instruction,\n  kickoff_prompt: $json.kickoff_prompt,\n  gemini_live_model: $json.gemini_live_model,\n  live_relay_url: $json.live_relay_url,\n  live_complete_webhook: $json.live_complete_webhook,\n  portal_base_url: $json.portal_base_url,\n  live_save_url: $json.live_save_url,\n  supabase_url: $json.supabase_url,\n  supabase_key: $json.supabase_key,\n  max_questions: $json.max_questions,\n  speech_phases: $json.speech_phases,\n  speech_answer_seconds: $json.speech_answer_seconds,\n  current_phase: $json.current_phase,\n  requisition_title: $json.requisition_title,\n  assessment_mode: \"live_speech\",\n  config: $json.config\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ls-respond-start",
      "name": "Respond - Live Speech Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $(\"CODE - Pick Parse Result\").first().json.score,\n  feedback: $(\"CODE - Pick Parse Result\").first().json.feedback,\n  isFinal: $(\"CODE - Pick Parse Result\").first().json.isFinal,\n  result: $(\"CODE - Pick Parse Result\").first().json.result || \"\",\n  assessment_mode: \"live_speech\",\n  speech_phases: $(\"CODE - Pick Parse Result\").first().json.speech_phases || 5\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ls-respond-complete",
      "name": "Respond - Live Speech Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $(\"CODE - Pick Parse Result\").first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ls-if-finished",
      "name": "IF - Assessment finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $(\"CODE - Pick Parse Result\").first().json.result }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ls-if-pass",
      "name": "IF - Result PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        680
      ]
    },
    {
      "parameters": {
        "content": "## PASS branch\nWire **IF - Result PASS? (true)** → `CODE - Prep scheduling from PASS` → interviewer mail.\nCandidate slot mail runs later via **POST /webhook/talent/scheduling-slots** — not here.",
        "height": 160,
        "width": 420
      },
      "id": "ls-note-pass",
      "name": "NOTE - PASS scheduling",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Prep scheduling from PASS\n// After IF PASS — loads session row for scheduling chain (interviewer mail first)\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction parseJson(raw, fallback) {\n  if (raw == null) return fallback;\n  if (typeof raw === 'object') return raw;\n  try {\n    return JSON.parse(raw);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction pickSessionRow() {\n  const built =\n    pickNodeJson(\n      'CODE - Build Live Speech Relay Context',\n      'CODE - Build Speech LLM context',\n      'CODE - Build Speech LLM context1',\n      'CODE - Build LLM context',\n      'CODE - Build LLM context1'\n    ) || {};\n  if (built.session?.id) return built.session;\n\n  const fetchRaw = pickNodeJson(\n    'HTTP - Fetch Session Complete',\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1'\n  );\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n  if (row?.id) return row;\n\n  return {};\n}\n\nconst parse =\n  pickNodeJson(\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Speech Result1',\n    'CODE - Parse Technical Result',\n    'CODE - Parse Technical Result1'\n  ) || $input.first().json || {};\nconst session = pickSessionRow();\nconst sessionCfg = parseJson(session.config, {});\nconst parseCfg = parseJson(parse.config, parse.config || {});\nconst cfg = { ...sessionCfg, ...parseCfg };\n\nconst interviewerEmail = String(\n  sessionCfg.interviewer_email ||\n    parseCfg.interviewer_email ||\n    parse.interviewer_email ||\n    cfg.interviewer_email ||\n    ''\n).trim();\n\nreturn [\n  {\n    json: {\n      ...parse,\n      ...session,\n      session_id: session.id || parse.session_id,\n      candidate_email: parse.candidate_email || session.candidate_email,\n      score: parse.score ?? session.score,\n      result: parse.result || session.result,\n      requisition_title:\n        cfg.requisition_title || session.requisition_title || parse.requisition_title,\n      interviewer_email: interviewerEmail,\n      config: { ...cfg, interviewer_email: interviewerEmail },\n      gmail_thread_id: session.gmail_thread_id,\n      gmail_message_id: session.gmail_message_id,\n      mail_subject: session.mail_subject,\n      interviewer_gmail_thread_id: session.interviewer_gmail_thread_id,\n      interviewer_gmail_message_id: session.interviewer_gmail_message_id,\n    },\n  },\n];\n"
      },
      "id": "ls-prep-sched",
      "name": "CODE - Prep scheduling from PASS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer mail context\n// Place BEFORE: MAIL - Interviewer pitch mail\n// Frontend scheduling: email link uses ?session=UUID (no n8n WAIT / resumeUrl)\n//\n// MAIL node settings:\n//   To:      {{ $json.interviewer_email }}\n//   Subject: {{ $json.mail_subject }}\n//   Message: {{ $json.mail_body_html }}  (HTML — no expression injection needed)\n\nfunction extractConfig(row) {\n  const out = {};\n  if (!row || typeof row !== 'object') return out;\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\n  for (const [k, v] of Object.entries(row)) {\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\n      out[k.slice(7)] = String(v).trim();\n    }\n  }\n  return out;\n}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction mergeConfig(...sources) {\n  const out = {};\n  for (const src of sources) {\n    if (!src || typeof src !== 'object') continue;\n    Object.assign(out, extractConfig(src));\n    if (src.config && typeof src.config === 'object') {\n      for (const [k, v] of Object.entries(src.config)) {\n        if (v != null && String(v).trim()) out[k] = String(v).trim();\n      }\n    }\n    for (const [k, v] of Object.entries(src)) {\n      if (k.startsWith('config.') && v != null && String(v).trim()) {\n        out[k.slice(7)] = String(v).trim();\n      }\n    }\n  }\n  return out;\n}\n\nfunction loadWorkflowConfig() {\n  const names = [\n    'CFG - Workflow configuration',\n    'CFG - Workflow configuration1',\n    'CFG - Workflow',\n    'CFG - Assessment Config',\n    'CFG - Assessment Config1',\n    'CFG - Live Speech Config (complete)',\n    'CFG - Live Speech Config (start)',\n    'CFG - Reply track (merge)',\n    'CODE - Normalize Data',\n    'CODE - Normalize Data1',\n    'CODE - Normalize Live Speech Complete',\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n  ];\n  const rows = names.map((n) => pickNodeJson(n)).filter(Boolean);\n  return mergeConfig(...rows);\n}\n\nfunction pickAssessmentContext() {\n  const input = $input.first().json || {};\n  const names = [\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CODE - Normalize Data',\n    'CODE - Normalize Data1',\n    'CODE - Normalize Live Speech Complete',\n    'HTTP - Fetch Session Complete',\n    'HTTP - SB PATCH session interview_history',\n    'HTTP - SB PATCH session interview_history1',\n    'CODE - Update interview_history',\n  ];\n  const rows = [input, ...names.map((n) => pickNodeJson(n)).filter(Boolean)];\n  let merged = {};\n  for (const row of rows) {\n    merged = { ...merged, ...row };\n    if (row.config && typeof row.config === 'object') {\n      merged = { ...merged, ...row.config };\n    }\n  }\n  return merged;\n}\n\nfunction nameFromEmail(email) {\n  const e = String(email || '').trim().toLowerCase();\n  if (!e) return 'Candidate';\n  const local = e.split('@')[0] || e;\n  return local\n    .replace(/[._-]+/g, ' ')\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\n    .trim() || e;\n}\n\nconst base = $input.first().json || {};\nconst ctx = pickAssessmentContext();\nconst cfg = {\n  ...loadWorkflowConfig(),\n  ...mergeConfig(base, ctx),\n};\n\nconst portalBase = String(\n  base.interviewer_portal_base ||\n    cfg.interviewer_portal_base ||\n    cfg.portal_base_url ||\n    'https://talent-acquisition-six.vercel.app'\n).replace(/\\/interviewer\\.html.*$/i, '').replace(/\\/+$/, '');\n\nconst interviewerPortal = portalBase + '/interviewer.html';\n\nconst candidateEmail = String(\n  base.candidate_email || ctx.candidate_email || cfg.candidate_email || ''\n).trim();\n\nconst candidateName = String(\n  base.candidate_name || ctx.candidate_name || nameFromEmail(candidateEmail)\n).trim();\n\nconst sessionId = String(\n  base.session_id || ctx.session_id || ctx.session_db_id || ctx.id || ''\n).trim();\n\nconst scoreRaw = base.score ?? ctx.score ?? ctx.average_score ?? ctx.phase_score;\nconst score = scoreRaw != null && scoreRaw !== '' ? scoreRaw : '—';\n\nconst role = String(\n  base.requisition_title ||\n    ctx.requisition_title ||\n    cfg.requisition_title ||\n    'Open role'\n).trim();\n\nconst interviewerEmail = String(\n  base.interviewer_email ||\n    ctx.interviewer_email ||\n    cfg.interviewer_email ||\n    base.config?.interviewer_email ||\n    ctx.config?.interviewer_email ||\n    ''\n).trim();\n\nif (!candidateEmail) {\n  throw new Error(\n    'candidate_email missing — check CODE - Parse Result / CODE - Prep scheduling from PASS output.'\n  );\n}\n\nif (!interviewerEmail) {\n  throw new Error(\n    'interviewer_email missing — set on the job (apply/admin) so it is stored in session.config.interviewer_email.'\n  );\n}\n\nif (interviewerEmail.toLowerCase() === candidateEmail.toLowerCase()) {\n  throw new Error(\n    'interviewer_email equals candidate_email — update the job interviewer in admin panel and session.config (old test value may be cached on this session row).'\n  );\n}\n\nif (!sessionId) {\n  throw new Error('session_id missing — required for frontend scheduling link.');\n}\n\nconst schedulingLink =\n  interviewerPortal + '?session=' + encodeURIComponent(sessionId);\n\n// Do not reuse session.mail_subject — that is the candidate thread subject (CV shortlist).\nconst mailSubject = `Schedule interview — ${candidateName} (${role})`;\n\nconst mailBody =\n  `Hello,\\n\\n` +\n  `Candidate: ${candidateName}\\n` +\n  `Email: ${candidateEmail}\\n` +\n  `Role: ${role}\\n` +\n  `Assessment score: ${score}/100 (PASSED)\\n\\n` +\n  `Please propose interview date/time options (45–60 minutes):\\n` +\n  `${schedulingLink}\\n\\n` +\n  `Session ID: ${sessionId}\\n\\n` +\n  `Thank you.`;\n\nconst esc = (s) =>\n  String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\nconst mailBodyHtml =\n  `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\n          <p>Hello,</p>\n          <p><strong>${esc(candidateName)}</strong> passed the technical assessment for <strong>${esc(role)}</strong>.</p>\n          <table style=\"width:100%;margin:16px 0;font-size:14px;color:#475569;\">\n            <tr><td style=\"padding:4px 0;\">Email</td><td style=\"padding:4px 0;\"><strong>${esc(candidateEmail)}</strong></td></tr>\n            <tr><td style=\"padding:4px 0;\">Score</td><td style=\"padding:4px 0;\"><strong>${esc(score)}/100</strong></td></tr>\n            <tr><td style=\"padding:4px 0;\">Session</td><td style=\"padding:4px 0;\"><strong>${esc(sessionId)}</strong></td></tr>\n          </table>\n          <p>Please propose interview slots (45–60 minutes):</p>\n          <p style=\"text-align:center;margin:28px 0;\">\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Propose interview slots</a>\n          </p>\n          <p>Thank you.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nconst sb = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\nconst nowIso = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      ...base,\n      ...ctx,\n      config: cfg,\n      candidate_email: candidateEmail,\n      candidate_name: candidateName,\n      requisition_title: role,\n      session_id: sessionId,\n      score,\n      interviewer_portal_base: interviewerPortal,\n      scheduling_link: schedulingLink,\n      interviewer_email: interviewerEmail,\n      mail_subject: mailSubject,\n      mail_body: mailBody,\n      mail_body_html: mailBodyHtml,\n      _scheduling_patch_url: sessionId\n        ? `${sb}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\n        : '',\n      _scheduling_patch_body: {\n        scheduling_status: 'pending_interviewer',\n        scheduling_updated_at: nowIso,\n        updated_at: nowIso,\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-interviewer-ctx",
      "name": "CODE - Build interviewer mail context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        680
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.interviewer_email }}",
        "subject": "={{ $json.mail_subject }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "ls-interviewer-mail",
      "name": "MAIL - Interviewer pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        680
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickContext() {\n  const names = [\n    'CODE - Build interviewer mail context',\n    'CODE - Build interviewer mail context1',\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CFG - Live Speech Config (complete)',\n    'CFG - Assessment Config',\n    'CFG - Assessment Config1',\n    'HTTP - Fetch Session Complete',\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1',\n  ];\n  let merged = { ...($input.first().json || {}) };\n  for (const name of names) {\n    try {\n      const row = $(name).first().json;\n      if (row && typeof row === 'object') {\n        merged = { ...merged, ...row };\n        if (row.config && typeof row.config === 'object') {\n          merged.config = { ...(merged.config || {}), ...row.config };\n        }\n      }\n    } catch (_) {}\n  }\n  return merged;\n}\n\nfunction resolveGmailPayload(input, ...mailNodeNames) {\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\n    return input;\n  }\n  for (const name of mailNodeNames) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\n    } catch (_) {}\n  }\n  return input || {};\n}\n\nconst gmail = resolveGmailPayload(\n  $input.first().json,\n  'MAIL - Interviewer pitch mail',\n  'MAIL - Interviewer pitch mail1',\n  'MAIL - Notify interviewer',\n  'MAIL - Notify interviewer1'\n);\nconst ctx = pickContext();\nconst built = pickNodeJson(\n  'CODE - Build interviewer mail context',\n  'CODE - Build interviewer mail context1'\n);\nconst cfg = { ...(ctx.config || {}), ...(built?.config || {}) };\n\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\nconst sessionId = String(\n  ctx.session_id || ctx.session_db_id || ctx.id || built?.session_id || ''\n).trim();\nconst mailSubject = String(\n  built?.mail_subject || ctx.interviewer_mail_subject || ''\n).trim();\n\nconst patchReady = Boolean(sessionId && threadId && msgId);\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\n\nif (!patchReady) {\n  throw new Error(\n    [\n      'interviewer gmail PATCH not ready',\n      !sessionId ? 'missing session_id' : null,\n      !threadId ? 'missing gmail threadId from MAIL output' : null,\n      !msgId ? 'missing gmail message id from MAIL output' : null,\n    ]\n      .filter(Boolean)\n      .join('; ')\n  );\n}\n\nif (!b || !/^https?:\\/\\//i.test(b)) {\n  throw new Error('supabase_url missing in config — set in CFG node.');\n}\n\nreturn [\n  {\n    json: {\n      ...ctx,\n      session_id: sessionId,\n      interviewer_gmail_thread_id: threadId,\n      interviewer_gmail_message_id: msgId,\n      interviewer_mail_subject: mailSubject || null,\n      _interviewer_patch_skipped: false,\n      _interviewer_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\n      _interviewer_patch_body: {\n        interviewer_gmail_thread_id: threadId,\n        interviewer_gmail_message_id: msgId,\n        interviewer_mail_subject: mailSubject || undefined,\n        updated_at: new Date().toISOString(),\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-interviewer-merge",
      "name": "CODE - Merge Gmail interviewer send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        680
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "ls-interviewer-patch",
      "name": "HTTP - PATCH interviewer thread (pitch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._scheduling_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._scheduling_patch_body }}",
        "options": {}
      },
      "id": "ls-scheduling-patch",
      "name": "HTTP - PATCH scheduling pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        820
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build assessment result mail (PASS/FAIL — thread reply)\n// Place AFTER: IF - Assessment finished? (true branch)\n// Place BEFORE: MAIL - Reply candidate (assessment result)\n//\n// Gmail node settings:\n//   Resource:   thread\n//   Operation:  reply\n//   Thread ID:  {{ $json.gmail_thread_id }}\n//   Message ID: {{ $json.gmail_message_id }}\n//   Email Type: HTML\n//   Message:    {{ $json.mail_body_html }}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickSessionRow() {\n  const built =\n    pickNodeJson(\n      'CODE - Build Live Speech Relay Context',\n      'CODE - Build Speech LLM context',\n      'CODE - Build Speech LLM context1',\n      'CODE - Build LLM context',\n      'CODE - Build LLM context1'\n    ) || {};\n  if (built.session?.id) return built.session;\n\n  const fetchRaw = pickNodeJson(\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1',\n    'HTTP - SB PATCH session interview_history',\n    'HTTP - SB PATCH session interview_history1'\n  );\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n  if (row?.id) return row;\n\n  return {};\n}\n\nconst parse =\n  pickNodeJson(\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Speech Result1',\n    'CODE - Parse Technical Result',\n    'CODE - Parse Technical Result1'\n  ) || $input.first().json || {};\n\nconst session = pickSessionRow();\nconst cfg = parse.config || session.config || {};\n\nconst threadId = String(\n  parse.gmail_thread_id || session.gmail_thread_id || ''\n).trim();\nconst msgId = String(\n  parse.gmail_message_id || session.gmail_message_id || ''\n).trim();\n\nif (!threadId || threadId.startsWith('draft-')) {\n  const sid = parse.session_id || session.id || 'unknown';\n  throw new Error(\n    'gmail_thread_id missing on session ' +\n      sid +\n      ' — CV screening shortlist mail must PATCH gmail_thread_id to assessment_sessions. ' +\n      'Check Supabase row, run supabase_gmail_thread_columns.sql, and verify CV Screening workflow: ' +\n      'MAIL - Email outreach agent (shortlist) → HTTP - SB PATCH session gmail thread.'\n  );\n}\nif (!msgId) {\n  throw new Error(\n    'gmail_message_id missing on session — re-run shortlist flow or set from first mail.'\n  );\n}\n\nconst result = String(parse.result || 'FAIL').toUpperCase();\nconst passed = result === 'PASS';\nconst score = parse.score ?? parse.average_score ?? '—';\nconst role = String(cfg.requisition_title || 'the role');\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\nconst feedback = String(parse.feedback || '').trim();\nconst sessionId = String(parse.session_id || session.id || '');\n\n// PASS: do not email the candidate here — interviewer pitch runs first; candidate gets\n// slot options only after POST /webhook/talent/scheduling-slots (Build candidate slot mail).\nif (passed) {\n  return [\n    {\n      json: {\n        ...parse,\n        session_id: sessionId,\n        skip_candidate_result_mail: true,\n        mail_stage: 'pass_deferred_to_scheduling',\n        result,\n        candidate_email: parse.candidate_email || session.candidate_email,\n        config: cfg,\n      },\n    },\n  ];\n}\n\nconst sectionTitle = 'Assessment Result';\nconst headline = `Thank you for completing the assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`;\n\nconst nextStep =\n  '<p>Unfortunately you did not meet the pass threshold for this role at this time.</p>';\n\nconst mailBodyHtml = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── ${sectionTitle} ──</p>\n          <p>Hi,</p>\n          <p>${headline}</p>\n          <p><strong>Overall score:</strong> ${score}/100 &nbsp;|&nbsp; <strong>Result:</strong> ${result}</p>\n          ${feedback ? `<p style=\"color:#475569;font-size:14px;\">${feedback.replace(/</g, '&lt;')}</p>` : ''}\n          ${nextStep}\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nreturn [\n  {\n    json: {\n      ...parse,\n      session_id: sessionId,\n      gmail_thread_id: threadId,\n      gmail_message_id: msgId,\n      mail_subject: session.mail_subject || parse.mail_subject || '',\n      mail_body_html: mailBodyHtml,\n      mail_stage: 'fail',\n      candidate_email: parse.candidate_email || session.candidate_email,\n      config: cfg,\n    },\n  },\n];\n"
      },
      "id": "ls-mail-build",
      "name": "CODE - Build assessment result mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        880
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "ls-mail-reply",
      "name": "MAIL - Reply candidate (assessment result)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        880
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "TRG - Live Speech Start": {
      "main": [
        [
          {
            "node": "CFG - Live Speech Config (start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Live Speech Complete": {
      "main": [
        [
          {
            "node": "CFG - Live Speech Config (complete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Live Speech Config (start)": {
      "main": [
        [
          {
            "node": "CODE - Normalize Live Speech Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Live Speech Config (complete)": {
      "main": [
        [
          {
            "node": "CODE - Normalize Live Speech Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Live Speech Start": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Live Speech Complete": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session Start": {
      "main": [
        [
          {
            "node": "CODE - Build Live Speech Relay Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session Complete": {
      "main": [
        [
          {
            "node": "CODE - Parse Live Speech Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build Live Speech Relay Context": {
      "main": [
        [
          {
            "node": "Respond - Live Speech Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Live Speech Result": {
      "main": [
        [
          {
            "node": "CODE - Pick Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Pick Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session": {
      "main": [
        [
          {
            "node": "Respond - Live Speech Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Assessment finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Assessment finished?": {
      "main": [
        [
          {
            "node": "IF - Result PASS?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Result PASS?": {
      "main": [
        [
          {
            "node": "CODE - Prep scheduling from PASS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Build assessment result mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prep scheduling from PASS": {
      "main": [
        [
          {
            "node": "CODE - Build interviewer mail context",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - PATCH scheduling pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer mail context": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Interviewer pitch mail": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail interviewer send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer send": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (pitch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build assessment result mail": {
      "main": [
        [
          {
            "node": "MAIL - Reply candidate (assessment result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}