Talent Acquisition — Assessment + Scheduling (Threaded Mail).json
{
  "name": "Talent Acquisition — Assessment + Scheduling (Threaded Mail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb3dedc4-9901-4f6b-a387-95abc039f554",
      "name": "TRG - Assessment Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1888
      ],
      "webhookId": "assessment-submit-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "supabase_url",
              "value": "https://your-project.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "supabase_key",
              "value": "your-supabase-service-role-key",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "interviewer_email",
              "value": "hussainalijaved712@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "a_groq",
              "name": "groq_model",
              "value": "llama-3.3-70b-versatile",
              "type": "string"
            },
            {
              "id": "a_fail",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "a_pass",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmin",
              "name": "timer_min_seconds",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmax",
              "name": "timer_max_seconds",
              "value": 600,
              "type": "number"
            },
            {
              "id": "a_tbl",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            },
            {
              "id": "cfg-cal",
              "name": "calendar_id",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "cfg-n8n",
              "name": "n8n_public_url",
              "value": "https://YOUR-NGROK-OR-N8N-URL",
              "type": "string"
            },
            {
              "id": "cfg-portal",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "28b3abd4-ec36-401e-999e-9bda43703cf1",
      "name": "CFG - Assessment Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || {};\nconst query = item.query || {};\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(body.sessionId || body.session_id || query.sessionId || query.session_id || '').trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email || query.email || query.candidate_email);\nconst answer = String(body.answer || query.answer || '').trim();\nconst current_phase = parseInt(body.phase || body.current_phase || query.phase || '1', 10);\nconst tab_switches = parseInt(body.tabSwitches ?? body.tab_switches ?? '0', 10);\n\nconst nested = item.config || {};\nconst config = {\n  supabase_url: nested.supabase_url || item.supabase_url || '',\n  supabase_key: nested.supabase_key || item.supabase_key || '',\n  gemini_model: nested.gemini_model || nested.groq_model || item.gemini_model || item.groq_model || '',\n  groq_model: nested.groq_model || item.groq_model || '',\n  max_questions: Number(nested.max_questions ?? item.max_questions ?? 5),\n  interviewer_email: nested.interviewer_email || item.interviewer_email || '',\n  organization_name: nested.organization_name || item.organization_name || '',\n  requisition_title: nested.requisition_title || '',\n  requisition_requirements: nested.requisition_requirements || '',\n  table_assessment_sessions: nested.table_assessment_sessions || 'assessment_sessions',\n};\n\nreturn [{ json: { session_id, candidate_email, answer, current_phase, tab_switches, config } }];"
      },
      "id": "30387dab-c995-41e2-a660-c583967a5891",
      "name": "CODE - Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1888
      ]
    },
    {
      "parameters": {
        "url": "={{ $('CODE - Normalize Data').first().json.config.supabase_url.replace(/\\/$/, '') }}/rest/v1/assessment_sessions?id=eq.{{ $('CODE - Normalize Data').first().json.session_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Normalize Data').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Normalize Data').first().json.config.supabase_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46fd8d18-eae1-4fd3-9bd4-7781420f0bb4",
      "name": "HTTP - Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build LLM context (assessment phases 1–5)\r\n// Paste into: CODE - Build LLM context (before Basic LLM Chain)\r\n\r\nconst norm = $('CODE - Normalize Data').first().json;\r\nconst raw = $input.first().json;\r\nconst session = Array.isArray(raw) ? raw[0] : raw;\r\nif (!session?.id) {\r\n  throw new Error('No assessment session row for id=' + norm.session_id);\r\n}\r\n\r\nlet history = session.interview_history;\r\nif (typeof history === 'string') {\r\n  try {\r\n    history = JSON.parse(history);\r\n  } catch (e) {\r\n    history = [];\r\n  }\r\n}\r\nif (!Array.isArray(history)) history = [];\r\n\r\nlet sessionConfig = session.config;\r\nif (typeof sessionConfig === 'string') {\r\n  try {\r\n    sessionConfig = JSON.parse(sessionConfig);\r\n  } catch (e) {\r\n    sessionConfig = {};\r\n  }\r\n}\r\nif (!sessionConfig || typeof sessionConfig !== 'object') sessionConfig = {};\r\n\r\nconst cfg = {\r\n  ...norm.config,\r\n  ...sessionConfig,\r\n  requisition_title:\r\n    sessionConfig.requisition_title || norm.config?.requisition_title || '',\r\n  requisition_requirements:\r\n    sessionConfig.requisition_requirements || norm.config?.requisition_requirements || '',\r\n  groq_model:\r\n    sessionConfig.groq_model || norm.config?.groq_model || 'llama-3.3-70b-versatile',\r\n  max_questions: Number(sessionConfig.max_questions || norm.config?.max_questions || 5),\r\n  fail_score_threshold: Number(\r\n    sessionConfig.fail_score_threshold ?? norm.config?.fail_score_threshold ?? 30\r\n  ),\r\n  pass_score_threshold: Number(\r\n    sessionConfig.pass_score_threshold ?? norm.config?.pass_score_threshold ?? 60\r\n  ),\r\n  timer_min_seconds: Number(sessionConfig.timer_min_seconds ?? norm.config?.timer_min_seconds ?? 60),\r\n  timer_max_seconds: Number(sessionConfig.timer_max_seconds ?? norm.config?.timer_max_seconds ?? 600),\r\n};\r\n\r\nconst ph = Number(norm.current_phase || 1);\r\nconst maxQ = Number(cfg.max_questions || 5);\r\nconst isFinal = ph >= maxQ;\r\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\r\n\r\nconst jdTitle = String(cfg.requisition_title || '').trim();\r\nconst jdReq = String(cfg.requisition_requirements || '').trim();\r\nif (!jdTitle || !jdReq) {\r\n  throw new Error(\r\n    'JD missing on assessment session. Complete CV screening with recruiter form JD first (session.config.requisition_title / requisition_requirements).'\r\n  );\r\n}\r\n\r\nfunction extractJdThemes(text) {\r\n  const lines = String(text)\r\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\r\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\r\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\r\n    .filter((s) => s.length >= 12);\r\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 500)];\r\n}\r\n\r\nconst jdThemes = extractJdThemes(jdReq);\r\nconst phaseFocusLanes = [\r\n  'JD core responsibilities and must-have skills for this role (breadth, not deep-dive on one tool)',\r\n  'JD system design / architecture / integration — how systems connect and scale for this role',\r\n  'JD hands-on implementation, APIs, data, delivery, or feature ownership',\r\n  'JD quality bar: security, performance, reliability, testing, monitoring, or DevOps',\r\n  'Holistic JD role fit — can this candidate perform the full job',\r\n];\r\n\r\nconst cvText = String(session.cv_plaintext || '').slice(0, 8000);\r\nconst historyText = history\r\n  .map(\r\n    (h) =>\r\n      `Phase ${h.phase} Q: ${h.question_text || h.question || ''} | A: ${h.answer_text ?? 'pending'} | Score: ${h.score ?? 'N/A'}`\r\n  )\r\n  .join('\\n');\r\n\r\nconst themesAsked = history\r\n  .filter((h) => h.question_text || h.question)\r\n  .map((h) => `Phase ${h.phase}: ${String(h.question_text || h.question).slice(0, 140)}`)\r\n  .join('\\n');\r\n\r\nconst cvTopicsUsed = history\r\n  .filter((h) => h.question_text || h.question)\r\n  .map((h) => String(h.question_text || h.question).slice(0, 100))\r\n  .join('\\n');\r\n\r\nfunction extractCvAnchors(text) {\r\n  const cv = String(text || '');\r\n  const projects =\r\n    cv.match(/(?:project|built|developed|engineered|implemented|led)[^.]{10,120}/gi) || [];\r\n  const skills =\r\n    cv.match(\r\n      /\\b(React|Angular|Vue|Node\\.?js|Python|Django|Flask|SQL|PostgreSQL|MySQL|MongoDB|\\.NET|ASP\\.NET|C#|Java|Spring|AWS|Azure|GCP|Docker|Kubernetes|Redis|Kafka|REST|GraphQL|TypeScript|JavaScript|EF\\s*Core|LINQ|JWT|OAuth|microservices?|APIM|CI\\/CD|GitHub Actions)\\b/gi\r\n    ) || [];\r\n  const employers = cv.match(/(?:at|@)\\s+[A-Z][A-Za-z0-9&.\\s]{2,40}(?:,|\\.|\\s{2})/g) || [];\r\n  const anchors = [\r\n    ...new Set([\r\n      ...projects.slice(0, 5).map((p) => p.trim().slice(0, 100)),\r\n      ...skills.slice(0, 8),\r\n      ...employers.slice(0, 3).map((e) => e.trim()),\r\n    ]),\r\n  ].filter(Boolean);\r\n  return anchors.length ? anchors : ['(parse named projects, tools, employers from CV excerpt)'];\r\n}\r\n\r\nconst cvAnchors = extractCvAnchors(cvText);\r\n\r\nconst currentQuestionRow = history.find((h) => Number(h.phase) === ph);\r\nconst currentQuestionText = String(\r\n  currentQuestionRow?.question_text || currentQuestionRow?.question || ''\r\n).trim();\r\n\r\nconst prevPhaseRow = history.find((h) => Number(h.phase) === ph - 1);\r\nconst prevTimeLimit = prevPhaseRow?.time_limit_seconds ?? null;\r\n\r\nconst nextPhaseNum = ph + 1;\r\nconst nextFocusLane = !isFinal\r\n  ? phaseFocusLanes[Math.min(nextPhaseNum - 1, phaseFocusLanes.length - 1)]\r\n  : '';\r\nconst nextJdTheme = !isFinal\r\n  ? jdThemes[(nextPhaseNum - 1) % jdThemes.length] || nextFocusLane\r\n  : '';\r\nconst nextCvAnchor = !isFinal\r\n  ? cvAnchors[(nextPhaseNum - 1) % cvAnchors.length] || cvAnchors[0]\r\n  : '';\r\n\r\nconst sharedRules = `\"\"\"You are an elite technical interviewer running a structured ${maxQ}-phase screening for ${cfg.organization_name || 'the company'}.\r\n\r\nPRIMARY GOAL: Each phase tests a DIFFERENT combination of JD requirement + CV evidence. Never from CV alone. Never from JD alone.\r\n\r\n═══════════════════════════════════════ CV + JD DUAL-SOURCE (MOST IMPORTANT) ═══════════════════════════════════════\r\nEvery question MUST explicitly combine BOTH sources in one cohesive prompt:\r\n  (A) A specific JD requirement, responsibility, or outcome from the Job Description, AND\r\n  (B) A specific CV anchor — named project, employer, tool, or experience from the candidate's CV.\r\n\r\nQuestion formula (use every time):\r\n  \"The role requires [JD requirement]. Your CV shows [CV project/skill/employer] — how did/would you [technical task linking both]?\"\r\n\r\nRules:\r\n  - Each phase = NEW JD theme + NEW CV anchor (rotate both — do not reuse).\r\n  - Spread coverage across the full JD AND across different parts of the CV.\r\n  - NEVER ask a question answerable without reading BOTH the JD and this CV.\r\n  - NEVER deep-dive the same CV project or same JD bullet in more than one phase.\r\n\r\nPhase topic lanes (pair with a fresh JD theme + CV anchor each phase):\r\n  Phase 1: ${phaseFocusLanes[0]}\r\n  Phase 2: ${phaseFocusLanes[1]}\r\n  Phase 3: ${phaseFocusLanes[2]}\r\n  Phase 4: ${phaseFocusLanes[3]}\r\n  Phase 5: ${phaseFocusLanes[4]}\r\n\r\nJD themes (rotate — one per phase):\r\n${jdThemes.map((t, i) => `  ${i + 1}. ${t}`).join('\\n')}\r\n\r\nCV anchors detected (rotate — pick a different one each phase):\r\n${cvAnchors.map((a, i) => `  ${i + 1}. ${a}`).join('\\n')}\r\n\r\nWhen writing next_question:\r\n  1. Pick JD theme for phase N NOT used in \"Themes already asked\".\r\n  2. Pick CV anchor NOT used in \"CV anchors already used\".\r\n  3. Write ONE question that names BOTH in the same sentence.\r\n  4. If CV lacks a skill the JD requires, pair the JD theme with the closest related CV experience and ask how they would bridge the gap.\r\n\r\nFORBIDDEN:\r\n  - CV-only questions (no JD requirement named).\r\n  - JD-only questions (no CV project/skill/employer named).\r\n  - Repeating the same CV project or same JD theme across phases.\r\n  - Generic textbook questions any candidate could answer.\r\n\r\n═══════════════════════════════════════ SCORING — ANSWER MUST MATCH THE QUESTION ASKED ═══════════════════════════════════════\r\nScore ONLY how well the candidate answered THE SPECIFIC question for this phase (see \"Question asked this phase\" below).\r\n\r\nWeighting:\r\n  - 50% RELEVANCE: Did they answer what was asked (both JD and CV parts of the question)?\r\n  - 25% JD FIT: Does the answer show they can meet the role requirement?\r\n  - 25% CV EVIDENCE: Concrete examples from their stated experience (not invented).\r\n\r\nOff-topic / mismatch penalties (apply FIRST):\r\n  - Answer is about a different topic than the question → score ≤ 15\r\n  - Buzzwords only, no link to the question → score ≤ 25\r\n  - Partially on-topic but vague → 30–50\r\n  - Directly answers the question with technical detail → 55–75\r\n  - Strong, specific, JD-aligned answer with evidence → 76–100\r\n\r\nDo NOT give high scores for impressive but irrelevant content.\r\n\r\n═══════════════════════════════════════ STRUCTURE ═══════════════════════════════════════\r\n- Exactly ${maxQ} phases. Phases 1–4: score + one next_question. Phase ${maxQ}: score + PASS/FAIL, next_question \"\".\r\n- Phase 1 question already exists in history — grade it; write phase 2 when current phase is 1.\r\n- Empty/timeout/[SYSTEM TERMINATION] → score 0–15, next_question \"\" if integrity.\r\n\r\n═══════════════════════════════════════ TIME LIMIT (phases 1–4) ═══════════════════════════════════════\r\nSet time_limit_seconds (60–600) and complexity_tier A|B|C|D from next_question depth.\r\n\r\n═══════════════════════════════════════ OUTPUT — JSON ONLY ═══════════════════════════════════════\r\nPhases 1–4: {\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":string,\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}\r\nPhase ${maxQ}: {\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":\"\"}\r\n\r\nJob title: ${jdTitle}\r\nJD requirements:\r\n${jdReq}\r\n\r\nCandidate CV (excerpt):\r\n${cvText}\r\n\r\nPrior Q&A:\r\n${historyText || '(none yet)'}\r\n\r\nThemes already asked (next question MUST use a DIFFERENT JD topic):\r\n${themesAsked || '(none yet)'}\r\n\r\nCV anchors already used (do NOT reuse same project/stack):\r\n${cvTopicsUsed || '(none yet)'}\r\n\r\nTab switches: ${norm.tab_switches || 0}`;\r\n\r\nlet systemContent;\r\nif (isFinal) {\r\n  systemContent = `${sharedRules}\r\n\r\nCurrent phase: ${ph} of ${maxQ} (FINAL).\r\nQuestion asked this phase:\r\n${currentQuestionText || '(see prior Q&A)'}\r\n\r\nAnswer to grade:\r\n${norm.answer}\r\n\r\nTasks:\r\n1. Score 0–100 based on relevance to the question above + JD holistic fit.\r\n2. result = PASS only if candidate demonstrated breadth across JD topics in the session; else FAIL.\r\n3. feedback + suggested_answer (max 2 short paragraphs).\r\n\r\nOutput: {\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":\"\"}`;\r\n} else {\r\n  systemContent = `${sharedRules}\r\n\r\nCurrent phase: ${ph} of ${maxQ}.\r\nQuestion asked this phase (score against THIS):\r\n${currentQuestionText || '(see prior Q&A)'}\r\n\r\nAnswer to grade:\r\n${norm.answer}\r\n${prevTimeLimit != null ? `Previous phase time_limit_seconds: ${prevTimeLimit}` : ''}\r\n\r\nNext question target — phase ${nextPhaseNum}:\r\n  Focus lane: ${nextFocusLane}\r\n  JD theme to use: ${nextJdTheme}\r\n  CV anchor to use: ${nextCvAnchor}\r\n\r\nTasks:\r\n1. Score current answer 0–100 (must address BOTH JD and CV parts of the question asked).\r\n2. feedback — note if answer ignored JD requirement or lacked CV-specific evidence.\r\n3. suggested_answer (max 2 short paragraphs).\r\n4. next_question for phase ${nextPhaseNum} — MUST name one JD requirement AND one CV anchor; new topic pair, no repeats.\r\n5. time_limit_seconds + complexity_tier.\r\n\r\nOutput: {\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":string,\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}`;\r\n}\r\n\r\nconst body = {\r\n  model: cfg.groq_model || 'llama-3.3-70b-versatile',\r\n  messages: [\r\n    { role: 'system', content: systemContent },\r\n    { role: 'user', content: 'Evaluate and respond with JSON only.' },\r\n  ],\r\n  temperature: isFinal ? 0.1 : 0.35,\r\n  response_format: { type: 'json_object' },\r\n};\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      groq_assessment_request: body,\r\n      prompt: systemContent,\r\n      session,\r\n      norm: { ...norm, config: cfg },\r\n      isFinal,\r\n      failThreshold,\r\n      current_question_text: currentQuestionText,\r\n      next_jd_theme: nextJdTheme,\r\n      next_cv_anchor: nextCvAnchor,\r\n      next_focus_lane: nextFocusLane,\r\n    },\r\n  },\r\n];"
      },
      "id": "171da668-165b-43e4-a027-bdcfd32635a3",
      "name": "CODE - Build LLM context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": false
      },
      "id": "45b4b699-adc5-43ce-b5dd-b8cfe7283f15",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1376,
        1200
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_CLOUD_PROJECT }}"
        },
        "modelName": "gemini-2.0-flash-001",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b9639c11-fbc1-4378-af89-5dc1a3b4faf5",
      "name": "Google Vertex Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        1376,
        1400
      ],
      "credentials": {
        "googleApi": {
          "id": "GOOGLE_VERTEX_CREDENTIAL_ID",
          "name": "Google Vertex account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse Result (assessment scoring)\r\n// Paste into: CODE - Parse Result (after Groq/Gemini/Basic LLM Chain)\r\n// Replaces: CODE - Update interview_history if that is your node name\r\n\r\nfunction timerBounds(config) {\r\n  const min = Number(config?.timer_min_seconds);\r\n  const max = Number(config?.timer_max_seconds);\r\n  return {\r\n    min: Number.isFinite(min) && min > 0 ? min : 60,\r\n    max: Number.isFinite(max) && max > 0 ? max : 600,\r\n  };\r\n}\r\n\r\nfunction clampSeconds(sec, config) {\r\n  const { min, max } = timerBounds(config);\r\n  return Math.min(max, Math.max(min, Math.round(sec)));\r\n}\r\n\r\n// Seconds band per complexity tier\r\nfunction tierTimeRange(tier) {\r\n  switch (String(tier || '').toUpperCase()) {\r\n    case 'A':\r\n      return [60, 120];\r\n    case 'B':\r\n      return [150, 240];\r\n    case 'C':\r\n      return [270, 390];\r\n    case 'D':\r\n      return [420, 600];\r\n    default:\r\n      return null;\r\n  }\r\n}\r\n\r\n// Infer a tier when the model omits or returns a junk tier\r\nfunction inferTierFromQuestion(questionText) {\r\n  const q = String(questionText || '');\r\n  const words = q.trim().split(/\\s+/).filter(Boolean).length;\r\n  const subParts =\r\n    (q.match(/\\?/g) || []).length +\r\n    (q.match(/\\b(and|also|furthermore|additionally|then|as well as)\\b/gi) || []).length;\r\n  const heavy =\r\n    /\\b(architecture|design|schema|scalable|scalability|concurrency|distributed|trade-?off|optimi[sz]e|throughput|migration|pipeline|multi-?tenant|security|performance|caching|indexing)\\b/i.test(\r\n      q\r\n    );\r\n\r\n  if (words <= 28 && subParts <= 1 && !heavy) return 'A';\r\n  if (words >= 80 || (heavy && subParts >= 3)) return 'D';\r\n  if (words >= 50 || heavy) return 'C';\r\n  return 'B';\r\n}\r\n\r\n// Deterministic per-question time: tier sets the band, question length positions\r\n// within it, the model's value (if sane) is blended in. Different questions →\r\n// different times, longer/harder questions → more seconds.\r\nfunction deriveTimeLimitSeconds(rawLlmTime, tier, questionText, config, phase) {\r\n  const usableTier =\r\n    tierTimeRange(tier) ? tier : inferTierFromQuestion(questionText);\r\n  const [lo, hi] = tierTimeRange(usableTier) || [150, 240];\r\n\r\n  const words = String(questionText || '').trim().split(/\\s+/).filter(Boolean).length;\r\n  const span = Math.max(1, 90 - 20);\r\n  const t = Math.max(0, Math.min(1, (words - 20) / span));\r\n  let computed = lo + t * (hi - lo);\r\n\r\n  const llm = Number(rawLlmTime);\r\n  if (Number.isFinite(llm) && llm >= lo && llm <= hi) {\r\n    computed = (llm + computed) / 2;\r\n  }\r\n\r\n  let sec = Math.round(computed / 15) * 15;\r\n  sec = Math.max(lo, Math.min(hi, sec));\r\n  return { seconds: clampSeconds(sec, config), tier: usableTier };\r\n}\r\n\r\nfunction buildDeadline(isoStart, seconds) {\r\n  const start = isoStart ? new Date(isoStart) : new Date();\r\n  return new Date(start.getTime() + seconds * 1000).toISOString();\r\n}\r\n\r\nfunction extractLlmText(api) {\r\n  if (!api || typeof api !== 'object') return '';\r\n  if (typeof api.text === 'string' && api.text.trim()) return api.text.trim();\r\n  if (typeof api.output === 'string' && api.output.trim()) return api.output.trim();\r\n  if (typeof api.response === 'string' && api.response.trim()) return api.response.trim();\r\n  const c0 = api.choices?.[0];\r\n  if (c0?.message?.content) return String(c0.message.content).trim();\r\n  if (typeof c0?.text === 'string') return c0.text.trim();\r\n  const parts = api.candidates?.[0]?.content?.parts;\r\n  if (Array.isArray(parts) && parts[0]?.text) return String(parts[0].text).trim();\r\n  return '';\r\n}\r\n\r\nfunction salvageNextQuestionFromText(rawText) {\r\n  const text = String(rawText || '');\r\n  if (!text.trim()) return '';\r\n\r\n  const patterns = [\r\n    /\"next_question\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\r\n    /\"nextQuestion\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\r\n    /next_question\\s*[:=]\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\r\n  ];\r\n  for (const re of patterns) {\r\n    const m = text.match(re);\r\n    if (m?.[1]) {\r\n      return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').trim();\r\n    }\r\n  }\r\n  return '';\r\n}\r\n\r\nfunction parseLlmContent(api) {\r\n  if (\r\n    api &&\r\n    (api.score != null ||\r\n      api.feedback ||\r\n      api.next_question ||\r\n      api.nextQuestion ||\r\n      api.result ||\r\n      api.status === 'finished')\r\n  ) {\r\n    const nextQ = String(api.next_question || api.nextQuestion || api.question || '').trim();\r\n    if (!nextQ) {\r\n      const salvaged = salvageNextQuestionFromText(extractLlmText(api));\r\n      if (salvaged) {\r\n        return { ...api, next_question: salvaged, nextQuestion: salvaged };\r\n      }\r\n    }\r\n    return api;\r\n  }\r\n  const rawText = extractLlmText(api);\r\n  if (!rawText) {\r\n    return {\r\n      status: 'in_progress',\r\n      score: 0,\r\n      feedback: 'Empty model output.',\r\n      next_question: '',\r\n      nextQuestion: '',\r\n    };\r\n  }\r\n  try {\r\n    const cleaned = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\r\n    const parsed = JSON.parse(cleaned);\r\n    const nextQ = String(parsed.next_question || parsed.nextQuestion || parsed.question || '').trim();\r\n    if (!nextQ) {\r\n      const salvaged = salvageNextQuestionFromText(rawText);\r\n      if (salvaged) {\r\n        parsed.next_question = salvaged;\r\n        parsed.nextQuestion = salvaged;\r\n      }\r\n    }\r\n    return parsed;\r\n  } catch (e) {\r\n    const salvaged = salvageNextQuestionFromText(rawText);\r\n    return {\r\n      status: 'in_progress',\r\n      score: 0,\r\n      feedback: salvaged ? 'Recovered question from partial model output.' : 'Could not parse model output.',\r\n      next_question: salvaged,\r\n      nextQuestion: salvaged,\r\n    };\r\n  }\r\n}\r\n\r\nfunction extractJdThemes(text) {\r\n  const lines = String(text)\r\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\r\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\r\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\r\n    .filter((s) => s.length >= 12);\r\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 400)];\r\n}\r\n\r\nfunction extractCvAnchors(text) {\r\n  const cv = String(text || '');\r\n  const projects =\r\n    cv.match(/(?:project|built|developed|engineered|implemented|led)[^.]{10,120}/gi) || [];\r\n  const skills =\r\n    cv.match(\r\n      /\\b(React|Angular|Vue|Node\\.?js|Python|Django|Flask|SQL|PostgreSQL|MySQL|MongoDB|\\.NET|ASP\\.NET|C#|Java|Spring|AWS|Azure|GCP|Docker|Kubernetes|Redis|Kafka|REST|GraphQL|TypeScript|JavaScript|EF\\s*Core|LINQ|JWT|OAuth|microservices?|APIM|CI\\/CD|GitHub Actions)\\b/gi\r\n    ) || [];\r\n  return [\r\n    ...new Set([\r\n      ...projects.slice(0, 5).map((p) => p.trim().slice(0, 80)),\r\n      ...skills.slice(0, 6),\r\n    ]),\r\n  ].filter(Boolean);\r\n}\r\n\r\nfunction buildFallbackNextQuestion(ph, history, cfg, session) {\r\n  const role = String(cfg.requisition_title || 'this role').trim();\r\n  const jdReq = String(cfg.requisition_requirements || '').trim();\r\n  const cv = String(session.cv_plaintext || '');\r\n  const nextPhase = ph + 1;\r\n  const jdThemes = extractJdThemes(jdReq);\r\n  const jdTheme = jdThemes[(nextPhase - 1) % jdThemes.length] || jdReq.slice(0, 200);\r\n  const cvAnchors = extractCvAnchors(cv);\r\n  const cvAnchor = cvAnchors[(nextPhase - 1) % cvAnchors.length] || 'your listed project experience';\r\n\r\n  const lanes = [\r\n    `This role requires: \"${jdTheme}\". Your CV mentions ${cvAnchor} — describe how you applied this to deliver that JD outcome. What did you build and what was the measurable result?`,\r\n    `JD expectation: \"${jdTheme}\". Drawing on ${cvAnchor} from your CV, explain the architecture and integration choices you would make for this ${role} role.`,\r\n    `For \"${jdTheme}\" (${role}): Using your experience with ${cvAnchor}, walk through implementation steps, tools, and how you would validate it in production.`,\r\n    `JD quality bar — \"${jdTheme}\": With ${cvAnchor} on your CV, what security, performance, or reliability risks would you address and how?`,\r\n    `Final phase (${role}): JD requires \"${jdTheme}\" and your CV shows ${cvAnchor}. Synthesise how your experience maps to this role and what you would deliver in the first 90 days.`,\r\n  ];\r\n\r\n  return lanes[Math.min(nextPhase - 1, lanes.length - 1)] || lanes[4];\r\n}\r\n\r\nfunction isIntegrityTermination(answerText) {\r\n  return /^\\[system\\s+termination/i.test(String(answerText || '').trim());\r\n}\r\n\r\nfunction isScorablePhaseRow(row) {\r\n  if (!row || row.answer_text == null || row.score == null) return false;\r\n  if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) return false;\r\n  const n = Number(row.score);\r\n  return Number.isFinite(n);\r\n}\r\n\r\nfunction buildPhaseSummary(rows) {\r\n  return rows\r\n    .filter((row) => row.answer_text != null)\r\n    .map((row) => {\r\n      if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) {\r\n        return `P${row.phase}:integrity-fail`;\r\n      }\r\n      if (row.score != null) return `P${row.phase}:${row.score}`;\r\n      return null;\r\n    })\r\n    .filter(Boolean)\r\n    .join(', ');\r\n}\r\n\r\nfunction questionRelevanceCap(answerText, questionText) {\r\n  const question = String(questionText || '').trim();\r\n  if (!question || question.length < 20) return null;\r\n\r\n  const tokens = question\r\n    .toLowerCase()\r\n    .replace(/[^a-z0-9\\s]/g, ' ')\r\n    .split(/\\s+/)\r\n    .filter((w) => w.length > 4);\r\n  const stop = new Set([\r\n    'would', 'could', 'should', 'their', 'there', 'which', 'about', 'describe',\r\n    'explain', 'candidate', 'please', 'specific', 'technical', 'question',\r\n    'implement', 'approach', 'system', 'using',\r\n  ]);\r\n  const keys = [...new Set(tokens.filter((w) => !stop.has(w)))].slice(0, 18);\r\n  if (keys.length < 3) return null;\r\n\r\n  const lower = String(answerText || '').toLowerCase();\r\n  const hits = keys.filter((k) => lower.includes(k)).length;\r\n  const ratio = hits / keys.length;\r\n\r\n  if (ratio < 0.06) return 12;\r\n  if (ratio < 0.12) return 22;\r\n  if (ratio < 0.2) return 32;\r\n  return null;\r\n}\r\n\r\n/** Clamp LLM scores — off-topic and garbage answers must not get free points */\r\nfunction normalizePhaseScore(answerText, llmScore, questionText) {\r\n  const answer = String(answerText || '').trim();\r\n  let score = Number(llmScore);\r\n  if (!Number.isFinite(score)) score = 0;\r\n\r\n  if (!answer) return 0;\r\n  if (isIntegrityTermination(answer)) return null;\r\n  if (/^\\[timeout/i.test(answer)) return 0;\r\n\r\n  const relevanceCap = questionRelevanceCap(answer, questionText);\r\n  if (relevanceCap != null) score = Math.min(score, relevanceCap);\r\n\r\n  const lower = answer.toLowerCase().replace(/\\s+/g, ' ').trim();\r\n  const compact = answer.replace(/\\s+/g, '');\r\n  const len = compact.length;\r\n\r\n  // Keyboard mash: mmmm, qqqqq, ooooo (same char repeated)\r\n  if (len >= 4) {\r\n    const chars = compact.toLowerCase().split('');\r\n    const freq = {};\r\n    for (const c of chars) freq[c] = (freq[c] || 0) + 1;\r\n    const top = Math.max(...Object.values(freq));\r\n    if (Object.keys(freq).length === 1 || top / chars.length >= 0.8) return 0;\r\n  }\r\n\r\n  // Trivial non-answers\r\n  if (/^(ok|okay|yes|no|n\\/a|na|idk|dunno|sure|fine|\\.+|-+)$/i.test(lower)) {\r\n    return Math.min(score, 3);\r\n  }\r\n  if (/^(ok\\s+ok|yes\\s+yes|no\\s+no)$/i.test(lower)) {\r\n    return Math.min(score, 3);\r\n  }\r\n\r\n  const techMarkers =\r\n    /\\b(api|sql|database|entity|framework|asp\\.net|\\.net|core|jwt|controller|service|schema|ef\\s*core|linq|rest|dto|validation|fluentvalidation|dependency|injection|tenant|auth|middleware|repository|campaign|promotion|bcrypt|rbac|sso|endpoint|migration|index|query|table|class|interface|async|await)\\b/i;\r\n\r\n  const wordCount = lower.split(/\\s+/).filter(Boolean).length;\r\n\r\n  // One-liner generic with no technical terms (e.g. phase 1 \"yes, system handles products...\")\r\n  if (wordCount <= 25 && !techMarkers.test(answer)) {\r\n    return Math.min(score, 15);\r\n  }\r\n\r\n  // Very short, no technical signal\r\n  if (len < 30 && !techMarkers.test(answer)) {\r\n    return Math.min(score, 8);\r\n  }\r\n\r\n  // Short answer without technical depth — cap generous LLM scores\r\n  if (len < 120 && !techMarkers.test(answer)) {\r\n    return Math.min(score, 18);\r\n  }\r\n\r\n  if (len < 200 && score > 40 && !techMarkers.test(answer)) {\r\n    return Math.min(score, 25);\r\n  }\r\n\r\n  return Math.max(0, Math.min(100, Math.round(score)));\r\n}\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction pickBuildContext() {\r\n  const built =\r\n    pickNodeJson('CODE - Build LLM context', 'CODE - Build LLM context1') || {};\r\n\r\n  if (built.session?.id && built.norm) return built;\r\n\r\n  const norm =\r\n    pickNodeJson('CODE - Normalize Data', 'CODE - Normalize Data1') || {};\r\n  const fetchRaw = pickNodeJson('HTTP - Fetch Session', 'HTTP - Fetch Session1');\r\n  const session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\n\r\n  if (session?.id) {\r\n    let history = session.interview_history;\r\n    if (typeof history === 'string') {\r\n      try {\r\n        history = JSON.parse(history);\r\n      } catch (_) {\r\n        history = [];\r\n      }\r\n    }\r\n    return {\r\n      session: { ...session, interview_history: history },\r\n      norm,\r\n    };\r\n  }\r\n\r\n  throw new Error(\r\n    'Session context missing. Wire CODE - Build LLM context before Parse Result, or rename node to match (no stray \"1\" suffix).'\r\n  );\r\n}\r\n\r\nfunction parseSessionConfig(raw) {\r\n  if (!raw) return {};\r\n  if (typeof raw === 'string') {\r\n    try {\r\n      return JSON.parse(raw);\r\n    } catch (_) {\r\n      return {};\r\n    }\r\n  }\r\n  return typeof raw === 'object' ? raw : {};\r\n}\r\n\r\nfunction resolveWorkflowConfig(current, session, built) {\r\n  const cfgNode =\r\n    pickNodeJson('CFG - Assessment Config', 'CFG - Assessment Config1') || {};\r\n  const normCfg = current?.config || {};\r\n  const sessionCfg = parseSessionConfig(session?.config);\r\n  const builtCfg = built?.norm?.config || {};\r\n\r\n  const supabase_url =\r\n    normCfg.supabase_url ||\r\n    sessionCfg.supabase_url ||\r\n    builtCfg.supabase_url ||\r\n    cfgNode.supabase_url ||\r\n    cfgNode.config?.supabase_url ||\r\n    '';\r\n\r\n  const supabase_key =\r\n    normCfg.supabase_key ||\r\n    sessionCfg.supabase_key ||\r\n    builtCfg.supabase_key ||\r\n    cfgNode.supabase_key ||\r\n    cfgNode.config?.supabase_key ||\r\n    '';\r\n\r\n  return {\r\n    ...cfgNode,\r\n    ...builtCfg,\r\n    ...sessionCfg,\r\n    ...normCfg,\r\n    supabase_url,\r\n    supabase_key,\r\n  };\r\n}\r\n\r\nconst llm = $input.first().json;\r\nconst built = pickBuildContext();\r\nconst session = built.session;\r\nconst current = built.norm;\r\nconst cfg = resolveWorkflowConfig(current, session, built);\r\nconst content = parseLlmContent(llm);\r\n\r\nlet history = session.interview_history;\r\nif (typeof history === 'string') {\r\n  try {\r\n    history = JSON.parse(history);\r\n  } catch (err) {\r\n    history = [];\r\n  }\r\n}\r\nif (!Array.isArray(history)) history = [];\r\n\r\nconst ph = Number(current.current_phase || 1);\r\nconst maxQ = Number(cfg.max_questions || 5);\r\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\r\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\r\nconst iso = new Date().toISOString();\r\n\r\nconst integrityTerminated = isIntegrityTermination(current.answer);\r\nconst rawLlmScore = Number(content.score ?? 0);\r\nlet normalizedScore = null;\r\nlet scoreAdjusted = false;\r\n\r\nconst questionForPhase = String(\r\n  history.find((x) => Number(x.phase) === ph)?.question_text ||\r\n    history.find((x) => Number(x.phase) === ph)?.question ||\r\n    built.current_question_text ||\r\n    ''\r\n).trim();\r\n\r\nif (integrityTerminated) {\r\n  normalizedScore = null;\r\n} else {\r\n  normalizedScore = normalizePhaseScore(current.answer, rawLlmScore, questionForPhase);\r\n  scoreAdjusted = normalizedScore !== Math.round(rawLlmScore);\r\n}\r\n\r\nlet idx = history.findIndex((x) => Number(x.phase) === ph);\r\nconst patch = {\r\n  answer_text: current.answer,\r\n  received_at: iso,\r\n  feedback: content.feedback || null,\r\n  suggested_answer: content.suggested_answer || content.suggestedAnswer || null,\r\n  score: normalizedScore,\r\n  integrity_terminated: integrityTerminated || undefined,\r\n};\r\nif (integrityTerminated) {\r\n  patch.feedback =\r\n    `Integrity violation on phase ${ph} — this phase is not scored. Prior completed phases keep their recorded scores.`;\r\n} else if (scoreAdjusted && normalizedScore < rawLlmScore) {\r\n  const relCap = questionRelevanceCap(current.answer, questionForPhase);\r\n  patch.feedback = [\r\n    patch.feedback,\r\n    relCap != null && relCap <= 32\r\n      ? `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer did not address the question asked.]`\r\n      : `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer lacks required technical substance.]`,\r\n  ]\r\n    .filter(Boolean)\r\n    .join(' ');\r\n}\r\n\r\nif (idx >= 0) history[idx] = { ...history[idx], ...patch };\r\nelse history.push({ phase: ph, question_text: '', sent_at: iso, ...patch });\r\n\r\nconst getPhaseScore = (phase) => {\r\n  const row = history.find((x) => Number(x.phase) === phase);\r\n  if (!row || row.answer_text == null || row.score == null) return null;\r\n  const n = Number(row.score);\r\n  return Number.isFinite(n) ? n : null;\r\n};\r\n\r\nfunction computeAverageScore(rows, maxPhases) {\r\n  const scores = rows\r\n    .filter((row) => {\r\n      const phase = Number(row.phase);\r\n      if (!Number.isFinite(phase) || phase < 1 || phase > maxPhases) return false;\r\n      return isScorablePhaseRow(row);\r\n    })\r\n    .map((row) => Number(row.score));\r\n  if (!scores.length) return null;\r\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\r\n}\r\n\r\n// Run all maxQ phases — no early exit on low scores (final PASS/FAIL only on phase maxQ).\r\nconst earlyTerminate = false;\r\nconst earlyTerminateReason = '';\r\n\r\nlet nextQ = String(content.nextQuestion || content.next_question || '').trim();\r\nlet timeLimitSeconds = null;\r\nlet complexityTier = null;\r\n\r\n// LLM sometimes omits next_question (esp. phase 4→5). Recover from history, then fallback.\r\nlet usedFallbackQuestion = false;\r\nif (!nextQ && ph < maxQ && !integrityTerminated) {\r\n  const existingNext = history.find(\r\n    (x) => Number(x.phase) === ph + 1 && String(x.question_text || x.question || '').trim()\r\n  );\r\n  if (existingNext) {\r\n    nextQ = String(existingNext.question_text || existingNext.question || '').trim();\r\n    timeLimitSeconds = existingNext.time_limit_seconds ?? null;\r\n    complexityTier = existingNext.complexity_tier ?? null;\r\n  } else {\r\n    nextQ = buildFallbackNextQuestion(ph, history, cfg, session);\r\n    usedFallbackQuestion = Boolean(nextQ);\r\n    if (usedFallbackQuestion) {\r\n      content.feedback = [\r\n        content.feedback || '',\r\n        `[System: AI omitted phase ${ph + 1} question — auto-generated CV-grounded fallback.]`,\r\n      ]\r\n        .filter(Boolean)\r\n        .join(' ');\r\n    }\r\n  }\r\n}\r\n\r\nconst isActualFinalPhase = ph >= maxQ;\r\n\r\n// Ignore premature LLM finished/PASS/FAIL before the last phase.\r\nif (!isActualFinalPhase) {\r\n  if (content.status === 'finished') content.status = 'in_progress';\r\n  content.result = '';\r\n}\r\n\r\nlet isFinal = isActualFinalPhase || integrityTerminated;\r\n\r\nif (integrityTerminated) {\r\n  nextQ = '';\r\n  content.result = 'FAIL';\r\n}\r\n\r\nif (nextQ && ph < maxQ && !integrityTerminated) {\r\n  const llmTier = content.complexity_tier || content.complexityTier || null;\r\n  const derived = deriveTimeLimitSeconds(\r\n    content.time_limit_seconds,\r\n    llmTier,\r\n    nextQ,\r\n    cfg,\r\n    ph + 1\r\n  );\r\n  timeLimitSeconds = derived.seconds;\r\n  complexityTier = derived.tier;\r\n}\r\n\r\nif (nextQ && !isFinal) {\r\n  const sentAt = iso;\r\n  const nextPhase = ph + 1;\r\n  const existingIdx = history.findIndex((x) => Number(x.phase) === nextPhase);\r\n  const nextEntry = {\r\n    phase: nextPhase,\r\n    question_text: nextQ,\r\n    answer_text: null,\r\n    sent_at: sentAt,\r\n    received_at: null,\r\n    score: null,\r\n    suggested_answer: null,\r\n    feedback: null,\r\n    time_limit_seconds: timeLimitSeconds,\r\n    complexity_tier: complexityTier,\r\n    deadline_at: timeLimitSeconds ? buildDeadline(sentAt, timeLimitSeconds) : null,\r\n  };\r\n  if (existingIdx >= 0) {\r\n    history[existingIdx] = { ...history[existingIdx], ...nextEntry };\r\n  } else {\r\n    history.push(nextEntry);\r\n  }\r\n}\r\n\r\n// Before final phase: missing next question must not end the assessment.\r\nif (ph < maxQ && !integrityTerminated && !nextQ) {\r\n  isFinal = false;\r\n  content.feedback = [\r\n    content.feedback || '',\r\n    `[System: model did not return phase ${ph + 1} question — submit again or contact support.]`,\r\n  ]\r\n    .filter(Boolean)\r\n    .join(' ');\r\n}\r\n\r\nconst phaseScore = normalizedScore;\r\n\r\nif (isActualFinalPhase && !integrityTerminated) {\r\n  if (content.status === 'finished' || content.result) isFinal = true;\r\n  if (!content.result) {\r\n    const avg = computeAverageScore(history, maxQ);\r\n    const finalScore =\r\n      avg ?? (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : 0);\r\n    content.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\r\n  }\r\n}\r\n\r\nconst body = { interview_history: history, updated_at: iso };\r\nif (nextQ && !isFinal) body.current_phase = ph + 1;\r\nelse if (!isFinal) body.current_phase = ph;\r\nelse body.current_phase = ph;\r\n\r\nconst averageScore = computeAverageScore(history, maxQ);\r\n\r\nlet finalResult = null;\r\nlet finalFeedback = content.feedback || '';\r\nif (isFinal) {\r\n  body.status = 'completed';\r\n  const finalScore =\r\n    averageScore ??\r\n    (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : null) ??\r\n    0;\r\n  body.score = finalScore;\r\n\r\n  if (integrityTerminated) {\r\n    body.result = 'FAIL';\r\n    finalResult = 'FAIL';\r\n    const phaseSummary = buildPhaseSummary(history);\r\n    finalFeedback = [\r\n      `Assessment failed: integrity violation on phase ${ph}.`,\r\n      averageScore != null\r\n        ? `Recorded average from completed phases before termination: ${averageScore}/100 (${phaseSummary}).`\r\n        : `No prior scored phases (${phaseSummary || 'none'}).`,\r\n    ]\r\n      .filter(Boolean)\r\n      .join(' ');\r\n  } else if (earlyTerminate) {\r\n    body.result = 'FAIL';\r\n    finalResult = 'FAIL';\r\n    const phaseSummary = buildPhaseSummary(history);\r\n    if (averageScore != null) {\r\n      finalFeedback = [\r\n        finalFeedback,\r\n        `Average score across completed phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\r\n      ]\r\n        .filter(Boolean)\r\n        .join(' ');\r\n    }\r\n  } else {\r\n    body.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\r\n    finalResult = body.result;\r\n    if (averageScore != null) {\r\n      const phaseSummary = buildPhaseSummary(history);\r\n      finalFeedback = [\r\n        finalFeedback,\r\n        `Average score across all phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\r\n      ]\r\n        .filter(Boolean)\r\n        .join(' ');\r\n    }\r\n  }\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nif (!b || !/^https?:\\/\\//i.test(b)) {\r\n  throw new Error(\r\n    'supabase_url missing or invalid. Set top-level supabase_url in CFG - Assessment Config (e.g. https://xxx.supabase.co).'\r\n  );\r\n}\r\nconst patchUrl = `${b}/rest/v1/assessment_sessions?id=eq.${encodeURIComponent(String(session.id))}`;\r\nconst nextRow = history.find((x) => Number(x.phase) === ph + 1);\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      score: isFinal ? (body.score ?? averageScore ?? phaseScore) : phaseScore,\r\n      phase_score: phaseScore,\r\n      llm_score_raw: rawLlmScore,\r\n      score_adjusted: scoreAdjusted,\r\n      average_score: isFinal ? (body.score ?? averageScore) : null,\r\n      feedback: isFinal ? finalFeedback : (patch.feedback || content.feedback || ''),\r\n      nextQuestion: nextQ,\r\n      suggested_answer: content.suggested_answer || content.suggestedAnswer || '',\r\n      time_limit_seconds: nextRow?.time_limit_seconds ?? timeLimitSeconds,\r\n      deadline_at: nextRow?.deadline_at ?? null,\r\n      complexity_tier: nextRow?.complexity_tier ?? complexityTier,\r\n      isFinal,\r\n      result: isFinal ? finalResult : null,\r\n      terminatedEarly: earlyTerminate,\r\n      integrity_terminated: integrityTerminated,\r\n      candidate_email: current.candidate_email,\r\n      session_id: current.session_id,\r\n      current_phase: ph,\r\n      config: cfg,\r\n      _session_patch_url: patchUrl,\r\n      _session_patch_body: body,\r\n    },\r\n  },\r\n];"
      },
      "id": "0a0cfd82-17b2-477e-9c8c-6adf8298bf21",
      "name": "CODE - Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Parse Result').first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Parse Result').first().json._session_patch_body }}",
        "options": {}
      },
      "id": "8110ec1b-2b0c-48a5-93c3-375334f2e9fc",
      "name": "HTTP - SB PATCH session interview_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        1200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $('CODE - Parse Result').first().json.score,\n  feedback: $('CODE - Parse Result').first().json.feedback,\n  nextQuestion: $('CODE - Parse Result').first().json.nextQuestion,\n  time_limit_seconds: $('CODE - Parse Result').first().json.time_limit_seconds,\n  deadline_at: $('CODE - Parse Result').first().json.deadline_at,\n  complexity_tier: $('CODE - Parse Result').first().json.complexity_tier,\n  isFinal: $('CODE - Parse Result').first().json.isFinal,\n  result: $('CODE - Parse Result').first().json.result || ''\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "068da392-f1f8-4e69-8964-c03e07c8e73e",
      "name": "Respond to Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2048,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b00bb3a0-62b5-441b-896f-62c72c65c8ba",
      "name": "IF - Assessment finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build assessment result mail (PASS/FAIL — thread reply)\r\n// Place AFTER: CODE - Parse Result (when isFinal = true)\r\n// Place BEFORE: Gmail Thread Reply node\r\n//\r\n// Gmail node settings:\r\n//   Resource:   thread\r\n//   Operation:  reply\r\n//   Thread ID:  {{ $json.gmail_thread_id }}\r\n//   Message ID: {{ $json.gmail_message_id }}\r\n//   Email Type: HTML\r\n//   Message:    {{ $json.mail_body_html }}\r\n\r\nfunction pickSessionRow() {\r\n  const names = ['HTTP - Fetch Session', 'CODE - Build LLM context'];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = Array.isArray(raw) ? raw[0] : raw;\r\n      if (row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst parse = $('CODE - Parse Result').first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = parse.config || session.config || {};\r\n\r\nconst threadId = String(session.gmail_thread_id || parse.gmail_thread_id || '').trim();\r\nconst msgId = String(session.gmail_message_id || parse.gmail_message_id || '').trim();\r\n\r\nif (!threadId || threadId.startsWith('draft-')) {\r\n  throw new Error(\r\n    'gmail_thread_id missing on session — run CV screening shortlist mail first and PATCH thread.'\r\n  );\r\n}\r\nif (!msgId) {\r\n  throw new Error(\r\n    'gmail_message_id missing on session — re-run shortlist flow or set from first mail.'\r\n  );\r\n}\r\n\r\nconst result = String(parse.result || 'FAIL').toUpperCase();\r\nconst passed = result === 'PASS';\r\nconst score = parse.score ?? parse.average_score ?? '—';\r\nconst role = String(cfg.requisition_title || 'the role');\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst feedback = String(parse.feedback || '').trim();\r\nconst sessionId = String(session.id || parse.session_id || '');\r\n\r\nconst sectionTitle = passed ? 'Assessment Passed' : 'Assessment Result';\r\nconst headline = passed\r\n  ? `Congratulations — you passed the technical assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`\r\n  : `Thank you for completing the assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`;\r\n\r\nconst nextStep = passed\r\n  ? '<p>Our team will share interview scheduling options in this same email thread shortly.</p>'\r\n  : '<p>Unfortunately you did not meet the pass threshold for this role at this time.</p>';\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── ${sectionTitle} ──</p>\r\n          <p>Hi,</p>\r\n          <p>${headline}</p>\r\n          <p><strong>Overall score:</strong> ${score}/100 &nbsp;|&nbsp; <strong>Result:</strong> ${result}</p>\r\n          ${feedback ? `<p style=\"color:#475569;font-size:14px;\">${feedback.replace(/</g, '&lt;')}</p>` : ''}\r\n          ${nextStep}\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...parse,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      mail_subject: session.mail_subject || parse.mail_subject || '',\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: passed ? 'pass' : 'fail',\r\n      candidate_email: parse.candidate_email || session.candidate_email,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "40333146-c247-45a1-9c6d-311139b3d121",
      "name": "CODE - Build assessment result mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1320
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "1b3c7b64-3c94-4e35-843a-3836c6593c9f",
      "name": "MAIL - Reply candidate (assessment result)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2512,
        1320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nif (!sessionId) {\r\n  throw new Error('Missing session_id — cannot update gmail_message_id after reply.');\r\n}\r\nif (!threadId) {\r\n  throw new Error('Missing gmail_thread_id — first shortlist mail must create the thread.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('Gmail reply returned no message id.');\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "77f23986-ad4a-4514-8f81-7704e01f2e7b",
      "name": "CODE - Merge Gmail reply response (result)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        1320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "d740e264-9142-4537-8b8b-c9ead4849b97",
      "name": "HTTP - PATCH candidate gmail (result)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        1320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.result }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bbc7674-10e4-400e-ad25-72296d8beaef",
      "name": "IF - Result PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3184,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Prep scheduling from PASS\r\n// After assessment result mail PATCH — loads session row for scheduling chain\r\n\r\nfunction pickSessionRow() {\r\n  const names = ['HTTP - Fetch Session', 'CODE - Parse Result'];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = Array.isArray(raw) ? raw[0] : raw;\r\n      if (row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst parse = $('CODE - Parse Result').first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(parse.config || {}) };\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...parse,\r\n      ...session,\r\n      session_id: session.id || parse.session_id,\r\n      candidate_email: parse.candidate_email || session.candidate_email,\r\n      score: parse.score ?? session.score,\r\n      result: parse.result || session.result,\r\n      requisition_title: cfg.requisition_title || session.requisition_title,\r\n      config: cfg,\r\n      gmail_thread_id: session.gmail_thread_id,\r\n      gmail_message_id: session.gmail_message_id,\r\n      mail_subject: session.mail_subject,\r\n      interviewer_gmail_thread_id: session.interviewer_gmail_thread_id,\r\n      interviewer_gmail_message_id: session.interviewer_gmail_message_id,\r\n    },\r\n  },\r\n];"
      },
      "id": "72a4f5ff-cf59-4353-9dda-395f9866295a",
      "name": "CODE - Prep scheduling from PASS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer mail context\r\n// Place BEFORE: MAIL - Interviewer pitch mail (MAIL must wire directly to WAIT)\r\n// MAIL message must use $execution.resumeUrl at send time — see _mail_resume_expr\r\n// Place BEFORE: MAIL - Interviewer pick slot\r\n//\r\n// MAIL node settings:\r\n//   To:      {{ $json.interviewer_email }}\r\n//   Subject: {{ $json.mail_subject }}\r\n//   Message: {{ $json.mail_body_html }}  (enable HTML / paste as HTML)\r\n\r\nfunction extractConfig(row) {\r\n  const out = {};\r\n  if (!row || typeof row !== 'object') return out;\r\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\r\n  for (const [k, v] of Object.entries(row)) {\r\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n      out[k.slice(7)] = String(v).trim();\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction mergeConfig(...sources) {\r\n  const out = {};\r\n  for (const src of sources) {\r\n    if (!src || typeof src !== 'object') continue;\r\n    Object.assign(out, extractConfig(src));\r\n    if (src.config && typeof src.config === 'object') {\r\n      for (const [k, v] of Object.entries(src.config)) {\r\n        if (v != null && String(v).trim()) out[k] = String(v).trim();\r\n      }\r\n    }\r\n    for (const [k, v] of Object.entries(src)) {\r\n      if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n        out[k.slice(7)] = String(v).trim();\r\n      }\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction loadWorkflowConfig() {\r\n  const names = [\r\n    'CFG - Workflow configuration',\r\n    'CFG - Workflow configuration1',\r\n    'CFG - Workflow',\r\n    'CFG - Assessment Config',\r\n    'CFG - Assessment Config1',\r\n    'CFG - Reply track (merge)',\r\n    'CODE - Normalize Data',\r\n    'CODE - Normalize Data1',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Prep scheduling from PASS1',\r\n    'CODE - Parse Result',\r\n    'CODE - Parse Result1',\r\n  ];\r\n  const rows = names.map((n) => pickNodeJson(n)).filter(Boolean);\r\n  return mergeConfig(...rows);\r\n}\r\n\r\nfunction pickAssessmentContext() {\r\n  const input = $input.first().json || {};\r\n  const names = [\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Prep scheduling from PASS1',\r\n    'CODE - Parse Result',\r\n    'CODE - Parse Result1',\r\n    'CODE - Normalize Data',\r\n    'CODE - Normalize Data1',\r\n    'HTTP - SB PATCH session interview_history',\r\n    'HTTP - SB PATCH session interview_history1',\r\n    'CODE - Update interview_history',\r\n  ];\r\n  const rows = [input, ...names.map((n) => pickNodeJson(n)).filter(Boolean)];\r\n  let merged = {};\r\n  for (const row of rows) {\r\n    merged = { ...merged, ...row };\r\n    if (row.config && typeof row.config === 'object') {\r\n      merged = { ...merged, ...row.config };\r\n    }\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction publicBaseFromHeaders(obj) {\r\n  const h = obj?.headers || {};\r\n  const host = String(h['x-forwarded-host'] || h.host || '').split(',')[0].trim();\r\n  if (!host || /localhost|127\\.0\\.0\\.1/i.test(host)) return '';\r\n  return `https://${host}`.replace(/\\/+$/, '');\r\n}\r\n\r\nfunction resolvePublicBase(base, cfg) {\r\n  let envWebhook = '';\r\n  try {\r\n    envWebhook = String($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || '').trim();\r\n  } catch (_) {}\r\n\r\n  const candidates = [\r\n    cfg.n8n_public_url,\r\n    cfg.n8n_webhook_url,\r\n    cfg.public_n8n_url,\r\n    envWebhook,\r\n    publicBaseFromHeaders(base),\r\n  ];\r\n\r\n  for (const name of ['TRG - Assessment Answer', 'CFG - Workflow', 'CFG - Assessment Config']) {\r\n    try {\r\n      candidates.push(publicBaseFromHeaders($(name).first().json));\r\n      const rowCfg = extractConfig($(name).first().json);\r\n      candidates.push(rowCfg.n8n_public_url, rowCfg.n8n_webhook_url);\r\n    } catch (_) {}\r\n  }\r\n\r\n  for (const raw of candidates) {\r\n    const v = String(raw || '').trim().replace(/\\/+$/, '');\r\n    if (v && !/localhost|127\\.0\\.0\\.1/i.test(v)) return v;\r\n  }\r\n  return '';\r\n}\r\n\r\nfunction nameFromEmail(email) {\r\n  const e = String(email || '').trim().toLowerCase();\r\n  if (!e) return 'Candidate';\r\n  const local = e.split('@')[0] || e;\r\n  return local\r\n    .replace(/[._-]+/g, ' ')\r\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\r\n    .trim() || e;\r\n}\r\n\r\nconst base = $input.first().json || {};\r\nconst ctx = pickAssessmentContext();\r\nconst cfg = {\r\n  ...loadWorkflowConfig(),\r\n  ...mergeConfig(base, ctx),\r\n};\r\n\r\nconst portalBase = String(\r\n  base.interviewer_portal_base ||\r\n    cfg.interviewer_portal_base ||\r\n    cfg.portal_base_url ||\r\n    'https://talent-acquisition-six.vercel.app/interviewer.html'\r\n).replace(/\\/interviewer\\.html.*$/i, '').replace(/\\/+$/, '');\r\n\r\nconst interviewerPortal = portalBase + '/interviewer.html';\r\n\r\nconst publicBase = resolvePublicBase(base, cfg);\r\n\r\n// Injected at send time by MAIL node (must be the node immediately before WAIT):\r\n//   $json.mail_body_html.replace('{{RESUME_URL}}', encodeURIComponent($execution.resumeUrl))\r\nconst RESUME_PLACEHOLDER = '{{RESUME_URL}}';\r\nconst schedulingLink = interviewerPortal + '?resumeUrl=' + RESUME_PLACEHOLDER;\r\n\r\nconst candidateEmail = String(\r\n  base.candidate_email || ctx.candidate_email || cfg.candidate_email || ''\r\n).trim();\r\n\r\nconst candidateName = String(\r\n  base.candidate_name || ctx.candidate_name || nameFromEmail(candidateEmail)\r\n).trim();\r\n\r\nconst sessionId = String(\r\n  base.session_id || ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nconst scoreRaw = base.score ?? ctx.score ?? ctx.average_score ?? ctx.phase_score;\r\nconst score = scoreRaw != null && scoreRaw !== '' ? scoreRaw : '—';\r\n\r\nconst role = String(\r\n  base.requisition_title ||\r\n    ctx.requisition_title ||\r\n    cfg.requisition_title ||\r\n    'Open role'\r\n).trim();\r\n\r\nconst interviewerEmail = String(\r\n  base.interviewer_email ||\r\n    ctx.interviewer_email ||\r\n    cfg.interviewer_email ||\r\n    base.config?.interviewer_email ||\r\n    ctx.config?.interviewer_email ||\r\n    ''\r\n).trim();\r\n\r\nif (!candidateEmail) {\r\n  throw new Error(\r\n    'candidate_email missing — check CODE - Parse Result / CODE - Prep scheduling from PASS output.'\r\n  );\r\n}\r\n\r\nif (!interviewerEmail) {\r\n  throw new Error('interviewer_email missing — set in CFG or job/recruiter intake.');\r\n}\r\n\r\nconst mailSubject =\r\n  base.mail_subject ||\r\n  `Schedule interview — ${candidateName} (${role})`;\r\n\r\nconst mailBody =\r\n  `Hello,\\n\\n` +\r\n  `Candidate: ${candidateName}\\n` +\r\n  `Email: ${candidateEmail}\\n` +\r\n  `Role: ${role}\\n` +\r\n  `Assessment score: ${score}/100 (PASSED)\\n\\n` +\r\n  `Please propose interview date/time options (45–60 minutes):\\n` +\r\n  `${schedulingLink}\\n\\n` +\r\n  `Session ID: ${sessionId}\\n\\n` +\r\n  `Thank you.`;\r\n\r\nconst esc = (s) =>\r\n  String(s)\r\n    .replace(/&/g, '&amp;')\r\n    .replace(/</g, '&lt;')\r\n    .replace(/>/g, '&gt;');\r\n\r\nconst mailBodyHtml =\r\n  `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p>Hello,</p>\r\n          <p><strong>${esc(candidateName)}</strong> passed the technical assessment for <strong>${esc(role)}</strong>.</p>\r\n          <table style=\"width:100%;margin:16px 0;font-size:14px;color:#475569;\">\r\n            <tr><td style=\"padding:4px 0;\">Email</td><td style=\"padding:4px 0;\"><strong>${esc(candidateEmail)}</strong></td></tr>\r\n            <tr><td style=\"padding:4px 0;\">Score</td><td style=\"padding:4px 0;\"><strong>${esc(score)}/100</strong></td></tr>\r\n            <tr><td style=\"padding:4px 0;\">Session</td><td style=\"padding:4px 0;\"><strong>${esc(sessionId || '—')}</strong></td></tr>\r\n          </table>\r\n          <p>Please propose interview slots (45–60 minutes):</p>\r\n          <p style=\"text-align:center;margin:28px 0;\">\r\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Propose interview slots</a>\r\n          </p>\r\n          <p>Thank you.</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      ...ctx,\r\n      config: { ...cfg, n8n_public_url: publicBase || cfg.n8n_public_url || '' },\r\n      candidate_email: candidateEmail,\r\n      candidate_name: candidateName,\r\n      requisition_title: role,\r\n      session_id: sessionId,\r\n      score,\r\n      resume_url: RESUME_PLACEHOLDER,\r\n      interviewer_portal_base: interviewerPortal,\r\n      scheduling_link: schedulingLink,\r\n      interviewer_email: interviewerEmail,\r\n      mail_subject: mailSubject,\r\n      mail_body: mailBody,\r\n      mail_body_html: mailBodyHtml,\r\n      _debug_public_base: publicBase,\r\n      // Paste this ENTIRE string into MAIL node → Message field (Expression mode ON):\r\n      gmail_message_n8n:\r\n        \"={{ (() => { const ru = String($execution.resumeUrl || '').trim(); if (!ru) throw new Error('resumeUrl empty — wire MAIL directly to WAIT only (remove PATCH→WAIT)'); return $json.mail_body_html.split('{{RESUME_URL}}').join(encodeURIComponent(ru)); })() }}\",\r\n    },\r\n  },\r\n];"
      },
      "id": "ba480e7b-fc40-4015-b581-085302d9b1a8",
      "name": "CODE - Build interviewer mail context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1240
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.interviewer_email }}",
        "subject": "={{ $json.mail_subject }}",
        "emailType": "html",
        "message": "={{ (() => { let u = String($execution.resumeUrl || '').trim(); const b = String($json.config?.n8n_public_url || $json._debug_public_base || '').replace(/\\/+$/, ''); if (b && /localhost|127\\.0\\.0\\.1/i.test(u)) u = u.replace(/^https?:\\/\\/[^/]+/i, b); if (!u) throw new Error('resumeUrl empty — MAIL must wire directly to WAIT'); return $json.mail_body_html.split($json.resume_url).join(encodeURIComponent(u)); })() }}",
        "options": {}
      },
      "id": "2eeb502f-a445-488d-bea0-fd2c8551899d",
      "name": "MAIL - Interviewer pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3856,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\r\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\r\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\r\n\r\nfunction pickContext() {\r\n  const names = [\r\n    'CODE - Build interviewer mail context',\r\n    'CODE - Build interviewer confirmed mail',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\r\nconst sessionId = String(ctx.session_id || ctx.session_db_id || ctx.id || '').trim();\r\nconst mailSubject = String(ctx.mail_subject || ctx.interviewer_mail_subject || '').trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      interviewer_gmail_thread_id: threadId || ctx.interviewer_gmail_thread_id || null,\r\n      interviewer_gmail_message_id: msgId || ctx.interviewer_gmail_message_id || null,\r\n      interviewer_mail_subject: mailSubject || ctx.interviewer_mail_subject || null,\r\n      _interviewer_patch_skipped: !patchReady,\r\n      _interviewer_patch_skip_reason: !patchReady\r\n        ? [\r\n            !sessionId ? 'missing session_id' : null,\r\n            !threadId ? 'missing gmail threadId' : null,\r\n            !msgId ? 'missing gmail message id' : null,\r\n          ]\r\n            .filter(Boolean)\r\n            .join('; ')\r\n        : '',\r\n      _interviewer_patch_url: patchReady\r\n        ? `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\r\n        : '',\r\n      _interviewer_patch_body: patchReady\r\n        ? {\r\n            interviewer_gmail_thread_id: threadId,\r\n            interviewer_gmail_message_id: msgId,\r\n            interviewer_mail_subject: mailSubject || undefined,\r\n            updated_at: new Date().toISOString(),\r\n          }\r\n        : {},\r\n    },\r\n  },\r\n];"
      },
      "id": "fb0aaf10-eb1b-4f04-9f30-ff66a345777d",
      "name": "CODE - Merge Gmail interviewer send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "1902aafc-d53f-4b47-9b7b-03622d404f08",
      "name": "HTTP - PATCH interviewer thread (pitch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "interviewer-availability"
        }
      },
      "id": "d319b6d0-a3f6-4a70-8083-59d0cfbc163b",
      "name": "WAIT - Interviewer availability",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4528,
        1240
      ],
      "webhookId": "interviewer-availability-wait"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse interviewer slot\r\n// After WAIT - Interviewer availability — normalizes slots from interviewer portal\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst wait = $input.first().json;\r\nconst body = wait.body || wait;\r\nconst query = wait.query || body.query || {};\r\nconst base = pickNodeJson(\r\n  'CODE - Prep scheduling from PASS',\r\n  'CODE - Prep scheduling from PASS1',\r\n  'CODE - Build interviewer mail context',\r\n  'CODE - Build interviewer mail context1'\r\n);\r\n\r\nlet slots =\r\n  body.slots ||\r\n  body.proposed_slots ||\r\n  body.availability ||\r\n  body.slots_json ||\r\n  query.slots_json ||\r\n  wait.slots_json ||\r\n  [];\r\nif (typeof slots === 'string') {\r\n  try {\r\n    slots = JSON.parse(slots);\r\n  } catch (_) {\r\n    slots = [];\r\n  }\r\n}\r\nif (!Array.isArray(slots)) slots = [];\r\n\r\nconst normalized = slots\r\n  .map((s, i) => {\r\n    const start = s.start_iso || s.start || s.from || '';\r\n    const end = s.end_iso || s.end || s.to || '';\r\n    const label =\r\n      s.label ||\r\n      (start && end ? `${start} → ${end}` : start || `Slot ${i + 1}`);\r\n    return { start_iso: start, end_iso: end, label };\r\n  })\r\n  .filter((s) => s.start_iso || s.label);\r\n\r\nif (!normalized.length) {\r\n  throw new Error('Interviewer submitted no valid slots.');\r\n}\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      slots: normalized,\r\n      proposed_slots: normalized,\r\n      interviewer_submitted_at: new Date().toISOString(),\r\n    },\r\n  },\r\n];"
      },
      "id": "e6f3d3e8-e589-415d-9a92-6a9f8e29e0c3",
      "name": "CODE - Parse interviewer slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build candidate slot mail (scheduling — thread reply)\r\n// Place AFTER:  CODE - Parse interviewer slot (slots ready)\r\n// Place BEFORE: Gmail Thread Reply node (NOT \"Send message\")\r\n//\r\n// Gmail node settings:\r\n//   Resource:   thread\r\n//   Operation:  reply\r\n//   Thread ID:  {{ $json.gmail_thread_id }}\r\n//   Message ID: {{ $json.gmail_message_id }}\r\n//   Email Type: HTML\r\n//   Message:    {{ $json.mail_body_html }}\r\n//\r\n// After reply: CODE - Merge Gmail reply response → HTTP PATCH session\r\n\r\nfunction extractConfig(row) {\r\n  const out = {};\r\n  if (!row || typeof row !== 'object') return out;\r\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\r\n  for (const [k, v] of Object.entries(row)) {\r\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n      out[k.slice(7)] = String(v).trim();\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction loadWorkflowConfig() {\r\n  const names = [\r\n    'CFG - Workflow configuration',\r\n    'CFG - Workflow',\r\n    'CFG - Assessment Config',\r\n    'CFG - Reply track (merge)',\r\n    'CODE - Normalize Data',\r\n    'CODE - Prep scheduling from PASS',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...extractConfig($(name).first().json) };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction pickSessionRow() {\r\n  const names = [\r\n    'HTTP - Fetch Session',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'CODE - Build assessment result mail',\r\n  ];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = raw?.session_row || (Array.isArray(raw) ? raw[0] : raw);\r\n      if (row?.id || row?.gmail_thread_id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nfunction publicBaseFromHeaders(obj) {\r\n  const h = obj?.headers || {};\r\n  const host = String(h['x-forwarded-host'] || h.host || '').split(',')[0].trim();\r\n  if (!host || /localhost|127\\.0\\.0\\.1/i.test(host)) return '';\r\n  return `https://${host}`.replace(/\\/+$/, '');\r\n}\r\n\r\nfunction resolvePublicBase(base, cfg) {\r\n  let envWebhook = '';\r\n  try {\r\n    envWebhook = String($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || '').trim();\r\n  } catch (_) {}\r\n  const candidates = [\r\n    cfg.n8n_public_url,\r\n    cfg.n8n_webhook_url,\r\n    cfg.public_n8n_url,\r\n    envWebhook,\r\n    publicBaseFromHeaders(base),\r\n  ];\r\n  for (const name of ['TRG - Assessment Answer', 'CFG - Workflow', 'CFG - Assessment Config']) {\r\n    try {\r\n      candidates.push(publicBaseFromHeaders($(name).first().json));\r\n      const rowCfg = extractConfig($(name).first().json);\r\n      candidates.push(rowCfg.n8n_public_url, rowCfg.n8n_webhook_url);\r\n    } catch (_) {}\r\n  }\r\n  for (const raw of candidates) {\r\n    const v = String(raw || '').trim().replace(/\\/+$/, '');\r\n    if (v && !/localhost|127\\.0\\.0\\.1/i.test(v)) return v;\r\n  }\r\n  return '';\r\n}\r\n\r\nconst base = $input.first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...loadWorkflowConfig(), ...extractConfig(base), ...(base.config || {}), ...(session.config || {}) };\r\n\r\nconst threadId = String(session.gmail_thread_id || base.gmail_thread_id || '').trim();\r\nconst msgId = String(session.gmail_message_id || base.gmail_message_id || '').trim();\r\nif (!threadId || threadId.startsWith('draft-')) {\r\n  throw new Error('gmail_thread_id missing — shortlist mail must run first.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('gmail_message_id missing — PATCH after shortlist/result mail first.');\r\n}\r\n\r\nconst portalBase = String(\r\n  cfg.portal_base_url || cfg.candidate_portal_base || 'https://talent-acquisition-six.vercel.app'\r\n).replace(/\\/+$/, '');\r\n\r\nconst pickPortal = portalBase + '/candidate-pick.html';\r\n\r\nlet resumeUrl = String($execution.resumeUrl || base.candidate_resume_url || base.resume_url || '').trim();\r\nconst publicBase = resolvePublicBase(base, cfg);\r\n\r\nfunction rewriteLocalResume(url) {\r\n  if (!url) return url;\r\n  if (!/localhost|127\\.0\\.0\\.1/i.test(url)) return url;\r\n  if (!publicBase) {\r\n    throw new Error('resumeUrl is localhost — set config.n8n_public_url or WEBHOOK_URL on n8n.');\r\n  }\r\n  return url.replace(/^https?:\\/\\/[^/]+/i, publicBase);\r\n}\r\n\r\nresumeUrl = rewriteLocalResume(resumeUrl);\r\nif (!resumeUrl) {\r\n  throw new Error('Missing $execution.resumeUrl — run BEFORE WAIT - Candidate slot status.');\r\n}\r\n\r\nconst slots = Array.isArray(base.slots)\r\n  ? base.slots\r\n  : Array.isArray(base.proposed_slots)\r\n    ? base.proposed_slots\r\n    : [];\r\n\r\nif (!slots.length) {\r\n  throw new Error('No interview slots in payload — interviewer must submit slots first.');\r\n}\r\n\r\nconst slotsParam = encodeURIComponent(JSON.stringify(slots));\r\nconst schedulingLink =\r\n  pickPortal +\r\n  '?resumeUrl=' +\r\n  encodeURIComponent(resumeUrl) +\r\n  '&slots_json=' +\r\n  slotsParam;\r\n\r\nconst candidateEmail = String(base.candidate_email || '').trim();\r\nconst score = base.score != null ? base.score : '—';\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst role = String(cfg.requisition_title || base.requisition_title || 'the role');\r\n\r\nconst sessionId = String(session.id || base.session_id || base.session_db_id || '');\r\n\r\nconst mailBody =\r\n  `Hi,\\n\\n` +\r\n  `Congratulations! You passed our technical assessment for ${role} (score: ${score}/100).\\n\\n` +\r\n  `Next step: choose your interview time from the slots proposed by our team:\\n` +\r\n  `${schedulingLink}\\n\\n` +\r\n  `The link opens a short page where you pick one time slot.\\n\\n` +\r\n  `Best regards,\\n${org}`;\r\n\r\nconst slotListHtml = slots\r\n  .map((s) => `<li style=\"margin:6px 0;\">${String(s.label || s.start_iso || '').replace(/</g, '&lt;')}</li>`)\r\n  .join('');\r\n\r\nconst mailBodyHtml =\r\n  `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Scheduling ──</p>\r\n          <p>Hi,</p>\r\n          <p><strong>Congratulations!</strong> You passed our technical assessment for <strong>${role.replace(/</g, '&lt;')}</strong> (score: <strong>${score}/100</strong>).</p>\r\n          <p>Next step — pick your interview time:</p>\r\n          <ul style=\"padding-left:20px;color:#475569;\">${slotListHtml}</ul>\r\n          <p style=\"text-align:center;margin:28px 0;\">\r\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Choose interview time</a>\r\n          </p>\r\n          <p style=\"font-size:13px;color:#64748b;\">Or copy this link: ${schedulingLink}</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      ...session,\r\n      config: cfg,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      resume_url: resumeUrl,\r\n      scheduling_link: schedulingLink,\r\n      mail_body: mailBody,\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: 'scheduling',\r\n      candidate_email: candidateEmail,\r\n    },\r\n  },\r\n];"
      },
      "id": "d009c964-761a-4d46-a846-699e6de1b7fd",
      "name": "CODE - Build candidate slot mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1240
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "318b725e-e860-4fc6-a689-ab615206df51",
      "name": "MAIL - Candidate pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5200,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nif (!sessionId) {\r\n  throw new Error('Missing session_id — cannot update gmail_message_id after reply.');\r\n}\r\nif (!threadId) {\r\n  throw new Error('Missing gmail_thread_id — first shortlist mail must create the thread.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('Gmail reply returned no message id.');\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "a3ea2e2a-f267-481c-9293-956f37d6f21c",
      "name": "CODE - Merge Gmail reply response (scheduling)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        1240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "321d7a7b-43d0-45c5-ba23-f262be0d698d",
      "name": "HTTP - PATCH candidate gmail (scheduling)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "candidate-slot-choice"
        }
      },
      "id": "73460fe5-4ac1-422c-a11b-aef27d90907e",
      "name": "WAIT - Candidate slot choice",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5872,
        1240
      ],
      "webhookId": "candidate-slot-choice-wait"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse candidate choice\r\n// After WAIT - Candidate slot choice\r\n\r\nconst wait = $input.first().json;\r\nconst body = wait.body || wait;\r\nconst base = $('CODE - Build candidate slot mail').first().json;\r\n\r\nconst slot =\r\n  body.selected_slot ||\r\n  body.chosen_slot ||\r\n  body.slot ||\r\n  (body.slot_index != null && Array.isArray(base.slots)\r\n    ? base.slots[Number(body.slot_index)]\r\n    : null);\r\n\r\nif (!slot) {\r\n  throw new Error('Candidate did not select a slot.');\r\n}\r\n\r\nconst start_iso = slot.start_iso || slot.start || '';\r\nconst end_iso = slot.end_iso || slot.end || '';\r\nconst slot_label = slot.label || start_iso || 'Selected slot';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      selected_slot: slot,\r\n      selected_slot_label: slot_label,\r\n      slot_label,\r\n      chosen_slot: slot_label,\r\n      start_iso,\r\n      end_iso,\r\n      candidate_email: base.candidate_email,\r\n      interviewer_email: base.config?.interviewer_email || base.interviewer_email,\r\n    },\r\n  },\r\n];"
      },
      "id": "d8be9c03-79a1-4d4e-a3a3-aa55d7d94cb0",
      "name": "CODE - Parse candidate choice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        1240
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json.config.calendar_id || 'primary' }}",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.start_iso || $now.toISO() }}",
        "end": "={{ $json.end_iso || $now.plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "attendees": "={{ [$json.candidate_email, $json.interviewer_email || $json.config.interviewer_email].filter(Boolean) }}",
          "summary": "=Interview — {{ $json.candidate_email }} ({{ $json.config.requisition_title || \"Role\" }})"
        }
      },
      "id": "95445d5a-a1e2-4e6c-8595-5d4819d6d868",
      "name": "CAL - Create interview event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        6320,
        1240
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interview confirmed mail (thread reply)\r\n// Place AFTER: candidate picks slot / calendar event created\r\n// Place BEFORE: Gmail Thread Reply node\r\n//\r\n// Input should include: candidate_email, selected slot, session row or thread ids\r\n\r\nfunction pickSessionRow() {\r\n  const names = [\r\n    'HTTP - Fetch Session',\r\n    'CODE - Parse candidate slot',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Build candidate slot mail',\r\n  ];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = raw?.session_row || (Array.isArray(raw) ? raw[0] : raw);\r\n      if (row?.gmail_thread_id || row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst base = $input.first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(base.config || {}) };\r\n\r\nconst threadId = String(session.gmail_thread_id || base.gmail_thread_id || '').trim();\r\nconst msgId = String(session.gmail_message_id || base.gmail_message_id || '').trim();\r\n\r\nif (!threadId) throw new Error('gmail_thread_id missing — cannot reply in candidate thread.');\r\nif (!msgId) throw new Error('gmail_message_id missing — send scheduling reply first.');\r\n\r\nconst role = String(cfg.requisition_title || base.requisition_title || 'the role');\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst slotLabel = String(\r\n  base.selected_slot_label ||\r\n    base.slot_label ||\r\n    base.chosen_slot ||\r\n    base.start_iso ||\r\n    'your selected time'\r\n);\r\nconst sessionId = String(session.id || base.session_id || '');\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Confirmed ──</p>\r\n          <p>Hi,</p>\r\n          <p>Your interview for <strong>${role.replace(/</g, '&lt;')}</strong> is confirmed.</p>\r\n          <p><strong>Time:</strong> ${slotLabel.replace(/</g, '&lt;')}</p>\r\n          <p>Please join on time. If you need to reschedule, reply to this email.</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: 'confirmed',\r\n      candidate_email: base.candidate_email || session.candidate_email,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "7cfdae87-7f8b-49b9-b85e-86290552e170",
      "name": "CODE - Build interview confirmed mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        1120
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "58e0acad-f662-4eaf-86b7-3a06d1e3d7c6",
      "name": "MAIL - Notify candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6768,
        1120
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nif (!sessionId) {\r\n  throw new Error('Missing session_id — cannot update gmail_message_id after reply.');\r\n}\r\nif (!threadId) {\r\n  throw new Error('Missing gmail_thread_id — first shortlist mail must create the thread.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('Gmail reply returned no message id.');\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "d8796cf7-1804-49ed-8389-cef23726c87e",
      "name": "CODE - Merge Gmail reply response (confirmed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6992,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "abc69d82-df84-4a51-88c9-dc28218b5bd1",
      "name": "HTTP - PATCH candidate gmail (confirmed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        1120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer confirmed mail (interviewer thread reply)\r\n// Place AFTER: CAL - Create interview event\r\n// Place BEFORE: Gmail Thread Reply (interviewer)\r\n\r\nfunction pickSessionRow() {\r\n  const names = ['HTTP - Fetch Session', 'CODE - Parse candidate choice', 'CODE - Prep scheduling from PASS'];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = raw?.session_row || (Array.isArray(raw) ? raw[0] : raw);\r\n      if (row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst base = $input.first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(base.config || {}) };\r\n\r\nconst threadId = String(session.interviewer_gmail_thread_id || base.interviewer_gmail_thread_id || '').trim();\r\nconst msgId = String(session.interviewer_gmail_message_id || base.interviewer_gmail_message_id || '').trim();\r\n\r\nif (!threadId) throw new Error('interviewer_gmail_thread_id missing — send interviewer pitch mail first.');\r\nif (!msgId) throw new Error('interviewer_gmail_message_id missing — PATCH after interviewer pitch mail.');\r\n\r\nconst role = String(cfg.requisition_title || base.requisition_title || 'the role');\r\nconst candidateEmail = String(base.candidate_email || session.candidate_email || '');\r\nconst slotLabel = String(\r\n  base.selected_slot_label || base.slot_label || base.chosen_slot || base.start_iso || 'scheduled time'\r\n);\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Confirmed ──</p>\r\n          <p>Hello,</p>\r\n          <p>Interview scheduled for <strong>${candidateEmail.replace(/</g, '&lt;')}</strong> — <strong>${role.replace(/</g, '&lt;')}</strong>.</p>\r\n          <p><strong>Time:</strong> ${slotLabel.replace(/</g, '&lt;')}</p>\r\n          <p>Calendar invite has been created. Candidate confirmation sent in their thread.</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      session_id: session.id || base.session_id,\r\n      interviewer_email: base.interviewer_email || cfg.interviewer_email,\r\n      interviewer_gmail_thread_id: threadId,\r\n      interviewer_gmail_message_id: msgId,\r\n      mail_body_html: mailBodyHtml,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "11c4c120-3821-47a7-b30d-04f9b73a9f05",
      "name": "CODE - Build interviewer confirmed mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.interviewer_gmail_thread_id }}",
        "messageId": "={{ $json.interviewer_gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "1293bf98-7f28-4c46-bdf2-2380bfed1ebf",
      "name": "MAIL - Notify interviewer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6768,
        1360
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\r\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\r\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\r\n\r\nfunction pickContext() {\r\n  const names = [\r\n    'CODE - Build interviewer mail context',\r\n    'CODE - Build interviewer confirmed mail',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\r\nconst sessionId = String(ctx.session_id || ctx.session_db_id || ctx.id || '').trim();\r\nconst mailSubject = String(ctx.mail_subject || ctx.interviewer_mail_subject || '').trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      interviewer_gmail_thread_id: threadId || ctx.interviewer_gmail_thread_id || null,\r\n      interviewer_gmail_message_id: msgId || ctx.interviewer_gmail_message_id || null,\r\n      interviewer_mail_subject: mailSubject || ctx.interviewer_mail_subject || null,\r\n      _interviewer_patch_skipped: !patchReady,\r\n      _interviewer_patch_skip_reason: !patchReady\r\n        ? [\r\n            !sessionId ? 'missing session_id' : null,\r\n            !threadId ? 'missing gmail threadId' : null,\r\n            !msgId ? 'missing gmail message id' : null,\r\n          ]\r\n            .filter(Boolean)\r\n            .join('; ')\r\n        : '',\r\n      _interviewer_patch_url: patchReady\r\n        ? `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\r\n        : '',\r\n      _interviewer_patch_body: patchReady\r\n        ? {\r\n            interviewer_gmail_thread_id: threadId,\r\n            interviewer_gmail_message_id: msgId,\r\n            interviewer_mail_subject: mailSubject || undefined,\r\n            updated_at: new Date().toISOString(),\r\n          }\r\n        : {},\r\n    },\r\n  },\r\n];"
      },
      "id": "91c583bb-03cb-4f0a-95cd-805eb0a01667",
      "name": "CODE - Merge Gmail interviewer reply (confirmed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6992,
        1360
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "35f59752-5735-44bb-9f44-980785ffe0c7",
      "name": "HTTP - PATCH interviewer thread (confirmed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        1360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CFG - Assessment Config').first().json.supabase_url.replace(/\\/$/, '') + '/rest/v1/assessment_sessions?id=eq.' + encodeURIComponent($('CODE - Parse candidate choice').first().json.session_id) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'scheduled', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "f82c0e34-3b10-4c14-8f34-147caed6955d",
      "name": "HTTP - SB scheduling concluding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7440,
        1240
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "TRG - Assessment Answer": {
      "main": [
        [
          {
            "node": "CFG - Assessment Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Assessment Config": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Data": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session": {
      "main": [
        [
          {
            "node": "CODE - Build LLM context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build LLM context": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "CODE - Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session interview_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session interview_history": {
      "main": [
        [
          {
            "node": "Respond to Portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Assessment finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Assessment finished?": {
      "main": [
        [
          {
            "node": "CODE - Build assessment result mail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CODE - Build assessment result mail": {
      "main": [
        [
          {
            "node": "MAIL - Reply candidate (assessment result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Reply candidate (assessment result)": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail reply response (result)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (result)": {
      "main": [
        [
          {
            "node": "IF - Result PASS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Result PASS?": {
      "main": [
        [
          {
            "node": "CODE - Prep scheduling from PASS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CODE - Prep scheduling from PASS": {
      "main": [
        [
          {
            "node": "CODE - Build interviewer mail context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer mail context": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Interviewer pitch mail": {
      "main": [
        [
          {
            "node": "WAIT - Interviewer availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "CODE - Merge Gmail interviewer send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer send": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (pitch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH interviewer thread (pitch)": {
      "main": [
        []
      ]
    },
    "WAIT - Interviewer availability": {
      "main": [
        [
          {
            "node": "CODE - Parse interviewer slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse interviewer slot": {
      "main": [
        [
          {
            "node": "CODE - Build candidate slot mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build candidate slot mail": {
      "main": [
        [
          {
            "node": "MAIL - Candidate pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Candidate pitch mail": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (scheduling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail reply response (scheduling)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (scheduling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (scheduling)": {
      "main": [
        [
          {
            "node": "WAIT - Candidate slot choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT - Candidate slot choice": {
      "main": [
        [
          {
            "node": "CODE - Parse candidate choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse candidate choice": {
      "main": [
        [
          {
            "node": "CAL - Create interview event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAL - Create interview event": {
      "main": [
        [
          {
            "node": "CODE - Build interview confirmed mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "CODE - Build interviewer confirmed mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interview confirmed mail": {
      "main": [
        [
          {
            "node": "MAIL - Notify candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify candidate": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail reply response (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - SB scheduling concluding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer confirmed mail": {
      "main": [
        [
          {
            "node": "MAIL - Notify interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify interviewer": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail interviewer reply (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer reply (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Assessment Q1–Q5 with Vertex. Candidate mails = one Gmail thread (reply). Interviewer mails = separate thread. Import, set credentials, activate."
  },
  "tags": []
}