Talent Acquisition — Assessment + Scheduling.json
{
  "name": "Talent Acquisition — Assessment + Scheduling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb3dedc4-9901-4f6b-a387-95abc039f554",
      "name": "TRG - Assessment Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1888
      ],
      "webhookId": "assessment-submit-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "supabase_url",
              "value": "=https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "interviewer_email",
              "value": "hussainalijaved712@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "a_groq",
              "name": "groq_model",
              "value": "llama-3.3-70b-versatile",
              "type": "string"
            },
            {
              "id": "a_fail",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "a_pass",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmin",
              "name": "timer_min_seconds",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmax",
              "name": "timer_max_seconds",
              "value": 600,
              "type": "number"
            },
            {
              "id": "a_tbl",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "28b3abd4-ec36-401e-999e-9bda43703cf1",
      "name": "CFG - Assessment Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || {};\nconst query = item.query || {};\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(body.sessionId || body.session_id || query.sessionId || query.session_id || '').trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email || query.email || query.candidate_email);\nconst answer = String(body.answer || query.answer || '').trim();\nconst current_phase = parseInt(body.phase || body.current_phase || query.phase || '1', 10);\nconst tab_switches = parseInt(body.tabSwitches ?? body.tab_switches ?? '0', 10);\n\nconst nested = item.config || {};\nconst config = {\n  supabase_url: nested.supabase_url || item.supabase_url || '',\n  supabase_key: nested.supabase_key || item.supabase_key || '',\n  gemini_model: nested.gemini_model || nested.groq_model || item.gemini_model || item.groq_model || '',\n  groq_model: nested.groq_model || item.groq_model || '',\n  max_questions: Number(nested.max_questions ?? item.max_questions ?? 5),\n  interviewer_email: nested.interviewer_email || item.interviewer_email || '',\n  organization_name: nested.organization_name || item.organization_name || '',\n  requisition_title: nested.requisition_title || '',\n  requisition_requirements: nested.requisition_requirements || '',\n  table_assessment_sessions: nested.table_assessment_sessions || 'assessment_sessions',\n};\n\nreturn [{ json: { session_id, candidate_email, answer, current_phase, tab_switches, config } }];"
      },
      "id": "30387dab-c995-41e2-a660-c583967a5891",
      "name": "CODE - Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1888
      ]
    },
    {
      "parameters": {
        "url": "={{ $('CFG - Assessment Config').first().json.supabase_url.replace(/\\/$/, '') }}/rest/v1/assessment_sessions?id=eq.{{ $('CODE - Normalize Data').first().json.session_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46fd8d18-eae1-4fd3-9bd4-7781420f0bb4",
      "name": "HTTP - Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1888
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Parse Result').first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Parse Result').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Parse Result').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Parse Result').first().json._session_patch_body }}",
        "options": {}
      },
      "id": "52ae3504-57e4-4e1b-9544-fdf1c2d36495",
      "name": "HTTP - SB PATCH session interview_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        1888
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $('CODE - Parse Result').first().json.score,\n  feedback: $('CODE - Parse Result').first().json.feedback,\n  nextQuestion: $('CODE - Parse Result').first().json.nextQuestion,\n  time_limit_seconds: $('CODE - Parse Result').first().json.time_limit_seconds,\n  deadline_at: $('CODE - Parse Result').first().json.deadline_at,\n  complexity_tier: $('CODE - Parse Result').first().json.complexity_tier,\n  isFinal: $('CODE - Parse Result').first().json.isFinal,\n  result: $('CODE - Parse Result').first().json.result || ''\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "068da392-f1f8-4e69-8964-c03e07c8e73e",
      "name": "Respond to Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2016,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c01d1b7b-2441-4161-a815-9a3a56307082",
      "name": "IF - Final Phase?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        2000
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Parse Result').first().json.config.interviewer_email }}",
        "subject": "=Assessment Complete - {{ $('CODE - Parse Result').first().json.candidate_email }}",
        "message": "=Hello,\n\nCandidate {{ $('CODE - Parse Result').first().json.candidate_email }} has completed all {{ $('CODE - Parse Result').first().json.config.max_questions }} assessment phases.\n\nFinal Phase Score: {{ $('CODE - Parse Result').first().json.score }}/100\nFeedback: {{ $('CODE - Parse Result').first().json.feedback }}\n\nPlease check the dashboard to review.\n\nBest,\nTalent Acquisition Bot",
        "options": {}
      },
      "id": "878f10d2-68bd-456a-9bb6-ab152e6be66e",
      "name": "MAIL - Notify Interviewer (Done)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        1920
      ],
      "webhookId": "88bd356b-2caf-4c66-ac5a-42f5eb977d6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Parse Result').first().json.candidate_email }}",
        "subject": "=Next Assessment Question - Phase {{ $('CODE - Parse Result').first().json.current_phase + 1 }}",
        "message": "=Hi,\n\nThank you for your Phase {{ $('CODE - Parse Result').first().json.current_phase }} answer.\n\nYour Score: {{ $('CODE - Parse Result').first().json.score }}/100\nFeedback: {{ $('CODE - Parse Result').first().json.feedback }}\n\nHere is your next question:\n\n{{ $('CODE - Parse Result').first().json.nextQuestion }}\n\nPlease submit your answer via the portal.\n\nBest,\n{{ $('CODE - Parse Result').first().json.config.organization_name }}",
        "options": {}
      },
      "id": "1fd330b6-45ab-49f7-860e-07bba4037d52",
      "name": "MAIL - Next Question to Candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        2112
      ],
      "webhookId": "465b93bb-2c3f-40fc-8d71-83cf596de312"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build LLM context (assessment phases 1–5)\n// WORKFLOW: Assessment Answer workflow ONLY (NOT Live Speech)\n// NODE: CODE - Build LLM context (before Basic LLM Chain)\n// Requires upstream: CODE - Normalize Data\n// Source file: n8n_code_build_llm_context.js — never paste parse_live_speech_result.js here.\n\nlet norm;\ntry {\n  norm = $('CODE - Normalize Data').first().json;\n} catch (_) {\n  throw new Error(\n    'Wrong code in this node. Paste n8n_code_build_llm_context.js into \"CODE - Build LLM context\". ' +\n    'If you see \"Normalize Live Speech Complete\" errors, you accidentally pasted n8n_code_parse_live_speech_result.js.'\n  );\n}\nconst raw = $input.first().json;\nconst session = Array.isArray(raw) ? raw[0] : raw;\nif (!session?.id) {\n  throw new Error('No assessment session row for id=' + norm.session_id);\n}\n\nlet history = session.interview_history;\nif (typeof history === 'string') {\n  try {\n    history = JSON.parse(history);\n  } catch (e) {\n    history = [];\n  }\n}\nif (!Array.isArray(history)) history = [];\n\nlet sessionConfig = session.config;\nif (typeof sessionConfig === 'string') {\n  try {\n    sessionConfig = JSON.parse(sessionConfig);\n  } catch (e) {\n    sessionConfig = {};\n  }\n}\nif (!sessionConfig || typeof sessionConfig !== 'object') sessionConfig = {};\n\nconst cfg = {\n  ...norm.config,\n  ...sessionConfig,\n  requisition_title:\n    sessionConfig.requisition_title || norm.config?.requisition_title || '',\n  requisition_requirements:\n    sessionConfig.requisition_requirements || norm.config?.requisition_requirements || '',\n  groq_model:\n    sessionConfig.groq_model || norm.config?.groq_model || 'llama-3.3-70b-versatile',\n  max_questions: Number(sessionConfig.max_questions || norm.config?.max_questions || 5),\n  fail_score_threshold: Number(\n    sessionConfig.fail_score_threshold ?? norm.config?.fail_score_threshold ?? 30\n  ),\n  pass_score_threshold: Number(\n    sessionConfig.pass_score_threshold ?? norm.config?.pass_score_threshold ?? 60\n  ),\n  timer_min_seconds: Number(sessionConfig.timer_min_seconds ?? norm.config?.timer_min_seconds ?? 60),\n  timer_max_seconds: Number(sessionConfig.timer_max_seconds ?? norm.config?.timer_max_seconds ?? 600),\n  speech_enabled:\n    sessionConfig.speech_enabled === true ||\n    sessionConfig.speech_enabled === 'true' ||\n    norm.config?.speech_enabled === true ||\n    Number(sessionConfig.speech_phases ?? norm.config?.speech_phases ?? 0) > 0,\n  speech_phases: Number(sessionConfig.speech_phases ?? norm.config?.speech_phases ?? 5),\n};\n\nconst ph = Number(norm.current_phase || 1);\nconst maxQ = Number(cfg.max_questions || 5);\nconst isFinal = ph >= maxQ;\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\n\nconst jdTitle = String(cfg.requisition_title || '').trim();\nconst jdReq = String(cfg.requisition_requirements || '').trim();\nif (!jdTitle || !jdReq) {\n  throw new Error(\n    'JD missing on assessment session. Complete CV screening with recruiter form JD first (session.config.requisition_title / requisition_requirements).'\n  );\n}\n\nfunction extractJdThemes(text) {\n  const lines = String(text)\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\n    .filter((s) => s.length >= 12);\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 500)];\n}\n\nfunction inferYearsFromText(text) {\n  const matches = [...String(text || '').matchAll(/(\\d+)\\+?\\s*(?:years?|yrs?)(?:\\s+of)?\\s*(?:experience|exp)?/gi)];\n  let max = 0;\n  for (const m of matches) {\n    const n = Number(m[1]);\n    if (Number.isFinite(n) && n > max) max = n;\n  }\n  return max;\n}\n\nfunction detectSeniorityFromTitle(title) {\n  const t = String(title || '').toLowerCase();\n  if (/\\b(intern|trainee|graduate|entry[\\s-]?level|fresher|bootcamp)\\b/.test(t)) return 'junior';\n  if (/\\b(junior|jr\\.?)\\b/.test(t)) return 'junior';\n  if (/\\b(associate)\\b/.test(t)) return 'mid';\n  if (/\\b(senior|sr\\.?|lead|principal|staff|architect|head|manager|director)\\b/.test(t)) return 'senior';\n  return 'mid';\n}\n\nfunction yearsToTier(years) {\n  if (!Number.isFinite(years) || years <= 0) return null;\n  if (years <= 2) return 'junior';\n  if (years <= 5) return 'mid';\n  return 'senior';\n}\n\nfunction tierRank(tier) {\n  if (tier === 'junior') return 1;\n  if (tier === 'senior') return 3;\n  return 2;\n}\n\nfunction inferCandidateTier(cvText) {\n  const cv = String(cvText || '');\n  const years = inferYearsFromText(cv);\n  const cvTitleTier = detectSeniorityFromTitle(cv);\n  const yearTier = yearsToTier(years);\n  let tier = cvTitleTier;\n  if (yearTier && tierRank(yearTier) > tierRank(tier)) tier = yearTier;\n  if (/\\b(senior|lead|principal|architect|staff)\\b/i.test(cv) && tierRank(tier) < 3) tier = 'senior';\n  if (/\\b(intern|trainee|fresher|bootcamp)\\b/i.test(cv) && tierRank(tier) > 1) tier = 'junior';\n  return tier;\n}\n\nfunction resolveTargetTier(jdTitle, jdReq, cvText) {\n  const roleTier = detectSeniorityFromTitle(jdTitle);\n  const jdYears = Math.max(inferYearsFromText(jdTitle), inferYearsFromText(jdReq));\n  const jdTier = yearsToTier(jdYears);\n  let targetTier = roleTier;\n  if (jdTier && tierRank(jdTier) > tierRank(targetTier)) targetTier = jdTier;\n  return {\n    targetTier,\n    roleTier,\n    jdYears,\n    candidateTier: inferCandidateTier(cvText),\n  };\n}\n\nfunction tierLabel(tier) {\n  if (tier === 'junior') return 'Junior / entry-level';\n  if (tier === 'senior') return 'Senior / lead';\n  return 'Mid-level';\n}\n\nfunction stackHints(jdReq) {\n  const jd = String(jdReq || '').toLowerCase();\n  if (/\\.net|asp\\.net|c#|ef core|entity framework|linq/i.test(jd)) {\n    return 'ASP.NET Core, REST, JWT/OAuth, EF Core, LINQ, middleware, DI';\n  }\n  if (/node|javascript|typescript|react/i.test(jd)) {\n    return 'Node/JS APIs, REST, JWT, async I/O, HTTP';\n  }\n  if (/python|django|flask|fastapi/i.test(jd)) {\n    return 'Python web APIs, REST, auth, ORM, HTTP';\n  }\n  return 'REST APIs, HTTP, auth, databases, backend fundamentals';\n}\n\nfunction phaseBlueprint(phaseNum, targetTier, jdReq) {\n  const stack = stackHints(jdReq);\n  const lanes = {\n    junior: {\n      2: `Fundamentals — one clear comparison from ${stack} (definitions + when to use each).`,\n      3: `Why it matters — explain one core concept from ${stack} in plain language.`,\n      4: `Light scenario — straightforward symptom in ${stack}; name 2–3 likely causes and how you would check.`,\n      5: `Simple judgment — pick between two reasonable options for ${stack} and justify briefly.`,\n    },\n    mid: {\n      2: `Trade-offs — compare two approaches in ${stack}; when would you choose each?`,\n      3: `Mechanism — explain how/why something works in ${stack}, not just what it is.`,\n      4: `Troubleshooting — realistic symptom in ${stack}; diagnostic reasoning, no code.`,\n      5: `Decision — conceptual scenario with constraints; reasoned choice tied to ${stack}.`,\n    },\n    senior: {\n      2: `Advanced trade-offs — nuanced comparison in ${stack} including failure modes or operational impact.`,\n      3: `Deep mechanism — inner behavior, pitfalls, or production consequences in ${stack}.`,\n      4: `Production incident — ambiguous symptom (load, deploy, intermittent) in ${stack}; prioritized hypotheses.`,\n      5: `Strategic judgment — multi-constraint decision for ${stack}; articulate risks of each path.`,\n    },\n  };\n  const set = lanes[targetTier] || lanes.mid;\n  return set[phaseNum] || `Follow-up conceptual probe on ${stack} at ${tierLabel(targetTier)} depth.`;\n}\n\nfunction tierCalibrationBlock(cal) {\n  const { targetTier, roleTier, jdYears, candidateTier } = cal;\n  const timing =\n    targetTier === 'junior'\n      ? 'Prefer complexity_tier A–B and 90–180s for most questions.'\n      : targetTier === 'senior'\n        ? 'Prefer complexity_tier C–D and 180–480s when depth warrants it.'\n        : 'Prefer complexity_tier B–C and 120–300s for most questions.';\n  return `ROLE CALIBRATION (critical — match the job being hired for):\n- Target interview level: ${tierLabel(targetTier)} — grade answers against THIS bar\n- Role title signals: ${tierLabel(roleTier)}${jdYears ? ` | JD experience hint: ~${jdYears} years` : ''}\n- Candidate CV signals (topic selection only, never quote CV): ${tierLabel(candidateTier)}\n- Ask questions for a ${tierLabel(targetTier)} hire — not easier because the CV looks junior\n- ${timing}\n- Pick topics in BOTH JD and CV; if the candidate scored 70+ on the current answer, make the next question slightly harder within the same tier`;\n}\n\nfunction tierExamplesBlock(targetTier, jdReq) {\n  const isDotNet = /\\.net|asp\\.net|c#/i.test(String(jdReq || ''));\n  if (targetTier === 'senior') {\n    return isDotNet\n      ? `GOOD senior examples:\n- \"After a deploy, some users get intermittent 401s while tokens look valid — what would you investigate first and why?\"\n- \"When would you accept eventual consistency in a read-heavy API, and what user-visible risks must you handle?\"\n- \"EF Core N+1 appeared only under peak traffic — how do you diagnose without defaulting to caching?\"`\n      : `GOOD senior examples:\n- \"Intermittent 5xx on one pod after deploy — how do you narrow root cause before rollback?\"\n- \"When is JWT validation at the edge insufficient, and what additional controls would you expect?\"`;\n  }\n  if (targetTier === 'junior') {\n    return isDotNet\n      ? `GOOD junior examples:\n- \"What is the difference between authentication and authorization?\"\n- \"Why is dependency injection useful in ASP.NET Core?\"\n- \"What does a 404 status code mean versus a 500?\"`\n      : `GOOD junior examples:\n- \"What is the difference between authentication and authorization?\"\n- \"Why are REST APIs often stateless?\"`;\n  }\n  return isDotNet\n    ? `GOOD mid-level examples:\n- \"Cookie-based session auth vs JWT for an API — what are the main trade-offs?\"\n- \"Why might you use no-tracking queries in EF Core, and what trade-off are you accepting?\"\n- \"An endpoint returns 500 only under load — what causes would you consider first?\"`\n    : `GOOD mid-level examples:\n- \"Token-based auth vs server-side sessions — main trade-offs for a public API?\"\n- \"An API is slow only at peak traffic — what would you check first?\"`;\n}\n\nconst cvText = String(session.cv_plaintext || '').slice(0, 8000);\nconst levelCal = resolveTargetTier(jdTitle, jdReq, cvText);\nconst targetTier = levelCal.targetTier;\nconst jdThemes = extractJdThemes(jdReq).join('\\n- ');\nconst historyText = history\n  .map(\n    (h) =>\n      `Phase ${h.phase} Q: ${h.question_text || h.question || ''} | A: ${h.answer_text ?? 'pending'} | Score: ${h.score ?? 'N/A'}`\n  )\n  .join('\\n');\n\nconst themesAsked = history\n  .filter((h) => h.question_text || h.question)\n  .map((h) => `Phase ${h.phase}: ${String(h.question_text || h.question).slice(0, 140)}`)\n  .join('\\n');\n\nconst currentQuestionRow = history.find((h) => Number(h.phase) === ph);\nconst currentQuestionText = String(\n  currentQuestionRow?.question_text || currentQuestionRow?.question || ''\n).trim();\n\nconst prevPhaseRow = history.find((h) => Number(h.phase) === ph - 1);\nconst prevTimeLimit = prevPhaseRow?.time_limit_seconds ?? null;\n\nconst nextPhaseNum = ph + 1;\n\nconst questionRules = `ASSESSMENT QUESTION RULES (next_question and first_speech_question):\nWritten technical assessment — conceptual and logic-based only. Sound like a real interviewer.\n\n${tierCalibrationBlock(levelCal)}\n\nPhase focus for next_question (phase ${nextPhaseNum}):\n- ${phaseBlueprint(nextPhaseNum, targetTier, jdReq)}\n\nQuestion style (REQUIRED):\n- Comparative: \"What is the difference between X and Y?\"\n- Reasoning: \"Why do teams use X instead of Y?\" / \"What problem does X solve?\"\n- Conceptual scenarios: symptom → explain likely causes (reasoning only)\n- One clear question only — no multi-part lists\n- Answers may exist online — test understanding and explanation quality, not memorized CV stories\n- Difficulty must match ${tierLabel(targetTier)} expectations for ${jdTitle}\n\n${tierExamplesBlock(targetTier, jdReq)}\n\nSTRICTLY FORBIDDEN — never ask:\n- Coding: write code, implement, algorithms, syntax, debug this snippet\n- Design exercises: design a system/architecture, microservices layout, scalability design\n- Implementation recipes: step-by-step how to build or configure something in code\n- Generic fluff: \"What is OOP?\", \"Explain REST in one sentence\" with no role context\n- CV quoting: \"on your CV\", company names, project titles, \"At [Company]…\"\n\nBAD: \"Design a rate-limited microservices architecture for our platform.\"\nBAD: \"Write a C# method to implement pagination.\"\nBAD: \"On your CV you used JWT at Acme — tell us about that.\"`;\n\nconst sharedRules = `\"\"\"You are an experienced technical interviewer for ${jdTitle}.\n\nYou have the job description, the candidate CV (for silent calibration only), and the full Q&A history below. Interview like a real hiring manager.\n\nEach phase (except the last):\n- Score the answer to the question asked this phase: 0-100\n- Give honest feedback and a concise suggested_answer\n- Write next_question: the single best follow-up for phase ${nextPhaseNum}\n\nFinal phase:\n- Score the answer, then decide PASS or FAIL for the technical round overall\n\nScoring guidance:\n- Grade against ${tierLabel(targetTier)} expectations for ${jdTitle}\n- Do not repeat topics you already covered\n- If the answer is strong (75+), the next question should probe deeper within the same tier\n- If the answer is weak (<40), you may re-probe the same topic with a narrower angle — do not drop below role level\n- Empty, timeout, or [SYSTEM TERMINATION] answers: score 0-15\n\n${questionRules}\n\nJob title: ${jdTitle}\nKey JD themes:\n- ${jdThemes || jdReq.slice(0, 500)}\n\nCandidate CV (silent calibration — never quote in questions):\n${cvText || '(none)'}\n\nPrior Q&A:\n${historyText || '(none yet)'}\n\nTopics already asked:\n${themesAsked || '(none yet)'}\n\nTab switches: ${norm.tab_switches || 0}`;\n\nconst speechEnabled =\n  cfg.speech_enabled === true ||\n  cfg.speech_enabled === 'true' ||\n  Number(cfg.speech_phases || 0) > 0;\n\nlet systemContent;\nif (isFinal) {\n  const speechHandoff = speechEnabled\n    ? `\n\nIf speech round is enabled (${cfg.speech_phases} voice questions after technical), also include first_speech_question — a natural spoken behavioral opener for the communication round. Apply the same FORBIDDEN rules (no CV/company names in the question text).`\n    : '';\n\n  const speechField = speechEnabled\n    ? ',\"first_speech_question\":string'\n    : '';\n\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ} (FINAL).\nQuestion asked this phase:\n${currentQuestionText || '(see prior Q&A)'}\n\nAnswer to grade:\n${norm.answer}\n${speechHandoff}\n\nTasks:\n1. Score the answer 0-100 using your judgment.\n2. Decide PASS or FAIL for the technical round.\n3. feedback + suggested_answer.\n\nOUTPUT RULES (critical): Return ONE valid JSON object and nothing else — no markdown, no prose, no code fences. Keep feedback to 1-2 sentences and suggested_answer to 2-3 sentences so the JSON stays small and complete. Escape any quotes inside strings.\n\nOutput: {\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":\"\"${speechField}}`;\n} else {\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ}.\nQuestion asked this phase:\n${currentQuestionText || '(see prior Q&A)'}\n\nAnswer to grade:\n${norm.answer}\n${prevTimeLimit != null ? `Previous phase time_limit_seconds: ${prevTimeLimit}` : ''}\n\nTasks:\n1. Score the answer 0-100.\n2. feedback + suggested_answer.\n3. next_question for phase ${nextPhaseNum} — follow ASSESSMENT QUESTION RULES above.\n4. time_limit_seconds (90-600) + complexity_tier (A-D).\n\nOUTPUT RULES (critical): Return ONE valid JSON object and nothing else — no markdown, no prose, no code fences. Keep feedback to 1-2 sentences and suggested_answer to 2-3 sentences so the JSON stays small and complete. Put score and feedback first. Escape any quotes inside strings.\n\nOutput: {\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":string,\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}`;\n}\n\nconst body = {\n  model: cfg.groq_model || 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: systemContent },\n    { role: 'user', content: 'Evaluate and respond with JSON only.' },\n  ],\n  temperature: isFinal ? 0.25 : 0.55,\n  max_tokens: Number(cfg.assessment_max_tokens || 1400),\n  response_format: { type: 'json_object' },\n};\n\nreturn [\n  {\n    json: {\n      groq_assessment_request: body,\n      prompt: systemContent,\n      session,\n      norm: { ...norm, config: cfg },\n      isFinal,\n      failThreshold,\n      current_question_text: currentQuestionText,\n      assessment_level: targetTier,\n    },\n  },\n];"
      },
      "id": "450b8908-bd19-42f8-a8bb-251ac40f8135",
      "name": "CODE - Build LLM context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1888
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_assessment_request }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "25466700-ea1f-4a59-aca1-1c310fbfc4c3",
      "name": "Groq - Assessment Engine (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        1888
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse Result (assessment scoring)\n// Paste into: CODE - Parse Result (after Groq/Gemini/Basic LLM Chain)\n// Replaces: CODE - Update interview_history if that is your node name\n\nfunction timerBounds(config) {\n  const min = Number(config?.timer_min_seconds);\n  const max = Number(config?.timer_max_seconds);\n  return {\n    min: Number.isFinite(min) && min > 0 ? min : 60,\n    max: Number.isFinite(max) && max > 0 ? max : 600,\n  };\n}\n\nfunction clampSeconds(sec, config) {\n  const { min, max } = timerBounds(config);\n  return Math.min(max, Math.max(min, Math.round(sec)));\n}\n\n// Seconds band per complexity tier\nfunction tierTimeRange(tier) {\n  switch (String(tier || '').toUpperCase()) {\n    case 'A':\n      return [60, 120];\n    case 'B':\n      return [150, 240];\n    case 'C':\n      return [270, 390];\n    case 'D':\n      return [420, 600];\n    default:\n      return null;\n  }\n}\n\n// Infer a tier when the model omits or returns a junk tier\nfunction inferTierFromQuestion(questionText) {\n  const q = String(questionText || '');\n  const words = q.trim().split(/\\s+/).filter(Boolean).length;\n  const subParts =\n    (q.match(/\\?/g) || []).length +\n    (q.match(/\\b(and|also|furthermore|additionally|then|as well as)\\b/gi) || []).length;\n  const heavy =\n    /\\b(architecture|design|schema|scalable|scalability|concurrency|distributed|trade-?off|optimi[sz]e|throughput|migration|pipeline|multi-?tenant|security|performance|caching|indexing)\\b/i.test(\n      q\n    );\n\n  if (words <= 28 && subParts <= 1 && !heavy) return 'A';\n  if (words >= 80 || (heavy && subParts >= 3)) return 'D';\n  if (words >= 50 || heavy) return 'C';\n  return 'B';\n}\n\n// Deterministic per-question time: tier sets the band, question length positions\n// within it, the model's value (if sane) is blended in. Different questions →\n// different times, longer/harder questions → more seconds.\nfunction deriveTimeLimitSeconds(rawLlmTime, tier, questionText, config, phase) {\n  const usableTier =\n    tierTimeRange(tier) ? tier : inferTierFromQuestion(questionText);\n  const [lo, hi] = tierTimeRange(usableTier) || [150, 240];\n\n  const words = String(questionText || '').trim().split(/\\s+/).filter(Boolean).length;\n  const span = Math.max(1, 90 - 20);\n  const t = Math.max(0, Math.min(1, (words - 20) / span));\n  let computed = lo + t * (hi - lo);\n\n  const llm = Number(rawLlmTime);\n  if (Number.isFinite(llm) && llm >= lo && llm <= hi) {\n    computed = (llm + computed) / 2;\n  }\n\n  let sec = Math.round(computed / 15) * 15;\n  sec = Math.max(lo, Math.min(hi, sec));\n  return { seconds: clampSeconds(sec, config), tier: usableTier };\n}\n\nfunction buildDeadline(isoStart, seconds) {\n  const start = isoStart ? new Date(isoStart) : new Date();\n  return new Date(start.getTime() + seconds * 1000).toISOString();\n}\n\nfunction extractLlmText(api) {\n  if (!api || typeof api !== 'object') return '';\n  if (typeof api.text === 'string' && api.text.trim()) return api.text.trim();\n  if (typeof api.output === 'string' && api.output.trim()) return api.output.trim();\n  if (typeof api.response === 'string' && api.response.trim()) return api.response.trim();\n  const c0 = api.choices?.[0];\n  if (c0?.message?.content) return String(c0.message.content).trim();\n  if (typeof c0?.text === 'string') return c0.text.trim();\n  const parts = api.candidates?.[0]?.content?.parts;\n  if (Array.isArray(parts) && parts[0]?.text) return String(parts[0].text).trim();\n  return '';\n}\n\nfunction salvageNextQuestionFromText(rawText) {\n  const text = String(rawText || '');\n  if (!text.trim()) return '';\n\n  const patterns = [\n    /\"next_question\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n    /\"nextQuestion\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n    /next_question\\s*[:=]\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n  ];\n  for (const re of patterns) {\n    const m = text.match(re);\n    if (m?.[1]) {\n      return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').trim();\n    }\n  }\n  return '';\n}\n\nfunction salvageStringField(text, keys) {\n  const t = String(text || '');\n  for (const key of keys) {\n    const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"((?:\\\\\\\\.|[^\"\\\\\\\\])*)\"', 'i');\n    const m = t.match(re);\n    if (m && m[1] != null) {\n      return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').trim();\n    }\n  }\n  return null;\n}\n\nfunction salvageNumberField(text, keys) {\n  const t = String(text || '');\n  for (const key of keys) {\n    const re = new RegExp('\"' + key + '\"\\\\s*:\\\\s*(-?\\\\d+(?:\\\\.\\\\d+)?)', 'i');\n    const m = t.match(re);\n    if (m && m[1] != null) return Number(m[1]);\n  }\n  return null;\n}\n\nfunction stripCodeFences(text) {\n  return String(text || '')\n    .replace(/^\\uFEFF/, '')\n    .replace(/```(?:json|javascript|js)?/gi, '')\n    .replace(/```/g, '')\n    .trim();\n}\n\n// Extract the first balanced {...}; if truncated, returns from first \"{\" to end.\nfunction extractJsonObjectText(text) {\n  const s = String(text || '');\n  const start = s.indexOf('{');\n  if (start < 0) return '';\n  let depth = 0;\n  let inStr = false;\n  let esc = false;\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n    if (esc) { esc = false; continue; }\n    if (ch === '\\\\') { esc = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (inStr) continue;\n    if (ch === '{') depth++;\n    else if (ch === '}') { depth--; if (depth === 0) return s.slice(start, i + 1); }\n  }\n  return s.slice(start);\n}\n\n// Repair truncated JSON: cut to the last complete top-level property and close structures.\nfunction repairTruncatedJson(jsonish) {\n  const s = String(jsonish || '');\n  if (!s) return '';\n  let inStr = false;\n  let esc = false;\n  let depth = 0;\n  let lastComplete = -1;\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (esc) { esc = false; continue; }\n    if (ch === '\\\\') { esc = true; continue; }\n    if (ch === '\"') { inStr = !inStr; continue; }\n    if (inStr) continue;\n    if (ch === '{' || ch === '[') depth++;\n    else if (ch === '}' || ch === ']') depth--;\n    else if (ch === ',' && depth === 1) lastComplete = i;\n  }\n  if (lastComplete < 0) return '';\n  let head = s.slice(0, lastComplete);\n  const stack = [];\n  let is2 = false;\n  let e2 = false;\n  for (let i = 0; i < head.length; i++) {\n    const ch = head[i];\n    if (e2) { e2 = false; continue; }\n    if (ch === '\\\\') { e2 = true; continue; }\n    if (ch === '\"') { is2 = !is2; continue; }\n    if (is2) continue;\n    if (ch === '{') stack.push('}');\n    else if (ch === '[') stack.push(']');\n    else if (ch === '}' || ch === ']') stack.pop();\n  }\n  if (is2) head += '\"';\n  while (stack.length) head += stack.pop();\n  return head;\n}\n\nfunction tryParseJson(text) {\n  const base = String(text || '').trim();\n  if (!base) return null;\n  const variants = [base, base.replace(/,\\s*([}\\]])/g, '$1')];\n  for (const v of variants) {\n    try { return JSON.parse(v); } catch (_) {}\n  }\n  const repaired = repairTruncatedJson(base);\n  if (repaired) {\n    try { return JSON.parse(repaired); } catch (_) {}\n    try { return JSON.parse(repaired.replace(/,\\s*([}\\]])/g, '$1')); } catch (_) {}\n  }\n  return null;\n}\n\nfunction ensureNextQuestion(obj, rawText) {\n  const out = obj && typeof obj === 'object' ? { ...obj } : {};\n  const nextQ = String(out.next_question || out.nextQuestion || out.question || '').trim();\n  if (!nextQ && rawText) {\n    const salv = salvageNextQuestionFromText(rawText);\n    if (salv) { out.next_question = salv; out.nextQuestion = salv; }\n  }\n  return out;\n}\n\nfunction parseLlmContent(api) {\n  // 1) Upstream already provided a structured object.\n  if (\n    api && typeof api === 'object' &&\n    (api.score != null ||\n      api.feedback ||\n      api.next_question ||\n      api.nextQuestion ||\n      api.result ||\n      api.status === 'finished' ||\n      api.suggested_answer)\n  ) {\n    return ensureNextQuestion(api, extractLlmText(api));\n  }\n\n  const rawText = extractLlmText(api);\n  if (!rawText) {\n    return {\n      status: 'in_progress',\n      score: null,\n      feedback:\n        'Empty model output — your answer was saved but could not be scored automatically. Please resubmit.',\n      next_question: '',\n      nextQuestion: '',\n      _scoring_failed: true,\n    };\n  }\n\n  const cleaned = stripCodeFences(rawText);\n\n  // 2) Robust JSON recovery: direct → loose → extracted object → repaired.\n  let parsed = tryParseJson(cleaned);\n  if (!parsed) {\n    const objText = extractJsonObjectText(cleaned);\n    if (objText) parsed = tryParseJson(objText);\n  }\n  if (parsed && typeof parsed === 'object') {\n    return ensureNextQuestion(parsed, rawText);\n  }\n\n  // 3) Field-level salvage — recover score/feedback even from truncated JSON.\n  const score = salvageNumberField(rawText, ['score']);\n  const feedback = salvageStringField(rawText, ['feedback']);\n  const suggested = salvageStringField(rawText, ['suggested_answer', 'suggestedAnswer']);\n  const nextQ = salvageNextQuestionFromText(rawText);\n  const firstSpeech = salvageStringField(rawText, ['first_speech_question', 'firstSpeechQuestion']);\n  const result = salvageStringField(rawText, ['result']);\n  const tier = salvageStringField(rawText, ['complexity_tier', 'complexityTier']);\n  const timeLimit = salvageNumberField(rawText, ['time_limit_seconds']);\n\n  const recoveredScore = score != null;\n  const recoveredAnything = recoveredScore || !!feedback || !!nextQ || !!suggested || !!result;\n\n  return {\n    status: result ? 'finished' : 'in_progress',\n    score: recoveredScore ? score : null,\n    feedback:\n      feedback ||\n      (recoveredAnything\n        ? 'Partial evaluation recovered from model output.'\n        : 'Answer saved but automatic scoring failed (model returned unreadable output). This phase was left unscored for review.'),\n    suggested_answer: suggested || '',\n    next_question: nextQ || '',\n    nextQuestion: nextQ || '',\n    first_speech_question: firstSpeech || '',\n    result: result || '',\n    complexity_tier: tier || null,\n    time_limit_seconds: timeLimit != null ? timeLimit : null,\n    _scoring_failed: !recoveredScore,\n    _partial_recovery: recoveredAnything && !recoveredScore,\n  };\n}\n\nfunction extractJdThemes(text) {\n  const lines = String(text)\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\n    .filter((s) => s.length >= 12);\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 400)];\n}\n\nfunction extractCvAnchors(text) {\n  const cv = String(text || '');\n  const projects =\n    cv.match(/(?:project|built|developed|engineered|implemented|led)[^.]{10,120}/gi) || [];\n  const skills =\n    cv.match(\n      /\\b(React|Angular|Vue|Node\\.?js|Python|Django|Flask|SQL|PostgreSQL|MySQL|MongoDB|\\.NET|ASP\\.NET|C#|Java|Spring|AWS|Azure|GCP|Docker|Kubernetes|Redis|Kafka|REST|GraphQL|TypeScript|JavaScript|EF\\s*Core|LINQ|JWT|OAuth|microservices?|APIM|CI\\/CD|GitHub Actions)\\b/gi\n    ) || [];\n  return [\n    ...new Set([\n      ...projects.slice(0, 5).map((p) => p.trim().slice(0, 80)),\n      ...skills.slice(0, 6),\n    ]),\n  ].filter(Boolean);\n}\n\nfunction inferYearsFromText(text) {\n  const matches = [...String(text || '').matchAll(/(\\d+)\\+?\\s*(?:years?|yrs?)(?:\\s+of)?\\s*(?:experience|exp)?/gi)];\n  let max = 0;\n  for (const m of matches) {\n    const n = Number(m[1]);\n    if (Number.isFinite(n) && n > max) max = n;\n  }\n  return max;\n}\n\nfunction detectSeniorityFromTitle(title) {\n  const t = String(title || '').toLowerCase();\n  if (/\\b(intern|trainee|graduate|entry[\\s-]?level|fresher|bootcamp)\\b/.test(t)) return 'junior';\n  if (/\\b(junior|jr\\.?)\\b/.test(t)) return 'junior';\n  if (/\\b(associate)\\b/.test(t)) return 'mid';\n  if (/\\b(senior|sr\\.?|lead|principal|staff|architect|head|manager|director)\\b/.test(t)) return 'senior';\n  return 'mid';\n}\n\nfunction yearsToTier(years) {\n  if (!Number.isFinite(years) || years <= 0) return null;\n  if (years <= 2) return 'junior';\n  if (years <= 5) return 'mid';\n  return 'senior';\n}\n\nfunction tierRank(tier) {\n  if (tier === 'junior') return 1;\n  if (tier === 'senior') return 3;\n  return 2;\n}\n\nfunction inferCandidateTier(cvText) {\n  const cv = String(cvText || '');\n  const years = inferYearsFromText(cv);\n  const cvTitleTier = detectSeniorityFromTitle(cv);\n  const yearTier = yearsToTier(years);\n  let tier = cvTitleTier;\n  if (yearTier && tierRank(yearTier) > tierRank(tier)) tier = yearTier;\n  if (/\\b(senior|lead|principal|architect|staff)\\b/i.test(cv) && tierRank(tier) < 3) tier = 'senior';\n  if (/\\b(intern|trainee|fresher|bootcamp)\\b/i.test(cv) && tierRank(tier) > 1) tier = 'junior';\n  return tier;\n}\n\nfunction resolveTargetTier(jdTitle, jdReq, cvText) {\n  const roleTier = detectSeniorityFromTitle(jdTitle);\n  const jdYears = Math.max(inferYearsFromText(jdTitle), inferYearsFromText(jdReq));\n  const jdTier = yearsToTier(jdYears);\n  let targetTier = roleTier;\n  if (jdTier && tierRank(jdTier) > tierRank(targetTier)) targetTier = jdTier;\n  return { targetTier, roleTier, jdYears, candidateTier: inferCandidateTier(cvText) };\n}\n\nfunction buildTierFallbackPools(targetTier, jdReq) {\n  const isDotNet = /\\.net|asp\\.net|c#|ef core|entity framework/i.test(String(jdReq || '').toLowerCase());\n  const pools = {\n    junior: {\n      dotnet: {\n        fundamentals: [\n          'What is the difference between authentication and authorization?',\n          'What is dependency injection and why is it useful in ASP.NET Core?',\n          'What is the purpose of middleware in the ASP.NET Core request pipeline?',\n        ],\n        applied: [\n          'A single API route returns 404 while others work — what are the first things you would check?',\n          'What is the difference between a 400 and a 500 HTTP response?',\n          'Why are REST APIs typically stateless?',\n        ],\n      },\n      generic: {\n        fundamentals: [\n          'What is the difference between authentication and authorization?',\n          'Why are REST APIs typically stateless?',\n          'What is the difference between a GET and a POST request?',\n        ],\n        applied: [\n          'A client receives 401 on one endpoint only — what might cause that?',\n          'What is the difference between a 400 and a 500 response?',\n          'What does idempotency mean for HTTP requests?',\n        ],\n      },\n    },\n    mid: {\n      dotnet: {\n        fundamentals: [\n          'What is the difference between IEnumerable and IQueryable in LINQ? When would you use each?',\n          'Cookie-based session auth vs JWT for an API — what are the main trade-offs?',\n          'Why might you choose no-tracking queries in EF Core, and what trade-off are you accepting?',\n        ],\n        applied: [\n          'An API endpoint returns 500 errors only under load — what are the most likely causes and how would you narrow them down?',\n          'What does idempotency mean for HTTP APIs, and why does it matter for retries?',\n          'What is the difference between optimistic and pessimistic concurrency, and when would you use each?',\n        ],\n      },\n      generic: {\n        fundamentals: [\n          'Token-based auth vs server-side sessions — what are the main trade-offs for a public API?',\n          'What is the difference between PUT and PATCH, and when would you use each?',\n          'Why are REST APIs typically stateless, and what problems does that solve?',\n        ],\n        applied: [\n          'An API is slow only under peak traffic — what categories of causes would you consider first?',\n          'Caching improved latency but users see stale data — what could have gone wrong?',\n          'What is the difference between a 401 and a 403 response, and when should each be returned?',\n        ],\n      },\n    },\n    senior: {\n      dotnet: {\n        fundamentals: [\n          'When would you choose distributed caching vs in-process caching in ASP.NET Core, and what consistency risks appear?',\n          'How do refresh tokens, short-lived access tokens, and revocation interact in a production API?',\n          'What are the main trade-offs between EF Core compiled queries, split queries, and raw SQL for hot paths?',\n        ],\n        applied: [\n          'After a deployment, some authenticated users intermittently receive 401s — what hypotheses do you prioritize and why?',\n          'A read-heavy API shows rising p95 latency and database CPU — how do you decide between caching, read replicas, and query changes?',\n          'Duplicate charge attempts hit your payment endpoint during retries — how should idempotency and API design work together?',\n        ],\n      },\n      generic: {\n        fundamentals: [\n          'When is JWT validation at the gateway insufficient, and what defense-in-depth would you expect behind it?',\n          'What are the trade-offs between synchronous REST and event-driven updates for cross-service workflows?',\n          'How do you reason about cache invalidation vs TTL when correctness matters more than freshness?',\n        ],\n        applied: [\n          'Intermittent 5xx errors appear on one instance after a rollout — how do you isolate the fault before rollback?',\n          'Traffic spikes cause cascading timeouts across services — what patterns break the cascade?',\n          'Clients retry POST requests and create duplicates — what API and client behaviors should exist?',\n        ],\n      },\n    },\n  };\n  const tier = pools[targetTier] ? targetTier : 'mid';\n  const stack = isDotNet ? 'dotnet' : 'generic';\n  return pools[tier][stack];\n}\n\nfunction buildFallbackNextQuestion(ph, history, cfg, session) {\n  const nextPhase = ph + 1;\n  const jdTitle = String(cfg.requisition_title || '').trim();\n  const jdReq = String(cfg.requisition_requirements || '').trim();\n  const cvText = String(session?.cv_plaintext || '').trim();\n  const { targetTier } = resolveTargetTier(jdTitle, jdReq, cvText);\n  const pool = buildTierFallbackPools(targetTier, jdReq);\n  const asked = (history || [])\n    .map((h) => String(h.question_text || h.question || '').toLowerCase())\n    .filter(Boolean);\n  const fundamentals = pool.fundamentals || [];\n  const applied = pool.applied || [];\n  const lane =\n    nextPhase <= 2 ? fundamentals : nextPhase <= 4 ? applied : [applied[applied.length - 1] || fundamentals[0]];\n  for (const q of lane) {\n    const key = q.slice(0, 24).toLowerCase();\n    if (!asked.some((a) => a.includes(key.slice(0, 16)))) return q;\n  }\n  return lane[(nextPhase - 1) % lane.length] || lane[0] || fundamentals[0];\n}\n\nfunction buildFallbackSpeechQuestion(cfg, speechIndex) {\n  const role = String(cfg?.requisition_title || 'this role').trim();\n  const lanes = [\n    `Describe a situation where you had to explain a complex technical topic to a non-technical stakeholder. How did you ensure they understood?`,\n    `Tell me about a time you faced pressure, a tight deadline, or conflict at work. How did you communicate and stay composed?`,\n    `Why are you interested in the ${role} role, and what would you focus on in your first 90 days?`,\n    `Describe a time you had to collaborate with another team or stakeholder who disagreed with your approach. How did you handle it?`,\n    `Tell me about a mistake or setback you learned from. What did you change in how you communicate or work afterward?`,\n  ];\n  const idx = Math.max(0, Math.min(lanes.length - 1, Number(speechIndex || 1) - 1));\n  return lanes[idx];\n}\n\nfunction buildFirstSpeechQuestion(cfg, session, speechIndex, history, maxQ) {\n  return buildFallbackSpeechQuestion(cfg, speechIndex);\n}\n\nfunction isIntegrityTermination(answerText) {\n  return /^\\[system\\s+termination/i.test(String(answerText || '').trim());\n}\n\nfunction isScorablePhaseRow(row) {\n  if (!row || row.answer_text == null || row.score == null) return false;\n  if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) return false;\n  const n = Number(row.score);\n  return Number.isFinite(n);\n}\n\nfunction buildPhaseSummary(rows) {\n  return rows\n    .filter((row) => row.answer_text != null)\n    .map((row) => {\n      if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) {\n        return `P${row.phase}:integrity-fail`;\n      }\n      if (row.score != null) return `P${row.phase}:${row.score}`;\n      return null;\n    })\n    .filter(Boolean)\n    .join(', ');\n}\n\nfunction questionRelevanceCap(answerText, questionText) {\n  const question = String(questionText || '').trim();\n  if (!question || question.length < 20) return null;\n\n  const tokens = question\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .split(/\\s+/)\n    .filter((w) => w.length > 4);\n  const stop = new Set([\n    'would', 'could', 'should', 'their', 'there', 'which', 'about', 'describe',\n    'explain', 'candidate', 'please', 'specific', 'technical', 'question',\n    'implement', 'approach', 'system', 'using',\n  ]);\n  const keys = [...new Set(tokens.filter((w) => !stop.has(w)))].slice(0, 18);\n  if (keys.length < 3) return null;\n\n  const lower = String(answerText || '').toLowerCase();\n  const hits = keys.filter((k) => lower.includes(k)).length;\n  const ratio = hits / keys.length;\n\n  if (ratio < 0.06) return 12;\n  if (ratio < 0.12) return 22;\n  if (ratio < 0.2) return 32;\n  return null;\n}\n\n/** Clamp LLM scores — off-topic and garbage answers must not get free points */\nfunction normalizePhaseScore(answerText, llmScore, questionText) {\n  const answer = String(answerText || '').trim();\n  let score = Number(llmScore);\n  if (!Number.isFinite(score)) score = 0;\n\n  if (!answer) return 0;\n  if (isIntegrityTermination(answer)) return null;\n  if (/^\\[timeout/i.test(answer)) return 0;\n\n  const relevanceCap = questionRelevanceCap(answer, questionText);\n  if (relevanceCap != null) score = Math.min(score, relevanceCap);\n\n  const lower = answer.toLowerCase().replace(/\\s+/g, ' ').trim();\n  const compact = answer.replace(/\\s+/g, '');\n  const len = compact.length;\n\n  // Keyboard mash: mmmm, qqqqq, ooooo (same char repeated)\n  if (len >= 4) {\n    const chars = compact.toLowerCase().split('');\n    const freq = {};\n    for (const c of chars) freq[c] = (freq[c] || 0) + 1;\n    const top = Math.max(...Object.values(freq));\n    if (Object.keys(freq).length === 1 || top / chars.length >= 0.8) return 0;\n  }\n\n  // Trivial non-answers\n  if (/^(ok|okay|yes|no|n\\/a|na|idk|dunno|sure|fine|\\.+|-+)$/i.test(lower)) {\n    return Math.min(score, 3);\n  }\n  if (/^(ok\\s+ok|yes\\s+yes|no\\s+no)$/i.test(lower)) {\n    return Math.min(score, 3);\n  }\n\n  const techMarkers =\n    /\\b(api|sql|database|entity|framework|asp\\.net|\\.net|core|jwt|controller|service|schema|ef\\s*core|linq|rest|dto|validation|fluentvalidation|dependency|injection|tenant|auth|middleware|repository|campaign|promotion|bcrypt|rbac|sso|endpoint|migration|index|query|table|class|interface|async|await)\\b/i;\n\n  const wordCount = lower.split(/\\s+/).filter(Boolean).length;\n\n  // One-liner generic with no technical terms (e.g. phase 1 \"yes, system handles products...\")\n  if (wordCount <= 25 && !techMarkers.test(answer)) {\n    return Math.min(score, 15);\n  }\n\n  // Very short, no technical signal\n  if (len < 30 && !techMarkers.test(answer)) {\n    return Math.min(score, 8);\n  }\n\n  // Short answer without technical depth — cap generous LLM scores\n  if (len < 120 && !techMarkers.test(answer)) {\n    return Math.min(score, 18);\n  }\n\n  if (len < 200 && score > 40 && !techMarkers.test(answer)) {\n    return Math.min(score, 25);\n  }\n\n  return Math.max(0, Math.min(100, Math.round(score)));\n}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickBuildContext() {\n  const built =\n    pickNodeJson('CODE - Build LLM context', 'CODE - Build LLM context1') || {};\n\n  if (built.session?.id && built.norm) return built;\n\n  const norm =\n    pickNodeJson('CODE - Normalize Data', 'CODE - Normalize Data1') || {};\n  const fetchRaw = pickNodeJson('HTTP - Fetch Session', 'HTTP - Fetch Session1');\n  const session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n\n  if (session?.id) {\n    let history = session.interview_history;\n    if (typeof history === 'string') {\n      try {\n        history = JSON.parse(history);\n      } catch (_) {\n        history = [];\n      }\n    }\n    return {\n      session: { ...session, interview_history: history },\n      norm,\n    };\n  }\n\n  throw new Error(\n    'Session context missing. Wire CODE - Build LLM context before Parse Result, or rename node to match (no stray \"1\" suffix).'\n  );\n}\n\nfunction parseSessionConfig(raw) {\n  if (!raw) return {};\n  if (typeof raw === 'string') {\n    try {\n      return JSON.parse(raw);\n    } catch (_) {\n      return {};\n    }\n  }\n  return typeof raw === 'object' ? raw : {};\n}\n\nfunction resolveWorkflowConfig(current, session, built) {\n  const cfgNode =\n    pickNodeJson('CFG - Assessment Config', 'CFG - Assessment Config1') || {};\n  const normCfg = current?.config || {};\n  const sessionCfg = parseSessionConfig(session?.config);\n  const builtCfg = built?.norm?.config || {};\n\n  const supabase_url =\n    normCfg.supabase_url ||\n    sessionCfg.supabase_url ||\n    builtCfg.supabase_url ||\n    cfgNode.supabase_url ||\n    cfgNode.config?.supabase_url ||\n    '';\n\n  const supabase_key =\n    normCfg.supabase_key ||\n    sessionCfg.supabase_key ||\n    builtCfg.supabase_key ||\n    cfgNode.supabase_key ||\n    cfgNode.config?.supabase_key ||\n    '';\n\n  return {\n    ...cfgNode,\n    ...builtCfg,\n    ...sessionCfg,\n    ...normCfg,\n    supabase_url,\n    supabase_key,\n  };\n}\n\nconst llm = $input.first().json;\nconst built = pickBuildContext();\nconst session = built.session;\nconst current = built.norm;\nconst cfg = resolveWorkflowConfig(current, session, built);\nconst content = parseLlmContent(llm);\n\nlet history = session.interview_history;\nif (typeof history === 'string') {\n  try {\n    history = JSON.parse(history);\n  } catch (err) {\n    history = [];\n  }\n}\nif (!Array.isArray(history)) history = [];\n\nconst ph = Number(current.current_phase || 1);\nconst maxQ = Number(cfg.max_questions || 5);\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\nconst iso = new Date().toISOString();\n\nconst integrityTerminated = isIntegrityTermination(current.answer);\nconst scoringFailed = content._scoring_failed === true || content.score == null;\nconst rawLlmScore = Number(content.score ?? 0);\nlet normalizedScore = null;\nlet scoreAdjusted = false;\n\nconst questionForPhase = String(\n  history.find((x) => Number(x.phase) === ph)?.question_text ||\n    history.find((x) => Number(x.phase) === ph)?.question ||\n    built.current_question_text ||\n    ''\n).trim();\n\nif (integrityTerminated) {\n  normalizedScore = null;\n} else if (scoringFailed) {\n  // Model returned unreadable output — keep the answer, leave the phase unscored\n  // (excluded from the average) instead of unfairly recording a zero.\n  normalizedScore = null;\n} else {\n  normalizedScore = normalizePhaseScore(current.answer, rawLlmScore, questionForPhase);\n  scoreAdjusted = normalizedScore !== Math.round(rawLlmScore);\n}\n\nlet idx = history.findIndex((x) => Number(x.phase) === ph);\nconst patch = {\n  answer_text: current.answer,\n  received_at: iso,\n  feedback: content.feedback || null,\n  suggested_answer: content.suggested_answer || content.suggestedAnswer || null,\n  score: normalizedScore,\n  integrity_terminated: integrityTerminated || undefined,\n};\nif (integrityTerminated) {\n  patch.feedback =\n    `Integrity violation on phase ${ph} — this phase is not scored. Prior completed phases keep their recorded scores.`;\n} else if (scoringFailed) {\n  patch.feedback = [\n    patch.feedback,\n    '[System: automatic scoring was unavailable for this answer; it was preserved for review and excluded from the average rather than scored zero.]',\n  ]\n    .filter(Boolean)\n    .join(' ');\n} else if (scoreAdjusted && normalizedScore < rawLlmScore) {\n  const relCap = questionRelevanceCap(current.answer, questionForPhase);\n  patch.feedback = [\n    patch.feedback,\n    relCap != null && relCap <= 32\n      ? `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer did not address the question asked.]`\n      : `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer lacks required technical substance.]`,\n  ]\n    .filter(Boolean)\n    .join(' ');\n}\n\nif (idx >= 0) history[idx] = { ...history[idx], ...patch };\nelse history.push({ phase: ph, question_text: '', sent_at: iso, ...patch });\n\nconst getPhaseScore = (phase) => {\n  const row = history.find((x) => Number(x.phase) === phase);\n  if (!row || row.answer_text == null || row.score == null) return null;\n  const n = Number(row.score);\n  return Number.isFinite(n) ? n : null;\n};\n\nfunction computeAverageScore(rows, maxPhases) {\n  const scores = rows\n    .filter((row) => {\n      const phase = Number(row.phase);\n      if (!Number.isFinite(phase) || phase < 1 || phase > maxPhases) return false;\n      return isScorablePhaseRow(row);\n    })\n    .map((row) => Number(row.score));\n  if (!scores.length) return null;\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\n}\n\n// Run all maxQ phases — no early exit on low scores (final PASS/FAIL only on phase maxQ).\nconst earlyTerminate = false;\nconst earlyTerminateReason = '';\n\nlet nextQ = String(content.nextQuestion || content.next_question || '').trim();\nlet timeLimitSeconds = null;\nlet complexityTier = null;\n\n// LLM sometimes omits next_question (esp. phase 4→5). Recover from history, then fallback.\nlet usedFallbackQuestion = false;\nif (!nextQ && ph < maxQ && !integrityTerminated) {\n  const existingNext = history.find(\n    (x) => Number(x.phase) === ph + 1 && String(x.question_text || x.question || '').trim()\n  );\n  if (existingNext) {\n    nextQ = String(existingNext.question_text || existingNext.question || '').trim();\n    timeLimitSeconds = existingNext.time_limit_seconds ?? null;\n    complexityTier = existingNext.complexity_tier ?? null;\n  } else {\n    nextQ = buildFallbackNextQuestion(ph, history, cfg, session);\n    usedFallbackQuestion = Boolean(nextQ);\n    if (usedFallbackQuestion) {\n      content.feedback = [\n        content.feedback || '',\n        `[System: AI omitted phase ${ph + 1} question — auto-generated ${resolveTargetTier(String(cfg.requisition_title || ''), String(cfg.requisition_requirements || ''), String(session?.cv_plaintext || '')).targetTier}-level fallback.]`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  }\n}\n\nconst isActualFinalPhase = ph >= maxQ;\n\n// Ignore premature LLM finished/PASS/FAIL before the last phase.\nif (!isActualFinalPhase) {\n  if (content.status === 'finished') content.status = 'in_progress';\n  content.result = '';\n}\n\nlet isFinal = isActualFinalPhase || integrityTerminated;\n\nif (integrityTerminated) {\n  nextQ = '';\n  content.result = 'FAIL';\n}\n\nif (nextQ && ph < maxQ && !integrityTerminated) {\n  const llmTier = content.complexity_tier || content.complexityTier || null;\n  const derived = deriveTimeLimitSeconds(\n    content.time_limit_seconds,\n    llmTier,\n    nextQ,\n    cfg,\n    ph + 1\n  );\n  timeLimitSeconds = derived.seconds;\n  complexityTier = derived.tier;\n}\n\nif (nextQ && !isFinal) {\n  const sentAt = iso;\n  const nextPhase = ph + 1;\n  const existingIdx = history.findIndex((x) => Number(x.phase) === nextPhase);\n  const nextEntry = {\n    phase: nextPhase,\n    question_text: nextQ,\n    answer_text: null,\n    sent_at: sentAt,\n    received_at: null,\n    score: null,\n    suggested_answer: null,\n    feedback: null,\n    time_limit_seconds: timeLimitSeconds,\n    complexity_tier: complexityTier,\n    deadline_at: timeLimitSeconds ? buildDeadline(sentAt, timeLimitSeconds) : null,\n  };\n  if (existingIdx >= 0) {\n    history[existingIdx] = { ...history[existingIdx], ...nextEntry };\n  } else {\n    history.push(nextEntry);\n  }\n}\n\n// Before final phase: missing next question must not end the assessment.\nif (ph < maxQ && !integrityTerminated && !nextQ) {\n  isFinal = false;\n  content.feedback = [\n    content.feedback || '',\n    `[System: model did not return phase ${ph + 1} question — submit again or contact support.]`,\n  ]\n    .filter(Boolean)\n    .join(' ');\n}\n\nconst phaseScore = normalizedScore;\n\nconst speechEnabled =\n  cfg.speech_enabled === true ||\n  cfg.speech_enabled === 'true' ||\n  Number(cfg.speech_phases || 0) > 0;\nlet startSpeech = false;\nlet technicalScore = null;\n\nif (isActualFinalPhase && !integrityTerminated) {\n  const techAvg = computeAverageScore(history, maxQ);\n  technicalScore = techAvg ?? 0;\n\n  if (speechEnabled) {\n    // Speech runs after all technical phases regardless of the technical score —\n    // the combined result decides final PASS/FAIL, so a weak technical round must\n    // not block the voice round from starting.\n    isFinal = false;\n    startSpeech = true;\n    nextQ = String(content.first_speech_question || content.firstSpeechQuestion || '').trim();\n    if (!nextQ) nextQ = buildFirstSpeechQuestion(cfg, session, 1, history, maxQ);\n    if (!nextQ) nextQ = buildFallbackSpeechQuestion(cfg, 1);\n    const speechStartPhase = maxQ + 1;\n    const derived = deriveTimeLimitSeconds(180, 'B', nextQ, cfg, speechStartPhase);\n    const speechTimeLimit = derived.seconds;\n    const speechTier = derived.tier;\n    const sentAt = iso;\n    const speechEntry = {\n      phase: speechStartPhase,\n      mode: 'speech',\n      question_text: nextQ,\n      answer_text: null,\n      sent_at: sentAt,\n      received_at: null,\n      score: null,\n      time_limit_seconds: speechTimeLimit,\n      complexity_tier: speechTier,\n      deadline_at: speechTimeLimit ? buildDeadline(sentAt, speechTimeLimit) : null,\n    };\n    const speechIdx = history.findIndex((x) => Number(x.phase) === speechStartPhase);\n    if (speechIdx >= 0) history[speechIdx] = { ...history[speechIdx], ...speechEntry };\n    else history.push(speechEntry);\n    timeLimitSeconds = speechTimeLimit;\n    complexityTier = speechTier;\n\n    content.feedback = [\n      content.feedback || '',\n      `Technical assessment complete (${technicalScore}/100). Communication round — answer the next question by voice.`,\n    ]\n      .filter(Boolean)\n      .join(' ');\n  } else {\n    if (content.status === 'finished' || content.result) isFinal = true;\n    else isFinal = true;\n    if (!content.result) {\n      const finalScore =\n        techAvg ?? (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : 0);\n      content.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\n    }\n  }\n}\n\nconst body = { interview_history: history, updated_at: iso };\nif (startSpeech) {\n  body.assessment_stage = 'speech';\n  body.technical_score = technicalScore;\n  body.current_phase = maxQ + 1;\n} else if (nextQ && !isFinal) body.current_phase = ph + 1;\nelse if (!isFinal) body.current_phase = ph;\nelse body.current_phase = ph;\n\nconst averageScore = computeAverageScore(history, maxQ);\n\nlet finalResult = null;\nlet finalFeedback = content.feedback || '';\nif (isFinal) {\n  body.status = 'completed';\n  body.assessment_stage = 'completed';\n  const finalScore =\n    averageScore ??\n    (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : null) ??\n    0;\n  body.score = finalScore;\n\n  if (integrityTerminated) {\n    body.result = 'FAIL';\n    finalResult = 'FAIL';\n    const phaseSummary = buildPhaseSummary(history);\n    finalFeedback = [\n      `Assessment failed: integrity violation on phase ${ph}.`,\n      averageScore != null\n        ? `Recorded average from completed phases before termination: ${averageScore}/100 (${phaseSummary}).`\n        : `No prior scored phases (${phaseSummary || 'none'}).`,\n    ]\n      .filter(Boolean)\n      .join(' ');\n  } else if (earlyTerminate) {\n    body.result = 'FAIL';\n    finalResult = 'FAIL';\n    const phaseSummary = buildPhaseSummary(history);\n    if (averageScore != null) {\n      finalFeedback = [\n        finalFeedback,\n        `Average score across completed phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  } else {\n    body.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\n    finalResult = body.result;\n    if (averageScore != null) {\n      const phaseSummary = buildPhaseSummary(history);\n      finalFeedback = [\n        finalFeedback,\n        `Average score across all phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  }\n}\n\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nif (!b || !/^https?:\\/\\//i.test(b)) {\n  throw new Error(\n    'supabase_url missing or invalid. Set top-level supabase_url in CFG - Assessment Config (e.g. https://xxx.supabase.co).'\n  );\n}\nconst patchUrl = `${b}/rest/v1/assessment_sessions?id=eq.${encodeURIComponent(String(session.id))}`;\nconst nextRow = history.find((x) => Number(x.phase) === ph + 1);\n\nreturn [\n  {\n    json: {\n      score: isFinal ? (body.score ?? averageScore ?? phaseScore) : phaseScore,\n      phase_score: phaseScore,\n      llm_score_raw: rawLlmScore,\n      score_adjusted: scoreAdjusted,\n      average_score: isFinal ? (body.score ?? averageScore) : null,\n      feedback: isFinal ? finalFeedback : (patch.feedback || content.feedback || ''),\n      nextQuestion: nextQ,\n      suggested_answer: content.suggested_answer || content.suggestedAnswer || '',\n      time_limit_seconds: nextRow?.time_limit_seconds ?? timeLimitSeconds,\n      deadline_at: nextRow?.deadline_at ?? null,\n      complexity_tier: nextRow?.complexity_tier ?? complexityTier,\n      isFinal,\n      result: isFinal ? finalResult : null,\n      startSpeech,\n      assessment_mode: startSpeech ? 'speech' : 'text',\n      speech_phases: Number(cfg.speech_phases || 0) || 5,\n      technical_score: technicalScore,\n      terminatedEarly: earlyTerminate,\n      integrity_terminated: integrityTerminated,\n      candidate_email: current.candidate_email,\n      session_id: current.session_id || session.id,\n      current_phase: ph,\n      config: cfg,\n      gmail_thread_id: session.gmail_thread_id || null,\n      gmail_message_id: session.gmail_message_id || null,\n      mail_subject: session.mail_subject || null,\n      _session_patch_url: patchUrl,\n      _session_patch_body: body,\n    },\n  },\n];"
      },
      "id": "505e90d8-0a67-402a-818c-591a885dd9a5",
      "name": "CODE - Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1888
      ]
    }
  ],
  "connections": {
    "TRG - Assessment Answer": {
      "main": [
        [
          {
            "node": "CFG - Assessment Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Assessment Config": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Data": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Final Phase?": {
      "main": [
        [
          {
            "node": "MAIL - Notify Interviewer (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MAIL - Next Question to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session": {
      "main": [
        [
          {
            "node": "CODE - Build LLM context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build LLM context": {
      "main": [
        [
          {
            "node": "Groq - Assessment Engine (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Assessment Engine (API)": {
      "main": [
        [
          {
            "node": "CODE - Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session interview_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session interview_history": {
      "main": [
        [
          {
            "node": "Respond to Portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Final Phase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Assessment Q1–Q5: JD from session.config (saved at CV screening). Scheduling unchanged. Import and activate."
  },
  "tags": []
}