Talent Acquisition — Assessment + Scheduling.json
{
  "name": "Talent Acquisition — Assessment + Scheduling",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb3dedc4-9901-4f6b-a387-95abc039f554",
      "name": "TRG - Assessment Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1888
      ],
      "webhookId": "assessment-submit-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "supabase_url",
              "value": "https://your-project.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "supabase_key",
              "value": "your-supabase-service-role-key",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "interviewer_email",
              "value": "hussainalijaved712@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "a_groq",
              "name": "groq_model",
              "value": "llama-3.3-70b-versatile",
              "type": "string"
            },
            {
              "id": "a_fail",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "a_pass",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmin",
              "name": "timer_min_seconds",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmax",
              "name": "timer_max_seconds",
              "value": 600,
              "type": "number"
            },
            {
              "id": "a_tbl",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "28b3abd4-ec36-401e-999e-9bda43703cf1",
      "name": "CFG - Assessment Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || {};\nconst query = item.query || {};\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(body.sessionId || body.session_id || query.sessionId || query.session_id || '').trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email || query.email || query.candidate_email);\nconst answer = String(body.answer || query.answer || '').trim();\nconst current_phase = parseInt(body.phase || body.current_phase || query.phase || '1', 10);\nconst tab_switches = parseInt(body.tabSwitches ?? body.tab_switches ?? '0', 10);\n\nconst nested = item.config || {};\nconst config = {\n  supabase_url: nested.supabase_url || item.supabase_url || '',\n  supabase_key: nested.supabase_key || item.supabase_key || '',\n  gemini_model: nested.gemini_model || nested.groq_model || item.gemini_model || item.groq_model || '',\n  groq_model: nested.groq_model || item.groq_model || '',\n  max_questions: Number(nested.max_questions ?? item.max_questions ?? 5),\n  interviewer_email: nested.interviewer_email || item.interviewer_email || '',\n  organization_name: nested.organization_name || item.organization_name || '',\n  requisition_title: nested.requisition_title || '',\n  requisition_requirements: nested.requisition_requirements || '',\n  table_assessment_sessions: nested.table_assessment_sessions || 'assessment_sessions',\n};\n\nreturn [{ json: { session_id, candidate_email, answer, current_phase, tab_switches, config } }];"
      },
      "id": "30387dab-c995-41e2-a660-c583967a5891",
      "name": "CODE - Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1888
      ]
    },
    {
      "parameters": {
        "url": "={{ $('CODE - Normalize Data').first().json.config.supabase_url.replace(/\\/$/, '') }}/rest/v1/assessment_sessions?id=eq.{{ $('CODE - Normalize Data').first().json.session_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Normalize Data').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Normalize Data').first().json.config.supabase_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46fd8d18-eae1-4fd3-9bd4-7781420f0bb4",
      "name": "HTTP - Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1888
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Parse Result').first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Parse Result').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Parse Result').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Parse Result').first().json._session_patch_body }}",
        "options": {}
      },
      "id": "52ae3504-57e4-4e1b-9544-fdf1c2d36495",
      "name": "HTTP - SB PATCH session interview_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        1888
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $('CODE - Parse Result').first().json.score,\n  feedback: $('CODE - Parse Result').first().json.feedback,\n  nextQuestion: $('CODE - Parse Result').first().json.nextQuestion,\n  time_limit_seconds: $('CODE - Parse Result').first().json.time_limit_seconds,\n  deadline_at: $('CODE - Parse Result').first().json.deadline_at,\n  complexity_tier: $('CODE - Parse Result').first().json.complexity_tier,\n  isFinal: $('CODE - Parse Result').first().json.isFinal,\n  result: $('CODE - Parse Result').first().json.result || ''\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "068da392-f1f8-4e69-8964-c03e07c8e73e",
      "name": "Respond to Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2016,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c01d1b7b-2441-4161-a815-9a3a56307082",
      "name": "IF - Final Phase?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        2000
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Parse Result').first().json.config.interviewer_email }}",
        "subject": "=Assessment Complete - {{ $('CODE - Parse Result').first().json.candidate_email }}",
        "message": "=Hello,\n\nCandidate {{ $('CODE - Parse Result').first().json.candidate_email }} has completed all {{ $('CODE - Parse Result').first().json.config.max_questions }} assessment phases.\n\nFinal Phase Score: {{ $('CODE - Parse Result').first().json.score }}/100\nFeedback: {{ $('CODE - Parse Result').first().json.feedback }}\n\nPlease check the dashboard to review.\n\nBest,\nTalent Acquisition Bot",
        "options": {}
      },
      "id": "878f10d2-68bd-456a-9bb6-ab152e6be66e",
      "name": "MAIL - Notify Interviewer (Done)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        1920
      ],
      "webhookId": "88bd356b-2caf-4c66-ac5a-42f5eb977d6f",
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Parse Result').first().json.candidate_email }}",
        "subject": "=Next Assessment Question - Phase {{ $('CODE - Parse Result').first().json.current_phase + 1 }}",
        "message": "=Hi,\n\nThank you for your Phase {{ $('CODE - Parse Result').first().json.current_phase }} answer.\n\nYour Score: {{ $('CODE - Parse Result').first().json.score }}/100\nFeedback: {{ $('CODE - Parse Result').first().json.feedback }}\n\nHere is your next question:\n\n{{ $('CODE - Parse Result').first().json.nextQuestion }}\n\nPlease submit your answer via the portal.\n\nBest,\n{{ $('CODE - Parse Result').first().json.config.organization_name }}",
        "options": {}
      },
      "id": "1fd330b6-45ab-49f7-860e-07bba4037d52",
      "name": "MAIL - Next Question to Candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2288,
        2112
      ],
      "webhookId": "465b93bb-2c3f-40fc-8d71-83cf596de312"
    },
    {
      "parameters": {
        "jsCode": "const norm = $('CODE - Normalize Data').first().json;\nconst raw = $input.first().json;\nconst session = Array.isArray(raw) ? raw[0] : raw;\nif (!session?.id) {\n  throw new Error('No assessment session row for id=' + norm.session_id);\n}\nlet history = session.interview_history;\nif (typeof history === 'string') {\n  try { history = JSON.parse(history); } catch (e) { history = []; }\n}\nif (!Array.isArray(history)) history = [];\n\nlet sessionConfig = session.config;\nif (typeof sessionConfig === 'string') {\n  try { sessionConfig = JSON.parse(sessionConfig); } catch (e) { sessionConfig = {}; }\n}\nif (!sessionConfig || typeof sessionConfig !== 'object') sessionConfig = {};\n\nconst cfg = {\n  ...norm.config,\n  ...sessionConfig,\n  requisition_title:\n    sessionConfig.requisition_title || norm.config?.requisition_title || '',\n  requisition_requirements:\n    sessionConfig.requisition_requirements || norm.config?.requisition_requirements || '',\n  groq_model:\n    sessionConfig.groq_model || norm.config?.groq_model || 'llama-3.3-70b-versatile',\n  max_questions: Number(sessionConfig.max_questions || norm.config?.max_questions || 5),\n  fail_score_threshold: Number(\n    sessionConfig.fail_score_threshold ?? norm.config?.fail_score_threshold ?? 30\n  ),\n  pass_score_threshold: Number(\n    sessionConfig.pass_score_threshold ?? norm.config?.pass_score_threshold ?? 60\n  ),\n  timer_min_seconds: Number(sessionConfig.timer_min_seconds ?? norm.config?.timer_min_seconds ?? 60),\n  timer_max_seconds: Number(sessionConfig.timer_max_seconds ?? norm.config?.timer_max_seconds ?? 600),\n};\n\nconst ph = Number(norm.current_phase || 1);\nconst maxQ = Number(cfg.max_questions || 5);\nconst isFinal = ph >= maxQ;\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\n\nconst jdTitle = String(cfg.requisition_title || '').trim();\nconst jdReq = String(cfg.requisition_requirements || '').trim();\nif (!jdTitle || !jdReq) {\n  throw new Error(\n    'JD missing on assessment session. Complete CV screening with recruiter form JD first (session.config.requisition_title / requisition_requirements).'\n  );\n}\nconst cvText = String(session.cv_plaintext || '').slice(0, 8000);\nconst historyText = history.map((h) =>\n  `Phase ${h.phase} Q: ${h.question_text || h.question || ''} | A: ${h.answer_text ?? 'pending'} | Score: ${h.score ?? 'N/A'}`\n).join('\\\\n');\nconst themesAsked = history\n  .filter((h) => h.question_text)\n  .map((h) => `Phase ${h.phase}: ${String(h.question_text).slice(0, 120)}`)\n  .join('\\\\n');\nconst prevPhaseRow = history.find((h) => Number(h.phase) === ph - 1);\nconst prevTimeLimit = prevPhaseRow?.time_limit_seconds ?? null;\n\nconst sharedRules = `\"\"\"You are an elite technical interviewer and assessment gatekeeper for a structured ${maxQ}-phase hiring assessment at ${cfg.organization_name || 'the company'}. Your mission: decide in ${maxQ} short rounds whether this candidate deserves a detailed human interview. This is a screening gate — not a teaching session, not a take-home, not a friendly chat. You evaluate ONE answer at a time, score it rigorously, and (when not on the final phase) emit exactly ONE next question grounded in the Job Description (role context) and ONLY skills/experiences evidenced on the candidate CV.\r\n\r\n═══════════════════════════════════════ ASSESSMENT PURPOSE (READ FIRST) ═══════════════════════════════════════\r\n- This phase screens candidates end-to-end before scheduling a detailed interview.\r\n- Questions must demand QUICK yet HIGHLY TECHNICAL responses: precise, evidence-based, no fluff.\r\n- \"Witty\" means sharp and professionally probing — clever scenario hooks, trade-off traps, reality-check follow-ups — never jokes, memes, or casual banter.\r\n- Favor questions answerable in 1–3 focused paragraphs under time pressure, not essay-length whitepapers.\r\n- Weak, vague, or generic candidates should be exposed early (low scores + targeted harder follow-ups if still on phases 1–4).\r\n- Strong candidates should face incrementally harder, more specific probes tied to their CV claims and JD-aligned outcomes.\r\n\r\n═══════════════════════════════════════ ASSESSMENT STRUCTURE (NON-NEGOTIABLE) ═══════════════════════════════════════\r\n- Exactly ${maxQ} phases total. You are never on phase ${maxQ}+1 or higher.\r\n- Phases 1–4: grade current answer + emit exactly ONE next_question for the upcoming phase.\r\n- Phase ${maxQ} (FINAL): grade current answer + holistic PASS/FAIL. next_question MUST be \"\" (empty string).\r\n- Phase 1 question is already in interview_history (from CV screening). Do NOT rewrite phase 1; only grade the submitted phase-1 answer and write the phase-2 question when current phase is 1.\r\n- Never repeat a prior question theme verbatim (see Themes already asked).\r\n- Never ask generic textbook questions (\"What is OOP?\", \"Define REST\") unless tied to a named CV project + JD outcome in the same sentence.\r\n- Every question MUST reference:\r\n  (1) At least one concrete JD requirement (responsibility, outcome, or role need), AND\r\n  (2) At least one concrete CV anchor (named project, employer, tool, stack, internship, or claimed experience that appears in the CV text).\r\n\r\n═══════════════════════════════════════ JD + CV GROUNDING (STRICT — NON-NEGOTIABLE) ═══════════════════════════════════════\r\n- JD defines what the role needs and how to judge fit.\r\n- CV excerpt below may be truncated (~8000 chars). Only use skills/projects visible in the excerpt; do not assume content beyond it.\r\n- CV is the ONLY source of technologies/topics you may question. You may NOT quiz skills that are not evidenced in the CV excerpt.\r\n\r\nBefore writing next_question:\r\n  JD_SKILLS = requirements/stacks from the JD\r\n  CV_CLAIMS = tools, frameworks, projects, jobs explicitly named in the CV excerpt\r\n  ALLOWED topics = skills/projects in CV_CLAIMS that help satisfy a JD responsibility (including close ecosystem adjacency already on the CV, e.g. ASP.NET Core → Web API, EF, Identity — only if those appear on the CV).\r\n\r\nFORBIDDEN:\r\n  - Do NOT ask about any technology or experience that appears on the JD but has NO evidence in the CV excerpt.\r\n  - Example: JD requires Blazor + .NET; CV only shows ASP.NET Core → do NOT ask Blazor, MAUI, Blazor Hybrid, or any Blazor-specific question.\r\n  - Do NOT assume the candidate knows a JD-only skill because it is \"similar\" or commonly paired with their stack.\r\n  - Do NOT ask \"how would you learn X\" or \"how would you use X\" when X is not on the CV.\r\n\r\nIf JD requires X and CV lacks X:\r\n  - In feedback you MAY note: \"JD lists [X]; CV does not show [X] — assessed via [Y] from CV instead.\"\r\n  - next_question MUST probe [Y] from CV only, tied to a JD responsibility that [Y] can reasonably satisfy.\r\n\r\nIf CV excerpt is sparse: probe only named employers, degrees, tools, or project titles that appear; if none exist, score low and state insufficient CV evidence — do not invent projects.\r\n\r\n═══════════════════════════════════════ QUESTION STYLE — QUICK, TECHNICAL, SHARP ═══════════════════════════════════════\r\nDesign next_question so a strong hire can answer well in the allotted seconds; a weak hire will stall or hand-wave.\r\n\r\nPreferred question types (rotate across phases):\r\n- \"On [CV project], you used [CV tool] — how did you … to meet [JD responsibility]?\" (implementation snap)\r\n- \"JD needs [outcome]; your CV shows [CV skill/project] — walk through what you actually built, not what the JD lists but isn't on your CV.\"\r\n- \"Pick one: A vs B for [their CV stack] under [constraint] — justify in concrete steps.\"\r\n- \"Spot the flaw: [short scenario in their CV domain] — what breaks first and how do you fix it?\"\r\n- \"What would you NOT do here, and why?\" (filters memorized answers)\r\n\r\nAvoid:\r\n- Multi-exam prompts with 5+ unrelated sub-questions\r\n- Open-ended \"tell me everything about …\"\r\n- Questions answerable without reading their CV\r\n- Questions about JD-only stacks absent from the CV\r\n- Long preamble paragraphs before the actual ask\r\n\r\nDepth progression (when candidate performs well):\r\n- Phase 1–2: verify CV-claimed stack + one sharp scenario on a named CV project (JD outcome in mind)\r\n- Phase 3–4: deeper implementation, security/performance, or reliability — still only on CV-evidenced tools\r\n- Phase ${maxQ}: holistic judgment only (no new question)\r\n\r\nWhen candidate scores poorly (< 40):\r\n- Next question may probe the SAME CV claim with a NEW angle (harder, narrower) — do not reward vagueness by moving to unrelated easy topics or JD-only stacks.\r\n\r\n═══════════════════════════════════════ GROUNDING RULES (EXECUTION) ═══════════════════════════════════════\r\n- Grade Phase N answer; if N < ${maxQ}, write Phase N+1 question.\r\n- next_question must be scenario-based or implementation-focused, not standalone definitions.\r\n- If the answer contradicts their CV, penalize score and state the contradiction in feedback.\r\n- If generic, vague, buzzword-only, or interchangeable with any candidate → score low; feedback must demand CV-specific detail.\r\n- Empty, nonsense, or \"[Timeout - No response provided]\" → score 0–15.\r\n- \"[SYSTEM TERMINATION\" or integrity violation in the answer → score 0; next_question MUST be \"\".\r\n\r\n═══════════════════════════════════════ SCORING RUBRIC (0–100 per phase) ═══════════════════════════════════════\r\nScore the CURRENT phase answer only. Use prior Q&A for consistency, not to re-score old phases.\r\n\r\n90–100: Precise, fast-signal quality; CV-specific; JD-aligned via evidenced skills; concrete examples; senior clarity under pressure.\r\n75–89:  Strong, mostly correct; minor gaps; clear CV/JD linkage.\r\n60–74:  Acceptable but shallow; missing proof; partial JD fit — borderline for detailed interview.\r\n40–59:  Weak; vague; little evidence — likely NOT worth detailed interview unless later phases recover.\r\nBelow ${failThreshold}: FAIL for this phase — wrong, irrelevant, too brief, generic, unsupported by CV, or claims JD-only tech not on CV.\r\n\r\nScoring anchors:\r\n- \"ok\", \"yes\", one-liner → typically 5–25\r\n- Buzzwords without mechanism → typically 20–40\r\n- Correct idea but no CV project context → cap ~55\r\n- Names project + CV tech + trade-off + constraint → 70+\r\n- Claims expertise in tech not on CV → penalize heavily\r\n\r\nTab switches: mention in feedback only if answer quality suffers; do not invent cheating without evidence.\r\n\r\n═══════════════════════════════════════ NEXT QUESTION RULES (Phases 1–4 only) ═══════════════════════════════════════\r\n- Exactly ONE next_question string.\r\n- One cohesive prompt; at most TWO tightly related parts (e.g. \"how + what risk\").\r\n- Increase difficulty when candidate performs well; do not plateau at easy prompts.\r\n- Do not duplicate Themes already asked unless re-probing a failed CV claim with a new angle.\r\n- Target JD outcomes not yet demonstrated in Q&A — using ONLY CV-evidenced skills (never JD-only stacks).\r\n- Tone: professional, direct, incisive — like a senior engineer in a live screen, not an academic exam.\r\n\r\n═══════════════════════════════════════ TIME LIMIT FOR NEXT QUESTION (Phases 1–4 only) ═══════════════════════════════════════\r\nYou decide time_limit_seconds (integer 60–600) from the next_question you write — no default for every phase.\r\n\r\nPick complexity_tier as a label (A|B|C|D) matching question depth, then set time_limit_seconds to match that depth:\r\n- Tier A: very short sharp probe → typically 60–120s\r\n- Tier B: one focused technical explanation with CV example (most common) → typically 120–240s\r\n- Tier C: implementation-level on a CV-evidenced stack → typically 240–360s\r\n- Tier D: architecture + multiple sub-parts — rare; only for long, deep CV-grounded prompts → typically 360–600s\r\n\r\nRules:\r\n- Similar complexity → same tier/time OK.\r\n- Different depth → DIFFERENT time_limit_seconds.\r\n- Do NOT default every question to 240 or 300.\r\n- Short prompts (~25 words) → lower seconds, not Tier C/D.\r\n- If previous phase time_limit_seconds is shown, vary when complexity changes.\r\n- Never below 60, never above 600.\r\n\r\n═══════════════════════════════════════ FINAL PHASE (Phase ${maxQ}) RULES ═══════════════════════════════════════\r\n- Grade holistically: full session vs JD + CV alignment (penalize pattern of claiming or implying skills not on CV).\r\n- result = \"PASS\" only if the candidate consistently showed technical substance worth a detailed interview; otherwise \"FAIL\".\r\n- PASS bar: multiple phases with credible, CV-specific answers; not one lucky strong reply.\r\n- A candidate who passed phases 1–4 but collapses on phase ${maxQ} may still FAIL if overall signal is weak.\r\n- On the final phase, result is authoritative for hire decision; score reflects only this phase's answer quality.\r\n- next_question = \"\" always.\r\n- Do not include time_limit_seconds or complexity_tier on final phase.\r\n\r\n═══════════════════════════════════════ OUTPUT FORMAT — JSON ONLY ═══════════════════════════════════════\r\nNo markdown. No code fences. No prose outside JSON.\r\nsuggested_answer: max 2 short paragraphs (recruiter review only).\r\n\r\nPhases 1–4 — return exactly:\r\n{\"score\":number,\"feedback\":\"string\",\"suggested_answer\":\"string\",\"next_question\":\"string\",\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}\r\n\r\nPhase ${maxQ} (final) — return exactly:\r\n{\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":\"string\",\"suggested_answer\":\"string\",\"next_question\":\"\"}\r\n\r\nIf you cannot ground a question in CV evidence + JD outcome, narrow until you can name a CV project and a CV-evidenced skill; never ask JD-only technology; never return empty next_question before phase ${maxQ}.Job title: ${jdTitle}\nJD requirements:\n${jdReq}\n\nCandidate CV (excerpt, may be truncated):\n${cvText}\n\nPrior Q&A:\n${historyText || '(none yet)'}\n\nThemes already asked (do not repeat verbatim):\n${themesAsked || '(none yet)'}\n\nTab switches recorded: ${norm.tab_switches || 0}`;\n\nlet systemContent;\nif (isFinal) {\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ} (FINAL). Do NOT ask another question.\nFinal answer to grade:\n${norm.answer}\n\nTasks:\n1. Score this final answer 0–100.\n2. Holistic PASS or FAIL for detailed interview (result is authoritative).\n3. Feedback + suggested_answer (max 2 short paragraphs).\n\nOutput schema (exact keys):\n{\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":\"\"}`;\n} else {\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ}.\nCurrent answer to grade (phase ${ph}):\n${norm.answer}\n${prevTimeLimit != null ? `Previous phase time_limit_seconds: ${prevTimeLimit}` : ''}\n\nTasks:\n1. Score the current answer 0–100.\n2. Feedback referencing JD + CV (note JD-only gaps when relevant).\n3. suggested_answer (max 2 short paragraphs).\n4. Exactly ONE next_question for phase ${ph + 1} (JD outcome + CV-evidenced topic only).\n5. time_limit_seconds (60–600) and complexity_tier (A|B|C|D) for that next question.\n\nOutput schema (exact keys):\n{\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":string,\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}`;\n}\n\nconst body = {\n  model: cfg.groq_model || 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: systemContent },\n    { role: 'user', content: 'Evaluate and respond with JSON only.' },\n  ],\n  temperature: isFinal ? 0.1 : 0.3,\n  response_format: { type: 'json_object' },\n};\n\nreturn [{\n  json: {\n    groq_assessment_request: body,\n    prompt: systemContent,\n    session,\n    norm: { ...norm, config: cfg },\n    isFinal,\n    failThreshold,\n  },\n}];"
      },
      "id": "450b8908-bd19-42f8-a8bb-251ac40f8135",
      "name": "CODE - Build LLM context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1888
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_assessment_request }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "25466700-ea1f-4a59-aca1-1c310fbfc4c3",
      "name": "Groq - Assessment Engine (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        1888
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Update interview_history (after Basic LLM Chain + Vertex/Gemini)\r\n// Purana code DELETE karke poora yeh paste karo — sirf ek return, end par.\r\n\r\nfunction timerBounds(config) {\r\n  const min = Number(config?.timer_min_seconds);\r\n  const max = Number(config?.timer_max_seconds);\r\n  return {\r\n    min: Number.isFinite(min) && min > 0 ? min : 60,\r\n    max: Number.isFinite(max) && max > 0 ? max : 600,\r\n  };\r\n}\r\n\r\nfunction useAiTimeLimitSeconds(raw, config) {\r\n  const { min, max } = timerBounds(config);\r\n  let sec = Number(raw);\r\n  if (!Number.isFinite(sec) || sec <= 0) sec = 240;\r\n  return Math.min(max, Math.max(min, Math.round(sec)));\r\n}\r\n\r\nfunction buildDeadline(isoStart, seconds) {\r\n  const start = isoStart ? new Date(isoStart) : new Date();\r\n  return new Date(start.getTime() + seconds * 1000).toISOString();\r\n}\r\n\r\nfunction extractLlmText(api) {\r\n  if (!api || typeof api !== 'object') return '';\r\n  if (typeof api.text === 'string' && api.text.trim()) return api.text.trim();\r\n  if (typeof api.output === 'string' && api.output.trim()) return api.output.trim();\r\n  if (typeof api.response === 'string' && api.response.trim()) return api.response.trim();\r\n  const c0 = api.choices?.[0];\r\n  if (c0?.message?.content) return String(c0.message.content).trim();\r\n  if (typeof c0?.text === 'string') return c0.text.trim();\r\n  const parts = api.candidates?.[0]?.content?.parts;\r\n  if (Array.isArray(parts) && parts[0]?.text) return String(parts[0].text).trim();\r\n  return '';\r\n}\r\n\r\nfunction parseLlmContent(api) {\r\n  if (\r\n    api &&\r\n    (api.score != null ||\r\n      api.feedback ||\r\n      api.next_question ||\r\n      api.nextQuestion ||\r\n      api.result ||\r\n      api.status === 'finished')\r\n  ) {\r\n    return api;\r\n  }\r\n  const rawText = extractLlmText(api);\r\n  if (!rawText) {\r\n    return {\r\n      status: 'in_progress',\r\n      score: 0,\r\n      feedback: 'Empty model output.',\r\n      next_question: '',\r\n      nextQuestion: '',\r\n    };\r\n  }\r\n  try {\r\n    const cleaned = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\r\n    return JSON.parse(cleaned);\r\n  } catch (e) {\r\n    return {\r\n      status: 'in_progress',\r\n      score: 0,\r\n      feedback: 'Could not parse model output.',\r\n      next_question: '',\r\n      nextQuestion: '',\r\n    };\r\n  }\r\n}\r\n\r\nconst llm = $input.first().json;\r\nconst built = $('CODE - Build LLM context').first().json;\r\nconst session = built.session;\r\nconst current = built.norm;\r\nconst cfg = current.config || {};\r\nconst content = parseLlmContent(llm);\r\n\r\nlet history = session.interview_history;\r\nif (typeof history === 'string') {\r\n  try {\r\n    history = JSON.parse(history);\r\n  } catch (err) {\r\n    history = [];\r\n  }\r\n}\r\nif (!Array.isArray(history)) history = [];\r\n\r\nconst ph = Number(current.current_phase || 1);\r\nconst maxQ = Number(cfg.max_questions || 5);\r\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\r\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\r\nconst iso = new Date().toISOString();\r\n\r\nlet idx = history.findIndex((x) => Number(x.phase) === ph);\r\nconst patch = {\r\n  answer_text: current.answer,\r\n  received_at: iso,\r\n  feedback: content.feedback || null,\r\n  suggested_answer: content.suggested_answer || content.suggestedAnswer || null,\r\n  score: content.score ?? null,\r\n};\r\nif (idx >= 0) history[idx] = { ...history[idx], ...patch };\r\nelse history.push({ phase: ph, question_text: '', sent_at: iso, ...patch });\r\n\r\nconst getPhaseScore = (phase) => {\r\n  const row = history.find((x) => Number(x.phase) === phase);\r\n  if (!row || row.answer_text == null || row.score == null) return null;\r\n  const n = Number(row.score);\r\n  return Number.isFinite(n) ? n : null;\r\n};\r\n\r\nfunction computeAverageScore(rows, maxPhases) {\r\n  const scores = rows\r\n    .filter((row) => {\r\n      const phase = Number(row.phase);\r\n      if (!Number.isFinite(phase) || phase < 1 || phase > maxPhases) return false;\r\n      if (row.answer_text == null || row.score == null) return false;\r\n      const n = Number(row.score);\r\n      return Number.isFinite(n);\r\n    })\r\n    .map((row) => Number(row.score));\r\n  if (!scores.length) return null;\r\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\r\n}\r\n\r\nlet earlyTerminate = false;\r\nlet earlyTerminateReason = '';\r\n// Sirf Phase 3 grade hone ke baad (Phase 4 se pehle) — Phase 4 par dubara check mat karo\r\nif (ph === 3) {\r\n  const s1 = getPhaseScore(1);\r\n  const s2 = getPhaseScore(2);\r\n  const s3 = getPhaseScore(3);\r\n  if (\r\n    s1 != null &&\r\n    s2 != null &&\r\n    s3 != null &&\r\n    s1 < failThreshold &&\r\n    s2 < failThreshold &&\r\n    s3 < failThreshold\r\n  ) {\r\n    earlyTerminate = true;\r\n    earlyTerminateReason = `Assessment terminated after Phase 3: scores below ${failThreshold} (P1:${s1}, P2:${s2}, P3:${s3}).`;\r\n  }\r\n}\r\n\r\nlet nextQ = String(content.nextQuestion || content.next_question || '').trim();\r\nlet timeLimitSeconds = null;\r\nlet complexityTier = null;\r\n\r\nconst isActualFinalPhase = ph >= maxQ;\r\n\r\n// Phase 1–4: Gemini kabhi jaldi FAIL/finished bhej deta hai — ignore karo\r\nif (!isActualFinalPhase && !earlyTerminate) {\r\n  if (content.status === 'finished') content.status = 'in_progress';\r\n  if (content.result) content.result = '';\r\n}\r\n\r\nlet isFinal = isActualFinalPhase || earlyTerminate;\r\nif (isActualFinalPhase && !earlyTerminate) {\r\n  if (content.status === 'finished' || content.result) isFinal = true;\r\n}\r\n\r\nif (earlyTerminate) {\r\n  nextQ = '';\r\n  content.result = 'FAIL';\r\n  content.feedback = [content.feedback || '', earlyTerminateReason].filter(Boolean).join(' ');\r\n}\r\n\r\nif (nextQ && ph < maxQ && !earlyTerminate) {\r\n  timeLimitSeconds = useAiTimeLimitSeconds(content.time_limit_seconds, cfg);\r\n  complexityTier = content.complexity_tier || content.complexityTier || null;\r\n}\r\n\r\nif (nextQ && !isFinal) {\r\n  const sentAt = iso;\r\n  history.push({\r\n    phase: ph + 1,\r\n    question_text: nextQ,\r\n    answer_text: null,\r\n    sent_at: sentAt,\r\n    received_at: null,\r\n    score: null,\r\n    suggested_answer: null,\r\n    feedback: null,\r\n    time_limit_seconds: timeLimitSeconds,\r\n    complexity_tier: complexityTier,\r\n    deadline_at: timeLimitSeconds ? buildDeadline(sentAt, timeLimitSeconds) : null,\r\n  });\r\n}\r\n\r\n// Phase 4 ke baad Q5 missing — assessment mat band karo\r\nif (ph === maxQ - 1 && !nextQ && !earlyTerminate) {\r\n  isFinal = false;\r\n}\r\n\r\nconst body = { interview_history: history, updated_at: iso };\r\nif (nextQ && !isFinal) body.current_phase = ph + 1;\r\nelse if (!isFinal) body.current_phase = ph;\r\nelse body.current_phase = ph;\r\n\r\nconst phaseScore = Number(content.score ?? 0);\r\nconst averageScore = computeAverageScore(history, maxQ);\r\n\r\nlet finalResult = null;\r\nlet finalFeedback = content.feedback || '';\r\nif (isFinal) {\r\n  body.status = 'completed';\r\n  const finalScore = averageScore ?? (Number.isFinite(phaseScore) ? phaseScore : 0);\r\n  body.score = finalScore;\r\n\r\n  if (earlyTerminate) {\r\n    body.result = 'FAIL';\r\n    finalResult = 'FAIL';\r\n  } else {\r\n    body.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\r\n    finalResult = body.result;\r\n  }\r\n\r\n  if (averageScore != null) {\r\n    const phaseSummary = history\r\n      .filter((row) => row.answer_text != null && row.score != null)\r\n      .map((row) => `P${row.phase}:${row.score}`)\r\n      .join(', ');\r\n    finalFeedback = [\r\n      finalFeedback,\r\n      `Average score across all phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\r\n    ]\r\n      .filter(Boolean)\r\n      .join(' ');\r\n  }\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst patchUrl = `${b}/rest/v1/assessment_sessions?id=eq.${encodeURIComponent(String(session.id))}`;\r\nconst nextRow = history.find((x) => Number(x.phase) === ph + 1);\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      score: isFinal ? (body.score ?? averageScore ?? phaseScore) : phaseScore,\r\n      phase_score: phaseScore,\r\n      average_score: isFinal ? (body.score ?? averageScore) : null,\r\n      feedback: isFinal ? finalFeedback : (content.feedback || ''),\r\n      nextQuestion: nextQ,\r\n      suggested_answer: content.suggested_answer || content.suggestedAnswer || '',\r\n      time_limit_seconds: nextRow?.time_limit_seconds ?? timeLimitSeconds,\r\n      deadline_at: nextRow?.deadline_at ?? null,\r\n      complexity_tier: nextRow?.complexity_tier ?? complexityTier,\r\n      isFinal,\r\n      result: isFinal ? finalResult : null,\r\n      terminatedEarly: earlyTerminate,\r\n      candidate_email: current.candidate_email,\r\n      session_id: current.session_id,\r\n      current_phase: ph,\r\n      config: cfg,\r\n      _session_patch_url: patchUrl,\r\n      _session_patch_body: body,\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "505e90d8-0a67-402a-818c-591a885dd9a5",
      "name": "CODE - Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1888
      ]
    }
  ],
  "connections": {
    "TRG - Assessment Answer": {
      "main": [
        [
          {
            "node": "CFG - Assessment Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Assessment Config": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Data": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Final Phase?": {
      "main": [
        [
          {
            "node": "MAIL - Notify Interviewer (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MAIL - Next Question to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session": {
      "main": [
        [
          {
            "node": "CODE - Build LLM context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build LLM context": {
      "main": [
        [
          {
            "node": "Groq - Assessment Engine (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Assessment Engine (API)": {
      "main": [
        [
          {
            "node": "CODE - Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session interview_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session interview_history": {
      "main": [
        [
          {
            "node": "Respond to Portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Final Phase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Assessment Q1–Q5: JD from session.config (saved at CV screening). Scheduling unchanged. Import and activate."
  },
  "tags": []
}