Talent Acquisition — JD Generate.json
{
  "name": "Talent Acquisition — JD Generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/jd-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "TRG - Webhook JD generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "webhookId": "talent-jd-generate"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build JD generate prompt (Groq)\r\n// After: TRG - Webhook JD generate\r\n\r\nfunction pick(body, ...keys) {\r\n  for (const k of keys) {\r\n    const v = body?.[k];\r\n    if (v != null && String(v).trim()) return String(v).trim();\r\n  }\r\n  return '';\r\n}\r\n\r\nfunction bulletLines(raw) {\r\n  return String(raw || '')\r\n    .split(/\\n/)\r\n    .map((l) => l.replace(/^[\\s\\-•*]+/, '').trim())\r\n    .filter(Boolean);\r\n}\r\n\r\nconst raw = $input.first().json;\r\nconst body = raw.body || raw;\r\n\r\nconst title = pick(body, 'title', 'job_title', 'requisition_title') || 'Open Position';\r\nconst department = pick(body, 'department', 'dept') || 'Engineering';\r\nconst location = pick(body, 'location') || 'Remote';\r\nconst employment_type = pick(body, 'employment_type', 'employmentType', 'job_type') || 'Full-time';\r\nconst criteria = bulletLines(pick(body, 'criteria', 'must_have', 'requirements'));\r\nconst nice = bulletLines(pick(body, 'nice', 'nice_to_have', 'niceToHave'));\r\n\r\nconst model = pick(body, 'groq_model') || $env.GROQ_JD_MODEL || 'llama-3.3-70b-versatile';\r\n\r\nconst systemPrompt = [\r\n  'You are an expert technical recruiter and copywriter who writes job descriptions for LinkedIn and careers pages.',\r\n  'Write polished, professional, inclusive job postings that attract strong candidates.',\r\n  'Tone: confident, clear, modern — like top tech companies on LinkedIn (not generic HR fluff).',\r\n  'Use UK/US professional English. No emojis. No markdown headings with # symbols.',\r\n  'Structure the JD with these section labels on their own lines (plain text):',\r\n  'About the Role',\r\n  'What You\\'ll Do',\r\n  'What We\\'re Looking For',\r\n  'Nice to Have',\r\n  'Qualifications',\r\n  'What We Offer',\r\n  'How to Apply',\r\n  'Include an equal opportunity employer line at the end.',\r\n  'Expand recruiter bullet points into full, actionable responsibility and requirement lines.',\r\n  'Return JSON only: {\"jd_text\":\"<full job description as plain text with newlines>\"}',\r\n].join(' ');\r\n\r\nconst userPrompt = [\r\n  `Write a complete job description for this role.`,\r\n  ``,\r\n  `Job title: ${title}`,\r\n  `Department: ${department}`,\r\n  `Location: ${location}`,\r\n  `Employment type: ${employment_type}`,\r\n  ``,\r\n  criteria.length\r\n    ? `Must-have skills / requirements (expand into professional bullets):\\n${criteria.map((c) => `- ${c}`).join('\\n')}`\r\n    : 'Must-have: infer realistic requirements from the job title (e.g. Junior .NET Developer → C#, ASP.NET Core, SQL, Git).',\r\n  ``,\r\n  nice.length\r\n    ? `Nice to have:\\n${nice.map((c) => `- ${c}`).join('\\n')}`\r\n    : 'Nice to have: add 3–4 realistic optional skills for this role.',\r\n  ``,\r\n  `First line of jd_text must be the job title. Second line: ${department} | ${employment_type} | ${location}`,\r\n  `How to Apply section must mention applying via the company careers portal and a structured technical assessment for shortlisted candidates.`,\r\n].join('\\n');\r\n\r\nconst groq_jd_request = {\r\n  model,\r\n  messages: [\r\n    { role: 'system', content: systemPrompt },\r\n    { role: 'user', content: userPrompt },\r\n  ],\r\n  temperature: 0.45,\r\n  response_format: { type: 'json_object' },\r\n};\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      title,\r\n      department,\r\n      location,\r\n      employment_type,\r\n      criteria,\r\n      nice,\r\n      groq_jd_request,\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "CODE - Build JD generate prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_jd_request }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "HTTP - Groq JD generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse JD generate result\r\n// After: HTTP Groq JD generate\r\n\r\nconst base = $('CODE - Build JD generate prompt').first().json;\r\nconst api = $input.first().json;\r\nconst text = api?.choices?.[0]?.message?.content;\r\nconst httpBad = !(api?.choices && api.choices[0]);\r\n\r\nif (!text || httpBad) {\r\n  const hint = api?.error?.message || api?.message || (httpBad ? 'GROQ_HTTP_EMPTY' : 'GROQ_EMPTY');\r\n  return [\r\n    {\r\n      json: {\r\n        success: false,\r\n        error: hint,\r\n        jd_text: '',\r\n        title: base.title,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nlet parsed;\r\ntry {\r\n  parsed = JSON.parse(text);\r\n} catch (e) {\r\n  parsed = { jd_text: String(text || '').trim() };\r\n}\r\n\r\nlet jd_text = String(parsed.jd_text || parsed.description || parsed.job_description || '').trim();\r\n\r\nif (!jd_text && typeof parsed === 'object') {\r\n  const parts = [];\r\n  for (const [k, v] of Object.entries(parsed)) {\r\n    if (typeof v === 'string' && v.length > 40) parts.push(v);\r\n  }\r\n  jd_text = parts.join('\\n\\n').trim();\r\n}\r\n\r\nif (!jd_text) {\r\n  return [\r\n    {\r\n      json: {\r\n        success: false,\r\n        error: 'Model returned empty jd_text',\r\n        jd_text: '',\r\n        title: base.title,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      success: true,\r\n      jd_text,\r\n      title: base.title,\r\n      department: base.department,\r\n      location: base.location,\r\n      employment_type: base.employment_type,\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "CODE - Parse JD generate result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success, jd_text: $json.jd_text, title: $json.title, error: $json.error || \"\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Respond to Admin",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    }
  ],
  "connections": {
    "TRG - Webhook JD generate": {
      "main": [
        [
          {
            "node": "CODE - Build JD generate prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build JD generate prompt": {
      "main": [
        [
          {
            "node": "HTTP - Groq JD generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Groq JD generate": {
      "main": [
        [
          {
            "node": "CODE - Parse JD generate result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse JD generate result": {
      "main": [
        [
          {
            "node": "Respond to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-10T09:22:14.529Z",
  "versionId": "jd-generate-v1"
}