talent_acquisition_updated.json
{
  "name": "Talent Acquisition \u2014 Enterprise (CV Intake + Reply Scheduling + Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "6a0333a1-c75c-430d-a65d-a77b587964ed",
      "name": "TRG - Manual (testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/cv-ingest",
        "options": {}
      },
      "id": "a6cfc1fa-3a98-4f8c-b39e-92c5964b6da9",
      "name": "TRG - Webhook CV ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        656
      ],
      "webhookId": "talent-cv-ingest"
    },
    {
      "parameters": {},
      "id": "b79eaa87-e535-4a3b-9ced-7d09c8f4a995",
      "name": "MUX - Combine manual and webhook",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        288,
        528
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "cv_file",
        "options": {}
      },
      "id": "pdf-extractor-node-id",
      "name": "PDF - Extract text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        528
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "config.supabase_url",
              "value": "={{ $env.SUPABASE_URL || 'https://your-project.supabase.co' }}",
              "type": "string"
            },
            {
              "id": "cfg2",
              "name": "config.supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "cfg3",
              "name": "config.table_candidates",
              "value": "candidates",
              "type": "string"
            },
            {
              "id": "cfg4",
              "name": "config.table_pending",
              "value": "pending_replies",
              "type": "string"
            },
            {
              "id": "cfg15",
              "name": "config.table_scheduling",
              "value": "scheduling_log",
              "type": "string"
            },
            {
              "id": "cfg_max_q",
              "name": "config.max_questions",
              "value": 5,
              "type": "number"
            },
            {
              "id": "cfg5",
              "name": "config.organization_name",
              "value": "Example Corporation Ltd.",
              "type": "string"
            },
            {
              "id": "cfg6",
              "name": "config.talent_alias",
              "value": "talent@example.com",
              "type": "string"
            },
            {
              "id": "cfg7",
              "name": "config.gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "cfg8",
              "name": "config.calendar_id",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "cfg12",
              "name": "config.interviewer_email",
              "value": "interviewer@example.com",
              "type": "string"
            },
            {
              "id": "cfg13",
              "name": "config.requisition_title",
              "value": "Senior Backend Engineer",
              "type": "string"
            },
            {
              "id": "cfg14",
              "name": "config.requisition_requirements",
              "value": "Mandatory: C#, PostgreSQL, REST, 5+ years backend. Nice-to-have: cloud (GCP/Azure), queues.",
              "type": "string"
            },
            {
              "id": "t_sess",
              "name": "config.table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            },
            {
              "id": "t_q",
              "name": "config.table_assessment_questions",
              "value": "assessment_questions",
              "type": "string"
            },
            {
              "id": "t_er",
              "name": "config.table_errors",
              "value": "workflow_errors",
              "type": "string"
            },
            {
              "id": "t_min",
              "name": "config.min_response_seconds",
              "value": 30,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e7a95b13-c79a-4d64-aca2-8ed6b1af3fd9",
      "name": "CFG - Workflow configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        688
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "={{ $json.config.table_candidates }}",
        "limit": 1000,
        "options": {}
      },
      "id": "supabase-read-candidates",
      "name": "DB - Supabase read candidates",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('CFG - Workflow configuration').first().json;\nconst pdf = $('PDF - Extract text').first().json;\nconst rows = $input.all().map((i) => i.json);\n\nconst emailRaw = cfg.body?.candidate_email || cfg.demo?.candidate_email || '';\nconst cvRaw = pdf.text || cfg.body?.cv_text || cfg.demo?.cv_text || '';\n\nconst email = (emailRaw || 'candidate@example.com').trim().toLowerCase();\nconst cv = cvRaw.trim();\nconst canon = String(cv || '').replace(/\\s+/g, ' ').trim().slice(0, 6144);\nconst fingerprint = `${email}|${canon}`;\n\nconst is_duplicate = rows.some(r => \n  (r.candidate_email && r.candidate_email.toLowerCase() === email) || \n  (r.fingerprint && r.fingerprint === fingerprint)\n);\n\nconst requisition_id = cfg.body?.requisition_id || cfg.demo?.requisition_id || '';\n\nreturn [{ \n  json: { \n    ...cfg, \n    candidate_email: email, \n    cv_text: cv, \n    fingerprint, \n    is_duplicate, \n    requisition_id \n  } \n}];"
      },
      "id": "fb6f97ed-32b7-45f5-b436-286a09373623",
      "name": "CODE - Expand CVs and duplicate flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "nd1",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a041ad25-a0dd-43fd-9946-7d8fd424b599",
      "name": "GATE - Not duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: { ...j, cv_plaintext: String(j.cv_text || '').replace(/\\r/g, '').trim() } }];"
      },
      "id": "41e9c134-9f44-4f21-9f53-bca997d05ad8",
      "name": "CODE - CV plain text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst systemText = [\n  'You are the Lead AI Talent Acquisition Specialist for an elite technology firm.',\n  'Mission: identify top-tier talent with surgical precision and run a rigorous 5-phase sequential assessment.',\n  'This response is Phase 1 of 5: emit score, recommendation, assessment_status, summary, and exactly one Phase 1 drill-down question.',\n  'CV deep-scan: assess technical depth, project complexity, and mandatory skill matches versus the Job Specification.',\n  'Initial scoring: assign score 0-100 for role-fit. Use SHORTLIST only for strong matches; REJECT for clear non-fit; REVIEW when uncertain or mandatory skills are ambiguous.',\n  'Phase 1 challenge: one scenario-based technical question that targets a core skill evidenced on the CV\u2014not generic or textbook.',\n  'Rules: never ask generic questions; only ONE question in phase_1_question; maintain sequential assessment (no Phase 2+ here).',\n  'AI shield (anti-cheat): frame phase_1_question so a convincing answer requires concrete project/context from this CV\u2014generic LLM answers should fail.',\n  'If recommendation is REJECT, set phase_1_question to an empty string.',\n  'Tone in phase_1_question: professional, direct, elite\u2014gatekeeper of high engineering standards.',\n  'Always set assessment_status to IN_PROGRESS for this workflow step.',\n  'Return JSON matching the schema only.',\n].join(' ');\nconst jdTitle = row.config?.requisition_title || 'Open role';\nconst jdMust = row.config?.requisition_requirements || '(configure config.requisition_requirements)';\nconst phases = row.config?.max_questions ?? 5;\nconst userText = [\n  `Job specification title: ${jdTitle}`,\n  `Requirements: ${jdMust}`,\n  row.requisition_id ? `Submission ref: ${row.requisition_id}` : '',\n  `Sequential assessment: ${phases} phases total; you are issuing Phase 1 only (single drill-down in phase_1_question).`,\n  '',\n  'Candidate CV:',\n  row.cv_plaintext,\n].join('\\n');\nconst body = {\n  systemInstruction: { role: 'system', parts: [{ text: systemText }] },\n  contents: [{ role: 'user', parts: [{ text: userText }] }],\n  generationConfig: {\n    temperature: 0.15,\n    responseMimeType: 'application/json',\n    responseSchema: {\n      type: 'OBJECT',\n      properties: {\n        score: { type: 'INTEGER' },\n        recommendation: { type: 'STRING', enum: ['SHORTLIST', 'REJECT', 'REVIEW'] },\n        phase_1_question: { type: 'STRING' },\n        assessment_status: { type: 'STRING', enum: ['IN_PROGRESS'] },\n        summary: { type: 'STRING' },\n      },\n      required: ['score', 'recommendation', 'phase_1_question', 'assessment_status', 'summary'],\n    },\n  },\n};\nreturn [{ json: { ...row, gemini_cv_screening_request: body } }];"
      },
      "id": "11e6e754-ea95-4411-a58d-353602326099",
      "name": "Gemini - CV screening agent (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.config.gemini_model }}:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_cv_screening_request }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "2fda8d86-7719-4468-9020-30a4516b7bff",
      "name": "Gemini - CV screening agent (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        672
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const api = $input.first().json;\nconst base = $('CODE - CV plain text').first().json;\nconst text = api?.candidates?.[0]?.content?.parts?.[0]?.text;\nconst httpBad = !(api?.candidates && api.candidates[0]);\n\nif (!text || httpBad) {\n  const hint = api?.error?.message || api?.message || (httpBad ? 'GEMINI_HTTP_OR_SCHEMA' : 'GEMINI_EMPTY');\n  return [{\n    json: {\n      ...base,\n      screening: { error: hint, transport: httpBad },\n      decision: 'REVIEW',\n      score: null,\n      phase_1_question: '',\n      assessment_status: 'IN_PROGRESS',\n      session_phase: 1,\n      screening_transport_failed: true,\n    },\n  }];\n}\n\nlet s;\ntry {\n  s = JSON.parse(text);\n} catch (e) {\n  return [{\n    json: {\n      ...base,\n      screening: { error: 'GEMINI_PARSE', raw: String(text || '').slice(0, 2000) },\n      decision: 'REVIEW',\n      score: 50,\n      phase_1_question: '',\n      assessment_status: 'IN_PROGRESS',\n      session_phase: 1,\n      screening_transport_failed: false,\n    },\n  }];\n}\n\nlet score = Math.max(0, Math.min(100, Math.round(Number(s.score) || 0)));\nlet rec = String(s.recommendation || 'REVIEW').toUpperCase();\nif (!['SHORTLIST', 'REJECT', 'REVIEW'].includes(rec)) rec = 'REVIEW';\n\nlet decision = rec;\nif (score >= 78 && decision === 'REVIEW') decision = 'SHORTLIST';\nelse if (score <= 28 && decision === 'REVIEW') decision = 'REJECT';\nelse if (decision === 'SHORTLIST' && score < 62) decision = 'REVIEW';\nelse if (decision === 'REJECT' && score > 62) decision = 'REVIEW';\n\nconst phase_1_question = typeof s.phase_1_question === 'string' ? s.phase_1_question.trim() : '';\nconst assessment_status = 'IN_PROGRESS';\n\nreturn [{ json: { ...base, screening: s, score, decision, recommendation: rec, phase_1_question, assessment_status, session_phase: 1, screening_transport_failed: false } }];"
      },
      "id": "e309d828-6c3e-4477-af03-a14f5d1358f6",
      "name": "CODE - Parse CV screening outcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "sh1",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "SHORTLIST",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08b9ed9b-e9ca-4a19-862c-52512ec0fdb3",
      "name": "GATE - Initial CV Pass",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        672
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidate_email }}",
        "subject": "=Your application \u2014 assessment Phase {{ $json.session_phase }}/{{ $json.config.max_questions }}",
        "emailType": "text",
        "message": "=Dear candidate,\\n\\nCV screening score: {{ $json.score }}/100.\\n\\nPhase {{ $json.session_phase }} of {{ $json.config.max_questions }} \u2014 technical drill-down. Reply to this thread with your answer only.\\n\\n{{ $json.phase_1_question }}\\n\\nAssessment status: {{ $json.assessment_status }}\\n\\nTalent team: {{ $json.config.talent_alias }}.\\n\\nRegards,\\n{{ $json.config.organization_name }}\\nTalent Acquisition",
        "options": {}
      },
      "id": "1a9cd40f-8d73-41b9-a1de-172dd0286156",
      "name": "MAIL - Email outreach agent (shortlist)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2352,
        560
      ],
      "webhookId": "cec9d0de-22a2-456a-b209-4f6778c3ada4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "6b4fb64c-a6be-420c-ab74-c0f3b46f5d1c",
      "name": "TRG - Gmail candidate reply",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        1216
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "config.supabase_url",
              "value": "={{ $env.SUPABASE_URL || 'https://your-project.supabase.co' }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "config.supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "config.table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "config.table_assessment_questions",
              "value": "assessment_questions",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "config.table_scheduling",
              "value": "scheduling_log",
              "type": "string"
            },
            {
              "id": "r6",
              "name": "config.table_candidates",
              "value": "candidates",
              "type": "string"
            },
            {
              "id": "r7",
              "name": "config.table_errors",
              "value": "workflow_errors",
              "type": "string"
            },
            {
              "id": "r8",
              "name": "config.gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "r9",
              "name": "config.calendar_id",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "r10",
              "name": "config.interviewer_email",
              "value": "interviewer@example.com",
              "type": "string"
            },
            {
              "id": "r11",
              "name": "config.max_questions",
              "value": 5,
              "type": "number"
            },
            {
              "id": "r12",
              "name": "config.organization_name",
              "value": "Example Corporation Ltd.",
              "type": "string"
            },
            {
              "id": "r13",
              "name": "config.min_response_seconds",
              "value": 30,
              "type": "number"
            },
            {
              "id": "r14",
              "name": "config.talent_alias",
              "value": "talent@example.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "aeccf182-6ae1-40eb-809a-1c6651165fd4",
      "name": "CFG - Reply track (merge)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst body = {\n  systemInstruction: { role: 'system', parts: [{ text: 'Extract interview availability as JSON with slots: array of {start_iso,end_iso,timezone}.' }] },\n  contents: [{ role: 'user', parts: [{ text: ctx.reply_text || '' }] }],\n  generationConfig: { temperature: 0.1, responseMimeType: 'application/json' },\n};\nreturn [{ json: { ...ctx, gemini_availability_request: body } }];"
      },
      "id": "2b76a796-1ec5-4768-983b-faf3f060cdd8",
      "name": "Gemini - Availability agent (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.config.gemini_model }}:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_availability_request }}",
        "options": {
          "timeout": 180000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        }
      },
      "id": "dc9502d1-1737-4c44-b818-a81f4dda4812",
      "name": "Gemini - Availability agent (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const api = $input.first().json;\nconst base = $('Gemini - Availability agent (request body)').first().json;\nconst text = api.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nlet parsed;\ntry { parsed = JSON.parse(text); } catch (e) { parsed = { slots: [] }; }\nreturn [{ json: { ...base, availability: parsed } }];"
      },
      "id": "2088e817-33f5-4e7f-8559-9ede68eb39cb",
      "name": "CODE - Normalize availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Normalize availability').first().json.config.interviewer_email || 'interviewer@example.com' }}",
        "subject": "=Interview coordination \u2014 candidate {{ $json.candidate_email }}",
        "emailType": "text",
        "message": "=Please provide your availability windows. Candidate proposed: {{ JSON.stringify($json.availability) }}",
        "options": {}
      },
      "id": "10cc696a-b3f9-4f1b-a471-be7615abffa4",
      "name": "MAIL - Interviewer coordination agent",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1552,
        1200
      ],
      "webhookId": "868d2454-8ed9-440e-b27f-38b2230cc705"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "interviewer-availability"
        }
      },
      "id": "83b7abb0-ad16-4acc-8bc5-a569a8a29088",
      "name": "WAIT - Interviewer availability webhook",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        1200
      ],
      "webhookId": "interviewer-availability-wait"
    },
    {
      "parameters": {
        "jsCode": "const waitData = $input.first().json;\nconst base = $('CODE - Normalize availability').first().json;\nconst body = {\n  contents: [{ role: 'user', parts: [{ text: `Match interviewer windows with candidate slots. Interviewer data: ${JSON.stringify(waitData)} Candidate availability: ${JSON.stringify(base.availability)} Return JSON {proposed_start_iso, proposed_end_iso, conflict:false}.` }] }],\n  generationConfig: { temperature: 0.1, responseMimeType: 'application/json' },\n};\nreturn [{ json: { ...base, ...waitData, gemini_match_request: body } }];"
      },
      "id": "2da9052b-2b7e-4529-89d6-4f94e8d12ee6",
      "name": "Gemini - Smart matching agent (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json.config.gemini_model }}:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_match_request }}",
        "options": {
          "timeout": 180000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        }
      },
      "id": "d0b1b47b-1cf2-45a1-a8a3-0e9a1edca113",
      "name": "Gemini - Smart matching agent (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const api = $input.first().json;\nconst base = $('Gemini - Smart matching agent (request body)').first().json;\nconst text = api?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nlet m;\ntry {\n  m = JSON.parse(text);\n} catch (e) {\n  m = { conflict: true, proposed_start_iso: '', proposed_end_iso: '' };\n}\nif (typeof m.conflict !== 'boolean') m.conflict = false;\nlet a = typeof m.proposed_start_iso === 'string' ? m.proposed_start_iso.trim() : '';\nlet b = typeof m.proposed_end_iso === 'string' ? m.proposed_end_iso.trim() : '';\nif (!a || !b) m.conflict = true;\nelse {\n  try {\n    const da = new Date(a).getTime();\n    const db = new Date(b).getTime();\n    if (!Number.isFinite(da) || !Number.isFinite(db) || db <= da) m.conflict = true;\n  } catch (_) {\n    m.conflict = true;\n  }\n}\nreturn [{ json: { ...base, gemini_match_api: api, match: m } }];"
      },
      "id": "e94f15cf-2a56-47fe-a252-11cc48d45739",
      "name": "CODE - Matching result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf1",
              "leftValue": "={{ $json.match.conflict }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "76288444-fac7-4450-8585-54a9a7da3756",
      "name": "GATE - Match resolved (no conflict)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        1200
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json.config.calendar_id || 'primary' }}",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $('CODE - Matching result').first().json.match.proposed_start_iso || $now.toISO() }}",
        "end": "={{ $('CODE - Matching result').first().json.match.proposed_end_iso || $now.plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "attendees": "={{ [$('CODE - Matching result').first().json.candidate_email, $('CODE - Matching result').first().json.config.interviewer_email || 'interviewer@example.com'] }}",
          "summary": "=Interview \u2014 {{ $('CODE - Matching result').first().json.candidate_email }}"
        }
      },
      "id": "54d4fc9c-27a3-4f43-9c70-609f1e789b10",
      "name": "CAL - Create interview event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3024,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst body = {\n  contents: [{ role: 'user', parts: [{ text: `Produce a concise interviewer briefing from: ${JSON.stringify(j.match)} and candidate ${j.candidate_email}` }] }],\n  generationConfig: { temperature: 0.2, responseMimeType: 'text/plain' },\n};\nreturn [{ json: { ...j, gemini_brief_request: body } }];"
      },
      "id": "bcf32a3b-e463-4b24-ae2c-a44d5586473e",
      "name": "Gemini - Interview briefing agent (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1184
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $('CFG - Reply track (merge)').first().json.config.gemini_model }}:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_brief_request }}",
        "options": {
          "timeout": 180000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        }
      },
      "id": "e2dfe424-bfae-45f5-b75c-84ca78711a84",
      "name": "Gemini - Interview briefing agent (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        1184
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Matching result').first().json.candidate_email }}",
        "subject": "=Interview confirmation",
        "emailType": "text",
        "message": "=Your interview is scheduled. Briefing: {{ $('Gemini - Interview briefing agent (API)').first().json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "id": "8d064317-c607-4e55-9bae-6a376fd581ad",
      "name": "MAIL - Notify candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2688,
        1520
      ],
      "webhookId": "e5ec16e3-8129-4464-afbf-2e172770aa00"
    },
    {
      "parameters": {
        "sendTo": "={{ $('CODE - Matching result').first().json.config.interviewer_email || 'interviewer@example.com' }}",
        "subject": "=Interviewer pack",
        "emailType": "text",
        "message": "=Briefing:\\n{{ $('Gemini - Interview briefing agent (API)').first().json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "id": "a6c46e40-6743-4e2a-989a-87b8d3709385",
      "name": "MAIL - Notify interviewer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2864,
        1520
      ],
      "webhookId": "4f31fc4f-22d8-4f97-bddf-e0e88ca010d5"
    },
    {
      "parameters": {},
      "id": "d3a16996-7504-48f8-a64e-c4b9c6f6a4d7",
      "name": "TRG - Error workflow",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        208,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "tf1",
              "leftValue": "={{ $json.screening_transport_failed }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ceb83fe7-d026-4fa3-9845-37ab63fac8ac",
      "name": "GATE - Screening transport OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "rv1",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "REVIEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d459267e-ef35-4e6b-9c38-f0b19c612b32",
      "name": "GATE - Needs human review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const gmail = $input.first().json;\nconst src = $('CODE - Parse CV screening outcome').first().json;\nconst msgId = gmail.id || gmail.messageId || '';\nconst threadId = gmail.threadId || gmail.thread_id || msgId;\nreturn [{\n  json: {\n    ...src,\n    gmail_message_id: msgId,\n    gmail_thread_id: threadId,\n  },\n}];"
      },
      "id": "ed0a9b1a-bf49-465a-9d2f-eff7a60dc9c7",
      "name": "CODE - Merge Gmail send response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Workflow configuration').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Workflow configuration').first().json.config.table_candidates }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $json.candidate_email,\n  stage: 'DuplicateSkipped',\n  score: null,\n  fingerprint: $json.fingerprint,\n  requisition_id: $json.requisition_id || '',\n  notes: { reason: 'duplicate_email_or_fingerprint', fingerprint: $json.fingerprint },\n}) }}"
      },
      "id": "0900fbcc-e3d7-4ebf-b6c9-76c25cf9cece",
      "name": "HTTP - SB log duplicate skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        880
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Workflow configuration').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Workflow configuration').first().json.config.table_candidates }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $json.candidate_email,\n  stage: 'ScreeningTransportFailed',\n  score: $json.score,\n  fingerprint: $json.fingerprint,\n  requisition_id: $json.requisition_id || '',\n  notes: $json.screening,\n}) }}"
      },
      "id": "73808e11-5efc-422f-9a50-04d004c06b3a",
      "name": "HTTP - SB log screening failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        864
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Workflow configuration').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Workflow configuration').first().json.config.table_candidates }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $json.candidate_email,\n  stage: 'ReviewQueue',\n  score: $json.score,\n  fingerprint: $json.fingerprint,\n  requisition_id: $json.requisition_id || '',\n  notes: $json.screening,\n}) }}"
      },
      "id": "ccbb9233-a1b6-46df-969f-09a4460f9c4c",
      "name": "HTTP - SB log review queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        480
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Workflow configuration').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Workflow configuration').first().json.config.table_candidates }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $json.candidate_email,\n  stage: 'Rejected',\n  score: $json.score,\n  fingerprint: $json.fingerprint,\n  requisition_id: $json.requisition_id || '',\n  notes: $json.screening,\n}) }}"
      },
      "id": "e71b064c-af75-4333-acb5-4fdf5b2be49b",
      "name": "HTTP - SB log rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        736
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const j = $('CODE - Merge Gmail send response').first().json;\nconst b = String(j.config?.supabase_url || '').replace(/\\/+$/, '');\nreturn [{\n  json: {\n    ...j,\n    session_phase: j.session_phase || 1,\n    _sb_insert_candidates: `${b}/rest/v1/${j.config?.table_candidates || 'candidates'}`,\n    _sb_insert_sessions: `${b}/rest/v1/${j.config?.table_assessment_sessions || 'assessment_sessions'}`,\n    _sb_insert_questions: `${b}/rest/v1/${j.config?.table_assessment_questions || 'assessment_questions'}`,\n  },\n}];"
      },
      "id": "1429e13a-8d8d-4110-8a79-2561bcf559c5",
      "name": "CODE - SB URLs after outreach mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CODE - SB URLs after outreach mail').first().json._sb_insert_candidates }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $('CODE - SB URLs after outreach mail').first().json.candidate_email,\n  stage: 'Shortlisted',\n  score: $('CODE - SB URLs after outreach mail').first().json.score,\n  fingerprint: $('CODE - SB URLs after outreach mail').first().json.fingerprint,\n  requisition_id: $('CODE - SB URLs after outreach mail').first().json.requisition_id || '',\n  notes: $('CODE - SB URLs after outreach mail').first().json.screening,\n}) }}"
      },
      "id": "4149914f-c353-4246-926d-f0564dc7f67d",
      "name": "HTTP - SB candidates shortlisted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const base = $('CODE - SB URLs after outreach mail').first().json;\nconst nowIso = new Date().toISOString();\nconst cv = String(base.cv_plaintext || base.cv_text || '').slice(0, 12000);\nconst sessionBody = {\n  gmail_thread_id: base.gmail_thread_id,\n  candidate_email: base.candidate_email,\n  current_phase: 1,\n  max_phases: base.config?.max_questions ?? 5,\n  status: 'assessment',\n  screening: base.screening,\n  score: base.score,\n  requisition_id: base.requisition_id || '',\n  fingerprint: base.fingerprint || '',\n  cv_plaintext: cv,\n  last_question_sent_at: nowIso,\n  updated_at: nowIso,\n};\nconst b = String(base.config?.supabase_url||'').replace(/\\/+$/, '');\nreturn [{\n  json: {\n    ...base,\n    _sb_insert_sessions: `${b}/rest/v1/${base.config?.table_assessment_sessions||'assessment_sessions'}`,\n    _sb_insert_questions: `${b}/rest/v1/${base.config?.table_assessment_questions||'assessment_questions'}`,\n    _session_body: sessionBody,\n    _q_text: base.phase_1_question,\n    _now: nowIso,\n  },\n}];"
      },
      "id": "705ba489-3780-439f-a01e-db9eeb1e49ac",
      "name": "CODE - SB prepare session insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CODE - SB prepare session insert').first().json._sb_insert_sessions }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - SB prepare session insert').first().json._session_body }}"
      },
      "id": "6f808569-257e-43a0-98e8-3b52431ad3ac",
      "name": "HTTP - SB insert assessment session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const base = $('CODE - SB prepare session insert').first().json;\nlet row = $input.first().json;\nif (Array.isArray(row)) row = row[0];\nconst session_id = row?.id;\nif (!session_id) return [{ json: { ...base, sb_error: 'no_session_row', raw: row } }];\nconst qBody = { session_id, phase: 1, question_text: base._q_text || '', sent_at: base._now };\nreturn [{\n  json: {\n    ...base,\n    session_db_id: session_id,\n    _question_payload: qBody,\n  },\n}];"
      },
      "id": "5f02d0e7-880b-4d83-944c-4e4a0f879a5d",
      "name": "CODE - SB map session id for Q1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CODE - SB prepare session insert').first().json._sb_insert_questions }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - SB map session id for Q1').first().json._question_payload }}"
      },
      "id": "012e9e96-b038-4de9-ab7e-2d795d7cf4b2",
      "name": "HTTP - SB insert question phase 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Reply track (merge)').first().json.config.table_scheduling }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $('CODE - Matching result').first().json.candidate_email,\n  event_id: '',\n  status: 'scheduled_conflict',\n}) }}"
      },
      "id": "0b2d7a17-1644-45c7-a607-ee6c713599a5",
      "name": "HTTP - SB scheduling conflict log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        1520
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Reply track (merge)').first().json.config.table_scheduling }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $('CODE - Matching result').first().json.candidate_email,\n  event_id: 'scheduled',\n  status: 'notified_complete',\n}) }}"
      },
      "id": "7c59b2f8-8a50-4336-8843-0e35b5ba51fa",
      "name": "HTTP - SB scheduling success log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        1520
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `${String($env.SUPABASE_URL || '').replace(/\\/+$/, '')}/rest/v1/workflow_errors` }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Workflow configuration').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  ts: $now.toISO(),\n  workflow: $workflow.name,\n  message: $json.execution.error.message || 'unknown_error',\n  node: $json.execution.error.node?.name || '',\n}) }}"
      },
      "id": "a1d41ad9-a038-40c8-95ee-bd1ea12158e0",
      "name": "HTTP - SB workflow error log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        1600
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const email = $('TRG - Gmail candidate reply').first().json;\nconst cfg = $('CFG - Reply track (merge)').first().json.config;\nconst from = (email.from?.value?.[0]?.address || '').trim().toLowerCase();\nconst threadId = email.threadId || email.thread_id || '';\nconst text = email.text || email.textPlain || email.snippet || '';\nconst base = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\nconst encT = encodeURIComponent(threadId || 'none');\nconst encE = encodeURIComponent(from);\nconst lookup = `${base}/rest/v1/${tb}?select=*&or=(gmail_thread_id.eq.${encT},candidate_email.eq.${encE})&order=updated_at.desc&limit=5`;\nreturn [{ json: { config: cfg, candidate_email: from, thread_id: threadId, reply_text: text, session_lookup_url: lookup } }];"
      },
      "id": "4fcbbfad-c05f-42c7-9285-6e2abe38f00a",
      "name": "CODE - Inbound Gmail normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        1216
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CODE - Inbound Gmail normalize').first().json.session_lookup_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": false
      },
      "id": "99d1952b-b0ca-47c7-ad11-61dabaec825d",
      "name": "HTTP - SB fetch assessment session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        1216
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($json) ? $json : ($json.body || []);\nconst prev = $('CODE - Inbound Gmail normalize').first().json;\nconst pick =\n  rows.find((r) => r.gmail_thread_id && prev.thread_id && String(r.gmail_thread_id) === String(prev.thread_id)) ||\n  rows.find((r) => String(r.candidate_email || '').toLowerCase() === prev.candidate_email) ||\n  rows[0] ||\n  null;\nreturn [{ json: { ...prev, session_row: pick, session_found: Boolean(pick) } }];"
      },
      "id": "5c217bdc-d170-42a7-8a70-b8a63d126be7",
      "name": "CODE - Pick assessment session row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e32b6c92-4c5",
              "leftValue": "={{ $json.session_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "2674d968-22b2-4d08-b367-e9a5aa5a1bb1",
      "name": "GATE - Assessment session found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a84cf5c-a10",
              "leftValue": "={{ $json.session_row.status }}",
              "rightValue": "assessment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "7fefc6dd-0e81-4ab9-a7b1-89ee193bfe87",
      "name": "GATE - Session in assessment status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('CODE - Pick assessment session row').first().json;\nconst s = p.session_row;\nconst cfg = p.config;\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_questions || 'assessment_questions';\nconst sid = String(s.id);\nconst ph = Number(s.current_phase || 1);\nconst url = `${b}/rest/v1/${tb}?select=*&session_id=eq.${encodeURIComponent(sid)}&phase=eq.${ph}&received_at=is.null&order=sent_at.desc&limit=1`;\nreturn [{ json: { ...p, open_question_lookup_url: url, session_phase_num: ph, session_snapshot: s } }];"
      },
      "id": "2afa7ceb-549f-4bb3-80b7-9f159fa963f4",
      "name": "CODE - Prep open question URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        1080
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CODE - Prep open question URL').first().json.open_question_lookup_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": false
      },
      "id": "8a5922c7-7c3e-4e5c-865f-d13295fd8d5b",
      "name": "HTTP - SB fetch open question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        1080
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const rows = Array.isArray($json) ? $json : ($json.body || []);\nconst prev = $('CODE - Prep open question URL').first().json;\nconst open_question = rows[0] || null;\nreturn [{\n  json: {\n    ...prev,\n    open_question,\n    has_open_question: Boolean(open_question?.id && String(open_question.question_text || '').trim().length > 0),\n  },\n}];"
      },
      "id": "14498db3-e7ba-462f-8241-53c0aa45e556",
      "name": "CODE - Attach open question row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0aa09af6-3e0",
              "leftValue": "={{ $json.has_open_question }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4b46d208-4403-4446-ba7a-869f09dc1527",
      "name": "GATE - Has open question",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        1080
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('CODE - Attach open question row').first().json;\nconst q = p.open_question;\nconst minSec = Number(p.config.min_response_seconds ?? 30);\nconst sentMs = new Date(q.sent_at).getTime();\nconst secs = Number.isFinite(sentMs) ? Math.max(0, Math.floor((Date.now() - sentMs) / 1000)) : 0;\nconst isToo = secs < minSec;\nconst answer = String(p.reply_text || '').trim();\nconst b = String(p.config.supabase_url || '').replace(/\\/+$/, '');\nconst tb = p.config.table_assessment_questions || 'assessment_questions';\nconst url = `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(q.id)}`;\nreturn [{\n  json: {\n    ...p,\n    response_time_seconds: secs,\n    is_too_fast: isToo,\n    cleaned_answer: answer,\n    _answer_patch_url: url,\n    _answer_patch_body: {\n      answer_text: answer,\n      received_at: new Date().toISOString(),\n      response_time_seconds: secs,\n      is_too_fast: isToo,\n    },\n  },\n}];"
      },
      "id": "c1fc9775-5151-48f5-9ab4-33941d4c1b0c",
      "name": "CODE - Timer + PATCH answer payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        1080
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Timer + PATCH answer payload').first().json._answer_patch_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Timer + PATCH answer payload').first().json._answer_patch_body }}"
      },
      "id": "2a95efda-2dc2-4e91-9920-8f6dd69d151d",
      "name": "HTTP - SB PATCH question answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        1080
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const p = $('CODE - Timer + PATCH answer payload').first().json;\nconst model = p.config.gemini_model || 'gemini-2.0-flash';\nconst sys = ['You classify if the reply likely used heavy ChatGPT/similar rewriting.', 'Return JSON only.', 'Weak signals ok: timing_seconds, fluency.', 'Likelihood scale 0-1.'].join(' ');\nconst user = ['timing_seconds='+String(p.response_time_seconds),'too_fast='+String(p.is_too_fast),'text:', String(p.cleaned_answer||'').slice(0,16000)].join('\\n');\nconst body = {\n  systemInstruction:{role:'system',parts:[{text:sys}]},\n  contents:[{role:'user',parts:[{text:user}]}],\n  generationConfig:{\n    temperature:0.15,\n    responseMimeType:'application/json',\n    responseSchema:{\n      type:'OBJECT',\n      properties:{ ai_likelihood:{type:'NUMBER'}, reason:{type:'STRING'}},\n      required:['ai_likelihood','reason'],\n    },\n  },\n};\nreturn [{ json:{ ...p,_gem_ai_model:model,gemini_ai_detect_request:body}}];"
      },
      "id": "2a2aa9fb-594a-4e14-be79-5d4e6a9713db",
      "name": "Gemini - AI Detection (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json._gem_ai_model }}:generateContent",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_ai_detect_request }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "a6fa5b29-4be2-4878-a9fd-7a2fcc87a9c2",
      "name": "Gemini - AI Detection (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        1080
      ]
    },
    {
      "parameters": {
        "jsCode": "const api = $input.first().json;\nconst base = $('CODE - Timer + PATCH answer payload').first().json;\nconst text = api?.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nlet d = { ai_likelihood: 0.5, reason:'parse_fail'};\ntry{d=JSON.parse(text);}catch(_){}\nconst lik=Math.max(0,Math.min(1,Number(d.ai_likelihood)||0));\nconst b=String(base.config.supabase_url||'').replace(/\\/+$/,'');\nconst tb=base.config.table_assessment_questions||'assessment_questions';\nconst url=`${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(base.open_question.id)}`;\nconst body={ ai_likelihood:lik, ai_reason:String(d.reason||'').slice(0,2000)};\nreturn[{json:{ ...base,ai_detection:d,_ai_patch_url:url,_ai_patch_body:body}}];"
      },
      "id": "6c1b3fdd-2b5d-4366-8907-febda699062e",
      "name": "CODE - Parse AI detection payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1080
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._ai_patch_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._ai_patch_body }}"
      },
      "id": "5966b22d-32ad-4cee-a029-f4847e78c9e9",
      "name": "HTTP - SB PATCH question AI fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        1080
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const p=$('CODE - Parse AI detection payload').first().json;\nconst s=p.session_snapshot;\nconst cur=Number(s.current_phase||1), max=Number(s.max_phases||5);\nreturn[{json:{...p,_more_remaining: cur < max }}];"
      },
      "id": "4de0ed59-e145-4f56-9713-62ab7d0e2204",
      "name": "CODE - More questions after phase?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "350fc703-d38",
              "leftValue": "={{ $('CODE - More questions after phase?').first().json._more_remaining }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "0f5ba9d5-2a23-4013-9fa9-cce55cb00f93",
      "name": "GATE - More phases remain",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3440,
        1080
      ]
    },
    {
      "parameters": {
        "jsCode": "const p=$('CODE - More questions after phase?').first().json;\nconst model=p.config.gemini_model||'gemini-2.0-flash';\nconst nextPhase=Number(p.session_snapshot.current_phase||1)+1;\nconst maxP=Number(p.session_snapshot.max_phases||5);\nconst sys=`You ask exactly ONE concise technical drill-down for email. Phase ${nextPhase}/${maxP}. Tie to THEIR CV/context; anti-generic. JSON only phase_question`;\nconst user=`prior_answer:\\n${String(p.cleaned_answer||'').slice(0,4000)}\\n---\\ncv:\\n${String(p.session_row.cv_plaintext||'').slice(0,4500)}`;\nconst body={\n  systemInstruction:{role:'system',parts:[{text:sys}]},\n  contents:[{role:'user',parts:[{text:user}]}],\n  generationConfig:{\n    temperature:0.3,\n    responseMimeType:'application/json',\n    responseSchema:{type:'OBJECT',properties:{phase_question:{type:'STRING'}},required:['phase_question']},\n  },\n};\nreturn[{json:{...p,_next_phase:nextPhase,_gem_next_model:model,gemini_next_q_request:body}}];"
      },
      "id": "9b10e327-1a8d-4da7-b253-50d7bf056627",
      "name": "Gemini - Next assessment Q (request body)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $json._gem_next_model }}:generateContent",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_next_q_request }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "82ba0801-3636-439a-a0cc-a32d41a9deec",
      "name": "Gemini - Next assessment Q (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "const api=$input.first().json;\nconst base=$('Gemini - Next assessment Q (request body)').first().json;\nlet pq=''; try{ pq=JSON.parse(api?.candidates?.[0]?.content?.parts?.[0]?.text||'{}').phase_question||'';}catch(_){}\npq=String(pq||'').trim(); const iso=new Date().toISOString();\nconst cfg=base.config,b=String(cfg.supabase_url||'').replace(/\\/+$/,'');\nreturn[{\n  json:{\n    config:cfg,\n    candidate_email:base.candidate_email,\n    talent_alias: cfg.talent_alias||'',\n    phase_1_question:pq,\n    session_phase: base._next_phase,\n    assessment_status:'IN_PROGRESS',\n    score: base.session_snapshot.score ?? base.session_row.score,\n    organization_name: cfg.organization_name,\n    _sb_q_url:`${b}/rest/v1/${cfg.table_assessment_questions||'assessment_questions'}`,\n    _sb_s_url:`${b}/rest/v1/${cfg.table_assessment_sessions||'assessment_sessions'}?id=eq.${encodeURIComponent(String(base.session_snapshot.id))}`,\n    _q_insert:{ session_id: base.session_snapshot.id, phase: base._next_phase, question_text: pq, sent_at: iso},\n    _sess_patch:{ current_phase: base._next_phase, last_question_sent_at: iso, updated_at: iso, status:'assessment'},\n  },\n}];"
      },
      "id": "67867af1-ebec-4e51-94a0-7e6ca5deca0a",
      "name": "CODE - Compose follow-up mail + DB rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CODE - Compose follow-up mail + DB rows').first().json._sb_q_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Compose follow-up mail + DB rows').first().json._q_insert }}"
      },
      "id": "fa8da0cd-2d02-4d6e-9582-71d261333a7a",
      "name": "HTTP - SB insert follow-up question row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        880
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Compose follow-up mail + DB rows').first().json._sb_s_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Compose follow-up mail + DB rows').first().json._sess_patch }}"
      },
      "id": "98d4a68a-444e-41c3-9e09-fdf1b5a926b5",
      "name": "HTTP - SB PATCH session after follow-up DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        880
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "sendTo": "={{ $json.candidate_email }}",
        "subject": "=Your application \u2014 assessment Phase {{ $json.session_phase }}/{{ $json.config.max_questions }}",
        "emailType": "text",
        "message": "=Dear candidate,\\n\\nCV screening score: {{ $json.score }}/100.\\n\\nPhase {{ $json.session_phase }} of {{ $json.config.max_questions }} \u2014 technical drill-down. Reply to this thread with your answer only.\\n\\n{{ $json.phase_1_question }}\\n\\nAssessment status: {{ $json.assessment_status }}\\n\\nTalent team: {{ $json.config.talent_alias }}.\\n\\nRegards,\\n{{ $json.config.organization_name }}\\nTalent Acquisition",
        "options": {}
      },
      "id": "93f63c32-628c-4295-9f90-1f003e2943de",
      "name": "MAIL - Assessment follow-up question",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5120,
        880
      ],
      "webhookId": "c53fd5ae-af86-4a12-bad6-e3732f03b9b4"
    },
    {
      "parameters": {
        "jsCode": "const p=$('CODE - More questions after phase?').first().json;\nconst b=String(p.config.supabase_url||'').replace(/\\/+$/,'');\nconst tbl=p.config.table_assessment_sessions||'assessment_sessions';\nconst id=p.session_snapshot.id;\nconst iso=new Date().toISOString();\nreturn[{ json:{ ...p,_avail_url:`${b}/rest/v1/${tbl}?id=eq.${encodeURIComponent(String(id))}`,_avail_body:{status:'availability',updated_at:iso}}}];"
      },
      "id": "c4d7c49f-6b48-4c80-9fca-1e685eb33862",
      "name": "CODE - Build availability transition PATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        1320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Build availability transition PATCH').first().json._avail_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Build availability transition PATCH').first().json._avail_body }}"
      },
      "id": "10dcaf94-d8f1-4a70-88ed-82058a38f176",
      "name": "HTTP - SB PATCH session awaiting availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        1320
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('CODE - Build availability transition PATCH').first().json }];"
      },
      "id": "fab16fb3-1d7d-47a2-b7c6-635927f3194b",
      "name": "CODE - Recover context post availability PATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "const p=$('CODE - Pick assessment session row').first().json;\nconst s=p.session_row||{};\nreturn[{json:{ reply_text:p.reply_text,candidate_email:p.candidate_email,thread_id:p.thread_id,session_row:s,session_snapshot:s,inbound:$('TRG - Gmail candidate reply').first().json,config:p.config}}];"
      },
      "id": "2dee6bdd-988a-4f80-b027-0e94999e2463",
      "name": "CODE - Prep availability from inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_url.replace(/\\/$/, '') + '/rest/v1/' + $('CFG - Reply track (merge)').first().json.config.table_scheduling }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Reply track (merge)').first().json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 180000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  candidate_email: $('CODE - Pick assessment session row').first().json?.candidate_email || '',\n  event_id: '',\n  status: 'reply_no_matching_session',\n}) }}"
      },
      "id": "6eb4bafc-5ff5-4d67-a0e6-b96c0036501b",
      "name": "HTTP - SB log unmatched reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        1400
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "content": "### Supabase DDL \u2014 run once in SQL editor\\n```sql\\nCREATE TABLE IF NOT EXISTS candidates (\\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\\n  candidate_email TEXT NOT NULL,\\n  stage TEXT,\\n  score INT,\\n  fingerprint TEXT,\\n  requisition_id TEXT,\\n  notes JSONB,\\n  screening JSONB,\\n  created_at TIMESTAMPTZ DEFAULT NOW()\\n);\\nCREATE TABLE IF NOT EXISTS assessment_sessions (\\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\\n  gmail_thread_id TEXT NOT NULL UNIQUE,\\n  candidate_email TEXT NOT NULL,\\n  current_phase INT DEFAULT 1,\\n  max_phases INT DEFAULT 5,\\n  status TEXT DEFAULT 'assessment',\\n  screening JSONB,\\n  score INT,\\n  requisition_id TEXT,\\n  fingerprint TEXT,\\n  cv_plaintext TEXT,\\n  last_question_sent_at TIMESTAMPTZ,\\n  updated_at TIMESTAMPTZ DEFAULT NOW()\\n);\\nCREATE TABLE IF NOT EXISTS assessment_questions (\\n  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),\\n  session_id UUID NOT NULL REFERENCES assessment_sessions(id) ON DELETE CASCADE,\\n  phase INT NOT NULL,\\n  question_text TEXT NOT NULL,\\n  sent_at TIMESTAMPTZ NOT NULL,\\n  answer_text TEXT,\\n  received_at TIMESTAMPTZ,\\n  response_time_seconds INT,\\n  is_too_fast BOOLEAN,\\n  ai_likelihood REAL,\\n  ai_reason TEXT\\n);\\nCREATE TABLE IF NOT EXISTS scheduling_log (\\n  id BIGSERIAL PRIMARY KEY,\\n  candidate_email TEXT NOT NULL,\\n  event_id TEXT,\\n  status TEXT\\n);\\nCREATE TABLE IF NOT EXISTS workflow_errors (\\n  id BIGSERIAL PRIMARY KEY,\\n  ts TEXT,\\n  workflow TEXT,\\n  message TEXT,\\n  node TEXT\\n);\\n```\\nCredentials: SUPABASE_SERVICE_ROLE_KEY, SUPABASE_URL, GEMINI_API_KEY.",
        "height": 460,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        40
      ],
      "id": "8e45c468-4c85-4b1a-b1b3-ef63aeea5fec",
      "name": "Note - Supabase schema"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-init",
        "options": {}
      },
      "id": "0a568eae-e87d-44a2-ae66-d38b4af5447e",
      "name": "TRG - Webhook Assessment Init",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        1800
      ],
      "webhookId": "assessment-init"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-submit",
        "options": {}
      },
      "id": "3e855985-cbf8-4c78-aa64-53b819a5f9dc",
      "name": "TRG - Webhook Assessment Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        2000
      ],
      "webhookId": "assessment-submit"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body;\nreturn [{ \n    json: { \n        sessionId: body.sessionId, \n        email: body.email, \n        answer: body.answer || '', \n        phase: body.phase || 1,\n        tabSwitches: body.tabSwitches || 0\n    } \n}];\n"
      },
      "id": "8360ea2b-ff64-4540-afe6-5fdb3070ce23",
      "name": "CODE - Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        1900
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_sessions?id=eq.{{ $json.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "53f90733-7206-463c-a694-966c04bbdf15",
      "name": "HTTP - Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        550,
        1900
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_questions?session_id=eq.{{ $('CODE - Normalize Data').first().json.sessionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        }
      },
      "id": "8c6f3c2c-d995-4c64-8abf-e986d5f34bb2",
      "name": "HTTP - Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('CODE - Normalize Data').first().json.phase }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "48d17fef-9659-48b2-bb1c-6807a64baecc",
      "name": "IF - Final Phase?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        950,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst session = $('HTTP - Fetch Session').first().json[0];\nconst history = $('HTTP - Fetch History').first().json;\nconst current = $('CODE - Normalize Data').first().json;\n\nconst sys = `You are the Master Technical Evaluator. \nFinal Phase reached. Review the candidate's CV and ALL answers provided during this session.\nCV: ${session.cv_plaintext}\nHistory: ${JSON.stringify(history)}\nFinal Answer: ${current.answer}\nTab Switches: ${current.tabSwitches}\n\nGoal: Provide a final score (0-100) and a PASS/FAIL decision. \nIf cheating is suspected (high tab switches or AI-like generic answers), reflect this in the feedback and score.\n\nResponse JSON:\n{\n  \"status\": \"finished\",\n  \"result\": \"PASS\" | \"FAIL\",\n  \"score\": number,\n  \"feedback\": \"string\"\n}`;\n\nconst body = {\n    model: \"llama-3.3-70b-versatile\",\n    messages: [{ role: \"system\", content: sys }],\n    temperature: 0.1,\n    response_format: { type: \"json_object\" }\n};\nreturn [{ json: { groq_request: body } }];\n"
      },
      "id": "750927d7-adda-460b-8415-2102323af91c",
      "name": "CODE - Prepare Final Score Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst session = $('HTTP - Fetch Session').first().json[0];\nconst current = $('CODE - Normalize Data').first().json;\n\nconst sys = `You are a Technical Interviewer.\nCandidate is in Phase ${current.phase} of 5.\nCV: ${session.cv_plaintext.slice(0, 3000)}\nCurrent Answer: ${current.answer}\n\nGoal: Evaluate the current answer and generate the NEXT surgical technical question that drills deeper into a specific project or skill mentioned.\nStay professional and elite.\n\nResponse JSON:\n{\n  \"status\": \"in_progress\",\n  \"nextQuestion\": \"string\",\n  \"feedback\": \"Short encouragement\"\n}`;\n\nconst body = {\n    model: \"llama-3.3-70b-versatile\",\n    messages: [{ role: \"system\", content: sys }],\n    temperature: 0.3,\n    response_format: { type: \"json_object\" }\n};\nreturn [{ json: { groq_request: body } }];\n"
      },
      "id": "93865fa3-b09a-44ff-9bec-c6448d0bac4e",
      "name": "CODE - Prepare Next Question Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_request }}"
      },
      "id": "acae214e-7b5c-454b-b223-a837f8b6c174",
      "name": "Groq - AI Technical Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1900
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst api = $input.first().json;\nconst content = JSON.parse(api.choices[0].message.content);\nreturn [{ json: content }];\n"
      },
      "id": "c839a35e-e095-4d1b-a1b4-1dad910073bd",
      "name": "CODE - Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/assessment_questions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('CODE - Normalize Data').first().json.sessionId }}\",\n  \"question_text\": \"{{ $('HTTP - Fetch Session').first().json[0].last_question || 'Initial' }}\",\n  \"answer_text\": \"{{ $('CODE - Normalize Data').first().json.answer }}\",\n  \"phase\": {{ $('CODE - Normalize Data').first().json.phase }}\n}"
      },
      "id": "be2e6be5-85a3-4dcd-a3ca-1368637ee34a",
      "name": "DB - Log Question/Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1900
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('CODE - Parse Result').first().json }}",
        "options": {}
      },
      "id": "46112f84-4b22-47ca-b335-0e3d78367e85",
      "name": "Respond to Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "p1",
              "leftValue": "={{ $json.result }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a347bdc3-821b-4149-829c-bffb12a5c7f2",
      "name": "GATE - Check PASS for Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        1600
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "TRG - Manual (testing)": {
      "main": [
        [
          {
            "node": "MUX - Combine manual and webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Webhook CV ingest": {
      "main": [
        [
          {
            "node": "MUX - Combine manual and webhook",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MUX - Combine manual and webhook": {
      "main": [
        [
          {
            "node": "PDF - Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF - Extract text": {
      "main": [
        [
          {
            "node": "CFG - Workflow configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Workflow configuration": {
      "main": [
        [
          {
            "node": "DB - Supabase read candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Supabase read candidates": {
      "main": [
        [
          {
            "node": "CODE - Expand CVs and duplicate flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Expand CVs and duplicate flag": {
      "main": [
        [
          {
            "node": "GATE - Not duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Not duplicate": {
      "main": [
        [
          {
            "node": "CODE - CV plain text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - SB log duplicate skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - CV plain text": {
      "main": [
        [
          {
            "node": "Gemini - CV screening agent (request body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - CV screening agent (request body)": {
      "main": [
        [
          {
            "node": "Gemini - CV screening agent (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - CV screening agent (API)": {
      "main": [
        [
          {
            "node": "CODE - Parse CV screening outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse CV screening outcome": {
      "main": [
        [
          {
            "node": "GATE - Screening transport OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Screening transport OK": {
      "main": [
        [
          {
            "node": "GATE - Initial CV Pass",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - SB log screening failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Initial CV Pass": {
      "main": [
        [
          {
            "node": "MAIL - Email outreach agent (shortlist)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GATE - Needs human review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Email outreach agent (shortlist)": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail send response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail send response": {
      "main": [
        [
          {
            "node": "CODE - SB URLs after outreach mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - SB URLs after outreach mail": {
      "main": [
        [
          {
            "node": "HTTP - SB candidates shortlisted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB candidates shortlisted": {
      "main": [
        [
          {
            "node": "CODE - SB prepare session insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - SB prepare session insert": {
      "main": [
        [
          {
            "node": "HTTP - SB insert assessment session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB insert assessment session": {
      "main": [
        [
          {
            "node": "CODE - SB map session id for Q1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - SB map session id for Q1": {
      "main": [
        [
          {
            "node": "HTTP - SB insert question phase 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Needs human review": {
      "main": [
        [
          {
            "node": "HTTP - SB log review queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - SB log rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Gmail candidate reply": {
      "main": [
        [
          {
            "node": "CFG - Reply track (merge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Reply track (merge)": {
      "main": [
        [
          {
            "node": "CODE - Inbound Gmail normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Inbound Gmail normalize": {
      "main": [
        [
          {
            "node": "HTTP - SB fetch assessment session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB fetch assessment session": {
      "main": [
        [
          {
            "node": "CODE - Pick assessment session row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Pick assessment session row": {
      "main": [
        [
          {
            "node": "GATE - Assessment session found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Assessment session found": {
      "main": [
        [
          {
            "node": "GATE - Session in assessment status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - SB log unmatched reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Session in assessment status": {
      "main": [
        [
          {
            "node": "CODE - Prep open question URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Prep availability from inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prep open question URL": {
      "main": [
        [
          {
            "node": "HTTP - SB fetch open question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB fetch open question": {
      "main": [
        [
          {
            "node": "CODE - Attach open question row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Attach open question row": {
      "main": [
        [
          {
            "node": "GATE - Has open question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Has open question": {
      "main": [
        [
          {
            "node": "CODE - Timer + PATCH answer payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Prep availability from inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Timer + PATCH answer payload": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH question answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH question answer": {
      "main": [
        [
          {
            "node": "Gemini - AI Detection (request body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - AI Detection (request body)": {
      "main": [
        [
          {
            "node": "Gemini - AI Detection (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - AI Detection (API)": {
      "main": [
        [
          {
            "node": "CODE - Parse AI detection payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse AI detection payload": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH question AI fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH question AI fields": {
      "main": [
        [
          {
            "node": "CODE - More questions after phase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - More questions after phase?": {
      "main": [
        [
          {
            "node": "GATE - More phases remain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - More phases remain": {
      "main": [
        [
          {
            "node": "Gemini - Next assessment Q (request body)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Build availability transition PATCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Next assessment Q (request body)": {
      "main": [
        [
          {
            "node": "Gemini - Next assessment Q (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Next assessment Q (API)": {
      "main": [
        [
          {
            "node": "CODE - Compose follow-up mail + DB rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Compose follow-up mail + DB rows": {
      "main": [
        [
          {
            "node": "HTTP - SB insert follow-up question row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB insert follow-up question row": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session after follow-up DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session after follow-up DB": {
      "main": [
        [
          {
            "node": "MAIL - Assessment follow-up question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build availability transition PATCH": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session awaiting availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session awaiting availability": {
      "main": [
        [
          {
            "node": "CODE - Recover context post availability PATCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Recover context post availability PATCH": {
      "main": [
        [
          {
            "node": "Gemini - Availability agent (request body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prep availability from inbound": {
      "main": [
        [
          {
            "node": "Gemini - Availability agent (request body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Availability agent (request body)": {
      "main": [
        [
          {
            "node": "Gemini - Availability agent (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Availability agent (API)": {
      "main": [
        [
          {
            "node": "CODE - Normalize availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize availability": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer coordination agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Interviewer coordination agent": {
      "main": [
        [
          {
            "node": "WAIT - Interviewer availability webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT - Interviewer availability webhook": {
      "main": [
        [
          {
            "node": "Gemini - Smart matching agent (request body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Smart matching agent (request body)": {
      "main": [
        [
          {
            "node": "Gemini - Smart matching agent (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Smart matching agent (API)": {
      "main": [
        [
          {
            "node": "CODE - Matching result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Matching result": {
      "main": [
        [
          {
            "node": "GATE - Match resolved (no conflict)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Interview briefing agent (request body)": {
      "main": [
        [
          {
            "node": "Gemini - Interview briefing agent (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Interview briefing agent (API)": {
      "main": [
        [
          {
            "node": "CAL - Create interview event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAL - Create interview event": {
      "main": [
        [
          {
            "node": "MAIL - Notify candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify candidate": {
      "main": [
        [
          {
            "node": "MAIL - Notify interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify interviewer": {
      "main": [
        [
          {
            "node": "HTTP - SB scheduling success log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Match resolved (no conflict)": {
      "main": [
        [
          {
            "node": "Gemini - Interview briefing agent (request body)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - SB scheduling conflict log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Error workflow": {
      "main": [
        [
          {
            "node": "HTTP - SB workflow error log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Webhook Assessment Init": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Webhook Assessment Submit": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Data": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session": {
      "main": [
        [
          {
            "node": "HTTP - Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch History": {
      "main": [
        [
          {
            "node": "IF - Final Phase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Final Phase?": {
      "main": [
        [
          {
            "node": "CODE - Prepare Final Score Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Prepare Next Question Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prepare Final Score Prompt": {
      "main": [
        [
          {
            "node": "Groq - AI Technical Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prepare Next Question Prompt": {
      "main": [
        [
          {
            "node": "Groq - AI Technical Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - AI Technical Engine": {
      "main": [
        [
          {
            "node": "CODE - Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Result": {
      "main": [
        [
          {
            "node": "DB - Log Question/Answer",
            "type": "main",
            "index": 0
          }
        ],
        {
          "node": "GATE - Check PASS for Scheduling",
          "type": "main",
          "index": 0
        }
      ]
    },
    "DB - Log Question/Answer": {
      "main": [
        [
          {
            "node": "Respond to Portal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATE - Check PASS for Scheduling": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer coordination agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3f00bf09-23c1-4f55-a0c2-76389b48b182",
  "meta": {
    "instanceId": "820e7b80f0fd8adc8c6875aa9b344c6b12ecca85c1f16ba4fc320fc3c2188e0b"
  },
  "id": "bAC3mUsoqQinaPVc",
  "tags": []
}