Talent Acquisition — Manual Shortlist Mail.json
{
  "name": "Talent Acquisition — Manual Shortlist Mail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/manual-shortlist-mail",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1000001-manual-shortlist-trg",
      "name": "TRG - Webhook manual shortlist mail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "manual-shortlist-mail-webhook-01"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Manual shortlist mail (from Vercel api/manual-shortlist.js)\nconst body = $input.first().json?.body || $input.first().json || {};\n\nconst email = String(body.candidate_email || '').trim().toLowerCase();\nconst sessionId = String(body.session_id || '').trim();\nconst role = String(body.requisition_title || 'Open role').trim();\nconst score = body.score != null ? Number(body.score) : null;\nconst maxQ = Number(body.max_questions || 5);\nconst org = String(body.organization_name || 'CONVO').trim();\nconst portalBase = String(body.portal_base_url || 'https://talent-acquisition-six.vercel.app').replace(/\\/+$/, '');\nconst link =\n  String(body.assessment_link || '').trim() ||\n  `${portalBase}/?session=${encodeURIComponent(sessionId)}&email=${encodeURIComponent(email)}`;\n\nif (!email || !sessionId) {\n  throw new Error('manual-shortlist-mail: candidate_email and session_id required');\n}\n\nconst scoreLine =\n  Number.isFinite(score) && score != null\n    ? ` with a CV screening score of <strong style=\"color:#1d4ed8;\">${Math.round(score)}/100</strong>`\n    : '';\n\nconst mailBodyHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#eef2f7;font-family:Segoe UI,Arial,sans-serif;color:#1e293b;\">\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#eef2f7;padding:32px 16px;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 8px 24px rgba(15,23,42,.08);\">\n        <tr><td style=\"background:linear-gradient(135deg,#1d4ed8,#2563eb);padding:28px 32px;text-align:center;\">\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.12em;text-transform:uppercase;color:rgba(255,255,255,.75);\">Talent Assessment</p>\n          <h1 style=\"margin:0;font-size:24px;line-height:1.3;color:#ffffff;\">You are shortlisted</h1>\n        </td></tr>\n        <tr><td style=\"padding:32px;\">\n          <p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;\">Hello,</p>\n          <p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;\">Your application for <strong>${role}</strong> has been approved by our hiring team${scoreLine}.</p>\n          <p style=\"margin:0 0 16px;font-size:16px;line-height:1.6;\">Please complete our interactive technical assessment (${maxQ} timed written phases, then a short voice round).</p>\n          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:28px 0;\"><tr><td style=\"border-radius:8px;background:#2563eb;\">\n            <a href=\"${link}\" style=\"display:inline-block;padding:14px 28px;font-size:16px;font-weight:600;color:#ffffff;text-decoration:none;\">Start your assessment</a>\n          </td></tr></table>\n          <p style=\"margin:0 0 8px;font-size:13px;line-height:1.5;color:#64748b;\">If the button does not work, copy this link:</p>\n          <p style=\"margin:0 0 24px;font-size:13px;line-height:1.5;word-break:break-all;\"><a href=\"${link}\" style=\"color:#2563eb;\">${link}</a></p>\n          <p style=\"margin:0;font-size:16px;line-height:1.6;\">Regards,<br><strong>${org}</strong></p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`;\n\nreturn [\n  {\n    json: {\n      ...body,\n      candidate_email: email,\n      session_id: sessionId,\n      session_db_id: sessionId,\n      assessment_link: link,\n      mail_subject: `Your application — next step: technical assessment (${role})`,\n      mail_body_html: mailBodyHtml,\n      session_phase: 1,\n      config: { max_questions: maxQ, organization_name: org, requisition_title: role },\n    },\n  },\n];"
      },
      "id": "a1000002-manual-shortlist-code",
      "name": "CODE - Manual shortlist mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.candidate_email }}",
        "subject": "={{ $json.mail_subject }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {
          "simplify": false
        }
      },
      "id": "a1000003-manual-shortlist-mail",
      "name": "MAIL - Send assessment invite",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [800, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mail = $('MAIL - Send assessment invite').first().json || {};\nconst prep = $('CODE - Manual shortlist mail').first().json || {};\nconst msgId = String(mail.id || mail.messageId || mail.message_id || '').trim();\nconst threadId = String(mail.threadId || mail.thread_id || msgId || '').trim();\nif (!msgId) throw new Error('Gmail send missing message id');\nif (!threadId) throw new Error('Gmail send missing thread id');\n\nconst supabaseUrl = 'https://vnxstyadacgntnsvcvzn.supabase.co'.replace(/\\/$/, '');\nconst sessionId = String(prep.session_id || prep.session_db_id || '').trim();\nif (!sessionId) throw new Error('Missing session_id for gmail thread patch');\n\nreturn [{\n  json: {\n    ...prep,\n    gmail_message_id: msgId,\n    gmail_thread_id: threadId,\n    _patch_url: `${supabaseUrl}/rest/v1/assessment_sessions?id=eq.${encodeURIComponent(sessionId)}`,\n    _patch_body: {\n      gmail_thread_id: threadId,\n      gmail_message_id: msgId,\n      mail_subject: prep.mail_subject,\n      updated_at: new Date().toISOString(),\n    },\n  },\n}];"
      },
      "id": "a1000004-manual-shortlist-patch-prep",
      "name": "CODE - Prepare gmail thread patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._patch_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1000005-manual-shortlist-patch-http",
      "name": "HTTP - SB PATCH session gmail thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "retryOnFail": true,
      "maxTries": 3
    }
  ],
  "connections": {
    "TRG - Webhook manual shortlist mail": {
      "main": [
        [
          {
            "node": "CODE - Manual shortlist mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Manual shortlist mail": {
      "main": [
        [
          {
            "node": "MAIL - Send assessment invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Send assessment invite": {
      "main": [
        [
          {
            "node": "CODE - Prepare gmail thread patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prepare gmail thread patch": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session gmail thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
