Talent Acquisition — JD Generate.json
{
  "name": "Talent Acquisition — JD Generate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/jd-generate",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "TRG - Webhook JD generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "webhookId": "talent-jd-generate"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build JD generate prompt (Groq)\r\n// After: TRG - Webhook JD generate\r\n\r\nfunction pick(body, ...keys) {\r\n  for (const k of keys) {\r\n    const v = body?.[k];\r\n    if (v != null && String(v).trim()) return String(v).trim();\r\n  }\r\n  return '';\r\n}\r\n\r\nfunction bulletLines(raw) {\r\n  return String(raw || '')\r\n    .split(/\\n/)\r\n    .map((l) => l.replace(/^[\\s\\-•*]+/, '').trim())\r\n    .filter(Boolean);\r\n}\r\n\r\nfunction detectSeniority(title) {\r\n  const t = String(title || '').toLowerCase();\r\n  if (/\\b(intern|trainee|graduate|entry[\\s-]?level)\\b/.test(t)) return 'intern';\r\n  if (/\\b(junior|jr\\.?)\\b/.test(t)) return 'junior';\r\n  if (/\\b(senior|sr\\.?|lead|principal|staff|architect|head)\\b/.test(t)) return 'senior';\r\n  return 'mid';\r\n}\r\n\r\nconst raw = $input.first().json;\r\nlet body = raw.body || raw;\r\nif (typeof body === 'string') {\r\n  try {\r\n    body = JSON.parse(body);\r\n  } catch (e) {\r\n    body = raw;\r\n  }\r\n}\r\n\r\nconst title = pick(body, 'title', 'job_title', 'requisition_title') || 'Open Position';\r\nconst department = pick(body, 'department', 'dept') || 'Engineering';\r\nconst location = pick(body, 'location') || 'Remote';\r\nconst employment_type = pick(body, 'employment_type', 'employmentType', 'job_type') || 'Full-time';\r\nconst criteria = bulletLines(pick(body, 'criteria', 'must_have', 'requirements'));\r\nconst nice = bulletLines(pick(body, 'nice', 'nice_to_have', 'niceToHave'));\r\nconst seniority = detectSeniority(title);\r\n\r\n// Code nodes cannot read $env — model default matches CV screening; override via request body groq_model.\r\nconst model = pick(body, 'groq_model') || 'llama-3.3-70b-versatile';\r\n\r\nconst systemPrompt = [\r\n  'You are a senior technical recruiter writing enterprise-grade job descriptions for engineering roles.',\r\n  'Write like a professional corporate JD posted on LinkedIn or a careers page — detailed, specific, and credible.',\r\n  'Tone: formal, confident, enterprise-ready. Not marketing fluff, not casual, no emojis.',\r\n  'Use UK/US professional English. Plain text only — no markdown (# headings), no HTML.',\r\n  '',\r\n  'STRICT OUTPUT STRUCTURE (use these exact section labels on their own line):',\r\n  'Job Title: <title>',\r\n  '',\r\n  'Job Description:',\r\n  '<Two substantive paragraphs. Paragraph 1: who we seek and the business/product context. Paragraph 2: technical scope — architecture, integrations, platforms, and complexity (e.g. multi-tenant, offline-first, enterprise integrations).>',\r\n  '',\r\n  'Responsibilities:',\r\n  '<10–14 bullet lines. Each starts with a strong action verb (Design, Develop, Implement, Integrate, Build, Optimize, Collaborate, Troubleshoot, etc.). Expand recruiter criteria into real engineering duties. Mention architecture patterns, APIs, auth, data, performance, cross-platform work where relevant.>',\r\n  '',\r\n  'Requirements:',\r\n  '<8–12 bullet lines. Degree, years of experience (match seniority), core languages/frameworks, architecture patterns, API integration, state management, storage, Git, soft skills. Turn every must-have criterion into a polished requirement line.>',\r\n  '',\r\n  'Preferred Qualifications:',\r\n  '<5–8 bullet lines from nice-to-have input. Enterprise extras, domain tools, CI/CD, Agile, design patterns, related platforms.>',\r\n  '',\r\n  '<One closing paragraph inviting qualified candidates to apply — passionate, professional, no equal-opportunity boilerplate unless natural.>',\r\n  '',\r\n  'QUALITY RULES:',\r\n  '- Weave ALL provided must-have and nice-to-have skills into the right sections — never ignore recruiter input.',\r\n  '- Infer realistic enterprise context from the job title (Flutter → mobile architecture; .NET → web APIs; etc.).',\r\n  '- Senior roles: leadership, architecture ownership, mentoring; include realistic experience years (e.g. 3+ in stack, 5+ overall for senior).',\r\n  '- Junior roles: mentorship, learning, foundational delivery; lower experience thresholds.',\r\n  '- Bullets are one line each, no sub-bullets, no numbered lists.',\r\n  '- Do NOT add sections like About the Role, What We Offer, or How to Apply.',\r\n  'Return JSON only: {\"jd_text\":\"<complete JD as plain text with newlines>\"}',\r\n].join('\\n');\r\n\r\nconst userPrompt = [\r\n  `Write a complete enterprise job description matching the structure in your instructions.`,\r\n  ``,\r\n  `Job title: ${title}`,\r\n  `Seniority level: ${seniority}`,\r\n  `Department: ${department}`,\r\n  `Location: ${location}`,\r\n  `Employment type: ${employment_type}`,\r\n  ``,\r\n  criteria.length\r\n    ? `Must-have criteria from recruiter (expand every item into Responsibilities and/or Requirements):\\n${criteria.map((c) => `- ${c}`).join('\\n')}`\r\n    : `Must-have: infer realistic technical requirements from the job title \"${title}\" and seniority \"${seniority}\".`,\r\n  ``,\r\n  nice.length\r\n    ? `Preferred / nice-to-have (expand into Preferred Qualifications):\\n${nice.map((c) => `- ${c}`).join('\\n')}`\r\n    : `Preferred: add 5–7 realistic optional qualifications for a ${seniority} ${title} in an enterprise environment.`,\r\n  ``,\r\n  `Style reference — match this depth and format (do not copy verbatim unless inputs match):`,\r\n  `---`,\r\n  `Job Title: Sr. Flutter Developer`,\r\n  ``,\r\n  `Job Description: We are seeking an experienced Flutter Developer to join our development team. The ideal candidate will be responsible for building a scalable, high-performance, enterprise mobile application integrated with SAP BTP.`,\r\n  ``,\r\n  `This role involves working on a multi-tenant, offline-first, and configuration-driven mobile platform, requiring strong expertise in mobile architecture, API integration, and secure authentication.`,\r\n  ``,\r\n  `Responsibilities:`,\r\n  `Design and develop high-performance Flutter applications that meet business and user requirements.`,\r\n  `Implement Clean Architecture (MVVM) for scalable and maintainable code.`,\r\n  `Integrate with REST APIs and handle complex data flows.`,\r\n  `...`,\r\n  ``,\r\n  `Requirements:`,\r\n  `Bachelor's degree in Computer Science or related field.`,\r\n  `3+ years of Flutter development experience and 5+ years of overall software development experience.`,\r\n  `Strong knowledge of Dart, OOP, and clean scalable code design.`,\r\n  `...`,\r\n  ``,\r\n  `Preferred Qualifications:`,\r\n  `Experience with SAP BTP / CAP / OData integrations.`,\r\n  `...`,\r\n  `---`,\r\n  `First line of jd_text must be exactly: Job Title: ${title}`,\r\n  `Make the JD specific to the provided title and criteria — not a generic template.`,\r\n].join('\\n');\r\n\r\nconst groq_jd_request = {\r\n  model,\r\n  messages: [\r\n    { role: 'system', content: systemPrompt },\r\n    { role: 'user', content: userPrompt },\r\n  ],\r\n  temperature: 0.4,\r\n  response_format: { type: 'json_object' },\r\n};\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      title,\r\n      department,\r\n      location,\r\n      employment_type,\r\n      seniority,\r\n      criteria,\r\n      nice,\r\n      groq_jd_request,\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "CODE - Build JD generate prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_jd_request }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "HTTP - Groq JD generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse JD generate result\r\n// After: HTTP Groq JD generate\r\n\r\nconst base = $('CODE - Build JD generate prompt').first().json;\r\nconst api = $input.first().json;\r\nconst text = api?.choices?.[0]?.message?.content;\r\nconst httpBad = !(api?.choices && api.choices[0]);\r\n\r\nif (!text || httpBad) {\r\n  const hint = api?.error?.message || api?.message || (httpBad ? 'GROQ_HTTP_EMPTY' : 'GROQ_EMPTY');\r\n  return [\r\n    {\r\n      json: {\r\n        success: false,\r\n        error: hint,\r\n        jd_text: '',\r\n        title: base.title,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nlet parsed;\r\ntry {\r\n  parsed = JSON.parse(text);\r\n} catch (e) {\r\n  parsed = { jd_text: String(text || '').trim() };\r\n}\r\n\r\nlet jd_text = String(parsed.jd_text || parsed.description || parsed.job_description || '').trim();\r\n\r\nif (!jd_text && typeof parsed === 'object') {\r\n  const parts = [];\r\n  for (const [k, v] of Object.entries(parsed)) {\r\n    if (typeof v === 'string' && v.length > 40) parts.push(v);\r\n  }\r\n  jd_text = parts.join('\\n\\n').trim();\r\n}\r\n\r\nif (!jd_text) {\r\n  return [\r\n    {\r\n      json: {\r\n        success: false,\r\n        error: 'Model returned empty jd_text',\r\n        jd_text: '',\r\n        title: base.title,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      success: true,\r\n      jd_text,\r\n      title: base.title,\r\n      department: base.department,\r\n      location: base.location,\r\n      employment_type: base.employment_type,\r\n    },\r\n  },\r\n];\r\n"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "CODE - Parse JD generate result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: $json.success, jd_text: $json.jd_text, title: $json.title, error: $json.error || \"\" } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, ngrok-skip-browser-warning"
              }
            ]
          }
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Respond to Admin",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    }
  ],
  "connections": {
    "TRG - Webhook JD generate": {
      "main": [
        [
          {
            "node": "CODE - Build JD generate prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build JD generate prompt": {
      "main": [
        [
          {
            "node": "HTTP - Groq JD generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Groq JD generate": {
      "main": [
        [
          {
            "node": "CODE - Parse JD generate result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse JD generate result": {
      "main": [
        [
          {
            "node": "Respond to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-10T09:47:02.406Z",
  "versionId": "jd-generate-v1"
}