Talent Acquisition — Live Speech.json
{
  "name": "Talent Acquisition — Live Speech",
  "nodes": [
    {
      "parameters": {
        "content": "## Live Speech — START\nPortal / relay calls **POST /webhook/talent/live-speech-start** with `session_id` + `email`.\nReturns Gemini Live system prompt + session context.\n\nSet **live_relay_url** in CFG to your WebSocket relay.",
        "height": 200,
        "width": 420
      },
      "id": "ls-note-start",
      "name": "NOTE - Live Speech Start",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Live Speech — COMPLETE\nRelay posts **POST /webhook/talent/live-speech-complete** with `turns[]`, scores, optional `session_audio_url`.\nPATCHes session → result mail if PASS/FAIL.\n\n**Connect:** Disable old per-phase speech branch in Assessment workflow when using live mode.",
        "height": 220,
        "width": 440
      },
      "id": "ls-note-complete",
      "name": "NOTE - Live Speech Complete",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/live-speech-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ls-trg-start",
      "name": "TRG - Live Speech Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        240
      ],
      "webhookId": "live-speech-start-webhook-01"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "talent/live-speech-complete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ls-trg-complete",
      "name": "TRG - Live Speech Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        680
      ],
      "webhookId": "live-speech-complete-webhook-01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ls-cfg-1",
              "name": "supabase_url",
              "value": "https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "ls-cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "ls-cfg-3",
              "name": "gemini_live_model",
              "value": "gemini-2.0-flash-live-001",
              "type": "string"
            },
            {
              "id": "ls-cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "ls-cfg-5",
              "name": "live_speech_turns",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-6",
              "name": "speech_phases",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-7",
              "name": "technical_weight",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "ls-cfg-8",
              "name": "speech_weight",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "ls-cfg-9",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "ls-cfg-10",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "ls-cfg-11",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "ls-cfg-12",
              "name": "interviewer_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ls-cfg-13",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            },
            {
              "id": "ls-cfg-14",
              "name": "n8n_public_url",
              "value": "https://randy-gaunt-bradley.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "ls-cfg-15",
              "name": "live_relay_url",
              "value": "wss://YOUR-LIVE-RELAY.example.com/live",
              "type": "string"
            },
            {
              "id": "ls-cfg-16",
              "name": "live_complete_webhook",
              "value": "={{ $json.n8n_public_url }}/webhook/talent/live-speech-complete",
              "type": "string"
            },
            {
              "id": "ls-cfg-17",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ls-cfg-start",
      "name": "CFG - Live Speech Config (start)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ls-cfg-1",
              "name": "supabase_url",
              "value": "https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "ls-cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "ls-cfg-3",
              "name": "gemini_live_model",
              "value": "gemini-2.0-flash-live-001",
              "type": "string"
            },
            {
              "id": "ls-cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "ls-cfg-5",
              "name": "live_speech_turns",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-6",
              "name": "speech_phases",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ls-cfg-7",
              "name": "technical_weight",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "ls-cfg-8",
              "name": "speech_weight",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "ls-cfg-9",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "ls-cfg-10",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "ls-cfg-11",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "ls-cfg-12",
              "name": "interviewer_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ls-cfg-13",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            },
            {
              "id": "ls-cfg-14",
              "name": "n8n_public_url",
              "value": "https://randy-gaunt-bradley.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "ls-cfg-15",
              "name": "live_relay_url",
              "value": "wss://YOUR-LIVE-RELAY.example.com/live",
              "type": "string"
            },
            {
              "id": "ls-cfg-16",
              "name": "live_complete_webhook",
              "value": "={{ $json.n8n_public_url }}/webhook/talent/live-speech-complete",
              "type": "string"
            },
            {
              "id": "ls-cfg-17",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ls-cfg-complete",
      "name": "CFG - Live Speech Config (complete)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Normalize Live Speech Start\r\n// After: TRG - Live Speech Start → CFG - Live Speech Config\r\n\r\nfunction safeEnv(name) {\r\n  try {\r\n    return String($env[name] || '').trim();\r\n  } catch (_) {\r\n    return '';\r\n  }\r\n}\r\n\r\nconst item = $input.first().json;\r\nconst body = item.body || item || {};\r\nconst cfg = {\r\n  ...(typeof item.config === 'object' && item.config ? item.config : {}),\r\n  ...item,\r\n};\r\n\r\nconst cleanEmail = (raw) => {\r\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\r\n  return first.split(/\\s+regards/i)[0].trim();\r\n};\r\n\r\nconst session_id = String(\r\n  body.session_id || body.sessionId || body.session_db_id || ''\r\n).trim();\r\nconst candidate_email = cleanEmail(body.email || body.candidate_email);\r\n\r\nif (!session_id) throw new Error('live-speech-start: session_id required');\r\nif (!candidate_email) throw new Error('live-speech-start: email required');\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      flow: 'live_speech_start',\r\n      session_id,\r\n      candidate_email,\r\n      assessment_mode: 'live_speech',\r\n      config: {\r\n        supabase_url: String(\r\n          cfg.supabase_url || safeEnv('SUPABASE_URL') || ''\r\n        ).trim(),\r\n        supabase_key: String(\r\n          cfg.supabase_key ||\r\n            safeEnv('SUPABASE_SERVICE_ROLE_KEY') ||\r\n            safeEnv('SUPABASE_KEY') ||\r\n            ''\r\n        ).trim(),\r\n        max_questions: Number(cfg.max_questions ?? 5),\r\n        speech_phases: Number(cfg.live_speech_turns ?? cfg.speech_phases ?? 5),\r\n        speech_answer_seconds: Number(cfg.speech_answer_seconds ?? 120),\r\n        technical_weight: Number(cfg.technical_weight ?? 0.7),\r\n        speech_weight: Number(cfg.speech_weight ?? 0.3),\r\n        pass_score_threshold: Number(cfg.pass_score_threshold ?? 60),\r\n        fail_score_threshold: Number(cfg.fail_score_threshold ?? 30),\r\n        organization_name: String(cfg.organization_name || 'CONVO'),\r\n        portal_base_url: String(cfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\r\n        n8n_public_url: String(cfg.n8n_public_url || '').replace(/\\/+$/, ''),\r\n        live_relay_url: String(cfg.live_relay_url || ''),\r\n        live_complete_webhook: String(\r\n          cfg.live_complete_webhook ||\r\n            (cfg.n8n_public_url\r\n              ? `${String(cfg.n8n_public_url).replace(/\\/+$/, '')}/webhook/talent/live-speech-complete`\r\n              : '')\r\n        ),\r\n        gemini_live_model: String(\r\n          cfg.gemini_live_model || 'gemini-2.5-flash-native-audio-preview-12-2025'\r\n        ),\r\n        table_assessment_sessions: String(cfg.table_assessment_sessions || 'assessment_sessions'),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "ls-norm-start",
      "name": "CODE - Normalize Live Speech Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Normalize Live Speech Complete\r\n// After: TRG - Live Speech Complete → CFG - Live Speech Config\r\n\r\nconst item = $input.first().json;\r\nconst body = item.body || item || {};\r\nconst cfg = item.config || item;\r\n\r\nconst cleanEmail = (raw) => {\r\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\r\n  return first.split(/\\s+regards/i)[0].trim();\r\n};\r\n\r\nconst session_id = String(\r\n  body.session_id || body.sessionId || body.session_db_id || ''\r\n).trim();\r\nconst candidate_email = cleanEmail(body.email || body.candidate_email);\r\nconst turns = Array.isArray(body.turns) ? body.turns : [];\r\nconst partial = body.partial === true;\r\n\r\nif (!session_id) throw new Error('live-speech-complete: session_id required');\r\nif (!candidate_email) throw new Error('live-speech-complete: email required');\r\nif (!turns.length) throw new Error('live-speech-complete: turns[] required');\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      flow: partial ? 'live_speech_turn' : 'live_speech_complete',\r\n      partial,\r\n      session_id,\r\n      candidate_email,\r\n      assessment_mode: 'live_speech',\r\n      turns,\r\n      combined_speech_score:\r\n        body.combined_speech_score != null ? Number(body.combined_speech_score) : null,\r\n      session_audio_url: String(body.session_audio_url || body.audio_url || '').trim(),\r\n      duration_seconds: Number(body.duration_seconds || 0),\r\n      final_feedback: String(body.final_feedback || body.feedback || '').trim(),\r\n      live_session_summary: String(body.live_session_summary || '').trim(),\r\n      tab_switches: Number(body.tab_switches ?? body.tabSwitches ?? 0),\r\n      config: {\r\n        supabase_url: String(cfg.supabase_url || '').trim(),\r\n        supabase_key: String(cfg.supabase_key || '').trim(),\r\n        max_questions: Number(cfg.max_questions ?? 5),\r\n        speech_phases: Number(cfg.live_speech_turns ?? cfg.speech_phases ?? 5),\r\n        technical_weight: Number(cfg.technical_weight ?? 0.7),\r\n        speech_weight: Number(cfg.speech_weight ?? 0.3),\r\n        pass_score_threshold: Number(cfg.pass_score_threshold ?? 60),\r\n        fail_score_threshold: Number(cfg.fail_score_threshold ?? 30),\r\n        organization_name: String(cfg.organization_name || 'CONVO'),\r\n        portal_base_url: String(cfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\r\n        interviewer_email: String(cfg.interviewer_email || ''),\r\n        table_assessment_sessions: String(cfg.table_assessment_sessions || 'assessment_sessions'),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "ls-norm-complete",
      "name": "CODE - Normalize Live Speech Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        680
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.config.supabase_url }}/rest/v1/{{ $json.config.table_assessment_sessions || 'assessment_sessions' }}?id=eq.{{ encodeURIComponent($json.session_id) }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.config.supabase_key }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ls-fetch-start",
      "name": "HTTP - Fetch Session Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_url }}/rest/v1/{{ $('CODE - Normalize Live Speech Complete').first().json.config.table_assessment_sessions || 'assessment_sessions' }}?id=eq.{{ encodeURIComponent($('CODE - Normalize Live Speech Complete').first().json.session_id) }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CODE - Normalize Live Speech Complete').first().json.config.supabase_key }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "ls-fetch-complete",
      "name": "HTTP - Fetch Session Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        680
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build Live Speech Relay Context\r\n// After: HTTP - Fetch Session (start branch)\r\n// Returns system instructions + session context for Gemini Live relay server.\r\n\r\nfunction parseJson(raw, fallback) {\r\n  if (raw == null) return fallback;\r\n  if (typeof raw === 'object') return raw;\r\n  try {\r\n    return JSON.parse(raw);\r\n  } catch (_) {\r\n    return fallback;\r\n  }\r\n}\r\n\r\nfunction safeEnv(name) {\r\n  try {\r\n    return String($env[name] || '').trim();\r\n  } catch (_) {\r\n    return '';\r\n  }\r\n}\r\n\r\nconst norm = $('CODE - Normalize Live Speech Start').first().json;\r\nconst cfg = norm.config || {};\r\nconst fetchRaw = $input.first().json;\r\nconst session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\nif (!session?.id) throw new Error('Session not found for live speech start');\r\n\r\nconst sessCfg = { ...parseJson(session.config, {}), ...cfg };\r\nconst screening = parseJson(session.screening, {});\r\nconst jdTitle = String(\r\n  sessCfg.requisition_title || screening.requisition_title || 'Open role'\r\n).trim();\r\nconst jdReq = String(\r\n  sessCfg.requisition_requirements || screening.requisition_requirements || ''\r\n).trim();\r\nconst cvText = String(session.cv_plaintext || screening.cv_plaintext || '').slice(0, 12000);\r\nconst maxQ = Number(sessCfg.max_questions || cfg.max_questions || 5);\r\nconst speechTurns = Number(cfg.speech_phases || sessCfg.speech_phases || 5);\r\n\r\nconst systemInstruction = `You are a professional English voice interviewer for ${jdTitle} at ${cfg.organization_name || 'CONVO'}.\r\n\r\nLANGUAGE (critical — ONLY for genuinely non-English speech):\r\n- Speak ONLY in clear professional English.\r\n- The candidate MUST answer in English. Transcription is configured for English (en-US) only.\r\n- ONLY when the candidate actually speaks in Urdu, Hindi, Arabic, or another non-English language: warmly and briefly say something like \"I'm sorry, this interview is in English — could you please answer in English?\" and then RE-ASK THE SAME current question. Do NOT move on.\r\n- NEVER tell a candidate to \"speak in English\" when they are already speaking English. An answer that is in English but weak, unclear, or off-topic is NOT a language problem — never respond to it with an English-language request.\r\n- A non-English answer is scored ZERO for that response.\r\n- Never output internal notes, markdown, headings, bullet reasoning, partial words, or meta commentary. Speak only complete, polished interview sentences.\r\n\r\nOFF-TOPIC / IRRELEVANT ANSWERS (critical — stay on the SAME question, in English):\r\n- If the candidate's answer is in English but clearly off-topic, unrelated, or a random counter-question (e.g. \"who is the prime minister of Pakistan\"), do NOT ask them to speak in English and do NOT advance.\r\n- Instead, in ONE short, warm, encouraging sentence, gently let them know that response seems off-topic and guide them back to the question, then re-ask the SAME question. Be kind and professional — never say things like \"this is an irrelevant question\".\r\n- A genuine but weak, short, or \"I don't know\" answer is acceptable — accept it and move on; do NOT treat it as off-topic.\r\n\r\nREPEAT & CLARIFICATION (critical — stay on the SAME question):\r\n- If the candidate asks you to repeat, rephrase, or says they did not understand/hear the question, first warmly reassure them in ONE short sentence (e.g. \"No problem — let me repeat the question.\") and then calmly repeat the SAME current question. Do NOT advance to the next question, and do NOT say \"let's move on\" or \"continue\".\r\n- If the candidate is hesitant or asks for a moment, reassure them (\"Take your time\") and keep waiting on the SAME question.\r\n- Only advance to the next numbered question after the candidate has actually attempted an answer to the current one in English.\r\n\r\nTURN-TAKING (critical — this is a strict push-to-talk interview):\r\n- This is NOT a free-flowing chat. The candidate uses a button to speak; you only hear them during their turn.\r\n- YOU speak first, and you always wait for the system to prompt you for each new step.\r\n- Ask exactly ONE thing per turn, then STOP talking completely and wait. Do not add filler, do not keep talking, do not repeat yourself.\r\n- Each turn must contain at most ONE question mark. Never ask two questions in the same turn.\r\n- After the candidate's turn ends, you MAY open with ONE short, warm acknowledgement of their previous answer (e.g. \"Thank you for sharing that.\", \"Great, I appreciate the detail.\") and then ask the next single question. Keep the acknowledgement to one brief sentence — do NOT rate, score, critique, or give detailed feedback, and do NOT turn it into a second question.\r\n- Keep every question to 1-2 sentences. Be concise and clear.\r\n\r\nWARM-UP PHASE (happens FIRST — two separate steps before the numbered questions):\r\n\r\nStep A — Microphone check (your VERY FIRST response):\r\n- Greet the candidate warmly in one short sentence, welcome them to the interview.\r\n- Tell them you want to do a quick microphone check and ask them to say just a few words — anything at all.\r\n- STOP after the mic-check request. Do NOT ask for an introduction yet. Wait.\r\n\r\nStep B — Introduction (only after the mic check response):\r\n- The system will prompt you to ask for an introduction.\r\n- Ask the candidate to briefly introduce themselves (name, background, interest in the role). 1-2 warm sentences only.\r\n- STOP after asking for the intro. Wait for their answer. Do NOT start question 1 yet.\r\n\r\nSESSION FLOW (critical):\r\n- After the warm-up, the system prompts you to ask numbered questions. Ask exactly ${speechTurns} questions total, one at a time, in order.\r\n- Do NOT say \"Question 1\", \"Question 2\", etc. aloud — NEVER number questions in your speech.\r\n- Questions 1 through ${speechTurns - 1}: after each answer, ask the NEXT question only. Never thank or close early.\r\n- ONLY after the candidate finishes answering question ${speechTurns} (the last question) may you thank them in one sentence and say the voice interview is complete. Then stop speaking.\r\n- Until question ${speechTurns} is asked AND answered, never say the interview is complete, never say goodbye, and never say \"we will be in touch\".\r\n- Do NOT ask a question beyond number ${speechTurns}. Do NOT continue chatting after the closing thank-you.\r\n\r\nSCORING (internal only — never say scores aloud):\r\n- After each answer, mentally score 0-100 on relevance, clarity, confidence, professionalism.\r\n- A response given in a non-English language is scored ZERO.\r\n- An off-topic or irrelevant response scores very low on relevance.\r\n\r\nSILENCE & ENGAGEMENT:\r\n- If the candidate goes quiet, the system will instruct you to nudge them. When that happens, SPEAK ONE short, warm encouraging sentence (e.g. \"Take your time — whenever you're ready, please go ahead and share your answer.\").\r\n- Do NOT repeat the full question during a silence nudge. Say only the single encouraging sentence and stop.\r\n\r\nCROSS-QUESTIONING (follow-up):\r\n- When instructed to ask a follow-up, ask ONE short probe on the SAME topic so the candidate can clarify or give a concrete example.\r\n- Follow-ups do NOT count as a new numbered question — stay on the same question number until the follow-up is answered.\r\n- The follow-up must be a single question with one question mark only.\r\n\r\nQUESTION STYLE:\r\n- Conceptual, scenario, and behavioural questions relevant to the role. Avoid yes/no questions.\r\n- Spread across these themes (one per question): communication under pressure, motivation for this role, collaboration and teamwork, handling setbacks or conflict, growth mindset and self-reflection.\r\n\r\nJOB CONTEXT:\r\n${jdReq.slice(0, 4000)}\r\n\r\nCANDIDATE CV (reference silently — never say \"on your CV\"):\r\n${cvText.slice(0, 6000) || '(limited CV context)'}`;\r\n\r\nconst kickoffPrompt = `Begin the interview now in English. In the SAME single response: greet the candidate in one short sentence, then immediately ask question 1 of ${speechTurns} for the ${jdTitle} role. Ask only that one question, then stop talking and wait for the candidate. Do not number the question aloud and do not say anything after it.`;\r\n\r\nconst completeWebhook = String(\r\n  cfg.live_complete_webhook ||\r\n    (cfg.n8n_public_url\r\n      ? `${String(cfg.n8n_public_url).replace(/\\/+$/, '')}/webhook/talent/live-speech-complete`\r\n      : '')\r\n).trim();\r\nconst relayUrl = String(cfg.live_relay_url || sessCfg.live_relay_url || '').trim();\r\nconst supabaseUrl = String(\r\n  cfg.supabase_url ||\r\n    sessCfg.supabase_url ||\r\n    safeEnv('SUPABASE_URL') ||\r\n    ''\r\n).trim();\r\nconst supabaseKey = String(\r\n  cfg.supabase_key ||\r\n    sessCfg.supabase_key ||\r\n    safeEnv('SUPABASE_SERVICE_ROLE_KEY') ||\r\n    safeEnv('SUPABASE_KEY') ||\r\n    ''\r\n).trim();\r\nconst portalBase = String(\r\n  cfg.portal_base_url || sessCfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'\r\n).replace(/\\/+$/, '');\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ok: true,\r\n      flow: 'live_speech_start',\r\n      session_id: session.id,\r\n      candidate_email: norm.candidate_email || session.candidate_email,\r\n      assessment_mode: 'live_speech',\r\n      max_questions: maxQ,\r\n            speech_phases: speechTurns,\r\n      speech_answer_seconds: Number(cfg.speech_answer_seconds || sessCfg.speech_answer_seconds || 120),\r\n      silence_handling_enabled: cfg.silence_handling_enabled !== false,\r\n      silence_nudge_seconds: Number(cfg.silence_nudge_seconds || sessCfg.silence_nudge_seconds || 5),\r\n      silence_auto_submit_seconds: Number(cfg.silence_auto_submit_seconds || sessCfg.silence_auto_submit_seconds || 6),\r\n      silence_nudge_text: String(cfg.silence_nudge_text || sessCfg.silence_nudge_text || \"Take your time — whenever you're ready, please go ahead and share your answer.\"),\r\n      followup_min_words: Number(cfg.followup_min_words || sessCfg.followup_min_words || 30),\r\n      // Default OFF so candidates always get Q2 after Q1. Enable per-job if needed.\r\n      follow_up_enabled: Boolean(cfg.follow_up_enabled || sessCfg.follow_up_enabled),\r\n      // Realistic repeat / language handling — both keep the candidate on the SAME question.\r\n      max_question_repeats: Number(cfg.max_question_repeats || sessCfg.max_question_repeats || 3),\r\n      max_non_english_nudges: Number(cfg.max_non_english_nudges || sessCfg.max_non_english_nudges || 2),\r\n      // Off-topic guard: gently redirect a clearly irrelevant English answer and\r\n      // stay on the SAME question (bounded so a false positive costs one re-ask).\r\n      relevance_guard_enabled: cfg.relevance_guard_enabled !== false,\r\n      max_irrelevant_redirects: Number(cfg.max_irrelevant_redirects ?? sessCfg.max_irrelevant_redirects ?? 1),\r\n      // Brief, warm acknowledgement of the previous answer before the next question.\r\n      appreciation_enabled: cfg.appreciation_enabled !== false,\r\n      coaching_enabled: cfg.coaching_enabled !== false,\r\n      voice_only: cfg.voice_only !== false,\r\n      intro_enabled: cfg.intro_enabled !== false,\r\n      intro_answer_seconds: Number(cfg.intro_answer_seconds || sessCfg.intro_answer_seconds || 90),\r\n      current_phase: Number(session.current_phase || maxQ + 1),\r\n      requisition_title: jdTitle,\r\n      system_instruction: systemInstruction,\r\n      kickoff_prompt: kickoffPrompt,\r\n      gemini_live_model: String(\r\n        cfg.gemini_live_model || 'gemini-2.5-flash-native-audio-preview-12-2025'\r\n      ),\r\n      gemini_text_model: String(cfg.gemini_text_model || 'gemini-2.5-flash'),\r\n      live_relay_url: relayUrl,\r\n      live_complete_webhook: completeWebhook,\r\n      portal_base_url: portalBase,\r\n      live_save_url: `${portalBase}/api/live-speech-save`,\r\n      // Supabase creds at top-level so the relay can save directly without n8n.\r\n      supabase_url: supabaseUrl,\r\n      supabase_key: supabaseKey,\r\n      config: {\r\n        ...sessCfg,\r\n        supabase_url: supabaseUrl,\r\n        supabase_key: supabaseKey,\r\n        portal_base_url: portalBase,\r\n        n8n_public_url: String(cfg.n8n_public_url || sessCfg.n8n_public_url || '').replace(/\\/+$/, ''),\r\n        live_complete_webhook: completeWebhook,\r\n      },\r\n      n8n_public_url: String(cfg.n8n_public_url || '').replace(/\\/+$/, ''),\r\n      session,\r\n    },\r\n  },\r\n];"
      },
      "id": "ls-relay-ctx",
      "name": "CODE - Build Live Speech Relay Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse Live Speech Result\r\n// WORKFLOW: Talent Acquisition — Live Speech ONLY\r\n// NODE: CODE - Parse Live Speech Result (after HTTP - Fetch Session Complete)\r\n// DO NOT paste into Assessment workflow \"CODE - Build LLM context\" — use n8n_code_build_llm_context.js there.\r\n\r\nfunction parseJson(raw, fallback) {\r\n  if (raw == null) return fallback;\r\n  if (typeof raw === 'object') return raw;\r\n  try {\r\n    return JSON.parse(raw);\r\n  } catch (_) {\r\n    return fallback;\r\n  }\r\n}\r\n\r\nfunction pickNodeJson(name) {\r\n  try {\r\n    const raw = $(name).first().json;\r\n    if (raw && typeof raw === 'object') return raw;\r\n  } catch (_) {}\r\n  return null;\r\n}\r\n\r\nfunction cleanEmail(raw) {\r\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\r\n  return first.split(/\\s+regards/i)[0].trim();\r\n}\r\n\r\n// Optional session columns from supabase_live_speech_meta.sql — only PATCH keys that\r\n// have values so missing columns (before migration) never break the save.\r\nfunction buildLiveSpeechPatchMeta(norm) {\r\n  const meta = {};\r\n  const audioUrl = String(norm?.session_audio_url || '').trim();\r\n  if (audioUrl) meta.live_speech_audio_url = audioUrl;\r\n  const duration = Number(norm?.duration_seconds);\r\n  if (Number.isFinite(duration) && duration > 0) {\r\n    meta.live_speech_duration_seconds = Math.round(duration);\r\n  }\r\n  const tabSwitches = Number(norm?.tab_switches);\r\n  if (Number.isFinite(tabSwitches) && tabSwitches >= 0) {\r\n    meta.tab_switches = tabSwitches;\r\n  }\r\n  return meta;\r\n}\r\n\r\nfunction buildConfig(cfg) {\r\n  const c = cfg || {};\r\n  return {\r\n    supabase_url: String(c.supabase_url || '').trim(),\r\n    supabase_key: String(c.supabase_key || '').trim(),\r\n    max_questions: Number(c.max_questions ?? 5),\r\n    speech_phases: Number(c.live_speech_turns ?? c.speech_phases ?? 5),\r\n    technical_weight: Number(c.technical_weight ?? 0.7),\r\n    speech_weight: Number(c.speech_weight ?? 0.3),\r\n    pass_score_threshold: Number(c.pass_score_threshold ?? 60),\r\n    fail_score_threshold: Number(c.fail_score_threshold ?? 30),\r\n    organization_name: String(c.organization_name || 'CONVO'),\r\n    portal_base_url: String(c.portal_base_url || 'https://talent-acquisition-six.vercel.app'),\r\n    interviewer_email: String(c.interviewer_email || ''),\r\n    table_assessment_sessions: String(c.table_assessment_sessions || 'assessment_sessions'),\r\n  };\r\n}\r\n\r\nfunction resolveLiveSpeechNorm() {\r\n  const normalized = pickNodeJson('CODE - Normalize Live Speech Complete');\r\n  if (normalized?.session_id && Array.isArray(normalized.turns) && normalized.turns.length) {\r\n    return normalized;\r\n  }\r\n\r\n  const triggerRaw = pickNodeJson('TRG - Live Speech Complete');\r\n  const cfgNode = pickNodeJson('CFG - Live Speech Config (complete)');\r\n  const body = triggerRaw?.body || triggerRaw || {};\r\n  const cfg = buildConfig(normalized?.config || cfgNode?.config || cfgNode);\r\n\r\n  const session_id = String(\r\n    body.session_id || body.sessionId || body.session_db_id || normalized?.session_id || ''\r\n  ).trim();\r\n  const candidate_email = cleanEmail(\r\n    body.email || body.candidate_email || normalized?.candidate_email\r\n  );\r\n  const turns = Array.isArray(body.turns)\r\n    ? body.turns\r\n    : Array.isArray(normalized?.turns)\r\n      ? normalized.turns\r\n      : [];\r\n\r\n  if (!session_id) {\r\n    throw new Error(\r\n      'live-speech-complete: session_id required — run from TRG - Live Speech Complete (not assessment-answer webhook).'\r\n    );\r\n  }\r\n  if (!candidate_email) throw new Error('live-speech-complete: email required');\r\n  if (!turns.length) {\r\n    throw new Error(\r\n      'live-speech-complete: turns[] required — relay must POST scored Q&A pairs to this webhook.'\r\n    );\r\n  }\r\n\r\n  return {\r\n    flow: normalized?.partial ? 'live_speech_turn' : 'live_speech_complete',\r\n    partial: normalized?.partial === true || body.partial === true,\r\n    session_id,\r\n    candidate_email,\r\n    assessment_mode: 'live_speech',\r\n    turns,\r\n    combined_speech_score:\r\n      body.combined_speech_score != null\r\n        ? Number(body.combined_speech_score)\r\n        : normalized?.combined_speech_score ?? null,\r\n    session_audio_url: String(\r\n      body.session_audio_url || body.audio_url || normalized?.session_audio_url || ''\r\n    ).trim(),\r\n    duration_seconds: Number(body.duration_seconds || normalized?.duration_seconds || 0),\r\n    final_feedback: String(\r\n      body.final_feedback || body.feedback || normalized?.final_feedback || ''\r\n    ).trim(),\r\n    live_session_summary: String(\r\n      body.live_session_summary || normalized?.live_session_summary || ''\r\n    ).trim(),\r\n    tab_switches: Number(body.tab_switches ?? body.tabSwitches ?? normalized?.tab_switches ?? 0),\r\n    config: cfg,\r\n  };\r\n}\r\n\r\nfunction computeTechnicalAverage(rows, maxQ) {\r\n  const scores = rows\r\n    .filter((row) => {\r\n      const phase = Number(row.phase);\r\n      return phase >= 1 && phase <= maxQ && row.score != null;\r\n    })\r\n    .map((row) => Number(row.score))\r\n    .filter((n) => Number.isFinite(n));\r\n  if (!scores.length) return null;\r\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\r\n}\r\n\r\nfunction computeSpeechAverage(rows, maxQ, speechPhases) {\r\n  const scores = rows\r\n    .filter((row) => {\r\n      const phase = Number(row.phase);\r\n      return phase > maxQ && phase <= maxQ + speechPhases && row.score != null;\r\n    })\r\n    .map((row) => Number(row.score))\r\n    .filter((n) => Number.isFinite(n));\r\n  if (!scores.length) return null;\r\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\r\n}\r\n\r\nasync function lookupJobInterviewer(requisitionId, requisitionTitle, supabaseUrl, supabaseKey) {\r\n  const sb = String(supabaseUrl || '').replace(/\\/+$/, '');\r\n  const key = String(supabaseKey || '').trim();\r\n  if (!sb || !key) return '';\r\n  const headers = { apikey: key, Authorization: `Bearer ${key}` };\r\n\r\n  async function fetchFirst(url) {\r\n    try {\r\n      const res = await fetch(url, { headers });\r\n      if (!res.ok) return '';\r\n      const rows = await res.json();\r\n      if (!Array.isArray(rows)) return '';\r\n      for (const row of rows) {\r\n        const email = String(row?.interviewer_email || '').trim().toLowerCase();\r\n        if (email) return email;\r\n      }\r\n      return '';\r\n    } catch (_) {\r\n      return '';\r\n    }\r\n  }\r\n\r\n  const reqId = String(requisitionId || '').trim();\r\n  if (reqId) {\r\n    const email = await fetchFirst(\r\n      `${sb}/rest/v1/jobs?select=interviewer_email&job_id=eq.${encodeURIComponent(reqId)}&limit=1`\r\n    );\r\n    if (email) return email;\r\n  }\r\n\r\n  const title = String(requisitionTitle || '').trim();\r\n  if (!title) return '';\r\n\r\n  const slug = title\r\n    .toLowerCase()\r\n    .replace(/[^a-z0-9]+/g, '-')\r\n    .replace(/^-|-$/g, '')\r\n    .slice(0, 64);\r\n\r\n  const urls = [\r\n    `${sb}/rest/v1/jobs?select=interviewer_email&title=eq.${encodeURIComponent(title)}&limit=1`,\r\n    `${sb}/rest/v1/jobs?select=interviewer_email&title=ilike.${encodeURIComponent(title)}&limit=3`,\r\n    `${sb}/rest/v1/jobs?select=interviewer_email&title=ilike.${encodeURIComponent(`%${title.replace(/\\s+/g, '%')}%`)}&limit=3`,\r\n  ];\r\n  if (slug && slug !== reqId) {\r\n    urls.push(\r\n      `${sb}/rest/v1/jobs?select=interviewer_email&job_id=eq.${encodeURIComponent(slug)}&limit=1`\r\n    );\r\n  }\r\n\r\n  for (const url of urls) {\r\n    const email = await fetchFirst(url);\r\n    if (email) return email;\r\n  }\r\n  return '';\r\n}\r\n\r\nconst norm = resolveLiveSpeechNorm();\r\nconst cfg = norm.config || {};\r\nconst fetchRaw = $input.first().json;\r\nconst session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\nif (!session?.id) throw new Error('Session not found for live speech complete');\r\n\r\nconst sessionCfg = parseJson(session.config, {});\r\nconst sessCfg = { ...sessionCfg, ...cfg };\r\n// JD intake stores interviewer on session.config — do not let blank n8n CFG wipe it.\r\nconst sessionInterviewer = String(sessionCfg.interviewer_email || '').trim();\r\nif (sessionInterviewer) sessCfg.interviewer_email = sessionInterviewer;\r\nconst maxQ = Number(sessCfg.max_questions || cfg.max_questions || 5);\r\nconst speechPhases = Number(cfg.speech_phases || sessCfg.speech_phases || 5);\r\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\r\nconst techWeight = Number(cfg.technical_weight ?? 0.7);\r\nconst speechWeight = Number(cfg.speech_weight ?? 0.3);\r\nconst iso = new Date().toISOString();\r\n\r\nlet history = session.interview_history;\r\nhistory = parseJson(history, []);\r\nif (!Array.isArray(history)) history = [];\r\n\r\nconst turns = Array.isArray(norm.turns) ? norm.turns : [];\r\nfor (const turn of turns) {\r\n  const ph = Number(turn.phase);\r\n  if (!Number.isFinite(ph) || ph <= maxQ) continue;\r\n\r\n  const idx = history.findIndex((x) => Number(x.phase) === ph);\r\n  const existing = idx >= 0 ? history[idx] : {};\r\n\r\n  const incomingQ = String(turn.question_text || turn.question || '').trim();\r\n  const incomingA = String(turn.answer_text || turn.transcript || turn.answer || '').trim();\r\n  const hasNewScore = turn.score != null && Number.isFinite(Number(turn.score));\r\n  const score = hasNewScore\r\n    ? Math.max(0, Math.min(100, Math.round(Number(turn.score))))\r\n    : (existing.score ?? null);\r\n\r\n  const patch = {\r\n    phase: ph,\r\n    mode: 'live_speech',\r\n    voice_question_number:\r\n      Number(turn.voice_question_number || ph - maxQ) || existing.voice_question_number || null,\r\n    question_text: incomingQ || String(existing.question_text || existing.question || '').trim(),\r\n    answer_text: incomingA || String(existing.answer_text || '').trim(),\r\n    received_at: turn.received_at || existing.received_at || iso,\r\n    sent_at: turn.sent_at || existing.sent_at || iso,\r\n    feedback: turn.feedback || existing.feedback || null,\r\n    score,\r\n    soft_skills: turn.soft_skills || (hasNewScore\r\n      ? {\r\n          clarity: Math.round(Number(turn.clarity ?? turn.score ?? 0)),\r\n          confidence: Math.round(Number(turn.confidence ?? turn.score ?? 0)),\r\n          professionalism: Math.round(Number(turn.professionalism ?? turn.score ?? 0)),\r\n          relevance: Math.round(Number(turn.relevance ?? turn.score ?? 0)),\r\n        }\r\n      : (existing.soft_skills ?? null)),\r\n    speech_metrics: turn.speech_metrics || existing.speech_metrics || {},\r\n    answer_audio_url: turn.audio_url || norm.session_audio_url || existing.answer_audio_url || null,\r\n    stt_source: turn.stt_source || 'gemini_live',\r\n    scoring_source: turn.scoring_source || 'gemini_live',\r\n  };\r\n\r\n  if (idx >= 0) history[idx] = { ...existing, ...patch };\r\n  else history.push(patch);\r\n}\r\n\r\nconst b = String(cfg.supabase_url || sessCfg.supabase_url || '').replace(/\\/+$/, '');\r\nif (!b || !/^https?:\\/\\//i.test(b)) {\r\n  throw new Error(\r\n    'live-speech save: supabase_url missing/invalid. Set supabase_url in CFG - Live Speech Config (complete) (e.g. https://xxx.supabase.co) so voice turns persist.'\r\n  );\r\n}\r\nconst patchUrl = `${b}/rest/v1/${cfg.table_assessment_sessions || 'assessment_sessions'}?id=eq.${encodeURIComponent(String(session.id))}`;\r\n\r\n// Incremental save after each voice Q&A — do not finalize the session yet.\r\nif (norm.partial === true) {\r\n  const lastTurn = turns[turns.length - 1] || {};\r\n  const currentPhase = Number(lastTurn.phase || maxQ + 1);\r\n  const partialBody = {\r\n    interview_history: history,\r\n    updated_at: iso,\r\n    assessment_stage: 'live_speech',\r\n    current_phase: currentPhase,\r\n    status: 'assessment',\r\n  };\r\n\r\n  return [\r\n    {\r\n      json: {\r\n        partial: true,\r\n        ok: true,\r\n        isFinal: false,\r\n        session_id: session.id,\r\n        candidate_email: norm.candidate_email || session.candidate_email,\r\n        phase: currentPhase,\r\n        turns_saved: turns.length,\r\n        assessment_mode: 'live_speech',\r\n        config: sessCfg,\r\n        _session_patch_url: patchUrl,\r\n        _session_patch_body: partialBody,\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nconst techAvg =\r\n  Number(session.technical_score) || computeTechnicalAverage(history, maxQ) || 0;\r\nlet speechAvg =\r\n  norm.combined_speech_score != null && Number.isFinite(Number(norm.combined_speech_score))\r\n    ? Math.round(Number(norm.combined_speech_score))\r\n    : computeSpeechAverage(history, maxQ, speechPhases);\r\n\r\nif (speechAvg == null) {\r\n  const turnScores = turns\r\n    .map((t) => Number(t.score))\r\n    .filter((n) => Number.isFinite(n));\r\n  speechAvg = turnScores.length\r\n    ? Math.round(turnScores.reduce((a, b) => a + b, 0) / turnScores.length)\r\n    : 0;\r\n}\r\n\r\nconst combinedScore = Math.round(techAvg * techWeight + speechAvg * speechWeight);\r\nconst finalResult = combinedScore >= passThreshold ? 'PASS' : 'FAIL';\r\nconst lastPhase = maxQ + speechPhases;\r\n\r\nconst finalFeedback = [\r\n  norm.final_feedback || norm.live_session_summary || '',\r\n  `Technical: ${techAvg}/100 | Live communication: ${speechAvg}/100 | Combined: ${combinedScore}/100 (pass ${passThreshold}).`,\r\n]\r\n  .filter(Boolean)\r\n  .join(' ');\r\n\r\nconst body = {\r\n  interview_history: history,\r\n  updated_at: iso,\r\n  assessment_stage: 'completed',\r\n  current_phase: lastPhase,\r\n  status: 'completed',\r\n  technical_score: techAvg,\r\n  speech_score: speechAvg,\r\n  score: combinedScore,\r\n  result: finalResult,\r\n  ...buildLiveSpeechPatchMeta(norm),\r\n};\r\n\r\nconst lastTurn = turns[turns.length - 1] || {};\r\nconst phaseScore = Math.round(Number(lastTurn.score ?? speechAvg));\r\n\r\n// Overall soft skills = average of every voice turn's soft skills across the\r\n// whole interview (not per-question). This is what the candidate and emails see.\r\nconst SOFT_SKILL_KEYS = [\r\n  'communication_clarity',\r\n  'fluency',\r\n  'confidence',\r\n  'professionalism',\r\n  'english_proficiency',\r\n  'answer_relevance',\r\n];\r\nconst overallSoftSkills = (() => {\r\n  const sums = {};\r\n  const counts = {};\r\n  for (const t of turns) {\r\n    const s = t && typeof t.soft_skills === 'object' ? t.soft_skills : null;\r\n    if (!s) continue;\r\n    for (const k of SOFT_SKILL_KEYS) {\r\n      const v = Number(s[k]);\r\n      if (Number.isFinite(v)) {\r\n        sums[k] = (sums[k] || 0) + v;\r\n        counts[k] = (counts[k] || 0) + 1;\r\n      }\r\n    }\r\n  }\r\n  const out = {};\r\n  let any = false;\r\n  for (const k of SOFT_SKILL_KEYS) {\r\n    if (counts[k]) {\r\n      out[k] = Math.round(sums[k] / counts[k]);\r\n      any = true;\r\n    }\r\n  }\r\n  return any ? out : (lastTurn.soft_skills || null);\r\n})();\r\n\r\nreturn (async () => {\r\n  let resolvedInterviewer = sessionInterviewer || sessCfg.interviewer_email || '';\r\n  if (!resolvedInterviewer) {\r\n    resolvedInterviewer = await lookupJobInterviewer(\r\n      session.requisition_id || sessionCfg.requisition_id,\r\n      sessionCfg.requisition_title || cfg.requisition_title,\r\n      cfg.supabase_url || sessCfg.supabase_url,\r\n      cfg.supabase_key || sessCfg.supabase_key\r\n    );\r\n    if (resolvedInterviewer) {\r\n      sessCfg.interviewer_email = resolvedInterviewer;\r\n    }\r\n  }\r\n\r\n  return [\r\n    {\r\n      json: {\r\n        score: combinedScore,\r\n        phase_score: phaseScore,\r\n        soft_skills: overallSoftSkills,\r\n        feedback: finalFeedback,\r\n        nextQuestion: '',\r\n        time_limit_seconds: null,\r\n        deadline_at: null,\r\n        complexity_tier: null,\r\n        isFinal: true,\r\n        assessment_mode: 'live_speech',\r\n        speech_phases: speechPhases,\r\n        result: finalResult,\r\n        average_score: combinedScore,\r\n        candidate_email: norm.candidate_email || session.candidate_email,\r\n        session_id: session.id,\r\n        requisition_id: session.requisition_id || sessionCfg.requisition_id || null,\r\n        requisition_title: sessionCfg.requisition_title || cfg.requisition_title || null,\r\n        interviewer_email: resolvedInterviewer,\r\n        current_phase: lastPhase,\r\n        config: sessCfg,\r\n        gmail_thread_id: session.gmail_thread_id || null,\r\n        gmail_message_id: session.gmail_message_id || null,\r\n        mail_subject: session.mail_subject || null,\r\n        _session_patch_url: patchUrl,\r\n        _session_patch_body: body,\r\n      },\r\n    },\r\n  ];\r\n})();"
      },
      "id": "ls-parse",
      "name": "CODE - Parse Live Speech Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Pick Parse Result (live speech)\nfunction pickParseJson() {\n  const names = [\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Technical Result',\n  ];\n  for (const name of names) {\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object' && raw.session_id) return raw;\n    } catch (_) {}\n  }\n  const inp = $input.first().json;\n  if (inp && inp.session_id) return inp;\n  throw new Error('No parse result found.');\n}\nreturn [{ json: pickParseJson() }];"
      },
      "id": "ls-pick",
      "name": "CODE - Pick Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        680
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $(\"CODE - Pick Parse Result\").first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Live Speech Config (complete)').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $(\"CODE - Pick Parse Result\").first().json._session_patch_body }}",
        "options": {}
      },
      "id": "ls-patch",
      "name": "HTTP - SB PATCH session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  session_id: $json.session_id,\n  candidate_email: $json.candidate_email,\n  system_instruction: $json.system_instruction,\n  kickoff_prompt: $json.kickoff_prompt,\n  gemini_live_model: $json.gemini_live_model,\n  live_relay_url: $json.live_relay_url,\n  live_complete_webhook: $json.live_complete_webhook,\n  portal_base_url: $json.portal_base_url,\n  live_save_url: $json.live_save_url,\n  supabase_url: $json.supabase_url,\n  supabase_key: $json.supabase_key,\n  max_questions: $json.max_questions,\n  speech_phases: $json.speech_phases,\n  speech_answer_seconds: $json.speech_answer_seconds,\n  current_phase: $json.current_phase,\n  requisition_title: $json.requisition_title,\n  assessment_mode: \"live_speech\",\n  config: $json.config\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ls-respond-start",
      "name": "Respond - Live Speech Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $(\"CODE - Pick Parse Result\").first().json.score,\n  feedback: $(\"CODE - Pick Parse Result\").first().json.feedback,\n  isFinal: $(\"CODE - Pick Parse Result\").first().json.isFinal,\n  result: $(\"CODE - Pick Parse Result\").first().json.result || \"\",\n  assessment_mode: \"live_speech\",\n  speech_phases: $(\"CODE - Pick Parse Result\").first().json.speech_phases || 5\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ls-respond-complete",
      "name": "Respond - Live Speech Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $(\"CODE - Pick Parse Result\").first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ls-if-finished",
      "name": "IF - Assessment finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $(\"CODE - Pick Parse Result\").first().json.result }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ls-if-pass",
      "name": "IF - Result PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        680
      ]
    },
    {
      "parameters": {
        "content": "## PASS branch\nWire **IF - Result PASS? (true)** → `CODE - Prep scheduling from PASS` → interviewer mail.\nCandidate slot mail runs later via **POST /webhook/talent/scheduling-slots** — not here.",
        "height": 160,
        "width": 420
      },
      "id": "ls-note-pass",
      "name": "NOTE - PASS scheduling",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Prep scheduling from PASS\n// After IF PASS — loads session row for scheduling chain (interviewer mail first)\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction parseJson(raw, fallback) {\n  if (raw == null) return fallback;\n  if (typeof raw === 'object') return raw;\n  try {\n    return JSON.parse(raw);\n  } catch (_) {\n    return fallback;\n  }\n}\n\nfunction pickSessionRow() {\n  const built =\n    pickNodeJson(\n      'CODE - Build Live Speech Relay Context',\n      'CODE - Build Speech LLM context',\n      'CODE - Build Speech LLM context1',\n      'CODE - Build LLM context',\n      'CODE - Build LLM context1'\n    ) || {};\n  if (built.session?.id) return built.session;\n\n  const fetchRaw = pickNodeJson(\n    'HTTP - Fetch Session Complete',\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1'\n  );\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n  if (row?.id) return row;\n\n  return {};\n}\n\nconst parse =\n  pickNodeJson(\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Speech Result1',\n    'CODE - Parse Technical Result',\n    'CODE - Parse Technical Result1'\n  ) || $input.first().json || {};\nconst session = pickSessionRow();\nconst sessionCfg = parseJson(session.config, {});\nconst parseCfg = parseJson(parse.config, parse.config || {});\nconst cfg = { ...sessionCfg, ...parseCfg };\n\nconst interviewerEmail = String(\n  sessionCfg.interviewer_email ||\n    parseCfg.interviewer_email ||\n    parse.interviewer_email ||\n    cfg.interviewer_email ||\n    ''\n).trim();\n\nreturn [\n  {\n    json: {\n      ...parse,\n      ...session,\n      session_id: session.id || parse.session_id,\n      candidate_email: parse.candidate_email || session.candidate_email,\n      score: parse.score ?? session.score,\n      result: parse.result || session.result,\n      requisition_title:\n        cfg.requisition_title || session.requisition_title || parse.requisition_title,\n      interviewer_email: interviewerEmail,\n      config: { ...cfg, interviewer_email: interviewerEmail },\n      gmail_thread_id: session.gmail_thread_id,\n      gmail_message_id: session.gmail_message_id,\n      mail_subject: session.mail_subject,\n      interviewer_gmail_thread_id: session.interviewer_gmail_thread_id,\n      interviewer_gmail_message_id: session.interviewer_gmail_message_id,\n    },\n  },\n];\n"
      },
      "id": "ls-prep-sched",
      "name": "CODE - Prep scheduling from PASS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer mail context\n// Place BEFORE: MAIL - Interviewer pitch mail\n// Frontend scheduling: email link uses ?session=UUID (no n8n WAIT / resumeUrl)\n//\n// MAIL node settings:\n//   To:      {{ $json.interviewer_email }}\n//   Subject: {{ $json.mail_subject }}\n//   Message: {{ $json.mail_body_html }}  (HTML — no expression injection needed)\n\nfunction extractConfig(row) {\n  const out = {};\n  if (!row || typeof row !== 'object') return out;\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\n  for (const [k, v] of Object.entries(row)) {\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\n      out[k.slice(7)] = String(v).trim();\n    }\n  }\n  return out;\n}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction mergeConfig(...sources) {\n  const out = {};\n  for (const src of sources) {\n    if (!src || typeof src !== 'object') continue;\n    Object.assign(out, extractConfig(src));\n    if (src.config && typeof src.config === 'object') {\n      for (const [k, v] of Object.entries(src.config)) {\n        if (v != null && String(v).trim()) out[k] = String(v).trim();\n      }\n    }\n    for (const [k, v] of Object.entries(src)) {\n      if (k.startsWith('config.') && v != null && String(v).trim()) {\n        out[k.slice(7)] = String(v).trim();\n      }\n    }\n  }\n  return out;\n}\n\nfunction loadWorkflowConfig() {\n  const names = [\n    'CFG - Workflow configuration',\n    'CFG - Workflow configuration1',\n    'CFG - Workflow',\n    'CFG - Assessment Config',\n    'CFG - Assessment Config1',\n    'CFG - Live Speech Config (complete)',\n    'CFG - Live Speech Config (start)',\n    'CFG - Reply track (merge)',\n    'CODE - Normalize Data',\n    'CODE - Normalize Data1',\n    'CODE - Normalize Live Speech Complete',\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n  ];\n  const rows = names.map((n) => pickNodeJson(n)).filter(Boolean);\n  return mergeConfig(...rows);\n}\n\nfunction pickAssessmentContext() {\n  const input = $input.first().json || {};\n  const names = [\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CODE - Normalize Data',\n    'CODE - Normalize Data1',\n    'CODE - Normalize Live Speech Complete',\n    'HTTP - Fetch Session Complete',\n    'HTTP - SB PATCH session interview_history',\n    'HTTP - SB PATCH session interview_history1',\n    'CODE - Update interview_history',\n  ];\n  const rows = [input, ...names.map((n) => pickNodeJson(n)).filter(Boolean)];\n  let merged = {};\n  for (const row of rows) {\n    merged = { ...merged, ...row };\n    if (row.config && typeof row.config === 'object') {\n      merged = { ...merged, ...row.config };\n    }\n  }\n  return merged;\n}\n\nfunction nameFromEmail(email) {\n  const e = String(email || '').trim().toLowerCase();\n  if (!e) return 'Candidate';\n  const local = e.split('@')[0] || e;\n  return local\n    .replace(/[._-]+/g, ' ')\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\n    .trim() || e;\n}\n\nconst base = $input.first().json || {};\nconst ctx = pickAssessmentContext();\nconst cfg = {\n  ...loadWorkflowConfig(),\n  ...mergeConfig(base, ctx),\n};\n\nconst portalBase = String(\n  base.interviewer_portal_base ||\n    cfg.interviewer_portal_base ||\n    cfg.portal_base_url ||\n    'https://talent-acquisition-six.vercel.app'\n).replace(/\\/interviewer\\.html.*$/i, '').replace(/\\/+$/, '');\n\nconst interviewerPortal = portalBase + '/interviewer.html';\n\nconst candidateEmail = String(\n  base.candidate_email || ctx.candidate_email || cfg.candidate_email || ''\n).trim();\n\nconst candidateName = String(\n  base.candidate_name || ctx.candidate_name || nameFromEmail(candidateEmail)\n).trim();\n\nconst sessionId = String(\n  base.session_id || ctx.session_id || ctx.session_db_id || ctx.id || ''\n).trim();\n\nconst scoreRaw = base.score ?? ctx.score ?? ctx.average_score ?? ctx.phase_score;\nconst score = scoreRaw != null && scoreRaw !== '' ? scoreRaw : '—';\n\nconst role = String(\n  base.requisition_title ||\n    ctx.requisition_title ||\n    cfg.requisition_title ||\n    'Open role'\n).trim();\n\nconst interviewerEmail = String(\n  base.interviewer_email ||\n    ctx.interviewer_email ||\n    cfg.interviewer_email ||\n    base.config?.interviewer_email ||\n    ctx.config?.interviewer_email ||\n    ''\n).trim();\n\nif (!candidateEmail) {\n  throw new Error(\n    'candidate_email missing — check CODE - Parse Result / CODE - Prep scheduling from PASS output.'\n  );\n}\n\nif (!interviewerEmail) {\n  throw new Error(\n    'interviewer_email missing — set on the job (apply/admin) so it is stored in session.config.interviewer_email.'\n  );\n}\n\nif (interviewerEmail.toLowerCase() === candidateEmail.toLowerCase()) {\n  throw new Error(\n    'interviewer_email equals candidate_email — update the job interviewer in admin panel and session.config (old test value may be cached on this session row).'\n  );\n}\n\nif (!sessionId) {\n  throw new Error('session_id missing — required for frontend scheduling link.');\n}\n\nconst schedulingLink =\n  interviewerPortal + '?session=' + encodeURIComponent(sessionId);\n\n// Do not reuse session.mail_subject — that is the candidate thread subject (CV shortlist).\nconst mailSubject = `Schedule interview — ${candidateName} (${role})`;\n\nconst mailBody =\n  `Hello,\\n\\n` +\n  `Candidate: ${candidateName}\\n` +\n  `Email: ${candidateEmail}\\n` +\n  `Role: ${role}\\n` +\n  `Assessment score: ${score}/100 (PASSED)\\n\\n` +\n  `Please propose interview date/time options (45–60 minutes):\\n` +\n  `${schedulingLink}\\n\\n` +\n  `Session ID: ${sessionId}\\n\\n` +\n  `Thank you.`;\n\nconst esc = (s) =>\n  String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n\nconst mailBodyHtml =\n  `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\n          <p>Hello,</p>\n          <p><strong>${esc(candidateName)}</strong> passed the technical assessment for <strong>${esc(role)}</strong>.</p>\n          <table style=\"width:100%;margin:16px 0;font-size:14px;color:#475569;\">\n            <tr><td style=\"padding:4px 0;\">Email</td><td style=\"padding:4px 0;\"><strong>${esc(candidateEmail)}</strong></td></tr>\n            <tr><td style=\"padding:4px 0;\">Score</td><td style=\"padding:4px 0;\"><strong>${esc(score)}/100</strong></td></tr>\n            <tr><td style=\"padding:4px 0;\">Session</td><td style=\"padding:4px 0;\"><strong>${esc(sessionId)}</strong></td></tr>\n          </table>\n          <p>Please propose interview slots (45–60 minutes):</p>\n          <p style=\"text-align:center;margin:28px 0;\">\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Propose interview slots</a>\n          </p>\n          <p>Thank you.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nconst sb = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\nconst nowIso = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      ...base,\n      ...ctx,\n      config: cfg,\n      candidate_email: candidateEmail,\n      candidate_name: candidateName,\n      requisition_title: role,\n      session_id: sessionId,\n      score,\n      interviewer_portal_base: interviewerPortal,\n      scheduling_link: schedulingLink,\n      interviewer_email: interviewerEmail,\n      mail_subject: mailSubject,\n      mail_body: mailBody,\n      mail_body_html: mailBodyHtml,\n      _scheduling_patch_url: sessionId\n        ? `${sb}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\n        : '',\n      _scheduling_patch_body: {\n        scheduling_status: 'pending_interviewer',\n        scheduling_updated_at: nowIso,\n        updated_at: nowIso,\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-interviewer-ctx",
      "name": "CODE - Build interviewer mail context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        680
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.interviewer_email }}",
        "subject": "={{ $json.mail_subject }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "ls-interviewer-mail",
      "name": "MAIL - Interviewer pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        680
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickContext() {\n  const names = [\n    'CODE - Build interviewer mail context',\n    'CODE - Build interviewer mail context1',\n    'CODE - Prep scheduling from PASS',\n    'CODE - Prep scheduling from PASS1',\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Result',\n    'CODE - Parse Result1',\n    'CFG - Live Speech Config (complete)',\n    'CFG - Assessment Config',\n    'CFG - Assessment Config1',\n    'HTTP - Fetch Session Complete',\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1',\n  ];\n  let merged = { ...($input.first().json || {}) };\n  for (const name of names) {\n    try {\n      const row = $(name).first().json;\n      if (row && typeof row === 'object') {\n        merged = { ...merged, ...row };\n        if (row.config && typeof row.config === 'object') {\n          merged.config = { ...(merged.config || {}), ...row.config };\n        }\n      }\n    } catch (_) {}\n  }\n  return merged;\n}\n\nfunction resolveGmailPayload(input, ...mailNodeNames) {\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\n    return input;\n  }\n  for (const name of mailNodeNames) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\n    } catch (_) {}\n  }\n  return input || {};\n}\n\nconst gmail = resolveGmailPayload(\n  $input.first().json,\n  'MAIL - Interviewer pitch mail',\n  'MAIL - Interviewer pitch mail1',\n  'MAIL - Notify interviewer',\n  'MAIL - Notify interviewer1'\n);\nconst ctx = pickContext();\nconst built = pickNodeJson(\n  'CODE - Build interviewer mail context',\n  'CODE - Build interviewer mail context1'\n);\nconst cfg = { ...(ctx.config || {}), ...(built?.config || {}) };\n\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\nconst sessionId = String(\n  ctx.session_id || ctx.session_db_id || ctx.id || built?.session_id || ''\n).trim();\nconst mailSubject = String(\n  built?.mail_subject || ctx.interviewer_mail_subject || ''\n).trim();\n\nconst patchReady = Boolean(sessionId && threadId && msgId);\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\n\nif (!patchReady) {\n  throw new Error(\n    [\n      'interviewer gmail PATCH not ready',\n      !sessionId ? 'missing session_id' : null,\n      !threadId ? 'missing gmail threadId from MAIL output' : null,\n      !msgId ? 'missing gmail message id from MAIL output' : null,\n    ]\n      .filter(Boolean)\n      .join('; ')\n  );\n}\n\nif (!b || !/^https?:\\/\\//i.test(b)) {\n  throw new Error('supabase_url missing in config — set in CFG node.');\n}\n\nreturn [\n  {\n    json: {\n      ...ctx,\n      session_id: sessionId,\n      interviewer_gmail_thread_id: threadId,\n      interviewer_gmail_message_id: msgId,\n      interviewer_mail_subject: mailSubject || null,\n      _interviewer_patch_skipped: false,\n      _interviewer_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\n      _interviewer_patch_body: {\n        interviewer_gmail_thread_id: threadId,\n        interviewer_gmail_message_id: msgId,\n        interviewer_mail_subject: mailSubject || undefined,\n        updated_at: new Date().toISOString(),\n      },\n    },\n  },\n];\n"
      },
      "id": "ls-interviewer-merge",
      "name": "CODE - Merge Gmail interviewer send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        680
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json._supabase_key || $json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._supabase_key || $json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "ls-interviewer-patch",
      "name": "HTTP - PATCH interviewer thread (pitch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._scheduling_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json._supabase_key || $json.config.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._supabase_key || $json.config.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._scheduling_patch_body }}",
        "options": {}
      },
      "id": "ls-scheduling-patch",
      "name": "HTTP - PATCH scheduling pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        820
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build assessment result mail (PASS/FAIL — thread reply)\n// Place AFTER: IF - Assessment finished? (true branch)\n// Place BEFORE: MAIL - Reply candidate (assessment result)\n//\n// Gmail node settings:\n//   Resource:   thread\n//   Operation:  reply\n//   Thread ID:  {{ $json.gmail_thread_id }}\n//   Message ID: {{ $json.gmail_message_id }}\n//   Email Type: HTML\n//   Message:    {{ $json.mail_body_html }}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickSessionRow() {\n  const built =\n    pickNodeJson(\n      'CODE - Build Live Speech Relay Context',\n      'CODE - Build Speech LLM context',\n      'CODE - Build Speech LLM context1',\n      'CODE - Build LLM context',\n      'CODE - Build LLM context1'\n    ) || {};\n  if (built.session?.id) return built.session;\n\n  const fetchRaw = pickNodeJson(\n    'HTTP - Fetch Session',\n    'HTTP - Fetch Session1',\n    'HTTP - SB PATCH session interview_history',\n    'HTTP - SB PATCH session interview_history1'\n  );\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n  if (row?.id) return row;\n\n  return {};\n}\n\nconst parse =\n  pickNodeJson(\n    'CODE - Pick Parse Result',\n    'CODE - Pick Parse Result1',\n    'CODE - Parse Live Speech Result',\n    'CODE - Parse Speech Result',\n    'CODE - Parse Speech Result1',\n    'CODE - Parse Technical Result',\n    'CODE - Parse Technical Result1'\n  ) || $input.first().json || {};\n\nconst session = pickSessionRow();\nconst cfg = parse.config || session.config || {};\n\nconst threadId = String(\n  parse.gmail_thread_id || session.gmail_thread_id || ''\n).trim();\nconst msgId = String(\n  parse.gmail_message_id || session.gmail_message_id || ''\n).trim();\n\nif (!threadId || threadId.startsWith('draft-')) {\n  const sid = parse.session_id || session.id || 'unknown';\n  throw new Error(\n    'gmail_thread_id missing on session ' +\n      sid +\n      ' — CV screening shortlist mail must PATCH gmail_thread_id to assessment_sessions. ' +\n      'Check Supabase row, run supabase_gmail_thread_columns.sql, and verify CV Screening workflow: ' +\n      'MAIL - Email outreach agent (shortlist) → HTTP - SB PATCH session gmail thread.'\n  );\n}\nif (!msgId) {\n  throw new Error(\n    'gmail_message_id missing on session — re-run shortlist flow or set from first mail.'\n  );\n}\n\nconst result = String(parse.result || 'FAIL').toUpperCase();\nconst passed = result === 'PASS';\nconst score = parse.score ?? parse.average_score ?? '—';\nconst role = String(cfg.requisition_title || 'the role');\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\nconst feedback = String(parse.feedback || '').trim();\nconst sessionId = String(parse.session_id || session.id || '');\n\n// PASS: do not email the candidate here — interviewer pitch runs first; candidate gets\n// slot options only after POST /webhook/talent/scheduling-slots (Build candidate slot mail).\nif (passed) {\n  return [\n    {\n      json: {\n        ...parse,\n        session_id: sessionId,\n        skip_candidate_result_mail: true,\n        mail_stage: 'pass_deferred_to_scheduling',\n        result,\n        candidate_email: parse.candidate_email || session.candidate_email,\n        config: cfg,\n      },\n    },\n  ];\n}\n\nconst sectionTitle = 'Assessment Result';\nconst headline = `Thank you for completing the assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`;\n\nconst nextStep =\n  '<p>Unfortunately you did not meet the pass threshold for this role at this time.</p>';\n\nconst mailBodyHtml = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\n    <tr><td align=\"center\">\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── ${sectionTitle} ──</p>\n          <p>Hi,</p>\n          <p>${headline}</p>\n          <p><strong>Overall score:</strong> ${score}/100 &nbsp;|&nbsp; <strong>Result:</strong> ${result}</p>\n          ${feedback ? `<p style=\"color:#475569;font-size:14px;\">${feedback.replace(/</g, '&lt;')}</p>` : ''}\n          ${nextStep}\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body></html>`;\n\nreturn [\n  {\n    json: {\n      ...parse,\n      session_id: sessionId,\n      gmail_thread_id: threadId,\n      gmail_message_id: msgId,\n      mail_subject: session.mail_subject || parse.mail_subject || '',\n      mail_body_html: mailBodyHtml,\n      mail_stage: 'fail',\n      candidate_email: parse.candidate_email || session.candidate_email,\n      config: cfg,\n    },\n  },\n];\n"
      },
      "id": "ls-mail-build",
      "name": "CODE - Build assessment result mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        880
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "ls-mail-reply",
      "name": "MAIL - Reply candidate (assessment result)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        880
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "TRG - Live Speech Start": {
      "main": [
        [
          {
            "node": "CFG - Live Speech Config (start)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRG - Live Speech Complete": {
      "main": [
        [
          {
            "node": "CFG - Live Speech Config (complete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Live Speech Config (start)": {
      "main": [
        [
          {
            "node": "CODE - Normalize Live Speech Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Live Speech Config (complete)": {
      "main": [
        [
          {
            "node": "CODE - Normalize Live Speech Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Live Speech Start": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Live Speech Complete": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session Start": {
      "main": [
        [
          {
            "node": "CODE - Build Live Speech Relay Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session Complete": {
      "main": [
        [
          {
            "node": "CODE - Parse Live Speech Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build Live Speech Relay Context": {
      "main": [
        [
          {
            "node": "Respond - Live Speech Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Live Speech Result": {
      "main": [
        [
          {
            "node": "CODE - Pick Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Pick Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session": {
      "main": [
        [
          {
            "node": "Respond - Live Speech Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Assessment finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Assessment finished?": {
      "main": [
        [
          {
            "node": "IF - Result PASS?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Result PASS?": {
      "main": [
        [
          {
            "node": "CODE - Prep scheduling from PASS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE - Build assessment result mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Prep scheduling from PASS": {
      "main": [
        [
          {
            "node": "CODE - Build interviewer mail context",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - PATCH scheduling pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer mail context": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Interviewer pitch mail": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail interviewer send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer send": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (pitch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build assessment result mail": {
      "main": [
        [
          {
            "node": "MAIL - Reply candidate (assessment result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}