Talent Acquisition — Assessment + Scheduling (Threaded Mail).json
{
  "name": "Talent Acquisition — Assessment + Scheduling (Threaded Mail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eb3dedc4-9901-4f6b-a387-95abc039f554",
      "name": "TRG - Assessment Answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1888
      ],
      "webhookId": "assessment-submit-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "supabase_url",
              "value": "=https://vnxstyadacgntnsvcvzn.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "gemini_model",
              "value": "gemini-2.0-flash",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "max_questions",
              "value": "5",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "interviewer_email",
              "value": "hussainalijaved712@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "organization_name",
              "value": "Convo Pvt Ltd",
              "type": "string"
            },
            {
              "id": "a_groq",
              "name": "groq_model",
              "value": "llama-3.3-70b-versatile",
              "type": "string"
            },
            {
              "id": "a_fail",
              "name": "fail_score_threshold",
              "value": 30,
              "type": "number"
            },
            {
              "id": "a_pass",
              "name": "pass_score_threshold",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmin",
              "name": "timer_min_seconds",
              "value": 60,
              "type": "number"
            },
            {
              "id": "a_tmax",
              "name": "timer_max_seconds",
              "value": 600,
              "type": "number"
            },
            {
              "id": "a_tbl",
              "name": "table_assessment_sessions",
              "value": "assessment_sessions",
              "type": "string"
            },
            {
              "id": "cfg-cal",
              "name": "calendar_id",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "cfg-n8n",
              "name": "n8n_public_url",
              "value": "https://randy-gaunt-bradley.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "cfg-portal",
              "name": "portal_base_url",
              "value": "https://talent-acquisition-six.vercel.app",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "28b3abd4-ec36-401e-999e-9bda43703cf1",
      "name": "CFG - Assessment Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || {};\nconst query = item.query || {};\n\nconst cleanEmail = (raw) => {\n  const first = String(raw || '').trim().toLowerCase().split(/\\n/)[0].trim();\n  return first.split(/\\s+regards/i)[0].trim();\n};\n\nconst session_id = String(body.sessionId || body.session_id || query.sessionId || query.session_id || '').trim();\nconst candidate_email = cleanEmail(body.email || body.candidate_email || query.email || query.candidate_email);\nconst answer = String(body.answer || query.answer || '').trim();\nconst current_phase = parseInt(body.phase || body.current_phase || query.phase || '1', 10);\nconst tab_switches = parseInt(body.tabSwitches ?? body.tab_switches ?? '0', 10);\n\nconst nested = item.config || {};\nconst config = {\n  supabase_url: nested.supabase_url || item.supabase_url || '',\n  supabase_key: nested.supabase_key || item.supabase_key || '',\n  gemini_model: nested.gemini_model || nested.groq_model || item.gemini_model || item.groq_model || '',\n  groq_model: nested.groq_model || item.groq_model || '',\n  max_questions: Number(nested.max_questions ?? item.max_questions ?? 5),\n  interviewer_email: nested.interviewer_email || item.interviewer_email || '',\n  organization_name: nested.organization_name || item.organization_name || '',\n  requisition_title: nested.requisition_title || '',\n  requisition_requirements: nested.requisition_requirements || '',\n  table_assessment_sessions: nested.table_assessment_sessions || 'assessment_sessions',\n};\n\nreturn [{ json: { session_id, candidate_email, answer, current_phase, tab_switches, config } }];"
      },
      "id": "30387dab-c995-41e2-a660-c583967a5891",
      "name": "CODE - Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1888
      ]
    },
    {
      "parameters": {
        "url": "={{ $('CFG - Assessment Config').first().json.supabase_url.replace(/\\/$/, '') }}/rest/v1/assessment_sessions?id=eq.{{ $('CODE - Normalize Data').first().json.session_id }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46fd8d18-eae1-4fd3-9bd4-7781420f0bb4",
      "name": "HTTP - Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build LLM context (assessment phases 1–5)\n// WORKFLOW: Assessment Answer workflow ONLY (NOT Live Speech)\n// NODE: CODE - Build LLM context (before Basic LLM Chain)\n// Requires upstream: CODE - Normalize Data\n// Source file: n8n_code_build_llm_context.js — never paste parse_live_speech_result.js here.\n\nlet norm;\ntry {\n  norm = $('CODE - Normalize Data').first().json;\n} catch (_) {\n  throw new Error(\n    'Wrong code in this node. Paste n8n_code_build_llm_context.js into \"CODE - Build LLM context\". ' +\n    'If you see \"Normalize Live Speech Complete\" errors, you accidentally pasted n8n_code_parse_live_speech_result.js.'\n  );\n}\nconst raw = $input.first().json;\nconst session = Array.isArray(raw) ? raw[0] : raw;\nif (!session?.id) {\n  throw new Error('No assessment session row for id=' + norm.session_id);\n}\n\nlet history = session.interview_history;\nif (typeof history === 'string') {\n  try {\n    history = JSON.parse(history);\n  } catch (e) {\n    history = [];\n  }\n}\nif (!Array.isArray(history)) history = [];\n\nlet sessionConfig = session.config;\nif (typeof sessionConfig === 'string') {\n  try {\n    sessionConfig = JSON.parse(sessionConfig);\n  } catch (e) {\n    sessionConfig = {};\n  }\n}\nif (!sessionConfig || typeof sessionConfig !== 'object') sessionConfig = {};\n\nconst cfg = {\n  ...norm.config,\n  ...sessionConfig,\n  requisition_title:\n    sessionConfig.requisition_title || norm.config?.requisition_title || '',\n  requisition_requirements:\n    sessionConfig.requisition_requirements || norm.config?.requisition_requirements || '',\n  groq_model:\n    sessionConfig.groq_model || norm.config?.groq_model || 'llama-3.3-70b-versatile',\n  max_questions: Number(sessionConfig.max_questions || norm.config?.max_questions || 5),\n  fail_score_threshold: Number(\n    sessionConfig.fail_score_threshold ?? norm.config?.fail_score_threshold ?? 30\n  ),\n  pass_score_threshold: Number(\n    sessionConfig.pass_score_threshold ?? norm.config?.pass_score_threshold ?? 60\n  ),\n  timer_min_seconds: Number(sessionConfig.timer_min_seconds ?? norm.config?.timer_min_seconds ?? 60),\n  timer_max_seconds: Number(sessionConfig.timer_max_seconds ?? norm.config?.timer_max_seconds ?? 600),\n  speech_enabled:\n    sessionConfig.speech_enabled === true ||\n    sessionConfig.speech_enabled === 'true' ||\n    norm.config?.speech_enabled === true ||\n    Number(sessionConfig.speech_phases ?? norm.config?.speech_phases ?? 0) > 0,\n  speech_phases: Number(sessionConfig.speech_phases ?? norm.config?.speech_phases ?? 5),\n};\n\nconst ph = Number(norm.current_phase || 1);\nconst maxQ = Number(cfg.max_questions || 5);\nconst isFinal = ph >= maxQ;\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\n\nconst jdTitle = String(cfg.requisition_title || '').trim();\nconst jdReq = String(cfg.requisition_requirements || '').trim();\nif (!jdTitle || !jdReq) {\n  throw new Error(\n    'JD missing on assessment session. Complete CV screening with recruiter form JD first (session.config.requisition_title / requisition_requirements).'\n  );\n}\n\nfunction extractJdThemes(text) {\n  const lines = String(text)\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\n    .filter((s) => s.length >= 12);\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 500)];\n}\n\nfunction inferExperienceTier(cvText) {\n  const cv = String(cvText || '');\n  const yearMatches = [...cv.matchAll(/(\\d+)\\+?\\s*(?:years?|yrs?)(?:\\s+of)?\\s*(?:experience|exp)?/gi)];\n  let maxYears = 0;\n  for (const m of yearMatches) {\n    const n = Number(m[1]);\n    if (Number.isFinite(n) && n > maxYears) maxYears = n;\n  }\n  if (/\\b(senior|lead|principal|architect|staff|head of|engineering manager)\\b/i.test(cv) || maxYears >= 6) {\n    return 'senior';\n  }\n  if (/\\b(junior|intern|trainee|graduate|entry[- ]?level|fresher|bootcamp)\\b/i.test(cv) || maxYears <= 2) {\n    return 'junior';\n  }\n  return 'mid';\n}\n\nfunction stackHints(jdReq) {\n  const jd = String(jdReq || '').toLowerCase();\n  if (/\\.net|asp\\.net|c#|ef core|entity framework|linq/i.test(jd)) {\n    return 'ASP.NET Core, REST, JWT/OAuth, EF Core, LINQ, middleware, DI';\n  }\n  if (/node|javascript|typescript|react/i.test(jd)) {\n    return 'Node/JS APIs, REST, JWT, async I/O, HTTP';\n  }\n  if (/python|django|flask|fastapi/i.test(jd)) {\n    return 'Python web APIs, REST, auth, ORM, HTTP';\n  }\n  return 'REST APIs, HTTP, auth, databases, backend fundamentals';\n}\n\nfunction phaseBlueprint(phaseNum, tier, jdReq) {\n  const stack = stackHints(jdReq);\n  const depth =\n    tier === 'senior' ? 'advanced trade-offs and edge cases' : tier === 'junior' ? 'clear fundamentals' : 'solid mid-level reasoning';\n  const lanes = {\n    2: `Comparative concept from ${stack} — \"what is the difference between X and Y?\" or \"when would you choose X over Y?\" (${depth}).`,\n    3: `Why / how-it-works — explain the reasoning behind a core idea in ${stack} (e.g. stateless REST, token auth, ORM behavior) (${depth}).`,\n    4: `Failure or symptom reasoning — given a realistic symptom, explain likely causes and your diagnostic thinking — no code, no architecture design (${depth}).`,\n    5: `Judgment — one conceptual scenario requiring a reasoned choice between options with justification; tie to ${stack} (${depth}).`,\n  };\n  return lanes[phaseNum] || `Follow-up conceptual probe on ${stack} aligned to prior answers (${depth}).`;\n}\n\nconst cvText = String(session.cv_plaintext || '').slice(0, 8000);\nconst experienceTier = inferExperienceTier(cvText);\nconst jdThemes = extractJdThemes(jdReq).join('\\n- ');\nconst historyText = history\n  .map(\n    (h) =>\n      `Phase ${h.phase} Q: ${h.question_text || h.question || ''} | A: ${h.answer_text ?? 'pending'} | Score: ${h.score ?? 'N/A'}`\n  )\n  .join('\\n');\n\nconst themesAsked = history\n  .filter((h) => h.question_text || h.question)\n  .map((h) => `Phase ${h.phase}: ${String(h.question_text || h.question).slice(0, 140)}`)\n  .join('\\n');\n\nconst currentQuestionRow = history.find((h) => Number(h.phase) === ph);\nconst currentQuestionText = String(\n  currentQuestionRow?.question_text || currentQuestionRow?.question || ''\n).trim();\n\nconst prevPhaseRow = history.find((h) => Number(h.phase) === ph - 1);\nconst prevTimeLimit = prevPhaseRow?.time_limit_seconds ?? null;\n\nconst nextPhaseNum = ph + 1;\n\nconst questionRules = `ASSESSMENT QUESTION RULES (next_question and first_speech_question):\nWritten technical assessment — conceptual and logic-based only. Sound like a real interviewer.\n\nSilent personalization (CV + JD internal only):\n- Experience level: ${experienceTier}\n- Role stack: ${stackHints(jdReq)}\n- Pick topics in BOTH JD and CV; do not repeat themes already asked\n- Calibrate depth to prior answers\n\nPhase focus for next_question (phase ${nextPhaseNum}):\n- ${phaseBlueprint(nextPhaseNum, experienceTier, jdReq)}\n\nQuestion style (REQUIRED):\n- Comparative: \"What is the difference between X and Y?\"\n- Reasoning: \"Why do teams use X instead of Y?\" / \"What problem does X solve?\"\n- Conceptual scenarios: symptom → explain likely causes (reasoning only)\n- One clear question only — no multi-part lists\n- Answers may exist online — test understanding and explanation quality, not memorized CV stories\n\nGOOD examples:\n- \"What is the difference between JWT-based authentication and server-side session cookies, and when would you prefer each?\"\n- \"Why are REST APIs typically stateless, and what problems does that solve?\"\n- \"What is the difference between authentication and authorization?\"\n\nSTRICTLY FORBIDDEN — never ask:\n- Coding: write code, implement, algorithms, syntax, debug this snippet\n- Design exercises: design a system/architecture, microservices layout, scalability design\n- Implementation recipes: step-by-step how to build or configure something in code\n- Generic fluff: \"What is OOP?\", \"Explain REST in one sentence\" with no role context\n- CV quoting: \"on your CV\", company names, project titles, \"At [Company]…\"\n\nBAD: \"Design a rate-limited microservices architecture for our platform.\"\nBAD: \"Write a C# method to implement pagination.\"\nBAD: \"On your CV you used JWT at Acme — tell us about that.\"`;\n\nconst sharedRules = `\"\"\"You are an experienced technical interviewer for ${jdTitle}.\n\nYou have the job description, the candidate CV (for silent calibration only), and the full Q&A history below. Interview like a real hiring manager.\n\nEach phase (except the last):\n- Score the answer to the question asked this phase: 0-100\n- Give honest feedback and a concise suggested_answer\n- Write next_question: the single best follow-up for phase ${nextPhaseNum}\n\nFinal phase:\n- Score the answer, then decide PASS or FAIL for the technical round overall\n\nScoring guidance:\n- Do not repeat topics you already covered\n- Calibrate difficulty to experience level (${experienceTier}) and prior answers\n- Empty, timeout, or [SYSTEM TERMINATION] answers: score 0-15\n\n${questionRules}\n\nJob title: ${jdTitle}\nKey JD themes:\n- ${jdThemes || jdReq.slice(0, 500)}\n\nCandidate CV (silent calibration — never quote in questions):\n${cvText || '(none)'}\n\nPrior Q&A:\n${historyText || '(none yet)'}\n\nTopics already asked:\n${themesAsked || '(none yet)'}\n\nTab switches: ${norm.tab_switches || 0}`;\n\nconst speechEnabled =\n  cfg.speech_enabled === true ||\n  cfg.speech_enabled === 'true' ||\n  Number(cfg.speech_phases || 0) > 0;\n\nlet systemContent;\nif (isFinal) {\n  const speechHandoff = speechEnabled\n    ? `\n\nIf speech round is enabled (${cfg.speech_phases} voice questions after technical), also include first_speech_question — a natural spoken behavioral opener for the communication round. Apply the same FORBIDDEN rules (no CV/company names in the question text).`\n    : '';\n\n  const speechField = speechEnabled\n    ? ',\"first_speech_question\":string'\n    : '';\n\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ} (FINAL).\nQuestion asked this phase:\n${currentQuestionText || '(see prior Q&A)'}\n\nAnswer to grade:\n${norm.answer}\n${speechHandoff}\n\nTasks:\n1. Score the answer 0-100 using your judgment.\n2. Decide PASS or FAIL for the technical round.\n3. feedback + suggested_answer.\n\nOutput: {\"status\":\"finished\",\"result\":\"PASS\"|\"FAIL\",\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":\"\"${speechField}}`;\n} else {\n  systemContent = `${sharedRules}\n\nCurrent phase: ${ph} of ${maxQ}.\nQuestion asked this phase:\n${currentQuestionText || '(see prior Q&A)'}\n\nAnswer to grade:\n${norm.answer}\n${prevTimeLimit != null ? `Previous phase time_limit_seconds: ${prevTimeLimit}` : ''}\n\nTasks:\n1. Score the answer 0-100.\n2. feedback + suggested_answer.\n3. next_question for phase ${nextPhaseNum} — follow ASSESSMENT QUESTION RULES above.\n4. time_limit_seconds (90-600) + complexity_tier (A-D).\n\nOutput: {\"score\":number,\"feedback\":string,\"suggested_answer\":string,\"next_question\":string,\"time_limit_seconds\":number,\"complexity_tier\":\"A\"|\"B\"|\"C\"|\"D\"}`;\n}\n\nconst body = {\n  model: cfg.groq_model || 'llama-3.3-70b-versatile',\n  messages: [\n    { role: 'system', content: systemContent },\n    { role: 'user', content: 'Evaluate and respond with JSON only.' },\n  ],\n  temperature: isFinal ? 0.25 : 0.55,\n  response_format: { type: 'json_object' },\n};\n\nreturn [\n  {\n    json: {\n      groq_assessment_request: body,\n      prompt: systemContent,\n      session,\n      norm: { ...norm, config: cfg },\n      isFinal,\n      failThreshold,\n      current_question_text: currentQuestionText,\n    },\n  },\n];"
      },
      "id": "171da668-165b-43e4-a027-bdcfd32635a3",
      "name": "CODE - Build LLM context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": false
      },
      "id": "45b4b699-adc5-43ce-b5dd-b8cfe7283f15",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1376,
        1200
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_CLOUD_PROJECT }}"
        },
        "modelName": "gemini-2.0-flash-001",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b9639c11-fbc1-4378-af89-5dc1a3b4faf5",
      "name": "Google Vertex Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        1376,
        1400
      ],
      "credentials": {
        "googleApi": {
          "id": "GOOGLE_VERTEX_CREDENTIAL_ID",
          "name": "Google Vertex account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse Result (assessment scoring)\n// Paste into: CODE - Parse Result (after Groq/Gemini/Basic LLM Chain)\n// Replaces: CODE - Update interview_history if that is your node name\n\nfunction timerBounds(config) {\n  const min = Number(config?.timer_min_seconds);\n  const max = Number(config?.timer_max_seconds);\n  return {\n    min: Number.isFinite(min) && min > 0 ? min : 60,\n    max: Number.isFinite(max) && max > 0 ? max : 600,\n  };\n}\n\nfunction clampSeconds(sec, config) {\n  const { min, max } = timerBounds(config);\n  return Math.min(max, Math.max(min, Math.round(sec)));\n}\n\n// Seconds band per complexity tier\nfunction tierTimeRange(tier) {\n  switch (String(tier || '').toUpperCase()) {\n    case 'A':\n      return [60, 120];\n    case 'B':\n      return [150, 240];\n    case 'C':\n      return [270, 390];\n    case 'D':\n      return [420, 600];\n    default:\n      return null;\n  }\n}\n\n// Infer a tier when the model omits or returns a junk tier\nfunction inferTierFromQuestion(questionText) {\n  const q = String(questionText || '');\n  const words = q.trim().split(/\\s+/).filter(Boolean).length;\n  const subParts =\n    (q.match(/\\?/g) || []).length +\n    (q.match(/\\b(and|also|furthermore|additionally|then|as well as)\\b/gi) || []).length;\n  const heavy =\n    /\\b(architecture|design|schema|scalable|scalability|concurrency|distributed|trade-?off|optimi[sz]e|throughput|migration|pipeline|multi-?tenant|security|performance|caching|indexing)\\b/i.test(\n      q\n    );\n\n  if (words <= 28 && subParts <= 1 && !heavy) return 'A';\n  if (words >= 80 || (heavy && subParts >= 3)) return 'D';\n  if (words >= 50 || heavy) return 'C';\n  return 'B';\n}\n\n// Deterministic per-question time: tier sets the band, question length positions\n// within it, the model's value (if sane) is blended in. Different questions →\n// different times, longer/harder questions → more seconds.\nfunction deriveTimeLimitSeconds(rawLlmTime, tier, questionText, config, phase) {\n  const usableTier =\n    tierTimeRange(tier) ? tier : inferTierFromQuestion(questionText);\n  const [lo, hi] = tierTimeRange(usableTier) || [150, 240];\n\n  const words = String(questionText || '').trim().split(/\\s+/).filter(Boolean).length;\n  const span = Math.max(1, 90 - 20);\n  const t = Math.max(0, Math.min(1, (words - 20) / span));\n  let computed = lo + t * (hi - lo);\n\n  const llm = Number(rawLlmTime);\n  if (Number.isFinite(llm) && llm >= lo && llm <= hi) {\n    computed = (llm + computed) / 2;\n  }\n\n  let sec = Math.round(computed / 15) * 15;\n  sec = Math.max(lo, Math.min(hi, sec));\n  return { seconds: clampSeconds(sec, config), tier: usableTier };\n}\n\nfunction buildDeadline(isoStart, seconds) {\n  const start = isoStart ? new Date(isoStart) : new Date();\n  return new Date(start.getTime() + seconds * 1000).toISOString();\n}\n\nfunction extractLlmText(api) {\n  if (!api || typeof api !== 'object') return '';\n  if (typeof api.text === 'string' && api.text.trim()) return api.text.trim();\n  if (typeof api.output === 'string' && api.output.trim()) return api.output.trim();\n  if (typeof api.response === 'string' && api.response.trim()) return api.response.trim();\n  const c0 = api.choices?.[0];\n  if (c0?.message?.content) return String(c0.message.content).trim();\n  if (typeof c0?.text === 'string') return c0.text.trim();\n  const parts = api.candidates?.[0]?.content?.parts;\n  if (Array.isArray(parts) && parts[0]?.text) return String(parts[0].text).trim();\n  return '';\n}\n\nfunction salvageNextQuestionFromText(rawText) {\n  const text = String(rawText || '');\n  if (!text.trim()) return '';\n\n  const patterns = [\n    /\"next_question\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n    /\"nextQuestion\"\\s*:\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n    /next_question\\s*[:=]\\s*\"((?:\\\\.|[^\"\\\\])*)\"/i,\n  ];\n  for (const re of patterns) {\n    const m = text.match(re);\n    if (m?.[1]) {\n      return m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\').trim();\n    }\n  }\n  return '';\n}\n\nfunction parseLlmContent(api) {\n  if (\n    api &&\n    (api.score != null ||\n      api.feedback ||\n      api.next_question ||\n      api.nextQuestion ||\n      api.result ||\n      api.status === 'finished')\n  ) {\n    const nextQ = String(api.next_question || api.nextQuestion || api.question || '').trim();\n    if (!nextQ) {\n      const salvaged = salvageNextQuestionFromText(extractLlmText(api));\n      if (salvaged) {\n        return { ...api, next_question: salvaged, nextQuestion: salvaged };\n      }\n    }\n    return api;\n  }\n  const rawText = extractLlmText(api);\n  if (!rawText) {\n    return {\n      status: 'in_progress',\n      score: 0,\n      feedback: 'Empty model output.',\n      next_question: '',\n      nextQuestion: '',\n    };\n  }\n  try {\n    const cleaned = rawText.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n    const parsed = JSON.parse(cleaned);\n    const nextQ = String(parsed.next_question || parsed.nextQuestion || parsed.question || '').trim();\n    if (!nextQ) {\n      const salvaged = salvageNextQuestionFromText(rawText);\n      if (salvaged) {\n        parsed.next_question = salvaged;\n        parsed.nextQuestion = salvaged;\n      }\n    }\n    return parsed;\n  } catch (e) {\n    const salvaged = salvageNextQuestionFromText(rawText);\n    return {\n      status: 'in_progress',\n      score: 0,\n      feedback: salvaged ? 'Recovered question from partial model output.' : 'Could not parse model output.',\n      next_question: salvaged,\n      nextQuestion: salvaged,\n    };\n  }\n}\n\nfunction extractJdThemes(text) {\n  const lines = String(text)\n    .split(/\\r?\\n|(?<=[.;])\\s+/)\n    .flatMap((chunk) => chunk.split(/\\s*[•\\-*]\\s+/))\n    .map((s) => s.replace(/^[\\s\\d.)(]+/, '').trim())\n    .filter((s) => s.length >= 12);\n  return lines.length ? [...new Set(lines)].slice(0, 10) : [String(text).slice(0, 400)];\n}\n\nfunction extractCvAnchors(text) {\n  const cv = String(text || '');\n  const projects =\n    cv.match(/(?:project|built|developed|engineered|implemented|led)[^.]{10,120}/gi) || [];\n  const skills =\n    cv.match(\n      /\\b(React|Angular|Vue|Node\\.?js|Python|Django|Flask|SQL|PostgreSQL|MySQL|MongoDB|\\.NET|ASP\\.NET|C#|Java|Spring|AWS|Azure|GCP|Docker|Kubernetes|Redis|Kafka|REST|GraphQL|TypeScript|JavaScript|EF\\s*Core|LINQ|JWT|OAuth|microservices?|APIM|CI\\/CD|GitHub Actions)\\b/gi\n    ) || [];\n  return [\n    ...new Set([\n      ...projects.slice(0, 5).map((p) => p.trim().slice(0, 80)),\n      ...skills.slice(0, 6),\n    ]),\n  ].filter(Boolean);\n}\n\nfunction buildFallbackNextQuestion(ph, history, cfg, session) {\n  const nextPhase = ph + 1;\n  const jdReq = String(cfg.requisition_requirements || '').trim().toLowerCase();\n  const isDotNet = /\\.net|asp\\.net|c#|ef core|entity framework/i.test(jdReq);\n\n  const dotnetFundamentals = [\n    'Why are REST APIs typically stateless? What problems does statelessness solve?',\n    'What is dependency injection and why is it useful in ASP.NET Core applications?',\n    'What is the difference between IEnumerable and IQueryable in LINQ? When would you use each?',\n    'How does JWT-based authentication work at a high level?',\n    'What is the purpose of middleware in the ASP.NET Core request pipeline?',\n  ];\n  const dotnetApplied = [\n    'An API endpoint suddenly returns 500 errors under load — what are the most likely causes and how would you narrow them down?',\n    'What is the difference between optimistic and pessimistic concurrency, and when would you use each?',\n    'Why might you choose no-tracking queries in EF Core, and what trade-off are you accepting?',\n    'What does idempotency mean for HTTP APIs, and why does it matter for retries?',\n    'Cookie-based session auth vs JWT for an API — what are the main trade-offs?',\n  ];\n  const genericFundamentals = [\n    'What is the difference between SQL INNER JOIN and LEFT JOIN? When would you use each?',\n    'What is the difference between authentication and authorization?',\n    'Why are REST APIs typically stateless, and what problems does statelessness solve?',\n    'What is idempotency in HTTP APIs and why does it matter?',\n    'What is the difference between synchronous and asynchronous processing in a web service?',\n  ];\n  const genericApplied = [\n    'An API is slow only under peak traffic — what categories of causes would you consider first?',\n    'What is the difference between a 401 and a 403 response, and when should each be returned?',\n    'Caching can speed up APIs — what are common reasons a cache causes stale or wrong data?',\n    'What is the difference between PUT and PATCH, and when would you use each?',\n    'Token-based auth vs server-side sessions — what are the main trade-offs for a public API?',\n  ];\n\n  const fundamentals = isDotNet ? dotnetFundamentals : genericFundamentals;\n  const applied = isDotNet ? dotnetApplied : genericApplied;\n\n  const asked = (history || [])\n    .map((h) => String(h.question_text || '').toLowerCase())\n    .filter(Boolean);\n\n  const pool =\n    nextPhase <= 2\n      ? fundamentals\n      : nextPhase <= 4\n        ? applied\n        : [applied[applied.length - 1]];\n\n  for (const q of pool) {\n    const key = q.slice(0, 40).toLowerCase();\n    if (!asked.some((a) => a.includes(key.slice(0, 20)))) return q;\n  }\n  return pool[(nextPhase - 1) % pool.length] || pool[0];\n}\n\nfunction isIntegrityTermination(answerText) {\n  return /^\\[system\\s+termination/i.test(String(answerText || '').trim());\n}\n\nfunction isScorablePhaseRow(row) {\n  if (!row || row.answer_text == null || row.score == null) return false;\n  if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) return false;\n  const n = Number(row.score);\n  return Number.isFinite(n);\n}\n\nfunction buildPhaseSummary(rows) {\n  return rows\n    .filter((row) => row.answer_text != null)\n    .map((row) => {\n      if (row.integrity_terminated || isIntegrityTermination(row.answer_text)) {\n        return `P${row.phase}:integrity-fail`;\n      }\n      if (row.score != null) return `P${row.phase}:${row.score}`;\n      return null;\n    })\n    .filter(Boolean)\n    .join(', ');\n}\n\nfunction questionRelevanceCap(answerText, questionText) {\n  const question = String(questionText || '').trim();\n  if (!question || question.length < 20) return null;\n\n  const tokens = question\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .split(/\\s+/)\n    .filter((w) => w.length > 4);\n  const stop = new Set([\n    'would', 'could', 'should', 'their', 'there', 'which', 'about', 'describe',\n    'explain', 'candidate', 'please', 'specific', 'technical', 'question',\n    'implement', 'approach', 'system', 'using',\n  ]);\n  const keys = [...new Set(tokens.filter((w) => !stop.has(w)))].slice(0, 18);\n  if (keys.length < 3) return null;\n\n  const lower = String(answerText || '').toLowerCase();\n  const hits = keys.filter((k) => lower.includes(k)).length;\n  const ratio = hits / keys.length;\n\n  if (ratio < 0.06) return 12;\n  if (ratio < 0.12) return 22;\n  if (ratio < 0.2) return 32;\n  return null;\n}\n\n/** Clamp LLM scores — off-topic and garbage answers must not get free points */\nfunction normalizePhaseScore(answerText, llmScore, questionText) {\n  const answer = String(answerText || '').trim();\n  let score = Number(llmScore);\n  if (!Number.isFinite(score)) score = 0;\n\n  if (!answer) return 0;\n  if (isIntegrityTermination(answer)) return null;\n  if (/^\\[timeout/i.test(answer)) return 0;\n\n  const relevanceCap = questionRelevanceCap(answer, questionText);\n  if (relevanceCap != null) score = Math.min(score, relevanceCap);\n\n  const lower = answer.toLowerCase().replace(/\\s+/g, ' ').trim();\n  const compact = answer.replace(/\\s+/g, '');\n  const len = compact.length;\n\n  // Keyboard mash: mmmm, qqqqq, ooooo (same char repeated)\n  if (len >= 4) {\n    const chars = compact.toLowerCase().split('');\n    const freq = {};\n    for (const c of chars) freq[c] = (freq[c] || 0) + 1;\n    const top = Math.max(...Object.values(freq));\n    if (Object.keys(freq).length === 1 || top / chars.length >= 0.8) return 0;\n  }\n\n  // Trivial non-answers\n  if (/^(ok|okay|yes|no|n\\/a|na|idk|dunno|sure|fine|\\.+|-+)$/i.test(lower)) {\n    return Math.min(score, 3);\n  }\n  if (/^(ok\\s+ok|yes\\s+yes|no\\s+no)$/i.test(lower)) {\n    return Math.min(score, 3);\n  }\n\n  const techMarkers =\n    /\\b(api|sql|database|entity|framework|asp\\.net|\\.net|core|jwt|controller|service|schema|ef\\s*core|linq|rest|dto|validation|fluentvalidation|dependency|injection|tenant|auth|middleware|repository|campaign|promotion|bcrypt|rbac|sso|endpoint|migration|index|query|table|class|interface|async|await)\\b/i;\n\n  const wordCount = lower.split(/\\s+/).filter(Boolean).length;\n\n  // One-liner generic with no technical terms (e.g. phase 1 \"yes, system handles products...\")\n  if (wordCount <= 25 && !techMarkers.test(answer)) {\n    return Math.min(score, 15);\n  }\n\n  // Very short, no technical signal\n  if (len < 30 && !techMarkers.test(answer)) {\n    return Math.min(score, 8);\n  }\n\n  // Short answer without technical depth — cap generous LLM scores\n  if (len < 120 && !techMarkers.test(answer)) {\n    return Math.min(score, 18);\n  }\n\n  if (len < 200 && score > 40 && !techMarkers.test(answer)) {\n    return Math.min(score, 25);\n  }\n\n  return Math.max(0, Math.min(100, Math.round(score)));\n}\n\nfunction pickNodeJson(...names) {\n  for (const name of names) {\n    if (!name) continue;\n    try {\n      const raw = $(name).first().json;\n      if (raw && typeof raw === 'object') return raw;\n    } catch (_) {}\n  }\n  return null;\n}\n\nfunction pickBuildContext() {\n  const built =\n    pickNodeJson('CODE - Build LLM context', 'CODE - Build LLM context1') || {};\n\n  if (built.session?.id && built.norm) return built;\n\n  const norm =\n    pickNodeJson('CODE - Normalize Data', 'CODE - Normalize Data1') || {};\n  const fetchRaw = pickNodeJson('HTTP - Fetch Session', 'HTTP - Fetch Session1');\n  const session = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\n\n  if (session?.id) {\n    let history = session.interview_history;\n    if (typeof history === 'string') {\n      try {\n        history = JSON.parse(history);\n      } catch (_) {\n        history = [];\n      }\n    }\n    return {\n      session: { ...session, interview_history: history },\n      norm,\n    };\n  }\n\n  throw new Error(\n    'Session context missing. Wire CODE - Build LLM context before Parse Result, or rename node to match (no stray \"1\" suffix).'\n  );\n}\n\nfunction parseSessionConfig(raw) {\n  if (!raw) return {};\n  if (typeof raw === 'string') {\n    try {\n      return JSON.parse(raw);\n    } catch (_) {\n      return {};\n    }\n  }\n  return typeof raw === 'object' ? raw : {};\n}\n\nfunction resolveWorkflowConfig(current, session, built) {\n  const cfgNode =\n    pickNodeJson('CFG - Assessment Config', 'CFG - Assessment Config1') || {};\n  const normCfg = current?.config || {};\n  const sessionCfg = parseSessionConfig(session?.config);\n  const builtCfg = built?.norm?.config || {};\n\n  const supabase_url =\n    normCfg.supabase_url ||\n    sessionCfg.supabase_url ||\n    builtCfg.supabase_url ||\n    cfgNode.supabase_url ||\n    cfgNode.config?.supabase_url ||\n    '';\n\n  const supabase_key =\n    normCfg.supabase_key ||\n    sessionCfg.supabase_key ||\n    builtCfg.supabase_key ||\n    cfgNode.supabase_key ||\n    cfgNode.config?.supabase_key ||\n    '';\n\n  return {\n    ...cfgNode,\n    ...builtCfg,\n    ...sessionCfg,\n    ...normCfg,\n    supabase_url,\n    supabase_key,\n  };\n}\n\nconst llm = $input.first().json;\nconst built = pickBuildContext();\nconst session = built.session;\nconst current = built.norm;\nconst cfg = resolveWorkflowConfig(current, session, built);\nconst content = parseLlmContent(llm);\n\nlet history = session.interview_history;\nif (typeof history === 'string') {\n  try {\n    history = JSON.parse(history);\n  } catch (err) {\n    history = [];\n  }\n}\nif (!Array.isArray(history)) history = [];\n\nconst ph = Number(current.current_phase || 1);\nconst maxQ = Number(cfg.max_questions || 5);\nconst failThreshold = Number(cfg.fail_score_threshold ?? 30);\nconst passThreshold = Number(cfg.pass_score_threshold ?? 60);\nconst iso = new Date().toISOString();\n\nconst integrityTerminated = isIntegrityTermination(current.answer);\nconst rawLlmScore = Number(content.score ?? 0);\nlet normalizedScore = null;\nlet scoreAdjusted = false;\n\nconst questionForPhase = String(\n  history.find((x) => Number(x.phase) === ph)?.question_text ||\n    history.find((x) => Number(x.phase) === ph)?.question ||\n    built.current_question_text ||\n    ''\n).trim();\n\nif (integrityTerminated) {\n  normalizedScore = null;\n} else {\n  normalizedScore = normalizePhaseScore(current.answer, rawLlmScore, questionForPhase);\n  scoreAdjusted = normalizedScore !== Math.round(rawLlmScore);\n}\n\nlet idx = history.findIndex((x) => Number(x.phase) === ph);\nconst patch = {\n  answer_text: current.answer,\n  received_at: iso,\n  feedback: content.feedback || null,\n  suggested_answer: content.suggested_answer || content.suggestedAnswer || null,\n  score: normalizedScore,\n  integrity_terminated: integrityTerminated || undefined,\n};\nif (integrityTerminated) {\n  patch.feedback =\n    `Integrity violation on phase ${ph} — this phase is not scored. Prior completed phases keep their recorded scores.`;\n} else if (scoreAdjusted && normalizedScore < rawLlmScore) {\n  const relCap = questionRelevanceCap(current.answer, questionForPhase);\n  patch.feedback = [\n    patch.feedback,\n    relCap != null && relCap <= 32\n      ? `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer did not address the question asked.]`\n      : `[Score adjusted ${rawLlmScore}→${normalizedScore}: answer lacks required technical substance.]`,\n  ]\n    .filter(Boolean)\n    .join(' ');\n}\n\nif (idx >= 0) history[idx] = { ...history[idx], ...patch };\nelse history.push({ phase: ph, question_text: '', sent_at: iso, ...patch });\n\nconst getPhaseScore = (phase) => {\n  const row = history.find((x) => Number(x.phase) === phase);\n  if (!row || row.answer_text == null || row.score == null) return null;\n  const n = Number(row.score);\n  return Number.isFinite(n) ? n : null;\n};\n\nfunction computeAverageScore(rows, maxPhases) {\n  const scores = rows\n    .filter((row) => {\n      const phase = Number(row.phase);\n      if (!Number.isFinite(phase) || phase < 1 || phase > maxPhases) return false;\n      return isScorablePhaseRow(row);\n    })\n    .map((row) => Number(row.score));\n  if (!scores.length) return null;\n  return Math.round(scores.reduce((a, b) => a + b, 0) / scores.length);\n}\n\n// Run all maxQ phases — no early exit on low scores (final PASS/FAIL only on phase maxQ).\nconst earlyTerminate = false;\nconst earlyTerminateReason = '';\n\nlet nextQ = String(content.nextQuestion || content.next_question || '').trim();\nlet timeLimitSeconds = null;\nlet complexityTier = null;\n\n// LLM sometimes omits next_question (esp. phase 4→5). Recover from history, then fallback.\nlet usedFallbackQuestion = false;\nif (!nextQ && ph < maxQ && !integrityTerminated) {\n  const existingNext = history.find(\n    (x) => Number(x.phase) === ph + 1 && String(x.question_text || x.question || '').trim()\n  );\n  if (existingNext) {\n    nextQ = String(existingNext.question_text || existingNext.question || '').trim();\n    timeLimitSeconds = existingNext.time_limit_seconds ?? null;\n    complexityTier = existingNext.complexity_tier ?? null;\n  } else {\n    nextQ = buildFallbackNextQuestion(ph, history, cfg, session);\n    usedFallbackQuestion = Boolean(nextQ);\n    if (usedFallbackQuestion) {\n      content.feedback = [\n        content.feedback || '',\n        `[System: AI omitted phase ${ph + 1} question — auto-generated CV-grounded fallback.]`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  }\n}\n\nconst isActualFinalPhase = ph >= maxQ;\n\n// Ignore premature LLM finished/PASS/FAIL before the last phase.\nif (!isActualFinalPhase) {\n  if (content.status === 'finished') content.status = 'in_progress';\n  content.result = '';\n}\n\nlet isFinal = isActualFinalPhase || integrityTerminated;\n\nif (integrityTerminated) {\n  nextQ = '';\n  content.result = 'FAIL';\n}\n\nif (nextQ && ph < maxQ && !integrityTerminated) {\n  const llmTier = content.complexity_tier || content.complexityTier || null;\n  const derived = deriveTimeLimitSeconds(\n    content.time_limit_seconds,\n    llmTier,\n    nextQ,\n    cfg,\n    ph + 1\n  );\n  timeLimitSeconds = derived.seconds;\n  complexityTier = derived.tier;\n}\n\nif (nextQ && !isFinal) {\n  const sentAt = iso;\n  const nextPhase = ph + 1;\n  const existingIdx = history.findIndex((x) => Number(x.phase) === nextPhase);\n  const nextEntry = {\n    phase: nextPhase,\n    question_text: nextQ,\n    answer_text: null,\n    sent_at: sentAt,\n    received_at: null,\n    score: null,\n    suggested_answer: null,\n    feedback: null,\n    time_limit_seconds: timeLimitSeconds,\n    complexity_tier: complexityTier,\n    deadline_at: timeLimitSeconds ? buildDeadline(sentAt, timeLimitSeconds) : null,\n  };\n  if (existingIdx >= 0) {\n    history[existingIdx] = { ...history[existingIdx], ...nextEntry };\n  } else {\n    history.push(nextEntry);\n  }\n}\n\n// Before final phase: missing next question must not end the assessment.\nif (ph < maxQ && !integrityTerminated && !nextQ) {\n  isFinal = false;\n  content.feedback = [\n    content.feedback || '',\n    `[System: model did not return phase ${ph + 1} question — submit again or contact support.]`,\n  ]\n    .filter(Boolean)\n    .join(' ');\n}\n\nconst phaseScore = normalizedScore;\n\nif (isActualFinalPhase && !integrityTerminated) {\n  if (content.status === 'finished' || content.result) isFinal = true;\n  if (!content.result) {\n    const avg = computeAverageScore(history, maxQ);\n    const finalScore =\n      avg ?? (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : 0);\n    content.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\n  }\n}\n\nconst body = { interview_history: history, updated_at: iso };\nif (nextQ && !isFinal) body.current_phase = ph + 1;\nelse if (!isFinal) body.current_phase = ph;\nelse body.current_phase = ph;\n\nconst averageScore = computeAverageScore(history, maxQ);\n\nlet finalResult = null;\nlet finalFeedback = content.feedback || '';\nif (isFinal) {\n  body.status = 'completed';\n  const finalScore =\n    averageScore ??\n    (Number.isFinite(phaseScore) && phaseScore != null ? phaseScore : null) ??\n    0;\n  body.score = finalScore;\n\n  if (integrityTerminated) {\n    body.result = 'FAIL';\n    finalResult = 'FAIL';\n    const phaseSummary = buildPhaseSummary(history);\n    finalFeedback = [\n      `Assessment failed: integrity violation on phase ${ph}.`,\n      averageScore != null\n        ? `Recorded average from completed phases before termination: ${averageScore}/100 (${phaseSummary}).`\n        : `No prior scored phases (${phaseSummary || 'none'}).`,\n    ]\n      .filter(Boolean)\n      .join(' ');\n  } else if (earlyTerminate) {\n    body.result = 'FAIL';\n    finalResult = 'FAIL';\n    const phaseSummary = buildPhaseSummary(history);\n    if (averageScore != null) {\n      finalFeedback = [\n        finalFeedback,\n        `Average score across completed phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  } else {\n    body.result = finalScore >= passThreshold ? 'PASS' : 'FAIL';\n    finalResult = body.result;\n    if (averageScore != null) {\n      const phaseSummary = buildPhaseSummary(history);\n      finalFeedback = [\n        finalFeedback,\n        `Average score across all phases: ${averageScore}/100 (${phaseSummary}). Pass mark: ${passThreshold}.`,\n      ]\n        .filter(Boolean)\n        .join(' ');\n    }\n  }\n}\n\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\nif (!b || !/^https?:\\/\\//i.test(b)) {\n  throw new Error(\n    'supabase_url missing or invalid. Set top-level supabase_url in CFG - Assessment Config (e.g. https://xxx.supabase.co).'\n  );\n}\nconst patchUrl = `${b}/rest/v1/assessment_sessions?id=eq.${encodeURIComponent(String(session.id))}`;\nconst nextRow = history.find((x) => Number(x.phase) === ph + 1);\n\nreturn [\n  {\n    json: {\n      score: isFinal ? (body.score ?? averageScore ?? phaseScore) : phaseScore,\n      phase_score: phaseScore,\n      llm_score_raw: rawLlmScore,\n      score_adjusted: scoreAdjusted,\n      average_score: isFinal ? (body.score ?? averageScore) : null,\n      feedback: isFinal ? finalFeedback : (patch.feedback || content.feedback || ''),\n      nextQuestion: nextQ,\n      suggested_answer: content.suggested_answer || content.suggestedAnswer || '',\n      time_limit_seconds: nextRow?.time_limit_seconds ?? timeLimitSeconds,\n      deadline_at: nextRow?.deadline_at ?? null,\n      complexity_tier: nextRow?.complexity_tier ?? complexityTier,\n      isFinal,\n      result: isFinal ? finalResult : null,\n      terminatedEarly: earlyTerminate,\n      integrity_terminated: integrityTerminated,\n      candidate_email: current.candidate_email,\n      session_id: current.session_id || session.id,\n      current_phase: ph,\n      config: cfg,\n      gmail_thread_id: session.gmail_thread_id || null,\n      gmail_message_id: session.gmail_message_id || null,\n      mail_subject: session.mail_subject || null,\n      _session_patch_url: patchUrl,\n      _session_patch_body: body,\n    },\n  },\n];"
      },
      "id": "0a0cfd82-17b2-477e-9c8c-6adf8298bf21",
      "name": "CODE - Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1200
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Parse Result').first().json._session_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Parse Result').first().json._session_patch_body }}",
        "options": {}
      },
      "id": "8110ec1b-2b0c-48a5-93c3-375334f2e9fc",
      "name": "HTTP - SB PATCH session interview_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        1200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  score: $('CODE - Parse Result').first().json.score,\n  feedback: $('CODE - Parse Result').first().json.feedback,\n  nextQuestion: $('CODE - Parse Result').first().json.nextQuestion,\n  time_limit_seconds: $('CODE - Parse Result').first().json.time_limit_seconds,\n  deadline_at: $('CODE - Parse Result').first().json.deadline_at,\n  complexity_tier: $('CODE - Parse Result').first().json.complexity_tier,\n  isFinal: $('CODE - Parse Result').first().json.isFinal,\n  result: $('CODE - Parse Result').first().json.result || ''\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "068da392-f1f8-4e69-8964-c03e07c8e73e",
      "name": "Respond to Portal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2048,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "final-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.isFinal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b00bb3a0-62b5-441b-896f-62c72c65c8ba",
      "name": "IF - Assessment finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build assessment result mail (PASS/FAIL — thread reply)\r\n// Place AFTER: CODE - Parse Result (when isFinal = true)\r\n// Place BEFORE: Gmail Thread Reply node\r\n//\r\n// Gmail node settings:\r\n//   Resource:   thread\r\n//   Operation:  reply\r\n//   Thread ID:  {{ $json.gmail_thread_id }}\r\n//   Message ID: {{ $json.gmail_message_id }}\r\n//   Email Type: HTML\r\n//   Message:    {{ $json.mail_body_html }}\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction pickSessionRow() {\r\n  const built =\r\n    pickNodeJson('CODE - Build LLM context', 'CODE - Build LLM context1') || {};\r\n  if (built.session?.id) return built.session;\r\n\r\n  const fetchRaw = pickNodeJson('HTTP - Fetch Session', 'HTTP - Fetch Session1');\r\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\n  if (row?.id) return row;\r\n\r\n  return {};\r\n}\r\n\r\nconst parse =\r\n  pickNodeJson('CODE - Parse Result', 'CODE - Parse Result1') || $input.first().json || {};\r\nconst session = pickSessionRow();\r\nconst cfg = parse.config || session.config || {};\r\n\r\nconst threadId = String(\r\n  session.gmail_thread_id || parse.gmail_thread_id || ''\r\n).trim();\r\nconst msgId = String(\r\n  session.gmail_message_id || parse.gmail_message_id || ''\r\n).trim();\r\n\r\nif (!threadId || threadId.startsWith('draft-')) {\r\n  const sid = session.id || parse.session_id || 'unknown';\r\n  throw new Error(\r\n    'gmail_thread_id missing on session ' +\r\n      sid +\r\n      ' — CV screening shortlist mail must PATCH gmail_thread_id to assessment_sessions. ' +\r\n      'Check Supabase row, run supabase_gmail_thread_columns.sql, and verify CV Screening workflow: ' +\r\n      'MAIL - Email outreach agent (shortlist) → HTTP - SB PATCH session gmail thread.'\r\n  );\r\n}\r\nif (!msgId) {\r\n  throw new Error(\r\n    'gmail_message_id missing on session — re-run shortlist flow or set from first mail.'\r\n  );\r\n}\r\n\r\nconst result = String(parse.result || 'FAIL').toUpperCase();\r\nconst passed = result === 'PASS';\r\nconst score = parse.score ?? parse.average_score ?? '—';\r\nconst role = String(cfg.requisition_title || 'the role');\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst feedback = String(parse.feedback || '').trim();\r\nconst sessionId = String(session.id || parse.session_id || '');\r\n\r\nconst sectionTitle = passed ? 'Assessment Passed' : 'Assessment Result';\r\nconst headline = passed\r\n  ? `Congratulations — you passed the technical assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`\r\n  : `Thank you for completing the assessment for <strong>${role.replace(/</g, '&lt;')}</strong>.`;\r\n\r\nconst portalBase = String(\r\n  cfg.portal_base_url || 'https://talent-acquisition-six.vercel.app'\r\n).replace(/\\/+$/, '');\r\nconst schedulingWaitLink = sessionId\r\n  ? `${portalBase}/scheduling-wait.html?session=${encodeURIComponent(sessionId)}`\r\n  : portalBase;\r\n\r\nconst nextStep = passed\r\n  ? `<p>Next step: schedule your interview. Open this page to pick a time as soon as slots are ready (you can leave and return later):</p>\r\n     <p style=\"text-align:center;margin:20px 0;\"><a href=\"${schedulingWaitLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:12px 24px;border-radius:8px;font-weight:600;\">Schedule interview</a></p>\r\n     <p style=\"font-size:13px;color:#64748b;\">If the interviewer is not available right now, they may add slots later — we will email you when options are ready.</p>`\r\n  : '<p>Unfortunately you did not meet the pass threshold for this role at this time.</p>';\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── ${sectionTitle} ──</p>\r\n          <p>Hi,</p>\r\n          <p>${headline}</p>\r\n          <p><strong>Overall score:</strong> ${score}/100 &nbsp;|&nbsp; <strong>Result:</strong> ${result}</p>\r\n          ${feedback ? `<p style=\"color:#475569;font-size:14px;\">${feedback.replace(/</g, '&lt;')}</p>` : ''}\r\n          ${nextStep}\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...parse,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      mail_subject: session.mail_subject || parse.mail_subject || '',\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: passed ? 'pass' : 'fail',\r\n      candidate_email: parse.candidate_email || session.candidate_email,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "40333146-c247-45a1-9c6d-311139b3d121",
      "name": "CODE - Build assessment result mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        1320
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "1b3c7b64-3c94-4e35-843a-3836c6593c9f",
      "name": "MAIL - Reply candidate (assessment result)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2512,
        1320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nconst gmail = $input.first().json;\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nif (!sessionId) {\r\n  throw new Error('Missing session_id — cannot update gmail_message_id after reply.');\r\n}\r\nif (!threadId) {\r\n  throw new Error('Missing gmail_thread_id — first shortlist mail must create the thread.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('Gmail reply returned no message id.');\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "77f23986-ad4a-4514-8f81-7704e01f2e7b",
      "name": "CODE - Merge Gmail reply response (result)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        1320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "d740e264-9142-4537-8b8b-c9ead4849b97",
      "name": "HTTP - PATCH candidate gmail (result)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        1320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $('CODE - Parse Result').first().json.result }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bbc7674-10e4-400e-ad25-72296d8beaef",
      "name": "IF - Result PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3184,
        1320
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Prep scheduling from PASS\r\n// After assessment result mail PATCH — loads session row for scheduling chain\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction pickSessionRow() {\r\n  const built =\r\n    pickNodeJson('CODE - Build LLM context', 'CODE - Build LLM context1') || {};\r\n  if (built.session?.id) return built.session;\r\n\r\n  const fetchRaw = pickNodeJson('HTTP - Fetch Session', 'HTTP - Fetch Session1');\r\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\n  if (row?.id) return row;\r\n\r\n  return {};\r\n}\r\n\r\nconst parse =\r\n  pickNodeJson('CODE - Parse Result', 'CODE - Parse Result1') || {};\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(parse.config || {}) };\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...parse,\r\n      ...session,\r\n      session_id: session.id || parse.session_id,\r\n      candidate_email: parse.candidate_email || session.candidate_email,\r\n      score: parse.score ?? session.score,\r\n      result: parse.result || session.result,\r\n      requisition_title: cfg.requisition_title || session.requisition_title,\r\n      config: cfg,\r\n      gmail_thread_id: session.gmail_thread_id,\r\n      gmail_message_id: session.gmail_message_id,\r\n      mail_subject: session.mail_subject,\r\n      interviewer_gmail_thread_id: session.interviewer_gmail_thread_id,\r\n      interviewer_gmail_message_id: session.interviewer_gmail_message_id,\r\n    },\r\n  },\r\n];"
      },
      "id": "72a4f5ff-cf59-4353-9dda-395f9866295a",
      "name": "CODE - Prep scheduling from PASS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer mail context\r\n// Place BEFORE: MAIL - Interviewer pitch mail\r\n// Frontend scheduling: email link uses ?session=UUID (no n8n WAIT / resumeUrl)\r\n//\r\n// MAIL node settings:\r\n//   To:      {{ $json.interviewer_email }}\r\n//   Subject: {{ $json.mail_subject }}\r\n//   Message: {{ $json.mail_body_html }}  (HTML — no expression injection needed)\r\n\r\nfunction extractConfig(row) {\r\n  const out = {};\r\n  if (!row || typeof row !== 'object') return out;\r\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\r\n  for (const [k, v] of Object.entries(row)) {\r\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n      out[k.slice(7)] = String(v).trim();\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction mergeConfig(...sources) {\r\n  const out = {};\r\n  for (const src of sources) {\r\n    if (!src || typeof src !== 'object') continue;\r\n    Object.assign(out, extractConfig(src));\r\n    if (src.config && typeof src.config === 'object') {\r\n      for (const [k, v] of Object.entries(src.config)) {\r\n        if (v != null && String(v).trim()) out[k] = String(v).trim();\r\n      }\r\n    }\r\n    for (const [k, v] of Object.entries(src)) {\r\n      if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n        out[k.slice(7)] = String(v).trim();\r\n      }\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction loadWorkflowConfig() {\r\n  const names = [\r\n    'CFG - Workflow configuration',\r\n    'CFG - Workflow configuration1',\r\n    'CFG - Workflow',\r\n    'CFG - Assessment Config',\r\n    'CFG - Assessment Config1',\r\n    'CFG - Reply track (merge)',\r\n    'CODE - Normalize Data',\r\n    'CODE - Normalize Data1',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Prep scheduling from PASS1',\r\n    'CODE - Parse Result',\r\n    'CODE - Parse Result1',\r\n  ];\r\n  const rows = names.map((n) => pickNodeJson(n)).filter(Boolean);\r\n  return mergeConfig(...rows);\r\n}\r\n\r\nfunction pickAssessmentContext() {\r\n  const input = $input.first().json || {};\r\n  const names = [\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Prep scheduling from PASS1',\r\n    'CODE - Parse Result',\r\n    'CODE - Parse Result1',\r\n    'CODE - Normalize Data',\r\n    'CODE - Normalize Data1',\r\n    'HTTP - SB PATCH session interview_history',\r\n    'HTTP - SB PATCH session interview_history1',\r\n    'CODE - Update interview_history',\r\n  ];\r\n  const rows = [input, ...names.map((n) => pickNodeJson(n)).filter(Boolean)];\r\n  let merged = {};\r\n  for (const row of rows) {\r\n    merged = { ...merged, ...row };\r\n    if (row.config && typeof row.config === 'object') {\r\n      merged = { ...merged, ...row.config };\r\n    }\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction nameFromEmail(email) {\r\n  const e = String(email || '').trim().toLowerCase();\r\n  if (!e) return 'Candidate';\r\n  const local = e.split('@')[0] || e;\r\n  return local\r\n    .replace(/[._-]+/g, ' ')\r\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\r\n    .trim() || e;\r\n}\r\n\r\nconst base = $input.first().json || {};\r\nconst ctx = pickAssessmentContext();\r\nconst cfg = {\r\n  ...loadWorkflowConfig(),\r\n  ...mergeConfig(base, ctx),\r\n};\r\n\r\nconst portalBase = String(\r\n  base.interviewer_portal_base ||\r\n    cfg.interviewer_portal_base ||\r\n    cfg.portal_base_url ||\r\n    'https://talent-acquisition-six.vercel.app'\r\n).replace(/\\/interviewer\\.html.*$/i, '').replace(/\\/+$/, '');\r\n\r\nconst interviewerPortal = portalBase + '/interviewer.html';\r\n\r\nconst candidateEmail = String(\r\n  base.candidate_email || ctx.candidate_email || cfg.candidate_email || ''\r\n).trim();\r\n\r\nconst candidateName = String(\r\n  base.candidate_name || ctx.candidate_name || nameFromEmail(candidateEmail)\r\n).trim();\r\n\r\nconst sessionId = String(\r\n  base.session_id || ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nconst scoreRaw = base.score ?? ctx.score ?? ctx.average_score ?? ctx.phase_score;\r\nconst score = scoreRaw != null && scoreRaw !== '' ? scoreRaw : '—';\r\n\r\nconst role = String(\r\n  base.requisition_title ||\r\n    ctx.requisition_title ||\r\n    cfg.requisition_title ||\r\n    'Open role'\r\n).trim();\r\n\r\nconst interviewerEmail = String(\r\n  base.interviewer_email ||\r\n    ctx.interviewer_email ||\r\n    cfg.interviewer_email ||\r\n    base.config?.interviewer_email ||\r\n    ctx.config?.interviewer_email ||\r\n    ''\r\n).trim();\r\n\r\nif (!candidateEmail) {\r\n  throw new Error(\r\n    'candidate_email missing — check CODE - Parse Result / CODE - Prep scheduling from PASS output.'\r\n  );\r\n}\r\n\r\nif (!interviewerEmail) {\r\n  throw new Error('interviewer_email missing — set in CFG or job/recruiter intake.');\r\n}\r\n\r\nif (!sessionId) {\r\n  throw new Error('session_id missing — required for frontend scheduling link.');\r\n}\r\n\r\nconst schedulingLink =\r\n  interviewerPortal + '?session=' + encodeURIComponent(sessionId);\r\n\r\nconst mailSubject =\r\n  base.mail_subject ||\r\n  `Schedule interview — ${candidateName} (${role})`;\r\n\r\nconst mailBody =\r\n  `Hello,\\n\\n` +\r\n  `Candidate: ${candidateName}\\n` +\r\n  `Email: ${candidateEmail}\\n` +\r\n  `Role: ${role}\\n` +\r\n  `Assessment score: ${score}/100 (PASSED)\\n\\n` +\r\n  `Please propose interview date/time options (45–60 minutes):\\n` +\r\n  `${schedulingLink}\\n\\n` +\r\n  `Session ID: ${sessionId}\\n\\n` +\r\n  `Thank you.`;\r\n\r\nconst esc = (s) =>\r\n  String(s)\r\n    .replace(/&/g, '&amp;')\r\n    .replace(/</g, '&lt;')\r\n    .replace(/>/g, '&gt;');\r\n\r\nconst mailBodyHtml =\r\n  `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p>Hello,</p>\r\n          <p><strong>${esc(candidateName)}</strong> passed the technical assessment for <strong>${esc(role)}</strong>.</p>\r\n          <table style=\"width:100%;margin:16px 0;font-size:14px;color:#475569;\">\r\n            <tr><td style=\"padding:4px 0;\">Email</td><td style=\"padding:4px 0;\"><strong>${esc(candidateEmail)}</strong></td></tr>\r\n            <tr><td style=\"padding:4px 0;\">Score</td><td style=\"padding:4px 0;\"><strong>${esc(score)}/100</strong></td></tr>\r\n            <tr><td style=\"padding:4px 0;\">Session</td><td style=\"padding:4px 0;\"><strong>${esc(sessionId)}</strong></td></tr>\r\n          </table>\r\n          <p>Please propose interview slots (45–60 minutes):</p>\r\n          <p style=\"text-align:center;margin:28px 0;\">\r\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Propose interview slots</a>\r\n          </p>\r\n          <p>Thank you.</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nconst sb = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\nconst nowIso = new Date().toISOString();\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      ...ctx,\r\n      config: cfg,\r\n      candidate_email: candidateEmail,\r\n      candidate_name: candidateName,\r\n      requisition_title: role,\r\n      session_id: sessionId,\r\n      score,\r\n      interviewer_portal_base: interviewerPortal,\r\n      scheduling_link: schedulingLink,\r\n      interviewer_email: interviewerEmail,\r\n      mail_subject: mailSubject,\r\n      mail_body: mailBody,\r\n      mail_body_html: mailBodyHtml,\r\n      _scheduling_patch_url: sessionId\r\n        ? `${sb}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\r\n        : '',\r\n      _scheduling_patch_body: {\r\n        scheduling_status: 'pending_interviewer',\r\n        scheduling_updated_at: nowIso,\r\n        updated_at: nowIso,\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "ba480e7b-fc40-4015-b581-085302d9b1a8",
      "name": "CODE - Build interviewer mail context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        1240
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.interviewer_email }}",
        "subject": "={{ $json.mail_subject }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "2eeb502f-a445-488d-bea0-fd2c8551899d",
      "name": "MAIL - Interviewer pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3856,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\r\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\r\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\r\n\r\nfunction pickContext() {\r\n  const names = [\r\n    'CODE - Build interviewer mail context',\r\n    'CODE - Build interviewer confirmed mail',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction resolveGmailPayload(input, ...mailNodeNames) {\r\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\r\n    return input;\r\n  }\r\n  for (const name of mailNodeNames) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\r\n    } catch (_) {}\r\n  }\r\n  return input || {};\r\n}\r\n\r\nconst gmail = resolveGmailPayload($input.first().json, 'MAIL - Interviewer pitch mail', 'MAIL - Interviewer pitch mail1', 'MAIL - Notify interviewer', 'MAIL - Notify interviewer1');\r\nconst ctx = pickContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\r\nconst sessionId = String(ctx.session_id || ctx.session_db_id || ctx.id || '').trim();\r\nconst mailSubject = String(ctx.mail_subject || ctx.interviewer_mail_subject || '').trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      interviewer_gmail_thread_id: threadId || ctx.interviewer_gmail_thread_id || null,\r\n      interviewer_gmail_message_id: msgId || ctx.interviewer_gmail_message_id || null,\r\n      interviewer_mail_subject: mailSubject || ctx.interviewer_mail_subject || null,\r\n      _interviewer_patch_skipped: !patchReady,\r\n      _interviewer_patch_skip_reason: !patchReady\r\n        ? [\r\n            !sessionId ? 'missing session_id' : null,\r\n            !threadId ? 'missing gmail threadId' : null,\r\n            !msgId ? 'missing gmail message id' : null,\r\n          ]\r\n            .filter(Boolean)\r\n            .join('; ')\r\n        : '',\r\n      _interviewer_patch_url: patchReady\r\n        ? `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\r\n        : '',\r\n      _interviewer_patch_body: patchReady\r\n        ? {\r\n            interviewer_gmail_thread_id: threadId,\r\n            interviewer_gmail_message_id: msgId,\r\n            interviewer_mail_subject: mailSubject || undefined,\r\n            updated_at: new Date().toISOString(),\r\n          }\r\n        : {},\r\n    },\r\n  },\r\n];"
      },
      "id": "fb0aaf10-eb1b-4f04-9f30-ff66a345777d",
      "name": "CODE - Merge Gmail interviewer send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "1902aafc-d53f-4b47-9b7b-03622d404f08",
      "name": "HTTP - PATCH interviewer thread (pitch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4304,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "interviewer-availability"
        }
      },
      "id": "d319b6d0-a3f6-4a70-8083-59d0cfbc163b",
      "name": "WAIT - Interviewer availability",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4528,
        1240
      ],
      "webhookId": "interviewer-availability-wait",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse interviewer slot\r\n// After WAIT - Interviewer availability — normalizes slots from interviewer portal\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst wait = $input.first().json;\r\nconst body = wait.body || wait;\r\nconst query = wait.query || body.query || {};\r\nconst base = pickNodeJson(\r\n  'CODE - Prep scheduling from PASS',\r\n  'CODE - Prep scheduling from PASS1',\r\n  'CODE - Build interviewer mail context',\r\n  'CODE - Build interviewer mail context1'\r\n);\r\n\r\nlet slots =\r\n  body.slots ||\r\n  body.proposed_slots ||\r\n  body.availability ||\r\n  body.slots_json ||\r\n  query.slots_json ||\r\n  wait.slots_json ||\r\n  [];\r\nif (typeof slots === 'string') {\r\n  try {\r\n    slots = JSON.parse(slots);\r\n  } catch (_) {\r\n    slots = [];\r\n  }\r\n}\r\nif (!Array.isArray(slots)) slots = [];\r\n\r\nconst normalized = slots\r\n  .map((s, i) => {\r\n    const start = s.start_iso || s.start || s.from || '';\r\n    const end = s.end_iso || s.end || s.to || '';\r\n    const label =\r\n      s.label ||\r\n      (start && end ? `${start} → ${end}` : start || `Slot ${i + 1}`);\r\n    return { start_iso: start, end_iso: end, label };\r\n  })\r\n  .filter((s) => s.start_iso || s.label);\r\n\r\nif (!normalized.length) {\r\n  throw new Error('Interviewer submitted no valid slots.');\r\n}\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      slots: normalized,\r\n      proposed_slots: normalized,\r\n      interviewer_submitted_at: new Date().toISOString(),\r\n    },\r\n  },\r\n];"
      },
      "id": "e6f3d3e8-e589-415d-9a92-6a9f8e29e0c3",
      "name": "CODE - Parse interviewer slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build candidate slot mail (scheduling — thread reply)\r\n// Triggered by: POST /webhook/talent/scheduling-slots { session_id }\r\n// Input: HTTP - SB GET session (slots) — reads proposed_slots from Supabase\r\n//\r\n// Gmail node settings:\r\n//   Resource:   thread\r\n//   Operation:  reply\r\n//   Thread ID:  {{ $json.gmail_thread_id }}\r\n//   Message ID: {{ $json.gmail_message_id }}\r\n//   Email Type: HTML\r\n//   Message:    {{ $json.mail_body_html }}\r\n\r\nfunction extractConfig(row) {\r\n  const out = {};\r\n  if (!row || typeof row !== 'object') return out;\r\n  if (row.config && typeof row.config === 'object') Object.assign(out, row.config);\r\n  for (const [k, v] of Object.entries(row)) {\r\n    if (k.startsWith('config.') && v != null && String(v).trim()) {\r\n      out[k.slice(7)] = String(v).trim();\r\n    }\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction pickNodeJson(...names) {\r\n  for (const name of names) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && typeof raw === 'object') return raw;\r\n    } catch (_) {}\r\n  }\r\n  return null;\r\n}\r\n\r\nfunction pickSessionRow() {\r\n  const fetchRaw = pickNodeJson(\r\n    'HTTP - SB GET session (slots)',\r\n    'HTTP - SB GET session (scheduling)',\r\n    'HTTP - Fetch Session',\r\n    'HTTP - Fetch Session1'\r\n  );\r\n  const row = Array.isArray(fetchRaw) ? fetchRaw[0] : fetchRaw;\r\n  if (row?.id) return row;\r\n\r\n  const input = $input.first().json;\r\n  if (input?.id) return input;\r\n  return {};\r\n}\r\n\r\nfunction normalizeSlots(raw) {\r\n  if (!raw) return [];\r\n  let slots = raw;\r\n  if (typeof slots === 'string') {\r\n    try {\r\n      slots = JSON.parse(slots);\r\n    } catch (_) {\r\n      return [];\r\n    }\r\n  }\r\n  if (!Array.isArray(slots)) return [];\r\n  return slots\r\n    .map((s, i) => ({\r\n      start_iso: s.start_iso || s.start || '',\r\n      end_iso: s.end_iso || s.end || '',\r\n      label: s.label || s.start_iso || `Slot ${i + 1}`,\r\n    }))\r\n    .filter((s) => s.start_iso || s.label);\r\n}\r\n\r\nconst session = pickSessionRow();\r\nconst cfg = {\r\n  ...extractConfig(session),\r\n  ...(typeof session.config === 'object' ? session.config : {}),\r\n};\r\n\r\nconst threadId = String(session.gmail_thread_id || '').trim();\r\nconst msgId = String(session.gmail_message_id || '').trim();\r\nif (!threadId || threadId.startsWith('draft-')) {\r\n  throw new Error('gmail_thread_id missing — shortlist mail must run first.');\r\n}\r\nif (!msgId) {\r\n  throw new Error('gmail_message_id missing — PATCH after shortlist/result mail first.');\r\n}\r\n\r\nconst portalBase = String(\r\n  cfg.portal_base_url || cfg.candidate_portal_base || 'https://talent-acquisition-six.vercel.app'\r\n).replace(/\\/+$/, '');\r\n\r\nconst pickPortal = portalBase + '/candidate-pick.html';\r\nconst sessionId = String(session.id || '').trim();\r\nif (!sessionId) {\r\n  throw new Error('session id missing from Supabase row.');\r\n}\r\n\r\nconst slots = normalizeSlots(session.proposed_slots);\r\nif (!slots.length) {\r\n  throw new Error(\r\n    'proposed_slots empty on session — interviewer must submit slots on interviewer.html first.'\r\n  );\r\n}\r\n\r\nconst schedulingLink = pickPortal + '?session=' + encodeURIComponent(sessionId);\r\n\r\nconst candidateEmail = String(session.candidate_email || '').trim();\r\nconst score = session.score != null ? session.score : '—';\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst role = String(cfg.requisition_title || session.requisition_id || 'the role');\r\n\r\nconst mailBody =\r\n  `Hi,\\n\\n` +\r\n  `Congratulations! You passed our technical assessment for ${role} (score: ${score}/100).\\n\\n` +\r\n  `Next step: choose your interview time:\\n` +\r\n  `${schedulingLink}\\n\\n` +\r\n  `Best regards,\\n${org}`;\r\n\r\nconst slotListHtml = slots\r\n  .map(\r\n    (s) =>\r\n      `<li style=\"margin:6px 0;\">${String(s.label || s.start_iso || '').replace(/</g, '&lt;')}</li>`\r\n  )\r\n  .join('');\r\n\r\nconst mailBodyHtml =\r\n  `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:32px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:32px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Scheduling ──</p>\r\n          <p>Hi,</p>\r\n          <p><strong>Congratulations!</strong> You passed our technical assessment for <strong>${role.replace(/</g, '&lt;')}</strong> (score: <strong>${score}/100</strong>).</p>\r\n          <p>Next step — pick your interview time:</p>\r\n          <ul style=\"padding-left:20px;color:#475569;\">${slotListHtml}</ul>\r\n          <p style=\"text-align:center;margin:28px 0;\">\r\n            <a href=\"${schedulingLink}\" style=\"display:inline-block;background:#4f46e5;color:#fff;text-decoration:none;padding:14px 28px;border-radius:8px;font-weight:600;\">Choose interview time</a>\r\n          </p>\r\n          <p style=\"font-size:13px;color:#64748b;\">Or copy this link: ${schedulingLink}</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...session,\r\n      config: cfg,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      scheduling_link: schedulingLink,\r\n      proposed_slots: slots,\r\n      slots,\r\n      mail_body: mailBody,\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: 'scheduling',\r\n      candidate_email: candidateEmail,\r\n      score,\r\n      requisition_title: role,\r\n    },\r\n  },\r\n];"
      },
      "id": "d009c964-761a-4d46-a846-699e6de1b7fd",
      "name": "CODE - Build candidate slot mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4976,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "318b725e-e860-4fc6-a689-ab615206df51",
      "name": "MAIL - Candidate pitch mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5200,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction resolveGmailPayload(input, ...mailNodeNames) {\r\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\r\n    return input;\r\n  }\r\n  for (const name of mailNodeNames) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\r\n    } catch (_) {}\r\n  }\r\n  return input || {};\r\n}\r\n\r\nconst gmail = resolveGmailPayload(\r\n  $input.first().json,\r\n  'MAIL - Candidate pitch mail',\r\n  'MAIL - Candidate pitch mail1',\r\n  'MAIL - Notify candidate',\r\n  'MAIL - Notify candidate1'\r\n);\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nif (!patchReady) {\r\n  return [\r\n    {\r\n      json: {\r\n        ...ctx,\r\n        _gmail_patch_skipped: true,\r\n        _gmail_patch_skip_reason: [\r\n          !sessionId ? 'missing session_id' : null,\r\n          !threadId ? 'missing gmail_thread_id' : null,\r\n          !msgId ? 'missing gmail message id' : null,\r\n        ]\r\n          .filter(Boolean)\r\n          .join('; '),\r\n        _gmail_patch_url: '',\r\n        _gmail_patch_body: {},\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "a3ea2e2a-f267-481c-9293-956f37d6f21c",
      "name": "CODE - Merge Gmail reply response (scheduling)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        1240
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "321d7a7b-43d0-45c5-ba23-f262be0d698d",
      "name": "HTTP - PATCH candidate gmail (scheduling)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "candidate-slot-choice"
        }
      },
      "id": "73460fe5-4ac1-422c-a11b-aef27d90907e",
      "name": "WAIT - Candidate slot choice",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5872,
        1240
      ],
      "webhookId": "candidate-slot-choice-wait",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Parse candidate choice\r\n// After WAIT - Candidate slot choice\r\n\r\nconst wait = $input.first().json;\r\nconst body = wait.body || wait;\r\nconst base = $('CODE - Build candidate slot mail').first().json;\r\n\r\nconst slot =\r\n  body.selected_slot ||\r\n  body.chosen_slot ||\r\n  body.slot ||\r\n  (body.slot_index != null && Array.isArray(base.slots)\r\n    ? base.slots[Number(body.slot_index)]\r\n    : null);\r\n\r\nif (!slot) {\r\n  throw new Error('Candidate did not select a slot.');\r\n}\r\n\r\nconst start_iso = slot.start_iso || slot.start || '';\r\nconst end_iso = slot.end_iso || slot.end || '';\r\nconst slot_label = slot.label || start_iso || 'Selected slot';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      selected_slot: slot,\r\n      selected_slot_label: slot_label,\r\n      slot_label,\r\n      chosen_slot: slot_label,\r\n      start_iso,\r\n      end_iso,\r\n      candidate_email: base.candidate_email,\r\n      interviewer_email: base.config?.interviewer_email || base.interviewer_email,\r\n    },\r\n  },\r\n];"
      },
      "id": "d8be9c03-79a1-4d4e-a3a3-aa55d7d94cb0",
      "name": "CODE - Parse candidate choice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6096,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json.config.calendar_id || 'primary' }}",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.start_iso || $now.toISO() }}",
        "end": "={{ $json.end_iso || $now.plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "attendees": "={{ [$json.candidate_email, $json.interviewer_email || $json.config.interviewer_email].filter(Boolean) }}",
          "summary": "=Interview — {{ $json.candidate_email }} ({{ $json.config.requisition_title || \"Role\" }})"
        }
      },
      "id": "95445d5a-a1e2-4e6c-8595-5d4819d6d868",
      "name": "CAL - Create interview event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        6320,
        1240
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interview confirmed mail (thread reply)\r\n// Place AFTER: candidate picks slot / calendar event created\r\n// Place BEFORE: Gmail Thread Reply node\r\n//\r\n// Input should include: candidate_email, selected slot, session row or thread ids\r\n\r\nfunction pickSessionRow() {\r\n  const names = [\r\n    'HTTP - Fetch Session',\r\n    'CODE - Parse candidate slot',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Build candidate slot mail',\r\n  ];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = raw?.session_row || (Array.isArray(raw) ? raw[0] : raw);\r\n      if (row?.gmail_thread_id || row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst base = $input.first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(base.config || {}) };\r\n\r\nconst threadId = String(session.gmail_thread_id || base.gmail_thread_id || '').trim();\r\nconst msgId = String(session.gmail_message_id || base.gmail_message_id || '').trim();\r\n\r\nif (!threadId) throw new Error('gmail_thread_id missing — cannot reply in candidate thread.');\r\nif (!msgId) throw new Error('gmail_message_id missing — send scheduling reply first.');\r\n\r\nconst role = String(cfg.requisition_title || base.requisition_title || 'the role');\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\nconst slotLabel = String(\r\n  base.selected_slot_label ||\r\n    base.slot_label ||\r\n    base.chosen_slot ||\r\n    base.start_iso ||\r\n    'your selected time'\r\n);\r\nconst sessionId = String(session.id || base.session_id || '');\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Confirmed ──</p>\r\n          <p>Hi,</p>\r\n          <p>Your interview for <strong>${role.replace(/</g, '&lt;')}</strong> is confirmed.</p>\r\n          <p><strong>Time:</strong> ${slotLabel.replace(/</g, '&lt;')}</p>\r\n          <p>Please join on time. If you need to reschedule, reply to this email.</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      session_id: sessionId,\r\n      gmail_thread_id: threadId,\r\n      gmail_message_id: msgId,\r\n      mail_body_html: mailBodyHtml,\r\n      mail_stage: 'confirmed',\r\n      candidate_email: base.candidate_email || session.candidate_email,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "7cfdae87-7f8b-49b9-b85e-86290552e170",
      "name": "CODE - Build interview confirmed mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        1120
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.gmail_thread_id }}",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "58e0acad-f662-4eaf-86b7-3a06d1e3d7c6",
      "name": "MAIL - Notify candidate",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6768,
        1120
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail reply response\r\n// Paste AFTER any Gmail \"Thread → Reply\" node.\r\n// Prepares Supabase PATCH so the next reply chains to this message.\r\n//\r\n// Wire:\r\n//   Gmail Thread Reply → this node → HTTP PATCH session gmail message\r\n//\r\n// Set HTTP PATCH node:\r\n//   URL:  {{ $json._gmail_patch_url }}\r\n//   Body: {{ $json._gmail_patch_body }}\r\n\r\nfunction pickSessionContext() {\r\n  const names = [\r\n    'CODE - Build assessment result mail',\r\n    'CODE - Build candidate slot mail',\r\n    'CODE - Build interview confirmed mail',\r\n    'CODE - Build Gmail thread reply context',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction resolveGmailPayload(input, ...mailNodeNames) {\r\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\r\n    return input;\r\n  }\r\n  for (const name of mailNodeNames) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\r\n    } catch (_) {}\r\n  }\r\n  return input || {};\r\n}\r\n\r\nconst gmail = resolveGmailPayload(\r\n  $input.first().json,\r\n  'MAIL - Candidate pitch mail',\r\n  'MAIL - Candidate pitch mail1',\r\n  'MAIL - Notify candidate',\r\n  'MAIL - Notify candidate1'\r\n);\r\nconst ctx = pickSessionContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.gmail_thread_id || '').trim();\r\n\r\nconst sessionId = String(\r\n  ctx.session_id || ctx.session_db_id || ctx.id || ''\r\n).trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nif (!patchReady) {\r\n  return [\r\n    {\r\n      json: {\r\n        ...ctx,\r\n        _gmail_patch_skipped: true,\r\n        _gmail_patch_skip_reason: [\r\n          !sessionId ? 'missing session_id' : null,\r\n          !threadId ? 'missing gmail_thread_id' : null,\r\n          !msgId ? 'missing gmail message id' : null,\r\n        ]\r\n          .filter(Boolean)\r\n          .join('; '),\r\n        _gmail_patch_url: '',\r\n        _gmail_patch_body: {},\r\n      },\r\n    },\r\n  ];\r\n}\r\n\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      gmail_message_id: msgId,\r\n      gmail_thread_id: threadId,\r\n      _gmail_patch_url: `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`,\r\n      _gmail_patch_body: {\r\n        gmail_message_id: msgId,\r\n        gmail_thread_id: threadId,\r\n        updated_at: new Date().toISOString(),\r\n      },\r\n    },\r\n  },\r\n];"
      },
      "id": "d8796cf7-1804-49ed-8389-cef23726c87e",
      "name": "CODE - Merge Gmail reply response (confirmed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6992,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._gmail_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._gmail_patch_body }}",
        "options": {}
      },
      "id": "abc69d82-df84-4a51-88c9-dc28218b5bd1",
      "name": "HTTP - PATCH candidate gmail (confirmed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        1120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Build interviewer confirmed mail (interviewer thread reply)\r\n// Place AFTER: CAL - Create interview event\r\n// Place BEFORE: Gmail Thread Reply (interviewer)\r\n\r\nfunction pickSessionRow() {\r\n  const names = ['HTTP - Fetch Session', 'CODE - Parse candidate choice', 'CODE - Prep scheduling from PASS'];\r\n  for (const name of names) {\r\n    try {\r\n      const raw = $(name).first().json;\r\n      const row = raw?.session_row || (Array.isArray(raw) ? raw[0] : raw);\r\n      if (row?.id) return row;\r\n    } catch (_) {}\r\n  }\r\n  return {};\r\n}\r\n\r\nconst base = $input.first().json;\r\nconst session = pickSessionRow();\r\nconst cfg = { ...(session.config || {}), ...(base.config || {}) };\r\n\r\nconst threadId = String(session.interviewer_gmail_thread_id || base.interviewer_gmail_thread_id || '').trim();\r\nconst msgId = String(session.interviewer_gmail_message_id || base.interviewer_gmail_message_id || '').trim();\r\n\r\nif (!threadId) throw new Error('interviewer_gmail_thread_id missing — send interviewer pitch mail first.');\r\nif (!msgId) throw new Error('interviewer_gmail_message_id missing — PATCH after interviewer pitch mail.');\r\n\r\nconst role = String(cfg.requisition_title || base.requisition_title || 'the role');\r\nconst candidateEmail = String(base.candidate_email || session.candidate_email || '');\r\nconst slotLabel = String(\r\n  base.selected_slot_label || base.slot_label || base.chosen_slot || base.start_iso || 'scheduled time'\r\n);\r\nconst org = String(cfg.organization_name || 'Talent Acquisition Team');\r\n\r\nconst mailBodyHtml = `<!DOCTYPE html>\r\n<html><head><meta charset=\"UTF-8\"></head>\r\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:Segoe UI,Arial,sans-serif;\">\r\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:24px 16px;\">\r\n    <tr><td align=\"center\">\r\n      <table width=\"100%\" style=\"max-width:560px;background:#fff;border-radius:12px;padding:28px;\">\r\n        <tr><td style=\"color:#334155;font-size:15px;line-height:1.6;\">\r\n          <p style=\"margin:0 0 8px;font-size:12px;letter-spacing:.08em;text-transform:uppercase;color:#64748b;\">── Interview Confirmed ──</p>\r\n          <p>Hello,</p>\r\n          <p>Interview scheduled for <strong>${candidateEmail.replace(/</g, '&lt;')}</strong> — <strong>${role.replace(/</g, '&lt;')}</strong>.</p>\r\n          <p><strong>Time:</strong> ${slotLabel.replace(/</g, '&lt;')}</p>\r\n          <p>Calendar invite has been created. Candidate confirmation sent in their thread.</p>\r\n          <p>Best regards,<br>${org.replace(/</g, '&lt;')}</p>\r\n        </td></tr>\r\n      </table>\r\n    </td></tr>\r\n  </table>\r\n</body></html>`;\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...base,\r\n      session_id: session.id || base.session_id,\r\n      interviewer_email: base.interviewer_email || cfg.interviewer_email,\r\n      interviewer_gmail_thread_id: threadId,\r\n      interviewer_gmail_message_id: msgId,\r\n      mail_body_html: mailBodyHtml,\r\n      config: cfg,\r\n    },\r\n  },\r\n];"
      },
      "id": "11c4c120-3821-47a7-b30d-04f9b73a9f05",
      "name": "CODE - Build interviewer confirmed mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6544,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.interviewer_gmail_thread_id }}",
        "messageId": "={{ $json.interviewer_gmail_message_id }}",
        "emailType": "html",
        "message": "={{ $json.mail_body_html }}",
        "options": {}
      },
      "id": "1293bf98-7f28-4c46-bdf2-2380bfed1ebf",
      "name": "MAIL - Notify interviewer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6768,
        1360
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BA2SGIRvrMkcdHoQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n: CODE - Merge Gmail interviewer mail response\r\n// After MAIL - Interviewer pitch (Send) OR MAIL - Reply interviewer thread\r\n// Saves interviewer_gmail_thread_id + interviewer_gmail_message_id on session\r\n\r\nfunction pickContext() {\r\n  const names = [\r\n    'CODE - Build interviewer mail context',\r\n    'CODE - Build interviewer confirmed mail',\r\n    'CODE - Prep scheduling from PASS',\r\n    'CODE - Parse Result',\r\n    'HTTP - Fetch Session',\r\n  ];\r\n  let merged = {};\r\n  for (const name of names) {\r\n    try {\r\n      merged = { ...merged, ...($input.first().json || {}), ...$(name).first().json };\r\n    } catch (_) {}\r\n  }\r\n  return merged;\r\n}\r\n\r\nfunction resolveGmailPayload(input, ...mailNodeNames) {\r\n  if (input && (input.id || input.messageId || input.threadId || input.thread_id)) {\r\n    return input;\r\n  }\r\n  for (const name of mailNodeNames) {\r\n    if (!name) continue;\r\n    try {\r\n      const raw = $(name).first().json;\r\n      if (raw && (raw.id || raw.messageId || raw.threadId || raw.thread_id)) return raw;\r\n    } catch (_) {}\r\n  }\r\n  return input || {};\r\n}\r\n\r\nconst gmail = resolveGmailPayload($input.first().json, 'MAIL - Interviewer pitch mail', 'MAIL - Interviewer pitch mail1', 'MAIL - Notify interviewer', 'MAIL - Notify interviewer1');\r\nconst ctx = pickContext();\r\nconst cfg = ctx.config || {};\r\n\r\nconst msgId = String(gmail.id || gmail.messageId || '').trim();\r\nconst threadId = String(gmail.threadId || gmail.thread_id || ctx.interviewer_gmail_thread_id || '').trim();\r\nconst sessionId = String(ctx.session_id || ctx.session_db_id || ctx.id || '').trim();\r\nconst mailSubject = String(ctx.mail_subject || ctx.interviewer_mail_subject || '').trim();\r\n\r\nconst patchReady = Boolean(sessionId && threadId && msgId);\r\nconst b = String(cfg.supabase_url || '').replace(/\\/+$/, '');\r\nconst tb = cfg.table_assessment_sessions || 'assessment_sessions';\r\n\r\nreturn [\r\n  {\r\n    json: {\r\n      ...ctx,\r\n      interviewer_gmail_thread_id: threadId || ctx.interviewer_gmail_thread_id || null,\r\n      interviewer_gmail_message_id: msgId || ctx.interviewer_gmail_message_id || null,\r\n      interviewer_mail_subject: mailSubject || ctx.interviewer_mail_subject || null,\r\n      _interviewer_patch_skipped: !patchReady,\r\n      _interviewer_patch_skip_reason: !patchReady\r\n        ? [\r\n            !sessionId ? 'missing session_id' : null,\r\n            !threadId ? 'missing gmail threadId' : null,\r\n            !msgId ? 'missing gmail message id' : null,\r\n          ]\r\n            .filter(Boolean)\r\n            .join('; ')\r\n        : '',\r\n      _interviewer_patch_url: patchReady\r\n        ? `${b}/rest/v1/${tb}?id=eq.${encodeURIComponent(sessionId)}`\r\n        : '',\r\n      _interviewer_patch_body: patchReady\r\n        ? {\r\n            interviewer_gmail_thread_id: threadId,\r\n            interviewer_gmail_message_id: msgId,\r\n            interviewer_mail_subject: mailSubject || undefined,\r\n            updated_at: new Date().toISOString(),\r\n          }\r\n        : {},\r\n    },\r\n  },\r\n];"
      },
      "id": "91c583bb-03cb-4f0a-95cd-805eb0a01667",
      "name": "CODE - Merge Gmail interviewer reply (confirmed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6992,
        1360
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json._interviewer_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._interviewer_patch_body }}",
        "options": {}
      },
      "id": "35f59752-5735-44bb-9f44-980785ffe0c7",
      "name": "HTTP - PATCH interviewer thread (confirmed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7216,
        1360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CFG - Assessment Config').first().json.supabase_url.replace(/\\/$/, '') + '/rest/v1/assessment_sessions?id=eq.' + encodeURIComponent($('CODE - Parse candidate choice').first().json.session_id) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ status: 'scheduled', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "f82c0e34-3b10-4c14-8f34-147caed6955d",
      "name": "HTTP - SB scheduling concluding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7440,
        1240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE - Build interviewer mail context').first().json._scheduling_patch_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('CFG - Assessment Config').first().json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('CODE - Build interviewer mail context').first().json._scheduling_patch_body }}",
        "options": {}
      },
      "id": "a1b2c3d4-sched-pending-0001",
      "name": "HTTP - PATCH scheduling pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4528,
        1240
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "TRG - Assessment Answer": {
      "main": [
        [
          {
            "node": "CFG - Assessment Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG - Assessment Config": {
      "main": [
        [
          {
            "node": "CODE - Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Normalize Data": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Session": {
      "main": [
        [
          {
            "node": "CODE - Build LLM context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build LLM context": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "CODE - Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vertex Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse Result": {
      "main": [
        [
          {
            "node": "HTTP - SB PATCH session interview_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - SB PATCH session interview_history": {
      "main": [
        [
          {
            "node": "Respond to Portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Assessment finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Assessment finished?": {
      "main": [
        [
          {
            "node": "CODE - Build assessment result mail",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CODE - Build assessment result mail": {
      "main": [
        [
          {
            "node": "MAIL - Reply candidate (assessment result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Reply candidate (assessment result)": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail reply response (result)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (result)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (result)": {
      "main": [
        [
          {
            "node": "IF - Result PASS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Result PASS?": {
      "main": [
        [
          {
            "node": "CODE - Prep scheduling from PASS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CODE - Prep scheduling from PASS": {
      "main": [
        [
          {
            "node": "CODE - Build interviewer mail context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer mail context": {
      "main": [
        [
          {
            "node": "MAIL - Interviewer pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Interviewer pitch mail": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail interviewer send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer send": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (pitch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH interviewer thread (pitch)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH scheduling pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT - Interviewer availability": {
      "main": [
        [
          {
            "node": "CODE - Parse interviewer slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse interviewer slot": {
      "main": [
        []
      ]
    },
    "CODE - Build candidate slot mail": {
      "main": [
        [
          {
            "node": "MAIL - Candidate pitch mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Candidate pitch mail": {
      "main": [
        []
      ]
    },
    "CODE - Merge Gmail reply response (scheduling)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (scheduling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (scheduling)": {
      "main": [
        [
          {
            "node": "CAL - Create interview event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT - Candidate slot choice": {
      "main": [
        [
          {
            "node": "CODE - Parse candidate choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Parse candidate choice": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (scheduling)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAL - Create interview event": {
      "main": [
        [
          {
            "node": "CODE - Build interview confirmed mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "CODE - Build interviewer confirmed mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interview confirmed mail": {
      "main": [
        [
          {
            "node": "MAIL - Notify candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify candidate": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail reply response (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail reply response (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH candidate gmail (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH candidate gmail (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - SB scheduling concluding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Build interviewer confirmed mail": {
      "main": [
        [
          {
            "node": "MAIL - Notify interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL - Notify interviewer": {
      "main": [
        [
          {
            "node": "CODE - Merge Gmail interviewer reply (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE - Merge Gmail interviewer reply (confirmed)": {
      "main": [
        [
          {
            "node": "HTTP - PATCH interviewer thread (confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - PATCH scheduling pending": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "description": "Assessment Q1–Q5 with Vertex. Candidate mails = one Gmail thread (reply). Interviewer mails = separate thread. Import, set credentials, activate."
  },
  "tags": []
}